 <div class="row field licenses-field mb-2" data-id=0>
		<div class="col-lg-6">
      <label class="text-dark-grey">State License Number</label>
			<%= f.text_field :license_number, placeholder: 'Type here...', class: form_control_classes(danger: @provider.license_number.blank? && @provider.persisted?) %>
		</div>
		<div class="col-lg-6">
      <label class="text-dark-grey">License Effective Date</label>
			<%= f.text_field :license_effective_date, placeholder: 'MM-DD-YYYY', class: form_control_classes(danger: @provider.license_effective_date.blank? && @provider.persisted?), onfocus: "(this.type = 'date')" %>
		</div>
    <div class="col-lg-6">
      <label class="text-dark-grey">License Registration State</label>
      <%= f.select :state_id, options_for_select(states.pluck(:name, :id), f.object.state_id), { prompt: 'Select option' }, { class: form_select_classes(danger: @provider.state_id.blank? && @provider.persisted?) } %>
    </div>
		<div class="col-lg-6">
      <label class="text-dark-grey">License Expiration Date</label>
			<%= f.text_field :license_expiration_date, placeholder: 'MM-DD-YYYY', class: form_control_classes(danger: @provider.license_expiration_date.blank? && @provider.persisted?), onfocus: "(this.type = 'date')" %>
		</div>

<!--   <div class="d-flex buttons gap-2 mt-2">
    <div class="links">
    <button type="button" class="add_association  py-1 btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> Add License </button>
  </div>
     <%# if f.object.id %>
      <button type="button" class="btn btn-danger py-1 remove-dynamic-fields" data-model="np_licenses" data-id="<%#= f.object.id %>" > <i class="bi bi-trash-fill"></i></button>
    <%# else %>
      <button type="button" class="btn btn-danger py-1 remove-dynamic-fields" data-id=0> <i class="bi bi-trash-fill"></i></button>
    <%# end %>
  </div> -->
</div>