  <div class="row field np-licenses-field mb-2">
  	<div class="col-lg-4">
      <label class="text-dark-grey">NP License Number(optional)</label>
  		<%= f.text_field :np_license_number, placeholder:'Type here...', class: 'form-control border border-dark' %>
  	</div>
  	<div class="col-lg-4">
      <label class="text-dark-grey">NP License Effective Date(optional)</label>
  		<%= f.text_field :np_license_effective_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
  	</div>
  	<div class="col-lg-4">
      <label class="text-dark-grey">NP License Expiration Date(optional)</label>
  		<%= f.text_field :np_license_expiration_date, placeholder: 'MM-DD-YYYY', class: 'form-control border border-dark', onfocus: "(this.type = 'date')" %>
  	</div>

  <div class="d-flex buttons gap-2 mt-2">
    <div class="links">
    <button type="button" class="add_association  py-1 btn btn-primary" > <i class="bi bi-plus-circle-fill"></i> Add NP License </button>
  </div>
     <% if f.object.id %>
      <button type="button" class="btn btn-danger py-1 remove-dynamic-fields" data-model="np_licenses" data-id="<%= f.object.id %>" > <i class="bi bi-trash-fill"></i></button>
    <% else %>
      <button type="button" class="btn btn-danger py-1 remove-dynamic-fields" > <i class="bi bi-trash-fill"></i></button>
    <% end %>
  </div>
  </div>