<div class="row field mb-2">
	<div class="col-lg-5">
		<%= f.text_field :taxonomy_code, class: 'form-control', placeholder: 'Taxonomy Code *' %>
	</div>
	<div class="col-lg-5">
		<%= f.collection_select :specialty, @specialties, :bcbs, :bcbs, { prompt: 'Specialty *' }, { class: 'form-control' } %>
	</div>
	<div class="col-lg-2">
		<%= f.check_box :_destroy %>
		<%= f.label :_destroy, "Remove" %>
	</div>
</div>
