<div class="row field mb-2">
	<div class="col-lg-5">
    <label class="text-dark-grey">Taxonomy Code</label>
		<%= f.text_field :taxonomy_code, class: 'form-control border border-dark', placeholder: 'Taxonomy Code' %>
	</div>
	<div class="col-lg-5">
    <label class="text-dark-grey">Specialty</label>
		<%= f.collection_select :specialty, specialties, :bcbs, :bcbs, { prompt: 'Specialty' }, { class: 'form-control border border-dark' } %>
	</div>
	<div class="col-lg-2 d-flex justify-content-center align-items-center">
		<%= f.check_box :_destroy %>
		<%= f.label :_destroy, "Remove", class: 'mx-2 text-dark-grey' %>
	</div>
</div>
