<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-6">
			<form class="form_search_with_icon">
			<div class="">
				<input type="" name="user_search" class="form-control">
				<i class="bi bi-search"></i>
			</div>
			</form>
		</div>
		<div class="col-lg-6 d-flex justify-content-end">
			<%= link_to	"Add New Provider", new_provider_url, class: "d-flex btn btn-primary btn-md" %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col" class="bg-primary text-white">Provider Name</th>
			      <th scope="col" class="bg-primary text-white">Practitioner Type</th>
			      <th scope="col" class="bg-primary text-white">SSN</th>
			      <th scope="col" class="bg-primary text-white">NPI</th>
			      <th scope="col" class="bg-primary text-white">CAQH</th>
			      <th scope="col" class="bg-primary text-white">Action</th>
			    </tr>
			  </thead>
			  <tbody>
						<%= render @providers %>
			  </tbody>
			</table>
		</div>
	</div>
</div>