<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12 mb-1">
			<h2>
				<a href="<%= providers_path %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left h5 d-flex align-items-center"></i>
				<span class="h1">Add New Provider</span>
				</a>
			</h2>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-12">
			<h3 class="mb-0">Practitioner Personal Information</h3>
			<small class="text-black">Please fill out all required fields. Required fields are marked with <span class="text-red">*</span>.</small>
		</div>
	</div>
  <%= render "#{current_setting.qualifacts? ? 'qualifacts_form' : 'form'}" %>

</div>
