<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12 mb-1">
			<h2>
				<a href="<%= providers_path %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left h5 d-flex align-items-center"></i>
				<span class="h1">Add New Provider</span>
				</a>
			</h2>
		</div>
	</div>
  <%= render 'form' %>
</div>
