<div class="content container-fluid">
  <%= render "enrollment_tracking_components/enrollment_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'ET Overview' } do %>
  <div class="content container-fluid">
    <div class="row" id="overview">
        <div class="col-lg-12">
          <%= render "providers/overview_components/providers_data"%>
        </div>
      </div>
  </div>
  <%= render "providers/overview_components/overview_js"%>
<% end %>