<div class="card">
	<div class="card-body bg-medium-grey">
		<div class="row my-3">	
	         <div class="col-12">
	            <div class="d-flex justify-content-center gap-2">
	               <a href="<%= client_portal_path(simple_search: true)%>" class="btn btn-xs btn-light fw-bold">Simple Search</a>
	               <a href="javascript:void(0);" class="btn  btn-xs btn-primary fw-bold">Advanced Search</a>
	            </div>
	         </div>
		</div>
		<form class="search_box">
			<!-- start of row for fields -->
			<div class="row">
				<div class="col-lg-6">
	            	<div class="row mb-3">
		               <div class="form-group">
		                  <label class="text-sm text-black">Full Name</label>
		                  <input type="text" class="form-control py-1" >
		               </div>
	            	</div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">First Name:</label>
	                     <input type="text" class="form-control py-1" placeholder="">
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Last Name:</label>
	                     <input type="text" class="form-control py-1" placeholder="">
	                  </div>
	               </div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">From Attest Date:</label>
	                     <input type="text" class="form-control py-1" placeholder="">
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">To Attest Date:</label>
	                     <input type="text" class="form-control py-1" placeholder="">
	                  </div>
	               </div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Provider Type:</label>
	                     <input type="text" class="form-control py-1" placeholder="">
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Specialty:</label>
	                     <select class="form-select py-1">
	                        <option>Option 1</option>
	                        <option>Optionn 2</option>
	                     </select>
	                  </div>
	               </div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Cred Status:</label>
	                     <select class="form-select py-1">
	                        <option>Option 1</option>
	                        <option>Optionn 2</option>
	                     </select>
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Cred Cycle:</label>
	                     <select class="form-select py-1">
	                        <option>Option 1</option>
	                        <option>Optionn 2</option>
	                     </select>
	                  </div>
	               </div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">VRC Status:</label>
	                     <select class="form-select py-1">
	                        <option>Option 1</option>
	                        <option>Optionn 2</option>
	                     </select>
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">PSV Flag:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	               </div>
				</div>
				<div class="col-lg-6">
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Birthday:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">State:</label>
	                     <select class="form-select py-1">
	                        <option>Option 1</option>
	                        <option>Optionn 2</option>
	                     </select>
	                  </div>
	               </div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">City:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Postal Zipcode:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	               </div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">NPI:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">SSN:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	               </div>
	               <div class="row mb-3">
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">TIN #:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	                  <div class="col-lg-6">
	                     <label class="text-sm text-black" for="">Entity:</label>
	                     <input type="text" name="" class="form-control py-1">
	                  </div>
	               </div>
	               <div class="row">
	               		<div class="col-lg-12">
	               			<div class="d-flex justify-content-between">
	               				<label class="text-sm text-black">Medv ID:</label>
	               				<a href="javascript:void(0);">Load Multiple IDs</a>
	               			</div>
	               			<textarea class="h-full w-full" style="width: 100%;" rows="4"></textarea>
	               		</div>
	               </div>
					
				</div>
			</div>
			<!-- end of row for fields -->
			<!-- start of row for btton -->
			 <div class="row mt-3">
            <div class="col-lg-12  d-flex">
            	<div class="flex-grow-1 justify-content-center align-items-center text-center">
            		<button class="btn btn-xs btn-primary fw-bold" style="margin-left: 10%;width: 150px;">Submit</button>
            	</div>
            	<div class="flex-shrink-0">	
               	<a href="javascript:void(0);" class="btn btn-xs btn-danger">Reset</a>
            		
            	</div>
             </div>
           </div>
           <!-- end of row for button -->
		</form>
	</div>
</div>

