<div class="container mt-3">
	<h1>Profile</h1>
	<p class="fs-4">Name: <%= @user.first_name %> <%= @user.last_name %></p>
	<p class="fs-5">Email: <%= @user.email %></p>
	<%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-primary btn-sm' %>
</div>
