<!-- app/views/notificastion_mailer/expiration_reminder.html.erb -->
<h1>License Expiration Reminder</h1>
<p>Dear <%= @user.first_name %> <%= @user.last_name %>,</p>
<p>Your license <%= @license.license_number %> is set to expire on <%= @license.license_state_renewal_date %>.</p>
<p>Please renew your license before the expiration date.</p>
<p>Thanks</p>