<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12">
			<h2>
				<a href="<%= group_dcos_path(@enrollment_group) %>" class="d-flex gap-2 text-secondary">
				<i class="h5 bi bi-arrow-left my-auto"></i>
				<span class="h1 my-auto px-2"><%= @enrollment_group.group_name %></span>
				</a>
			</h2>
		</div>
	</div>
	<%= render 'form' %>
</div>

<script>
		var day_count = 1;

	$(document).on('click','.day_sched',function(){
		$(this).hasClass('active') ? $(this).removeClass('active') : $(this).addClass('active');
	});

	$('#add_another_sched').on('click',function() {
		$('#schedules').append(createDays(day_count.toString()));
		day_count++;

	})

	function createDays(day_count) {
		var days = ['S', 'M', 'T', 'W', 'TH', 'F', 'S'];
		var $row = $('<div class="row mt-3"></div>');
		var $col8 = $('<div class="col-lg-8 mb-3"></div>');
		var $d_flex = $('<div class="d-flex gap-3"></div>');
		for (var i = 0; i < days.length; i++) {
			$d_flex.append(createLabelCb(days[i],day_count))
		}

		var divBtn = '<div class="col-lg-4"><a href="javascript:void(0);" class="remove_schedule"><i class="bi bi-dash-circle"></i><span class="ms-2">Remove schedule</span></a></div>';

		$col8.append($d_flex);
		$row.append($col8);
		$row.append(divBtn);
		$row.append(createTimeInputs(day_count));
		return $row;
	}

	$(document).on('click','.remove_schedule',function(){
		$(this).parent().parent().remove();
	});

	function createLabelCb(day,day_count) {
		var $div = $('<div class="position-relative"></div>');
		var label = '<label for="sched_day'+day_count+'_'+day+'" class="day_sched d-flex justify-content-center align-items-center border"><span>'+day+'</span></label>';

		var cb = '<input type="checkbox" name="sched[]" id="sched_day'+day_count+'_'+day+'" class="position-absolute center-invisible" value="0"></div>';

		$div.append(label,cb);
		return $div;
	}

	function createTimeInputs(day_count) {
		var inputs = '<div class="col-lg-6"><input type="time" name="dco_start_time_day_'+day_count+'" class="form-control" placeholder="Start Time"></div><div class="col-lg-6"><input type="time" name="dco_end_time_day_'+day_count+'" class="form-control" placeholder="End Time"></div>';

		return inputs;
	}
</script>