<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12 mb-3">
			<h2>
				<a href="<%= enrollment_providers_path %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left"></i>
				<span>Edit Enrollment Provider</span>
				</a>
			</h2>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-lg-12">
			<h5 class="mb-0">Practitioner Personal Information</h5>
			<small class="text-black">Please fill out all required fields. Optional field are marked as (optional)</small>
		</div>
	</div>

	<div class="row mb-3">
				<div class="col-lg-8">
					<%= render 'form' %>
				</div>
	</div>

				</div>
			</div>
	</div>
</div>

<script>
	$('#enrollment_provider_status').on('change',function(){
		if($(this).val() != ""){
			$('.enrollment_status_hidden_fields').addClass('d-none');
			var id = "#enrollment_"+$(this).val();
			$(id).removeClass('d-none');
		}
	})

	setTimeout(function(){
		filterStatus('#enrollment_provider_status')
	},500)

	function filterStatus(element_id){
		if($(element_id).val() != ""){
			$('.enrollment_status_hidden_fields').addClass('d-none');
			var id = "#enrollment_"+$(element_id).val();
			$(id).removeClass('d-none');
		}
	}
</script>