<script>
	var csrfToken = $('meta[name="csrf-token"]').attr('content');
	var provider_id = "<%= @provider.id %>";
	var deleteFormModals = document.querySelectorAll('#deleteFormModal');
	var deleteButtons = document.querySelectorAll('[data-bs-target="#deleteFormModal"]');
	var deletedLogsModal = document.getElementById('deletedLogsModal');
	var documentTitle = document.getElementById('documentTitle');

	deleteButtons.forEach(function (button) {
					button.addEventListener('click', function (event) {
									var providerId = button.getAttribute('data-providerid');
									var documentholder = button.getAttribute('data-documentholder');
									var key = button.getAttribute('data-key');
									var title = button.getAttribute('data-title');
									btnDelete.setAttribute('data-providerid', providerId);
									btnDelete.setAttribute('data-documentholder', documentholder);
									btnDelete.setAttribute('data-key', key);
									documentTitle.innerHTML = title;
					});
	});

	deleteFormModals.forEach(function (modal) {
					modal.addEventListener('show.bs.modal', function () {
							btnDelete.setAttribute('data-providerid', '');
							btnDelete.setAttribute('data-documentholder', '');
							btnDelete.setAttribute('data-key', '');
							documentTitle.innerHTML = '';
					});
	});

	deletedLogsModal.addEventListener('show.bs.modal', function(){
			$.get("<%= document_deleted_logs_providers_path %>", { authenticity_token: csrfToken, provider_id: provider_id }, function(data){
					var results = data['results'];
					var html = '';
					//  make a ul list of deleted logs
					results.forEach(function(result){
							html += '<p style="color: red; margin: 0;">' + result + '</p>';
					});
					// put it on ul tag
					$('#deleted-logs').html(html);
			});
	});

	function deleteDocument(btn){
			var note = $('#delete-form-note').val();
			if(note == ''){
					alert('Please enter note');
					e.preventDefault();
					return false;
			}

			var providerid = $(btn).data('providerid');
			var documentholder = $(btn).data('documentholder');
			var key = $(btn).data('key');

			$('.loading-overlay').show();
			$.post("<%= delete_document_providers_path %>", {
					authenticity_token: csrfToken, note: note, providerid: providerid, key: key
			}, function(data){
					$('#' + documentholder).html('<span class="text-muted">No File Uploaded</span>');
					$('.loading-overlay').hide();
					location.reload();
			});
	}

	function clearNote(){$('#delete-form-note').val('');}
</script>