<div class="row">
  <div id="client-provider-enrollment-sidebar" class="col-lg-12">
    <% if @client_provider_enrollment.enrollable_type == "EnrollGroup" %>
        <%= render partial: 'client_provider_enrollments/enroll_group', locals: { client_provider_enrollment: @client_provider_enrollment } %>
      <% else %>
        <%= render partial: 'client_provider_enrollments/enrollment_provider', locals: { client_provider_enrollment: @client_provider_enrollment } %>
      <% end %>
  </div>
</div>