
		<div class="row g-0 border-bottom border-dark">
			<%= HtmlUtils.table_column title: 'City:', value:  @current_provider_source.fetch(city_key)&.titleize, height: 'h-50px', last: false, size: '4' %>
			<%= HtmlUtils.table_column title: 'State:', value:  State.where(alpha_code: @current_provider_source.fetch(state_key)).first&.name, height: 'h-50px', last: false, size: '4' %>
			<%= HtmlUtils.table_column title: 'Zip Code:', value:  @current_provider_source.fetch(zipcode_key), height: 'h-50px', last: true, size: '4' %>
		</div>