
		<div class="row g-0 border-bottom border-dark">
			<!-- in this case had to make two level array title[0] for title and title[1] for colum size-->
			<% titles = [['Telephone Numbere:', telephone_number_key, 4], ['Ext:', ext_key, 1], ['Fax Number:', fax_number_key, 3], ['Email:', email_key, 4]] %>
			<% titles.each_with_index do |title,idx|%>
				<%= HtmlUtils.table_column title: title[0], value: @current_provider_source.fetch(title[1]), height: 'h-50px', last: ((titles.count-1) == idx ), size: title[2] %>
			<% end %>
		</div>