<% if flash[:notice] %>
<div id="error_explanation" data-turbo-cache="false">
  <small class="text-success">
    <%= flash[:notice] %>
  </small>
</div>
<% end %>
<% if flash[:alert] %>
<div id="error_explanation" data-turbo-cache="false">
  <small class="text-danger">
    <%= flash[:alert] %>
  </small>
</div>
<% end %>
