<div class="row">
	<div class="col-lg-6">
		<label class="text-dark-grey">CDS Registration Number</label>
		<input type="text" name="cds_registration_number" required class="form-control border-dark" placeholder="CDS Registration Number">
	</div>
	<div class="col-lg-6">
		<%= HtmlUtils::dropdown name: 'cds_registration_state', label: 'CDS Registration State' %>
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Issue Date</label>
		<input type="date" name="cds_issue_date" required class="form-control border-dark">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Expiration Date <span class="text-danger">*</span></label>
		<input type="date" name="cds_expire_date" required class="form-control border-dark cds-expire">
		<span class="d-flex gap-2">
			<input type="checkbox" name="cds_not_expire" id="cds-not-expire">
			<small>Does not expire</small>
		</span>
	</div>

	<div class="col-lg-12">
		<div class="d-flex justify-content-between my-3">
			<%= HtmlUtils.radio_options name: 'cds_practice_state_option', label: 'Are you currently practicing in this state? *' %>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="d-flex justify-content-between my-3">
			<%= HtmlUtils.radio_options name: 'cds_full_schedule', label: 'Full Schedule?' %>
		</div>
	</div>
</div>

<script>
$('#cds-not-expire').on('change',function(){
    console.log($(this).prop('checked'));
    if($(this).prop('checked'))
    {
      $('.cds-expire').prop('disabled', true);
      $('.cds-expire').val('');
    }
    else
      $('.cds-expire').removeAttr('disabled');

   });
</script>

