<div class="row">
	<div class="col-lg-6">
		<label>DEA Registration Number</label>
		<input type="text" name="dea_registration_number" class="form-control">
	</div>
	<div class="col-lg-6">
		<label>DEA Registration State</label>
		<select class="form-select" name="dea_registration_state">
			<% @states.each do |state|%>
				<option value="<%= state.name %>"><%= state.name %></option>
			<% end %>
		</select>
	</div>
	<div class="col-lg-6">
		<label>Issue Date</label>
		<input type="date" name="dea_issue_date" class="form-control">
	</div>
	<div class="col-lg-6">
		<label>Expiration Date *</label>
		<input type="date" name="dea_expire_date" class="form-control">
		<span class="d-flex gap-2">
			<input type="checkbox" name="dea_not_expire">
			<small>Does not expire</small>
		</span>
	</div>
	<div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
         <label class="form-label">Full Schedule (2 2N 3 3N 4 5)?</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="dea_full_schedule">
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="dea_full_schedule">
            <span>NO</span>
            </span>
         </div>
      </div>
	</div>

					<div id="dea_tarea" class="">

						<div class="col-lg-12">
							<label>Please explain schedule limitations</label>
							<textarea name="dea_no" class="form-control" rows="8"></textarea>
						</div>
						<div class="col-lg-12 mt-3">
							<% scheds = ['2', '2N', '3', '3N', '4', '5']%>
							<h5>Select Schedule(s) Held</h5>
							<div class="d-flex gap-2">
								<% scheds.each do |sched|%>
								<label>
									<input type="checkbox" name="scheds[]" value="<%= sched %>">
									<strong><%= sched %></strong>
								</label>
								<% end %>
							</div>
						</div>
					</div>
</div>

<script>
	$('input[name=dea_full_schedule]').on('change',function(e)
	{
		$(this).val() == 'no' ? $("#dea_tarea").removeClass('d-none') : $("#dea_tarea").addClass('d-none'); 
	})
</script>