<form>
   <div class="row mb-3">
      <div class="col-lg-6">
         <%= HtmlUtils::dropdown name: 'edc-employment-location', label: 'Employment Location <span class="text-danger"> *</span>' %>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Practice/Employer Name <span class="text-danger">*</span></label>
         <input type="text" name="edc-practice-employer-name" required placeholder="Practice/Employer Name"  class="form-control border-dark">
         <span class="d-flex">
         <input type="checkbox" name="no_longer_in_business">
         <small class="ms-2 fw-bold">No Longer in Business</small>
         </span>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Contact First Name</label>
         <input type="text" name="edc-first-name" class="form-control border-dark" placeholder="Contact First Name">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Contact Last Name</label>
         <input type="text" name="edc-last-name" class="form-control border-dark" placeholder="Contact Last Name">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Address Line 1 <span class="text-danger">*</span></label>
         <input type="text" name="edc-address-line1" class="form-control border-dark" placeholder="Address Line 1 *" required>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Address Line 2</label>
         <input type="text" name="edc-address-line2" class="form-control border-dark" placeholder="Address Line 2">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">City <span class="text-danger">*</span></label>
         <input type="text" name="edc-city" class="form-control border-dark" placeholder="City *" required>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code <span class="text-danger">*</span></label>
         <input type="text" name="edc-zipcode" class="form-control border-dark" placeholder="Zip Code *">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <div class="row">
            <div class="col-lg-8">
               <label class="text-dark-grey">Telephone Number <span class="text-danger">*</span></label>
               <input type="" class="form-control border-dark" name="edc-telephone-number" placeholder="Telephone Number *" required>
            </div>
            <div class="col-lg-4">
               <label class="text-dark-grey">Ext</label>
               <input type="" class="form-control border-dark" name="edc-ext" placeholder="Ext">
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Fax Number <span class="text-danger">*</span></label>
         <input type="" class="form-control border-dark" name="edc-fax-number" placeholder="Fax Number *" required>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Email Address<span class="text-danger">*</span></label>
         <input type="email" name="edc-email" class="form-control border-dark" placeholder="Email *" required>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Name of Malpractice Carrier During Employment</label>
         <input type="text" name="edc-mcde" class="form-control border-dark" placeholder="Name of Malpractice Carrier During Employment">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Contact Method <span class="text-danger">*</span></label>
         <select class="form-select border-dark" required name="edc-contact-method">
            <option>Contact Method</option>
            <option value="Email">Email</option>
            <option value="Fax">Fax</option>
            <option value="Mail">Mail</option>
         </select>
         <!-- <input type="email" name="" class="form-control border-dark" placeholder="Email*" required> -->
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Position Held</label>
         <input type="text" name="edc-position-held" class="form-control border-dark" placeholder="Position Held">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Start Date <span class="text-danger">*</span></label>
         <input type="date" name="edc-start-date" class="form-control border-dark" title="Start Date" required>
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">End Date <span class="text-danger">*</span></label>
         <input type="date" name="edc-end-date" class="form-control border-dark" title="End Date" required>
         <span class="d-flex">
         <input type="checkbox" name="until_present">
         <small class="fw-bold ms-2">Present</small>
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="d-flex justify-content-between my-3">
            <label class="text-dark-grey">Do/Did you have a collaboration agreement with a licensed physician? <span class="text-danger">*</span></label>
            <div class="d-flex me-4 gap-2">
               <span>
               <input type="radio" value="yes" name="edc_collab" class="edc_collab_rbtn">
               <span>YES</span>
               </span>
               <span>
               <input type="radio" value="no" name="edc_collab" class="edc_collab_rbtn">
               <span>NO</span>
               </span>
            </div>
         </div>
      </div>
      <div class="col-lg-12 my-1">
         <div class="alert alert-info alert-light-blue">
            <i class="bi bi-info-circle" style="font-size: 20px;"></i>
            <small> Collaboration means a mutually agreed upon relationship between a physician extender and a physician who is educated, trained, or has experience related to the physician extender's work. </small>
         </div>
      </div>
      <% if !@provider.collaborating_physicians.blank? %>
        <div  id="collab_form">
        <% @provider&.collaborating_physicians&.reload.each do |collaborating_physician|%>
          <%= render partial: "pages/provider_source/collaborating_physician_fields", locals: {collaborating_physician: collaborating_physician}%>
        <% end %>
        </div>
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-end px-0 my-3">
          <!-- <a class="btn btn-outline-secondary btn-sm">Add Another Collaborating Physician </a> -->


              <a  href="<%= custom_provider_source_path(page: 'employment', add_new: 'collaborating_physicians') %>" class="btn btn-primary btn-sm">Add Another Collaborating Physician</a>
        </div>
      </div>
      <% end %>
   </div>
   <!-- <div class="row">
      <div class="col-lg-12 mb-3 d-flex justify-content-end">
        <button class="btn btn-primary">Save This Record</button>
      </div>
      </div> -->
</form>
<script>
   $('.edc_collab_rbtn').on('change',function(){
    ($(this).val() == 'yes') ? $('#collab_form').removeClass('d-none') : $('#collab_form').addClass('d-none');
   });
</script>
