<div class="d-flex gap-2">
	<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
	<i class="bi <%= icon %>" style="font-size: 25px;"></i>
	</span>
	<div class="d-flex flex-column">
		<label><%= title %></label>
		<small>Please fill out 	all required fields</small>
	</div>
</div>
