<div class="bg-light bg-gradient p-3">
   <div class="row mb-3">
      <div class="col-lg-6">
         <select class="form-select border-dark" name="state_abbr">
            <option value="">Select option</option>
            <% @states.each do |state|%>
            <option value="<%= state.alpha_code %>"><%= state.name %> - <%= state.alpha_code %></option>
            <% end %>
         </select>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <label class="text-dark-grey">Facility Name*</label>
         <input type="text" class="form-control border-dark" name="hp-facility-name">
         <span class="d-flex">
         <input type="checkbox" name="hp-no_longer_in_business">
         <small class="fw-semibold ms-2">No Longer in Business</small>
         </span>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Medical Staff Office Address Line 1 *</label>
         <input type="text" class="form-control border-dark" name="hp-mso-address-line1">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Medical Staff Office Address Line 2</label>
         <input type="text" class="form-control border-dark" name="hp-mso-address-line2">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">City *</label>
         <input type="text" class="form-control border-dark" name="hp-city">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Zip Code *</label>
         <input type="text" class="form-control border-dark" name="hp-zipcode">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Medical Staff Office Telephone Number *</label>
         <input type="text" class="form-control border-dark" name="hp-mso-telephone-number">
      </div>
      <div class="col-lg-3">
         <label class="text-dark-grey">Ext</label>
         <input type="text" class="form-control border-dark" name="hp-ext">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Medical Staff Office Fax Number *</label>
         <input type="text" class="form-control border-dark" name="hp-mso-fax-number">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Medical Staff/Credentialing E-mail Address</label>
         <input type="text" class="form-control border-dark" name="hp-mso-email-address">
      </div>
   </div>
   <div class="row mb-3">
      <div class="col-lg-6">
         <label class="text-dark-grey">Department Name</label>
         <input type="text" class="form-control border-dark" name="mso-department-name">
      </div>
      <div class="col-lg-6">
         <label class="text-dark-grey">Division Name</label>
         <input type="text" class="form-control border-dark" name="mso-division-name">
      </div>
   </div>
   <div class="card p-3">
      <h4 class="fw-semibold text-secondary mb-3">Department/Division Director</h4>
      <div class="row mb-3">
         <div class="col-lg-6">
            <label class="text-dark-grey">First Name</label>
            <input type="text" name="mso-first-name" class="form-control border-dark">
         </div>
         <div class="col-lg-6">
            <label class="text-dark-grey">Last Name</label>
            <input type="text" name="mso-last-name" class="form-control border-dark">
         </div>
      </div>
   </div>
   <div class="row mb-3">
      <div class="d-flex justify-content-between my-3">
         <label class="text-dark-grey">Do/Did you have full, unrestricted privileges?</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="hp-unrestricted-privileges">
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="hp-unrestricted-privileges">
            <span>NO</span>
            </span>
         </div>
      </div>
      <div class="d-flex justify-content-between my-3">
         <label class="text-dark-grey">
         Are/Were your privileges temporary?</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="ai-previleges-temporary">
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="ai-previleges-temporary">
            <span>NO</span>
            </span>
         </div>
      </div>
   </div>
   <div class="card p-3">
      <h4 class="fw-semibold text-secondary mb-3">Privileges Status</h4>
      <div class="col-lg-12">
         <label class="text-dark-grey">(Select Pending if your application is in process.)</label>
         <select class="form-select border-dark">
            <option selected="selected" value=""></option>
            <option value="Active">Active</option>
            <option value="Adjunctive">Adjunctive</option>
            <option value="Admitting">Admitting</option>
            <option value="Affiliate">Affiliate</option>
            <option value="Associate">Associate</option>
            <option value="Attending">Attending</option>
            <option value="Co-Admissions">Co-Admissions</option>
            <option value="Consulting-Admitting">Consulting-Admitting</option>
            <option value="Courtesy">Courtesy</option>
            <option value="Emeritus">Emeritus</option>
            <option value="Non-admitting">Non-admitting</option>
            <option value="None">None</option>
            <option value="Pending">Pending</option>
            <option value="Provisional">Provisional</option>
            <option value="Senior">Senior</option>
            <option value="Staff">Staff</option>
            <option value="Temporary-Admitting">Temporary-Admitting</option>
            <option value="None">None</option>
         </select>
      </div>
   </div>
<!--    <div class="row my-3">
      <div class="col-lg-12 mb-3 d-flex justify-content-end">
         <button class="btn btn-primary">Save This Record</button>
      </div>
   </div> -->
</div>
