<form>
  <h4 class="fw-semibold text-secondary mb-3">Self Insured</h4>
  <div class="col-lg-12">
    <div class="alert alert-info alert-light-blue">
      <i class="bi bi-info-circle" style="font-size: 20px;"></i>
      <small>Self-insurance claims are paid by a self-insurance trust fund or employer. Answer
  no if you are insured through an insurance carrier.</small>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Self Insured Policy Name <span class="text-danger">*</span></label>
      <input type="text" name="lf_self_insured_policy_name" class="form-control border-dark" placeholder="Policy Name">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Policy Number <span class="text-danger">*</span></label>
      <input type="text" class="form-control border-dark" name="lf_self_insured_policy_number" placeholder="Policy Number *">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Carrier Name <span class="text-danger">*</span></label>
      <input type="text" name="lf_self_insured_carrier_name" class="form-control border-dark" placeholder="Carrier Name">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Email Address</label>
      <input type="text" class="form-control border-dark" name="lf_self_insured_email_address" placeholder="Email Address">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <label class="text-dark-grey">Telephone Number</label>
      <input type="text" name="lf_self_insured_phone_number" class="form-control border-dark" placeholder="Telephone Number">
    </div>
    <div class="col-lg-2">
      <label class="text-dark-grey">Ext</label>
      <input type="text" name="lf_self_insured_ext" class="form-control border-dark" placeholder="Ext">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Fax Number</label>
      <input type="text" class="form-control border-dark" name="lf_self_insured_fax_number" placeholder="Fax Number">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Coverage per Occurrence <span class="text-danger">*</span></label>
      <input type="text" name="lf_self_insured_coverage_amount" class="form-control border-dark" placeholder="Amount of Coverage per Occurrence *">
      <span>
      <input type="checkbox" name="lf_self_insured_unlimited_coverage_amount">
      <small><strong>Unlimited Coverage</strong></small>
      </span>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Aggregate Coverage <span class="text-danger">*</span></label>
      <input type="text" class="form-control border-dark" name="lf_self_insured_email_aggregate_coverage" placeholder="Amount of Aggregate Coverage *">
      <span>
      <input type="checkbox" name="lf_self_insured_unlimited_aggregate_coverage">
      <small><strong>Unlimited Coverage</strong></small>
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Original Effective (Retroactive) Date <span class="text-danger">*</span></label>
      <input type="date" name="lf_self_insured_original_effective_date" class="form-control border-dark">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Effective Date</label>
      <input type="date" name="lf_self_insured_effective_date" class="form-control border-dark">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Expiration Date <span class="text-danger">*</span></label>
      <input type="date" name="lf_self_insured_original_expiration_date" class="form-control border-dark">
      <span>
      <input type="checkbox" name="lf_self_insured_not_expiry">
      <small><strong>Does Not Expire</strong></small>
      </span>
    </div>
  </div>

</form>
