<form>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Self Insured Policy Name *</label>
      <input type="text" name="lf-self-insured-policy-name" class="form-control border-dark" placeholder="Policy Name">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Policy Number *</label>
      <input type="text" class="form-control border-dark" name="lf-self-insured-policy-number" placeholder="Policy Number *">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Carrier Name *</label>
      <input type="text" name="lf-self-insured-carrier-name" class="form-control border-dark" placeholder="Carrier Name">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Email Address</label>
      <input type="text" class="form-control border-dark" name="lf-self-insured-email-address" placeholder="Email Address">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <label class="text-dark-grey">Telephone Number</label>
      <input type="text" name="lf-self-insured-phone-number" class="form-control border-dark" placeholder="Telephone Number">
    </div>
    <div class="col-lg-2">
      <label class="text-dark-grey">Ext</label>
      <input type="text" name="lf-self-insured-ext" class="form-control border-dark" placeholder="Ext">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Fax Number</label>
      <input type="text" class="form-control border-dark" name="lf-self-insured-fax-number" placeholder="Fax Number">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Coverage per Occurrence *</label>
      <input type="text" name="lf-self-insured-coverage-amount" class="form-control border-dark" placeholder="Amount of Coverage per Occurrence *">
      <span>
      <input type="checkbox" name="lf-self-insured-unlimited-coverage-amount">
      <small><strong>Unlimited Coverage</strong></small>
      </span>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Aggregate Coverage *</label>
      <input type="text" class="form-control border-dark" name="lf-self-insured-email-aggregate-coverage" placeholder="Amount of Aggregate Coverage *">
      <span>
      <input type="checkbox" name="lf-self-insured-unlimited-aggregate-coverage">
      <small><strong>Unlimited Coverage</strong></small>
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Original Effective (Retroactive) Date *</label>
      <input type="date" name="lf-self-insured-original-effective-date" class="form-control border-dark">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Effective Date</label>
      <input type="date" name="lf-self-insured-effective-date" class="form-control border-dark">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Expiration Date *</label>
      <input type="date" name="lf-self-insured-original-expiration-date" class="form-control border-dark">
      <span>
      <input type="checkbox" name="lf-self-insured-not-expiry">
      <small><strong>Does Not Expire</strong></small>
      </span>
    </div>
  </div>
</form>