<form>
<div class="row mb-3">
	<div class="col-lg-6">
		<select class="form-select">
			<option value="">Carrier Location</option>
			<% @states.each do |state|%>
			<option value="<%= state.alpha_code %>"><%= state.name %></option>
			<% end %>
		</select>
	</div>
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-carrier-name" placeholder="Carrier Name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-address-line1" placeholder="Address Line 1*" required>
	</div>
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-address-line2" placeholder="Address Line 2" >
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-city" placeholder="City*" required>
	</div>
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-zipcode" placeholder="Zip Code*"  required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<input type="text" class="form-control" name="lf-telephone-number" placeholder="Telephone Number" required>
			</div>
			<div class="col-lg-4">
				<input type="text" class="form-control" name="lf-ext" placeholder="Ext" required>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-fax-number" placeholder="Fax Number"  required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-email-address" placeholder="Email Address" required>
	</div>
	<div class="col-lg-6">
		<select class="form-select">
			<option value="">Type of Policy</option>
			<option value="Claims Made">Claims Made</option>
			<option value="Occurence">Occurence</option>
		</select>
		<input type="text" class="form-control" name="lf1-zipcode" placeholder="Zip Code*"  required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<select class="form-select">
			<option value="">Type of Coverage</option>
			<option value="Individual">Individual</option>
			<option value="Shared">Shared</option>
		</select>
	</div>
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-policy-holder-name" placeholder="Policy Holder Name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<input type="text" class="form-control" name="lf-policy-number" placeholder="Policy Number*">
	</div>
</div>
</form>