<div class="row mb-3">
   <div class="col-lg-12">
      <label class="text-dark-grey">Licensure State</label>
      <select class="form-select border-dark" name="licensure_state" required>
         <% @states.each do |state|%>
         <option value="<%= state.name %>"><%= state.name %></option>
         <% end %>
      </select>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12">
      <label class="text-dark-grey">License Type *</label>
      <input type="text" name="license_type" required class="form-control border-dark
         ">
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-6">
      <label class="text-dark-grey">License Number *</label>
      <input type="text" name="license_number" required class="form-control border-dark
         ">
   </div>
   <div class="col-lg-6">
      <label class="text-dark-grey">License Status *</label>
      <input type="text" name="license_status" required class="form-control border-dark
         ">
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-6">
      <label class="text-dark-grey">Issue Date *</label>
      <input type="date" name="licensure_issue_date" required class="form-control border-dark">
   </div>
   <div class="col-lg-6">
      <label class="text-dark-grey">Expiration Date *</label>
      <input type="date" name="licensure_expiration_date"  required class="form-control border-dark licensure-expire">
      <span class="d-flex gap-2">
      <input type="checkbox" name="licensure_not_expire" id="licensure-not-expire">
      <small>Does not expire</small>
      </span>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
         <label class="form-label">Are you currently practicing in this state? *</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="licensure_practice_state" required>
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="licensure_practice_state" required>
            <span>NO</span>
            </span>
         </div>
      </div>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
         <label class="form-label">Is this your primary license? *</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="licensure_primary_license" required>
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="licensure_primary_license" required>
            <span>NO</span>
            </span>
         </div>
      </div>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
         <label class="form-label">Does this license require supervision? *</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="licensure_require_supervision" required>
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="licensure_require_supervision" required>
            <span>NO</span>
            </span>
         </div>
      </div>
   </div>
</div>
<div class="row mt-3 d-none" id="supervised_fields">
   <div class="col-lg-12">
      <h5>Name of Sponsor</h5>
   </div>
   <div class="col-lg-4">
      <label class="text-dark-grey">First Name</label>
      <input type="text" name="licensure_sponsor_fname" class="form-control border-dark">
   </div>
   <div class="col-lg-2">
      <label class="text-dark-grey">Middle Name</label>
      <input type="text" name="licensure_sponsor_mname" class="form-control border-dark">
   </div>
   <div class="col-lg-4">
      <label class="text-dark-grey">Last Name</label>
      <input type="text" name="licensure_sponsor_lname" class="form-control border-dark">
   </div>
   <div class="col-lg-2">
      <label class="text-dark-grey">Suffix</label>
      <select class="form-select border-dark" placeholder="Suffix" name="licensure_sponsor_suffix">
         <option>Suffix</option>
         <option>Jr.</option>
         <option>Sr.</option>
         <option>III.</option>
         <option>IV.</option>
      </select>
   </div>
   <div class="col-lg-12 mt-3">
      <label class="text-dark-grey">Degree</label>
      <input type="text" name="licensure_sponsor_degree" class="form-control border-dark">
   </div>
</div>
<script>
	$('input[name=licensure_require_supervision]').on('change',function(){
		$(this).val() == 'yes' ? $('#supervised_fields').removeClass('d-none') : $('#supervised_fields').addClass('d-none');
	})

   $('#licensure-not-expire').on('change',function(){
    console.log($(this).prop('checked'));
    if($(this).prop('checked'))
    {
      $('.licensure-expire').prop('disabled', true);
      $('.licensure-expire').val('');
    }
    else
      $('.licensure-expire').removeAttr('disabled');

   });
</script>