<form>
  <h4 class="fw-semibold text-secondary mb-3">Malpractice Claim</h4>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Date of Occurence <span class="text-danger">*</span></label>
      <input type="date" name="mc_occurence_date" class="form-control border-dark" placeholder="Date of Occurence">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Date Claim was Filed <span class="text-danger">*</span></label>
      <input type="date" class="form-control border-dark" name="mc_date_claim_filed" placeholder="Date Claim was Filed">
    </div>
  </div>
  <div class="col-lg-12 mb-3">
    <label class="text-dark-grey">Status of Claim <span class="text-danger">*</span></label>
    <input type="text" name="mc_claim_status" class="form-control border-dark" placeholder="Status of Claim">
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Award or Settlement</label>
      <input type="text" class="form-control border-dark" name="mc_amount_award_settlement" placeholder="Amount of Award or Settlement">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Award or Settlement Attribute to you</label>
      <input type="text" name="mc_amount_award_attributed" class="form-control border-dark" placeholder="Amount of Award or Settlement Attribute to you">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Method of Resolution</label>
      <%= HtmlUtils::dropdown name: 'mc_method_resolution' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Date of Settlement, Judgment or Dismissal</label>
      <input type="date" class="form-control border-dark" name="mc_date_settlement" placeholder="Fax Number">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Description of Allegations <span class="text-danger">*</span></label>
      <textarea class="form-control border-dark" name="mc_description_allegations" rows="5"></textarea>
    </div>
  </div>

<div class="row mb-3">
  <div class="d-flex justify-content-between ">
     <label class="text-dark-grey">Were you the primary defendant or co-defendant?<span class="text-danger">*</span></label>
     <div class="d-flex me-4 gap-2">
        <span>
        <input type="radio" value="yes" name="defendant_options">
        <span>Primary Defendant</span>
        </span>
        <span>
        <input type="radio" value="no" name="defendant_options">
        <span>Co-Defendant</span>
        </span>
        <span>
          <input type="radio" value="yes" name="defendant_options">
          <span>N/A</span>
        </span>
     </div>
  </div>
</div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Number of Defendants <span class="text-danger">*</span></label>
      <select name="mc_defendant_number" class="form-select border-dark">
        <option value="">Number of Defendants</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Your involvement in the case <span class="text-danger">*</span></label>
      <select name="mc_case_involvement" class="form-select border-dark">
        <option value="">Your involvement in the case</option>
        <option value="Attending">Attending</option>
        <option value="Defendant">Defendant</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Your Specific Responsibility <span class="text-danger">*</span></label>
      <textarea class="form-control border-dark" name="mc_specific_responsibility" rows="5"></textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Description of alleged patient, including clinical details, with preceeding events <span class="text-danger">*</span></label>
      <textarea class="form-control border-dark" name="mc_description_alleged_patient" rows="5"></textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Subsequent events, including patient's clinical outcome <span class="text-danger">*</span></label>
      <textarea class="form-control border-dark" name="mc_patient_outcome" rows="5"></textarea>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between my-3">
          <%= HtmlUtils.radio_options name: 'has_injury_to_death', label: 'Did the alleged injury result in death?' %>
        </div>
    </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
        <%= HtmlUtils.radio_options name: 'has_npdb_case', label: 'To the best of your knowledge, is the case included in the National Practitioner Data Bank (NPDB)?' %>
      </div>
  </div>
</div>

</form>