<form>
<div class="row mb-3">
	<div class="col-lg-6">
		<%= HtmlUtils::dropdown name: 'lf_carrier_location', label: 'Carrier Location *' %>
	</div>
	<div class="col-lg-6">
    <label class="text-dark-grey">Carrier Name <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="lf_carrier_name" placeholder="Carrier Name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
    <label class="text-dark-grey">Address Line 1 <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="lf_address_line1" placeholder="Address Line 1*" required>
	</div>
	<div class="col-lg-6">
    <label class="text-dark-grey">Address Line 2</label>
		<input type="text" class="form-control border-dark" name="lf_address_line2" placeholder="Address Line 2" >
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
    <label class="text-dark-grey">City <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="lf_city" placeholder="City *" required>
	</div>
	<div class="col-lg-6">
    <label class="text-dark-grey">Zip Code <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="lf_zipcode" placeholder="Zip Code*"  required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
        <label class="text-dark-grey">Telephone Number</label>
				<input type="text" class="form-control border-dark" name="lf_telephone_number" placeholder="Telephone Number" required>
			</div>
			<div class="col-lg-4">
        <label class="text-dark-grey">Ext</label>
				<input type="text" class="form-control border-dark" name="lf_ext" placeholder="Ext" required>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
    <label class="text-dark-grey">Fax Number</label>
		<input type="text" class="form-control border-dark" name="lf_fax_number" placeholder="Fax Number"  required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
    <label class="text-dark-grey">Email Address</label>
		<input type="text" class="form-control border-dark" name="lf_email_address" placeholder="Email Address" required>
	</div>
	<div class="col-lg-6">
    <label class="text-dark-grey">Type of Policy</label>
		<select name="lf_policy_type" class="form-select border-dark">
			<option value="">Type of Policy</option>
			<option value="Claims Made">Claims Made</option>
			<option value="Occurence">Occurence</option>
		</select>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
    <label class="text-dark-grey">Type of Coverage</label>
		<select name="lf_coverage_type" class="form-select border-dark">
			<option value="">Type of Coverage</option>
			<option value="Individual">Individual</option>
			<option value="Shared">Shared</option>
		</select>
	</div>
	<div class="col-lg-6">
    <label class="text-dark-grey">Policy Holder Name</label>
		<input type="text" class="form-control border-dark" name="lf_policy_holder_name" placeholder="Policy Holder Name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
    <label class="text-dark-grey">Policy Number <span class="text-danger">*</span></label>
		<input type="text" class="form-control border-dark" name="lf_policy_number" placeholder="Policy Number *">
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
			<div class="col-lg-12">
					<div class="d-flex justify-content-between my-3">
						<%= HtmlUtils.radio_options name: 'has_tail_coverage', label: 'Does this policy include tail coverage?' %>
					</div>
			</div>
	</div>
	<div class="col-lg-12">
			<div class="col-lg-12">
					<div class="d-flex justify-content-between my-3">
						<%= HtmlUtils.radio_options name: 'has_carrier_excluded', label: 'Has this carrier excluded any specific area of practice or procedures from your coverage?' %>
					</div>
			</div>
	</div>
</div>
<div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Coverage per Occurrence <span class="text-danger">*</span></label>
      <input type="text" name="lf_not_insured_coverage_amount" class="form-control border-dark" placeholder="Amount of Coverage per Occurrence *">
      <span>
      <input type="checkbox" name="lf_not_insured_unlimited_coverage_amount">
      <small><strong>Unlimited Coverage</strong></small>
      </span>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Amount of Aggregate Coverage <span class="text-danger">*</span></label>
      <input type="text" class="form-control border-dark" name="lf_not_insured_email_aggregate_coverage" placeholder="Amount of Aggregate Coverage *">
      <span>
      <input type="checkbox" name="lf_not_insured_unlimited_aggregate_coverage">
      <small><strong>Unlimited Coverage</strong></small>
      </span>
    </div>
  </div>
<div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Original Effective (Retroactive) Date <span class="text-danger">*</span></label>
      <input type="date" name="lf_not_insured_original_effective_date" class="form-control border-dark">
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Effective Date</label>
      <input type="date" name="lf_not_insured_effective_date" class="form-control border-dark">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">
      <label class="text-dark-grey">Expiration Date <span class="text-danger">*</span></label>
      <input type="date" name="lf_not_insured_original_expiration_date" class="form-control border-dark">
      <span>
      <input type="checkbox" name="lf_not_insured_not_expiry">
      <small><strong>Does Not Expire</strong></small>
      </span>
    </div>
  </div>

</form>
