<form>
<div class="row mb-3">
	<div class="col-lg-12">
		<input type="text" required class="form-control" placeholder="Organization Name" name="pof-organization-name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label>Effective Date</label>
		<input type="date" name="" class="form-control" required>
	</div>
	<div class="col-lg-6">
		<label>Termination Date</label>
		<input type="date" name="" class="form-control" required>
		<span class="d-flex align-items-center">
			<input type="checkbox" name="">
			<small class="ms-2 fw-bold">Current</small>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 mb-3 d-flex justify-content-end">
		  	<button class="btn btn-primary">Save This Record</button>
	</div>
</div>
</form>