<form>
<div class="row mb-3">
	<div class="col-lg-12">
    <label class="text-dark-grey">Organization Name *</label>
		<input type="text" required class="form-control border-dark" placeholder="Organization Name" name="prof_organization_name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Effective Date</label>
		<input type="date" name="prof_org_effected_date" class="form-control border-dark" required>
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Termination Date</label>
		<input type="date" name="prof_org_termination_date" class="form-control border-dark" required>
		<span class="d-flex align-items-center">
			<input type="checkbox" name="prof_org_until_current">
			<small class="ms-2 fw-bold">Current</small>
		</span>
	</div>
</div>
</form>