<div class="row mb-3">
	<div class="col-lg-12">
		<div class="form-group">
			<label>Registration Number</label>
			<input type="text" name="registration_number" required class="form-control">
		</div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label>Specialty</label>
		<input type="text" name="registration_specialty" required class="form-control">
	</div>
	<div class="col-lg-6">
		<label>State</label>
		<select name="registration_issue_state" required class="form-select">
			<% @states.each do |state|%>
				<option value="<%= state.name %>"><%= state.name  %></option>
			<% end %>
		</select>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label>Issuing Board *</label>
		<input type="text" name="registration_issuing_board" class="form-control" required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label>Address Line 1 *</label>
		<input type="text" name="registration_address_1" class="form-control" required>
	</div>
	<div class="col-lg-6">
		<label>Address Line 2</label>
		<input type="text" name="registration_address_2" class="form-control" >
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label>City *</label>
		<input type="text" name="registration_city" class="form-control" required>
	</div>
	<div class="col-lg-6">
		<label>State</label>
		<select name="registration_state" required class="form-select">
			<% @states.each do |state|%>
				<option value="<%= state.name %>"><%= state.name  %></option>
			<% end %>
		</select>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label>Zip Code *</label>
		<input type="text" name="registration_zipcode" class="form-control" required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<input type="" class="form-control" name="registration_telephone" placeholder="Telephone Number" >
			</div>
			<div class="col-lg-4">
				<input type="" class="form-control" name="registration_ext" placeholder="Ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<input type="" class="form-control" name="registration_fax" placeholder="Fax Number">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label>Issue Date</label>
		<input type="date" name="registration_issue_date" class="form-control">
	</div>
	<div class="col-lg-6">
		<label>Expiration Date *</label>
		<input type="date" name="registration_expiration_date" class="form-control">
		<span class="d-flex gap-2">
			<input type="checkbox" name="registration_not_expire">
			<small>Does not expire</small>
		</span>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
         <label class="form-label">Are you currently practicing in this state? *</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="cds_practice_state" required>
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="cds_practice_state" required>
            <span>NO</span>
            </span>
         </div>
      </div>
	</div>
</div>