<div class="row mb-3">
	<div class="col-lg-12">
		<div class="form-group">
			<label class="text-dark-grey">Registration Number *</label>
			<input type="text" name="registration_number" required class="form-control border-dark">
		</div>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Specialty *</label>
		<input type="text" name="registration_specialty" required class="form-control border-dark">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">State</label>
		<select name="registration_issue_state" class="form-select border-dark">
			<% @states.each do |state|%>
				<option value="<%= state.name %>"><%= state.name  %></option>
			<% end %>
		</select>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="text-dark-grey">Issuing Board *</label>
		<input type="text" name="registration_issuing_board" class="form-control border-dark" required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Address Line 1 *</label>
		<input type="text" name="registration_address_1" class="form-control border-dark" required>
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Address Line 2</label>
		<input type="text" name="registration_address_2" class="form-control border-dark" >
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">City *</label>
		<input type="text" name="registration_city" class="form-control border-dark" required>
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">State</label>
		<select name="registration_state" required class="form-select border-dark">
			<% @states.each do |state|%>
				<option value="<%= state.name %>"><%= state.name  %></option>
			<% end %>
		</select>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Zip Code *</label>
		<input type="text" name="registration_zipcode" class="form-control border-dark" required>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<label class="text-dark-grey">Telephone Number </label>
				<input type="" class="form-control border-dark" name="registration_telephone" placeholder="Telephone Number" >
			</div>
			<div class="col-lg-4">
				<label class="text-dark-grey">Ext </label>
				<input type="" class="form-control border-dark" name="registration_ext" placeholder="Ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Fax Number </label>
		<input type="" class="form-control border-dark" name="registration_fax" placeholder="Fax Number">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="text-dark-grey">Issue Date *</label>
		<input type="date" name="registration_issue_date" class="form-control border-dark">
	</div>
	<div class="col-lg-6">
		<label class="text-dark-grey">Expiration Date *</label>
		<input type="date" name="registration_expiration_date" class="form-control border-dark ps-registration-expire">
		<span class="d-flex gap-2">
			<input type="checkbox" name="ps_registration_not_expire" id="ps-registration-not-expire">
			<small>Does not expire</small>
		</span>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
      <div class="d-flex justify-content-between my-3">
         <label class="form-label">Are you currently practicing under this number? *</label>
         <div class="d-flex me-4 gap-2">
            <span>
            <input type="radio" value="yes" name="registration_under_number" required>
            <span>YES</span>
            </span>
            <span>
            <input type="radio" value="no" name="registration_under_number" required>
            <span>NO</span>
            </span>
         </div>
      </div>
	</div>
</div>

<script>
$('#ps-registration-not-expire').on('change',function(){
    console.log($(this).prop('checked'));
    if($(this).prop('checked'))
    {
      $('.ps-registration-expire').prop('disabled', true);
      $('.ps-registration-expire').val('');
    }
    else
      $('.ps-registration-expire').removeAttr('disabled');

   });
</script>