<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Education Type*</label>
  <%= select_tag :education_types, options_for_select([['Select Option']] + @education_types.map { |education| [education.name, education.name] }), required: true, class: 'form-select border-dark', placeholder: 'Education Type', id: 'grad-education-type' %>
	</div>
	<div class="col-lg-6">
		<label class="form-label">Graduate/Professional School Location*</label>
		<%= select_tag :states, options_for_select([['Select Option', nil]] + @states.map { |state| [state.name, state.name] }), required: true, class: 'form-select border-dark', placeholder: 'Graduate/Professional School Location', id: 'grad-school-location' %>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Professional School Name*</label>
		<input type="text" class="form-control border-dark" name="psd-psn">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Address Line 1*</label>
		<input type="text" class="form-control border-dark" name="psd-address-line1">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Address Line 2</label>
		<input type="text" class="form-control border-dark" name="psd-address-line2">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">City*</label>
		<input type="text" class="form-control border-dark" name="psd-city">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Zip Code*</label>
		<input type="text" class="form-control border-dark" name="psd-zipcode">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<label class="form-label">Telephone Number*</label>
				<input type="text" class="form-control border-dark" name="psd-telephone-number">
			</div>
			<div class="col-lg-4">
				<label class="form-label">Ext</label>
				<input type="text" class="form-control border-dark" name="psd-ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="form-label">Fax Number</label>
		<input type="text" class="form-control border-dark" name="psd-fax-number">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-5">
		<label class="form-label">Email</label>
		<input type="email"  class="form-control border-dark" name="psd-fax-number">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Undergraduate Major</label>
		<input type="text" class="form-control border-dark" name="psd-undergraduate-major">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Degree Awarded*</label>
		<input type="text" class="form-control border-dark" name="psd-degree-awarded">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Faculty Director First Name</label>
		<input type="text" class="form-control border-dark" name="psd-fd-first-name">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Faculty Director Last Name</label>
		<input type="text" class="form-control border-dark" name="psd-fd-last-name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Director Degree</label>
		<input type="text" name="psd-director-degree" class="form-control border-dark">
	</div>
</div>

 <div class="row mb-3">
    <div class="d-flex align-items-center my-3">
      <%= HtmlUtils.radio_toggle name: 'incomplete_prof',
    		label: 'Did you not complete your undergraduate education at this school? *',
        toshow: 'prof_school_reason'
      %>
      <input type="hidden" id="incomplete_prof" name="incomplete_prof" value="no">
    </div>
      <div id="prof_school_reason" class="d-none">
        <%= render partial: 'provider_source_components/prof_school_reason'%>
      </div>
	</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Start Date</label>
		<input type="date" class="form-control border-dark" name="prof_date_start">
	</div>
	<div class="col-lg-6">
		<label class="form-label">End(Graduation) Date*</label>
		<input type="date" class="form-control border-dark" name="prof_date_graduation">
	</div>
</div>
<div class="row">
	<div class="col-lg-12 mb-3 d-flex justify-content-end">
		  	<button class="btn btn-primary">Save This Record</button>
	</div>
</div>

<script>
$(document).ready(function() {
  // Retrieve the saved value from Local Storage, if it exists
  var savedValue = localStorage.getItem('gradEducationType');
  if (savedValue) {
    $('#grad-education-type').val(savedValue); // Set the dropdown value
  }

  // Store the selected value in Local Storage when the dropdown value changes
  $('#grad-education-type').on('change', function() {
    var selectedValue = $(this).val();
    localStorage.setItem('gradEducationType', selectedValue);
  });
});

</script>

<script>
$(document).ready(function() {
  // Retrieve the saved value from Local Storage, if it exists
  var savedValue = localStorage.getItem('gradSchoolLocation');
  if (savedValue) {
    $('#grad-school-location').val(savedValue); // Set the dropdown value
  }

  // Store the selected value in Local Storage when the dropdown value changes
  $('#grad-school-location').on('change', function() {
    var selectedValue = $(this).val();
    localStorage.setItem('gradSchoolLocation', selectedValue);
  });
});

</script>
