<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Education Type*</label>
		<select class="form-select border-dark">
			<option>Graduate School</option>
			<option>Professional School</option>
			<option>Other</option>
		</select>
	</div>
	<div class="col-lg-6">
		<label class="form-label">Graduate/Professional School Location*</label>
		<select class="form-select border-dark"></select>
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Professional School Name*</label>
		<input type="text" class="form-control border-dark" name="taf-psn">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Address Line 1*</label>
		<input type="text" class="form-control border-dark" name="taf-address-line1">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Address Line 2</label>
		<input type="text" class="form-control border-dark" name="taf-address-line2">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">City*</label>
		<input type="text" class="form-control border-dark" name="taf-city">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Zip Code*</label>
		<input type="text" class="form-control border-dark" name="taf-zipcode">
	</div>
</div>

<div class="row mb-3">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-8">
				<label class="form-label">Telephone Number*</label>
				<input type="text" class="form-control border-dark" name="taf-telephone-number">
			</div>
			<div class="col-lg-4">
				<label class="form-label">Ext</label>
				<input type="text" class="form-control border-dark" name="taf-ext">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<label class="form-label">Fax Number</label>
		<input type="text" class="form-control border-dark" name="taf-fax-number">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-5">
		<label class="form-label">Email</label>
		<input type="email"  class="form-control border-dark" name="">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Program Director First Name</label>
		<input type="text" class="form-control border-dark" name="taf-pd-first-name">
	</div>
	<div class="col-lg-6">
		<label class="form-label">Program Director Last Name</label>
		<input type="text" class="form-control border-dark" name="taf-pd-last-name">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Program Director Degree</label>
		<input type="text" name="taf-pd-degree" class="form-control border-dark">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-12">
		<label class="form-label">Academic Rank Degree</label>
		<input type="text" name="taf-ar-degree" class="form-control border-dark">
	</div>
</div>
<div class="row mb-3">
	<div class="col-lg-6">
		<label class="form-label">Start Date</label>
		<input type="date" class="form-control border-dark" name="taf-start-date">
	</div>
	<div class="col-lg-6">
		<label class="form-label">End(Graduation) Date*</label>
		<input type="date" class="form-control border-dark" name="taf-end-date">
		<span class="d-flex gap-2 ms-2">
			<input type="checkbox" name="taf-does-not-expire">
			<small>Does not expire</small>
		</span>
	</div>
</div>
<!-- <div class="row">
	<div class="col-lg-12 mb-3 d-flex justify-content-end">
		  	<button class="btn btn-primary">Save This Record</button>
	</div>
</div> -->