<div class="row my-2">
	<div class="col-lg-12">
			<small class="ms-2 fw-bold text-dark-grey">*Please explain why you did not complete your training at this institution.</small>
			<%= text_area_tag 'tf-reason', nil, class: 'form-control border-dark', rows: 3 %>
			<small class="ms-2 fw-bold text-dark-grey">2500 character max</small>
	</div>
</div>