
    <%= render "top_button_navs"%>

    <div class="content">
        <div class="container">
            <!-- Cards -->
            <div class="row">
                <div class="col-xl-3">
                    <div class="card provider-card">
                        <div class="card-body">
                            <span class="card-head">
                                <i class="bx bx-group"></i>
                                All Provider
                            </span>
                            <div class="card-counter">
                                <h3 class="text-white"><%= ProviderSource.count %></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Filter Dropdown -->
            <div class="filter-wpr">
                <div class="row mb-3">
                    <div class="col-xl-5">
                        <label for="filter-select">Location</label>
                        <div class="form-wrp">
                            <select name="" id="filter-select" class="form-select">
                                <option value="All Location">All Location</option>
                                <option value="PP of Los Angeles">PP of Los Angeles</option>
                            </select>
                            <button class="btn btn-danger btn-xs" id="remove-location" data-bs-toggle="modal" data-bs-target="#removeLocationModal">
                                <i class="bx bx-trash"></i>
                                Remove Location
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-7 button-wpr">
                        <button class="btn btn-primary btn-xs" id="add-provider" data-bs-toggle="modal" data-bs-target="#addProviderModal">
                            <i class='bx bx-plus' ></i>
                            Add Provider
                        </button>
                        <button class="btn btn-primary btn-xs" data-bs-toggle="modal" data-bs-target="#sendInviteModal">
                            <i class='bx bxs-paper-plane' ></i>
                            Send Invites
                        </button>
                        <button class="btn btn-danger btn-xs">
                            <i class="bx bx-trash"></i>
                            Remove Provider
                        </button>
                    </div>
                </div>
                <div class="row result-controls">
                    <div class="col-xl-6 filter-result">
                        <h6 class="">Search result: 4 records</h6>
                    </div>
                    <div class="col-xl-6">
                        <div class="table-controls">
                            <div class="control-wrp">
                                <label for="limit">Show limit</label>
                                <input type="text" id="limit" class="form-control" value="20">
                            </div>
                            <div class="control-wrp">
                                <label for="page">Page 1 of 32</label>
                                <input type="text" id="page" class="form-control" value="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cards -->
            <div class="card-wpr">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-1">
                                    <label class="form-check-label" for="check-1">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <!-- <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div> -->
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-manage btn-primary">Manage Application</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-2">
                                    <label class="form-check-label" for="check-2">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div>
                                <div class="form-row mt-3 card-buttons pb-3 card-buttons pb-3">
                                    <button class="btn btn-send-invite btn-purple" data-bs-toggle="modal" data-bs-target=".sendSingleInviteModal">Send Invite</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-3">
                                    <label class="form-check-label" for="check-3">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <!-- <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div> -->
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-manage btn-primary">Manage Application</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-4">
                                    <label class="form-check-label" for="check-4">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div>
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-send-invite btn-purple" data-bs-toggle="modal" data-bs-target=".sendSingleInviteModal">Send Invite</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-5">
                                    <label class="form-check-label" for="check-5">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <!-- <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div> -->
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-manage btn-primary">Manage Application</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-6">
                                    <label class="form-check-label" for="check-6">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <!-- <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div> -->
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-manage btn-primary">Manage Application</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-7">
                                    <label class="form-check-label" for="check-7">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <!-- <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div> -->
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-manage btn-primary">Manage Application</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-8">
                                    <label class="form-check-label" for="check-8">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div>
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-send-invite btn-purple" data-bs-toggle="modal" data-bs-target=".sendSingleInviteModal">Send Invite</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-9">
                                    <label class="form-check-label" for="check-9">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <!-- <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div> -->
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-manage btn-primary">Manage Application</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-10">
                                    <label class="form-check-label" for="check-10">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div>
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-send-invite btn-purple" data-bs-toggle="modal" data-bs-target=".sendSingleInviteModal">Send Invite</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-11">
                                    <label class="form-check-label" for="check-11">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div>
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-send-invite btn-purple" data-bs-toggle="modal" data-bs-target=".sendSingleInviteModal">Send Invite</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card card-result">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h6 class="result-name">Gallardo, Rosa P.</h6>
                                    <input class="form-check-input" type="checkbox" value="" id="check-12">
                                    <label class="form-check-label" for="check-12">
                                        Default checkbox
                                    </label>
                                </div>
                                <div class="form-row row result-details mt-3">
                                    <div class="col-xl-6">
                                        <h6>Attest Date:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 1, 1999</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Degree:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>MSN</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Last Invite Sent:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>January 2, 2022</p>
                                    </div>
                                </div>
                                <div class="form-row row result-details">
                                    <div class="col-xl-6">
                                        <h6>Sent invite count:</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <p>10</p>
                                    </div>
                                </div>
                                <div class="form-row mt-3 card-buttons pb-3">
                                    <button class="btn btn-send-invite btn-purple" data-bs-toggle="modal" data-bs-target=".sendSingleInviteModal">Send Invite</button>
                                    <button class="btn btn-card-remove fw-bold text-black">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Send Invite Modal -->
            <div class="modal fade" id="sendInviteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="">
                                <div class="modal-title">
                                    <h1 class="mb-2">Send Email Invitation</h1>
                                    <!-- <p>Providers: 17 selected</p> -->
                                </div>
                                <div class="form-row row">
                                    <!-- <div class="col-xl-6">
                                        <label for="">Sender Name *</label>
                                        <input type="text" name="sender_name" class="form-control" placeholder="">
                                    </div> -->
                                    <div class="col-xl-12">
                                        <label for="">Email To *</label>
                                        <input type="email" name="email_to" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <!-- <div class="col-xl-12">
                                        <label for="">Subject *</label>
                                        <input type="text" name="subject" class="form-control" placeholder="">
                                    </div> -->
                                    <!-- <div class="col-xl-6">
                                        <label for="">Email CC</label>
                                        <input type="text" name="email_cc" class="form-control" placeholder="">
                                    </div> -->
                                </div>
                                <div class="form-row row">
                                    <!-- <div class="col-xl-12">
                                        <label for="">Message *</label>
                                        <textarea name="message" id="" class="form-control" cols="30" rows="5"></textarea>
                                    </div> -->
                                </div>
                                <!-- <h6 class="note-heading mt-4">Invite link which will be added by the system</h6>
                                <p class="note">You are invited to connect to Office Manager account on (link of the website). To agree to designate him/her as your office manager, please click the link. Please do not close your browser until the page completely loads, which may take some time. If you do not wish to accept the invitation, please disregard this message. <a href="">[Click to open link]</a> </p> -->
                                <div class="form-row mt-3">
                                    <button class="btn btn-manage btn-primary" onclick="sendInvitation()">Send</button>
                                    <button class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Send Single Invite Modal -->
            <div class="modal fade sendSingleInviteModal" id="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <div class="modal-title">
                                    <h6 class="">Send Email Invitation</h6>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="">Sender Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="">Email To</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="">Subject</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="">Email CC</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-12">
                                        <label for="">Message</label>
                                        <textarea name="" id="" class="form-control" cols="30" rows="5"></textarea>
                                    </div>
                                </div>
                                <h6 class="note-heading mt-4">Invite link which will be added by the system</h6>
                                <p class="note">You are invited to connect to Office Manager account on (link of the website). To agree to designate him/her as your office manager, please click the link. Please do not close your browser until the page completely loads, which may take some time. If you do not wish to accept the invitation, please disregard this message. <a href="">[Click to open link]</a> </p>
                                <div class="form-row mt-3">
                                    <button class="btn btn-manage btn-primary">Send</button>
                                    <button class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Remove Location Modal -->
            <div class="modal fade" id="removeLocationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <h6 class="remove-heading">"PP of Los Angeles"</h6>
                                <p class="remove-note">Are you sure you want to delete?</p>
                                <div class="form-row mt-3">
                                    <button class="btn btn-sm btn-danger w-100 text-center">Yes</button>
                                    <button class="btn btn-card-remove fw-bold text-black" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add Provider Modal -->
            <div class="modal fade" id="addProviderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <div class="modal-title">
                                    <h6 class="">Add New Provider</h6>
                                    <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-4">
                                        <label for="">First Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">Middle Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">Last Name</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-3">
                                        <label for="">Date of Birth</label>
                                        <input type="date" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-5">
                                        <label for="">Email</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">SSN</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="add-note mt-4">
                                    <h6>Note:</h6>
                                    <ul>
                                        <li>Enter required fields and click "Search Provider" button.</li>
                                        <li>If the provider is located, click "Add to Roster". An invitation will be emailed to the provider.</li>
                                        <li>When the provider accepts the invitation, the office manager will be able to manage the practitioner.</li>
                                        <li>If the provider is not located, click "Add Provider" in the search box. This will generate an email to the email address provided.</li>
                                        <li>The provider will receive an email providing the opportunity to link the provider's account with the office manager or to create a new provider account.</li>
                                    </ul>
                                </div>
                                <div class="row result-controls mt-3">
                                    <div class="col-xl-6 filter-result">
                                        <h6 class="">Search result: 2 existing providers</h6>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="table-controls">
                                            <button class="btn btn-sm btn-primary">
                                                <i class="bx bx-search"></i>
                                                Search Provider
                                            </button>
                                            <button class="btn btn-sm btn-primary">
                                                <i class='bx bx-plus' ></i>
                                                Add Provider
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dark">
                                <div class="content">
                                    <div class="modal-title">
                                        <h6 class="text-white">Add Existing Provider to Roster</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-white">ID</th>
                                            <th scope="col" class="text-white">First Name</th>
                                            <th scope="col" class="text-white">Middle Name</th>
                                            <th scope="col" class="text-white">Last Name</th>
                                            <th scope="col" class="text-white">SSN</th>
                                            <th scope="col" class="text-white">Project</th>
                                            <th scope="col" class="text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>109411</td>
                                            <td>Denise</td>
                                            <td>Flores</td>
                                            <td>Atienza</td>
                                            <td>000-00-1234</td>
                                            <td>Healthways</td>
                                            <td>
                                                <button class="btn-plus">
                                                    <i class='bx bxs-plus-circle'></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>109411</td>
                                            <td>Denise</td>
                                            <td>Moreno</td>
                                            <td>Flores</td>
                                            <td>000-00-1244</td>
                                            <td>SVHS</td>
                                            <td>
                                                <button class="btn-plus">
                                                    <i class='bx bxs-plus-circle'></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
     $(document).ready(function() {
        $('#btn-send-invite').click(function() {
            // Get the form values

        });
     });

     function sendInvitation(){
        var senderName = $('input[name="sender_name"]').val();
        var emailTo = $('input[name="email_to"]').val();
        var subject = $('input[name="subject"]').val();
        var emailCC = $('input[name="email_cc"]').val();
        var message = $('textarea[name="message"]').val();

        // Perform validation
        if (senderName === '') {
            $('input[name="sender_name"]').css('border-color', 'red');
        } else {
            $('input[name="sender_name"]').css('border-color', '');
        }

        if (emailTo === '') {
            $('input[name="email_to"]').css('border-color', 'red');
        } else {
            $('input[name="email_to"]').css('border-color', '');
        }

        if (subject === '') {
            $('input[name="subject"]').css('border-color', 'red');
        } else {
            $('input[name="subject"]').css('border-color', '');
        }

        if (message === '') {
            $('textarea[name="message"]').css('border-color', 'red');
        } else {
            $('textarea[name="message"]').css('border-color', '');
        }

        // Check if any required fields are empty
        if (senderName === '' || emailTo === '' || subject === '' || message === '') {
            // Handle validation error (one or more required fields are empty)
            alert('Please fill in all required fields.');
            return;
        }

        $('.loading-overlay').show(); //

        // Add a delay before making the AJAX request (e.g., 2 seconds)
        setTimeout(function() {
            // Prepare the data to be sent
            var data = {
            senderName: senderName,
            emailTo: emailTo,
            subject: subject,
            emailCC: emailCC,
            message: message,
            authenticity_token:  $('meta[name="csrf-token"]').attr('content')
            };

            // Make the AJAX request
            $.ajax({
                url: "<%= send_invitation_office_managers_path %>",
                type: 'POST',
                data: data,
                success: function(response) {
                    // Handle the success response here
                    console.log(response);
                    // Display a success message or perform any other actions
                    $('.loading-overlay').hide();
                },
                error: function(xhr, status, error) {
                    // Handle the error response here
                    alert(xhr.responseText);
                    // Display an error message or perform any other actions
                    $('.loading-overlay').hide();
                }
            });
        }, 2000); // Adjust the delay time (in milliseconds) as needed
     }
    </script>