    <%= render "top_button_navs"%>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 right-pane">
                    <div class="filter-wpr">
                        <div class="row mb-3">
                            <div class="col-xl-5">
                                <div class="search-wrp form-control">
                                    <input type="text" placeholder="Search" class="search-input">
                                    <i class='bx bx-search'></i>
                                </div>
                            </div>
                            <div class="col-xl-7 button-wpr">
                                <a href="<%= office_managers_path(page: 'add_new_office_manager') %>" type="button" class="btn btn-sm btn-primary">
                                    <i class='bx bx-plus' ></i>
                                    Add Office Manager
                                </a>
                            </div>
                        </div>
                        <div class="row result-controls">
                            <div class="col-xl-6 filter-result">
                                <h6 class="">Search result: 3 records</h6>
                            </div>
                            <div class="col-xl-6">
                                <div class="table-controls">
                                    <div class="control-wrp">
                                        <label for="limit">Show limit</label>
                                        <input type="text" id="limit" class="form-control" value="20">
                                    </div>
                                    <div class="control-wrp">
                                        <label for="page">Page 1 of 32</label>
                                        <input type="text" id="page" class="form-control" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table practice-table mt-4">
                        <thead>
                            <tr>
                                <th scope="col" class="text-white">First Name</th>
                                <th scope="col" class="text-white">Middle Name</th>
                                <th scope="col" class="text-white">Last Name</th>
                                <th scope="col" class="text-white">Suffix</th>
                                <th scope="col" class="text-white">Username</th>
                                <th scope="col" class="text-white">Organization</th>
                                <th scope="col" class="text-white">Practice Location</th>
                                <th scope="col" class="text-white">Status</th>
                                <th scope="col" class="text-white"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Reyv</td>
                                <td>Moreno</td>
                                <td>Flores</td>
                                <td>Jr</td>
                                <td>ryvmrnflrs</td>
                                <td>OCHN</td>
                                <td>Oakland Community Health Network</td>
                                <td>Active</td>
                                <td class="d-flex align-items-center justify-content-end gap-2">
                                    <a href=""><i class='bx bx-edit' ></i></a>
                                    <a href=""><i class='bx bx-trash' ></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>