<div class="enc-content manage-tools-container">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <%= render partial: "verification_platform/encompass_sidebar"%>
      </div>
      <div class="col-xl-9">
        <%= render "verification_platform/encompass_nav"%>
        <%= render "menus"%>
          <%= yield %>
      </div>
    </div>
  </div>
</div>