<%= render "manage_tools_container" do %>
  <div class="d-flex justify-content-end gap-2 mt-3">
    <%= button_to "Add Schedule", nil, class: "btn button-sm"%>
  </div>
  <table class="table practice-table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th>Group Name</th>
            <th>Description</th>
            <th>Number of Members</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="d-flex gap-2">
                  <%= link_to(nil, class: "btn btn-primary") do %>
                        <i class="bx bx-pencil"></i>
                      <% end %>
                  <%= link_to(nil, class: "btn btn-danger") do %>
                        <i class="bi bi-trash"></i>
                      <% end %> 
              </div>
            </td>
        </tr>
    </tbody>
  </table>
<% end %>