<%= render "manage_tools_container" do %>
<div class="card">
    <div class="card-body table-responsive">
      <h4 class="card-heading">Correction Action Plan</h6>
      <table class="table practice-table mt-3">
        <thead>
            <tr>
                <th>Number</th>
                <th scope="col">Practice</th>
                <th>Questionnaire</th>
                <th>Review Date</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="py-3">Lorem</td>
                <td class="py-3">Lorem ipsum </td>
                <td class="py-3">Lorem</td>
                <td class="py-3">Lorem ipsum</td>
                <td class="py-3">Lorem ipsum</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
<% end %>
