<%= render "manage_tools_container" do %>
  <table class="table practice-table mt-3">
    <thead>
        <tr>
            <th scope="col">Practice</th>
            <th>Questionnaire</th>
            <th>Review Date</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem</td>
            <td>Lorem ipsum </td>
            <td>Lorem</td>
            <td>Lorem ipsum </td>
        </tr>
    </tbody>
  </table>
<% end %>