<div class="row mb-3">
		<div class="col-lg-1 d-flex justify-content-start gap-2">
			<a href="<%= new_enrollment_provider_path %>" class="btn btn-s border-0 <%= enrollment_nav_active('enrollment_providers,new')%>">Provider</a>
			<a href="<%= new_enroll_group_path %>" class="btn btn-s border-0 <%= enrollment_nav_active('enroll_groups','new')%>">Clients</a>
		</div>
</div>
