<table class="table">
  <thead>
    <tr>
      <th scope="col" class="bg-primary text-white">Name</th>
      <th scope="col" class="bg-primary text-white">Username</th>
      <th scope="col" class="bg-primary text-white">Email</th>
      <th scope="col" class="bg-primary text-white">Status</th>
      <th scope="col" class="bg-primary text-white">Role</th>
      <th scope="col" class="bg-primary text-white"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name here</th>
      <td>Mark123</td>
      <td>mark123@gmail.com</td>
      <td>Active</td>
      <th>Administrator</th>
      <th scope="row">
      	<a href="javascript:void(0);" class="text-primary"><i class="bi bi-pencil"></i></a>
      	<a href="javascript:void(0);" class="text-danger"><i class="bi bi-trash"></i></a>
      </th>
    </tr>
  </tbody>
</table>