<h3 class="text-primary">Payer Login</h3>
<% @provider.payer_logins.each do |payer_login|%>
<div class="row mb-1">
   <div class="col-lg-3">
      <label>Payer</label>
      <p class="text-black fw-semibold"><%= payer_login&.enrollment_payer %></p>
   </div>
   <div class="col-lg-3">
      <label>State</label>
      <p class="text-black fw-semibold"><%= payer_login&.state rescue nil %></p>
   </div>
   <div class="col-lg-3">
      <label>Username</label>
      <p class="text-black fw-semibold"><%= payer_login&.username rescue nil %></p>
   </div>
   <div class="col-lg-3">
      <label>Password</label>
      <p class="text-black fw-semibold"><%= payer_login&.password rescue nil %></p>
   </div>
</div>
<% end %>