<% @provider.required_state_licenses_fields.each do |field|%>
  <% if !@provider.submitted_missing_fields.include?(field[1])%>
  <div class="form-group mb-2">
    <label class="text-dark-grey"><%= field[0]%></label>
    <input type="text"  readonly="true" disabled name="" class="form-control border-dark bg-alt-grey">
  </div>
  <% end %>
<% end %>