<form>
<div class="row my-3">
   <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Please select all languages that your staff speaks</label>
      <div class="d-flex gap-2">
         <input type="text" name="" class="form-control" id="foreign_language_speak">
         <a href="javascript:void(0);" class="btn btn-md btn-primary add-text-readonly" style="width: 200px;" id="add_foreign_language_speak" data-takefrom="foreign_language_speak" data-putin="readonly_foreign_language_speak">Add</a>
      </div>
   </div>
   <div class="col-lg-12 mb-3">
      <div class="d-flex gap-2">
         <input type="text" name="readonly_foreign_language_speak" id="readonly_foreign_language_speak" class="form-control" readonly>
         <a href="javascript:void(0);" class="btn btn-md btn-danger remove-text-from-readonly" style="width: 200px;" id="remove_last_foreign_language_speak" data-removefrom="readonly_foreign_language_speak">Remove</a>
      </div>
   </div>
</div>
<div class="row my-3">
   <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Please select all languages that your staff writes</label>
      <div class="d-flex gap-2">
         <input type="text" name="" class="form-control" id="foreign_language_write">
         <a href="javascript:void(0);" class="btn btn-md btn-primary add-text-readonly" style="width: 200px;" id="add_foreign_language_write" data-takefrom="foreign_language_write" data-putin="readonly_foreign_language_write">Add</a>
      </div>
   </div>
   <div class="col-lg-12 mb-3">
      <div class="d-flex gap-2">
         <input type="text" name="foreign_language_write" id="readonly_foreign_language_write" class="form-control" readonly>
         <a href="javascript:void(0);" class="btn btn-md btn-danger remove-text-from-readonly" style="width: 200px;" id="remove_last_foreign_language_write" data-removefrom="readonly_foreign_language_write">Remove</a>
      </div>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12 mb-3">
      <%= HtmlUtils.radio_toggle name: 'practice_location_interpreter',
      label: 'Are interpreters available at this location?',
      toshow: 'practice_location_interpreters',
      hidden_field: true
    %>
   </div>
</div>
<div class="row my-3 <%= toggle_hide('practice_location_interpreter') %>" id="practice_location_interpreters">
   <div class="col-lg-12 mb-3">
      <label class="text-dark-grey">Please select all languages interpreted.</label>
      <div class="d-flex gap-2">
         <input type="text" name="" class="form-control" id="foreign_language_interprets">
         <a href="javascript:void(0);" class="btn btn-md btn-primary add-text-readonly" style="width: 200px;" id="add_foreign_language_interprets" data-takefrom="foreign_language_interprets" data-putin="readonly_foreign_language_interprets">Add</a>
      </div>
   </div>
   <div class="col-lg-12 mb-3">
      <div class="d-flex gap-2">
         <input type="text" name="practice_staff_foreign_laguages" id="readonly_foreign_language_interprets" class="form-control" readonly>
         <a href="javascript:void(0);" class="btn btn-md btn-danger remove-text-from-readonly" style="width: 200px;" id="remove_last_foreign_language_interprets" data-removefrom="readonly_foreign_language_interprets">Remove</a>
      </div>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12 d-flex justify-content-end">
      <%= link_to "Save & Next", provider_engage_path(component: 'practice_access', page: 'practice_location'), class: "btn btn-primary btn-md" %>
   </div>
</div>
</form>