<form>
<div class="row my-3">
   <div class="col-lg-12 mb-3">
      <label>Please select all languages that your staff speaks</label>
      <div class="d-flex gap-2">
         <input type="text" name="" class="form-control" id="foreign_language_speak">
         <a href="javascript:void(0);" class="btn btn-md btn-primary add-text-readonly" style="width: 200px;" id="add_foreign_language_speak" data-takefrom="foreign_language_speak" data-putin="readonly_foreign_language_speak">Add</a>
      </div>
   </div>
   <div class="col-lg-12 mb-3">
      <div class="d-flex gap-2">
         <input type="text" name="practice_staff_foreign_laguages" id="readonly_foreign_language_speak" class="form-control" readonly>
         <a href="javascript:void(0);" class="btn btn-md btn-danger remove-text-from-readonly" style="width: 200px;" id="remove_last_foreign_language_speak" data-removefrom="readonly_foreign_language_speak">Remove</a>
      </div>
   </div>
</div>
<div class="row my-3">
   <div class="col-lg-12 mb-3">
      <label>Please select all languages that your staff writes</label>
      <div class="d-flex gap-2">
         <input type="text" name="" class="form-control" id="foreign_language_write">
         <a href="javascript:void(0);" class="btn btn-md btn-primary add-text-readonly" style="width: 200px;" id="add_foreign_language_write" data-takefrom="foreign_language_write" data-putin="readonly_foreign_language_write">Add</a>
      </div>
   </div>
   <div class="col-lg-12 mb-3">
      <div class="d-flex gap-2">
         <input type="text" name="practice_staff_foreign_laguages" id="readonly_foreign_language_write" class="form-control" readonly>
         <a href="javascript:void(0);" class="btn btn-md btn-danger remove-text-from-readonly" style="width: 200px;" id="remove_last_foreign_language_write" data-removefrom="readonly_foreign_language_write">Remove</a>
      </div>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12 mb-3">
      <div class="d-flex align-items-center my-3">
         <button type="button" class="btn btn-xs btn-toggle has-to-show to-change-value" data-tochange="practice_location_interpreters" data-toshow="interpreter_languages" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
         </button>
         <span class="ms-2">Are interpreters available at this location?</span>
      </div>
      <input type="hidden" value="no" name="practice_location_interpreters">
   </div>
</div>
<div class="row my-3 d-none" id="interpreter_languages">
   <div class="col-lg-12 mb-3">
      <label>Please select all languages interpreted.</label>
      <div class="d-flex gap-2">
         <input type="text" name="" class="form-control" id="foreign_language_interprets">
         <a href="javascript:void(0);" class="btn btn-md btn-primary add-text-readonly" style="width: 200px;" id="add_foreign_language_interprets" data-takefrom="foreign_language_interprets" data-putin="readonly_foreign_language_interprets">Add</a>
      </div>
   </div>
   <div class="col-lg-12 mb-3">
      <div class="d-flex gap-2">
         <input type="text" name="practice_staff_foreign_laguages" id="readonly_foreign_language_interprets" class="form-control" readonly>
         <a href="javascript:void(0);" class="btn btn-md btn-danger remove-text-from-readonly" style="width: 200px;" id="remove_last_foreign_language_interprets" data-removefrom="readonly_foreign_language_interprets">Remove</a>
      </div>
   </div>
</div>
<div class="row mb-3">
   <div class="col-lg-12 d-flex justify-content-end">
      <button class="btn btn-primary btn-md">Save & Next</button>
   </div>
</div>
</form>