<form>
<div class="row my-3">
   <div class="col-lg-12">
      <div class="d-flex align-items-center">
         <span class="ms-2">Do mid-level practitioners (nurse practitioners, nurse midwives, physician assistants, registered nurse first assistant, etc.) care for patients at this location? *</span>
      </div>
   </div>
   <div class="col-lg-12 mt-2">
     <div class="d-flex gap-2">
       <%= HtmlUtils.radio_toggle name: 'midlevel_practitioner_field',
          label: '',
          toshow: 'midlevel_practitioner_fields',
          hidden_field: true
        %>
        </div>
   </div>
</div>
<div id="midlevel_practitioner_fields" class="d-none">
<div class="row my-3 ">
   <div class="col-lg-4">
    <label class="text-dark-grey">First Name *</label>
      <input type="text" name="practice_midlevel_first_name" required class="form-control">
    </div>
   <div class="col-lg-2">
    <label class="text-dark-grey">Middle Name</label>
      <input type="text" name="practice_midlevel_middle_name" class="form-control">
    </div>
   <div class="col-lg-6">
    <label class="text-dark-grey">Last Name *</label>
      <input type="text" name="practice_midlevel_last_name" required class="form-control">
    </div>
</div>

<div class="row mb-3">
   <div class="col-lg-12">
    <label class="text-dark-grey">Mid-Level Practitioner Degree *</label>
      <input type="text" name="practice_midlevel_degree" required class="form-control">
    </div>
</div>

<div class="row mb-3">
   <div class="col-lg-6">
    <label class="text-dark-grey">Primary License State</label>
        <select required class="form-select border-dark" name="practice_midlevel_state">
          <option value="">State *</option>
          <% @states.each do |state| %>
            <option value="<%= state.name %>"><%= state.name %></option>
          <% end %>
        </select>
    </div>
   <div class="col-lg-6">
    <label class="text-dark-grey">Primary License Number</label>
      <input type="text" name="practice_midlevel_degree" class="form-control">
    </div>
</div>
</div>
<div class="row mb-3">
     <!-- <div class="col-lg-12 d-flex justify-content-end">
      <button class="btn btn-primary btn-md">Save & Next</button>
   </div> -->
</div>

</form>