<h3 class="text-primary">Certified Nurse Practitioner License</h3>
<% @provider.cnp_licenses.each do |cnp_license|%>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>CNP License Number</label>
      <p class="text-black fw-semibold"><%= cnp_license&.cnp_license_number %></p>
   </div>
   <div class="col-lg-6">
      <label>CNP License Effective Date</label>
      <p class="text-black fw-semibold"><%= cnp_license&.effective_date&.strftime('%B %d, %Y') %></p>
   </div>
</div>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>CNP License Expiration Date</label>
      <p class="text-black fw-semibold"><%= cnp_license&.expiration_date&.strftime('%B %d, %Y') %></p>
   </div>
</div>
<% end %>
<% if @provider.cnp_licenses.blank? %>
<div class="row mb-1">
   <div class="col-lg-12">
      <label>No CNP License record to show</label>
   </div>
</div>
<% end %>