<h3 class="text-primary">MCC License</h3>
<% @provider.mccs.each do |mcc|%>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>MCC Username</label>
      <p class="text-black fw-semibold"><%= mcc.mcc_username %></p>
   </div>
   <div class="col-lg-6">
      <label>MCC Password</label>
      <p class="text-black fw-semibold"><%= mcc.password %></p>
   </div>
</div>
<div class="row mb-1">
   <div class="col-lg-6">
      <label>MCC Electronic Signature Code</label>
      <p class="text-black fw-semibold"><%= mcc.mcc_electronic_signature_code %></p>
   </div>
</div>
<% end %>
<% if @provider.mccs.blank? %>
<div class="row mb-1">
   <div class="col-lg-12">
      <label>No MCC Licenses to show</label>
   </div>
</div>
<% end %>
