 <div class="row mb-1">
        <div class="col-lg-6">
            <label>SSN</label>
            <p class="text-black fw-semibold"><%= @provider.admitting_facility_state %></p>
        </div>
        <div class="col-lg-6">
            <label>NPI</label>
            <p class="text-black fw-semibold"><%= @provider.admitting_facility_zip_code %></p>
        </div>
</div>