<div class="mb-2">
   <div class="d-flex gap-1">
      <%= link_to "Work Tickler", work_ticklers_path, class: "btn #{params[:page].nil? ? encompass_active_classes : encompass_idle_classes} py-1"%>
      <%= link_to "Privileges Work Tickler", work_ticklers_path(page: 'privileges_work_tickler'), class: "btn #{params[:page] == 'privileges_work_tickler' ? encompass_active_classes : encompass_idle_classes}  py-1"%>
      <%= link_to "Enrollment Work Tickler", work_ticklers_path(page: 'enrollment_work_tickler'), class: "btn #{params[:page] == 'enrollment_work_tickler' ? encompass_active_classes : encompass_idle_classes} py-1"%>
   </div>
</div>
