<div class="content container-fluid">
   <%= render partial: "verification_platform/encompass_nav"%>
</div>
<%= render 'user_restriction', locals: { access_key: 'Work Tickler' } do %>
<div class="enc-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-3">
            <%= render partial: "verification_platform/encompass_sidebar"%>
         </div>
         <div class="col-xl-9">
            <%= render "work_ticker_nav"%>
            <table class="table table-bordered practice-table mt-3">
               <thead>
                  <tr>
                     <th class="text-white" scope="col">No.</th>
                     <th class="text-white">Work Tickler</th>
                  </tr>
               </thead>
               <tbody>
                  <button id="backToTopBtn" class="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
                  <tr>
                     <td>1</td>
                     <td><a href="">AHP Certification Expiring</a></td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td><a href="">AHP Certification Expired</a></td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td><a href="">AHP Certification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td><a href="">AHP Certification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td><a href="">AHP Certification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td><a href="">Application Incomplete</a></td>
                  </tr>
                  <tr>
                     <td>7</td>
                     <td><a href="">Application Not Received</a></td>
                  </tr>
                  <tr>
                     <td>8</td>
                     <td><a href="">Adverse Action</a></td>
                  </tr>
                  <tr>
                     <td>9</td>
                     <td><a href="">Audit 1</a></td>
                  </tr>
                  <tr>
                     <td>10</td>
                     <td><a href="">Audit 2</a></td>
                  </tr>
                  <tr>
                     <td>11</td>
                     <td><a href="">Board Certification Expiring</a></td>
                  </tr>
                  <tr>
                     <td>12</td>
                     <td><a href="">Board Certification Expired</a></td>
                  </tr>
                  <tr>
                     <td>13</td>
                     <td><a href="">Board Certification Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>14</td>
                     <td><a href="">Board Certification Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>15</td>
                     <td><a href="">Board Certification Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>16</td>
                     <td><a href="">Board Certification Webcrawler Discrepancy</a></td>
                  </tr>
                  <tr>
                     <td>17</td>
                     <td><a href="">CDS Expiring</a></td>
                  </tr>
                  <tr>
                     <td>18</td>
                     <td><a href="">CDS Expired</a></td>
                  </tr>
                  <tr>
                     <td>19</td>
                     <td><a href="">CDS Requiring Manual Monitoring</a></td>
                  </tr>
                  <tr>
                     <td>20</td>
                     <td><a href="">CDS Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>21</td>
                     <td><a href="">CDS Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>22</td>
                     <td><a href="">CDS Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>23</td>
                     <td><a href="">CDS Webcrawler Discrepancy</a></td>
                  </tr>
                  <tr>
                     <td>24</td>
                     <td><a href="">Covering Physician Terminated</a></td>
                  </tr>
                  <tr>
                     <td>25</td>
                     <td><a href="">DEA Expiring</a></td>
                  </tr>
                  <tr>
                     <td>26</td>
                     <td><a href="">DEA Expired</a></td>
                  </tr>
                  <tr>
                     <td>27</td>
                     <td><a href="">DEA Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>28</td>
                     <td><a href="">DEA Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>29</td>
                     <td><a href="">DEA Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>30</td>
                     <td><a href="">DEA Webcrawler Discrepancy</a></td>
                  </tr>
                  <tr>
                     <td>31</td>
                     <td><a href="">ECFMG Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>32</td>
                     <td><a href="">ECFMG Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>33</td>
                     <td><a href="">ECFMG Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>34</td>
                     <td><a href="">Education Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>35</td>
                     <td><a href="">Education Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>36</td>
                     <td><a href="">Education Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>37</td>
                     <td><a href="">Employment/Facilities History Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>38</td>
                     <td><a href="">Employment Gap</a></td>
                  </tr>
                  <tr>
                     <td>39</td>
                     <td><a href="">Employment History Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>40</td>
                     <td><a href="">Employment History Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>41</td>
                     <td><a href="">Employment History Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>42</td>
                     <td><a href="">Fee Not Paid</a></td>
                  </tr>
                  <tr>
                     <td>43</td>
                     <td><a href="">FSMB Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>44</td>
                     <td><a href="">FSMB Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>45</td>
                     <td><a href="">FSMB Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>46</td>
                     <td><a href="">EPLS Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>47</td>
                     <td><a href="">EPLS Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>48</td>
                     <td><a href="">EPLS Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>49</td>
                     <td><a href="">EPLS Webcrawler Discrepancy</a></td>
                  </tr>
                  <tr>
                     <td>50</td>
                     <td><a href="">Healthcare Facilities Affiliation Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>51</td>
                     <td><a href="">Healthcare Facilities Affiliation Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>52</td>
                     <td><a href="">Healthcare Facilities Affiliation Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>53</td>
                     <td><a href="">License Adverse Action</a></td>
                  </tr>
                  <tr>
                     <td>54</td>
                     <td><a href="">License Expiring</a></td>
                  </tr>
                  <tr>
                     <td>55</td>
                     <td><a href="">License Expired</a></td>
                  </tr>
                  <tr>
                     <td>56</td>
                     <td><a href="">License Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>57</td>
                     <td><a href="">License Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>58</td>
                     <td><a href="">License Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>59</td>
                     <td><a href="">License Webcrawler Discrepancy</a></td>
                  </tr>
                  <tr>
                     <td>60</td>
                     <td><a href="">Licenses Requiring Manual Monitoring</a></td>
                  </tr>
                  <tr>
                     <td>61</td>
                     <td><a href="">NPDB Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>62</td>
                     <td><a href="">NPDB Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>63</td>
                     <td><a href="">NPDB Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>64</td>
                     <td><a href="">OIG Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>65</td>
                     <td><a href="">OIG Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>66</td>
                     <td><a href="">OIG Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>67</td>
                     <td><a href="">Other Certification Expiring</a></td>
                  </tr>
                  <tr>
                     <td>68</td>
                     <td><a href="">Other Certification Expired</a></td>
                  </tr>
                  <tr>
                     <td>69</td>
                     <td><a href="">Paper Copy Not Received</a></td>
                  </tr>
                  <tr>
                     <td>70</td>
                     <td><a href="">Peer Reference Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>71</td>
                     <td><a href="">Peer Reference Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>72</td>
                     <td><a href="">Peer Reference Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>73</td>
                     <td><a href="">Practitioner Records Expired</a></td>
                  </tr>
                  <tr>
                     <td>74</td>
                     <td><a href="">Practitioner Records Expiring</a></td>
                  </tr>
                  <tr>
                     <td>75</td>
                     <td><a href="">Practitioner Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>76</td>
                     <td><a href="">Practitioner Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>77</td>
                     <td><a href="">Practitioner Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>78</td>
                     <td><a href="">Primary Resignation</a></td>
                  </tr>
                  <tr>
                     <td>79</td>
                     <td><a href="">Professional Liability and Claims History Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>80</td>
                     <td><a href="">Professional Liability and Claims History Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>81</td>
                     <td><a href="">Professional Liability and Claims History Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>82</td>
                     <td><a href="">Professional Liability Expiring</a></td>
                  </tr>
                  <tr>
                     <td>83</td>
                     <td><a href="">Professional Liability Expired</a></td>
                  </tr>
                  <tr>
                     <td>84</td>
                     <td><a href="">Quality Audit</a></td>
                  </tr>
                  <tr>
                     <td>85</td>
                     <td><a href="">Reappointment</a></td>
                  </tr>
                  <tr>
                     <td>86</td>
                     <td><a href="">Signature Expiring/Expired</a></td>
                  </tr>
                  <tr>
                     <td>87</td>
                     <td><a href="">Signature On File</a></td>
                  </tr>
                  <tr>
                     <td>88</td>
                     <td><a href="">Sponsoring/Supervising Physician Terminated</a></td>
                  </tr>
                  <tr>
                     <td>89</td>
                     <td><a href="">TB PPD Expiring</a></td>
                  </tr>
                  <tr>
                     <td>90</td>
                     <td><a href="">TB PPD Expired</a></td>
                  </tr>
                  <tr>
                     <td>91</td>
                     <td><a href="">Teaching Appointment Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>92</td>
                     <td><a href="">Teaching Appointment Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>93</td>
                     <td><a href="">Teaching Appointment Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>94</td>
                     <td><a href="">Training Verification Not Requested</a></td>
                  </tr>
                  <tr>
                     <td>95</td>
                     <td><a href="">Training Verification Requested and Not Received</a></td>
                  </tr>
                  <tr>
                     <td>96</td>
                     <td><a href="">Training Verification Received and Not Verified</a></td>
                  </tr>
                  <tr>
                     <td>97</td>
                     <td><a href="">Profile Generation Error</a></td>
                  </tr>
                  <tr>
                     <td>98</td>
                     <td><a href="">SAM Unable to Verify</a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<% end %>
