<div class="enc-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xl-3">
            <%= render partial: "verification_platform/encompass_sidebar"%>
         </div>
         <div class="col-xl-9">
            <%= render partial: "verification_platform/encompass_nav"%>
            <%= render "work_ticker_nav"%>
            <table class="table table-bordered practice-table mt-3">
               <thead>
                  <tr>
                     <th  class="text-white" scope="col">No.</th>
                     <th class="text-white">Privileges Work Tickler</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td><a href="">Practitioners Under Monitoring</a></td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td><a href="">Practitioners Under Proctoring Review</a></td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td><a href="">Practitioners With Proctoring Complete</a></td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td><a href="">Privileges Requested</a></td>
                  </tr>
                  <tr>
                     <td>5</td>
                     <td><a href="">Privileges Under Review</a></td>
                  </tr>
                  <tr>
                     <td>6</td>
                     <td>
                        <a href="">
                           Proctoring Cases Met But Not Checked Complete/a>
                     </td>
                  </tr>
                  <tr>
                  <td>7</td>
                  <td><a href="">Proctoring Period Expiring/Expired</a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
