    <div class="enc-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <%= render partial: "verification_platform/encompass_sidebar"%>
                </div>
                <div class="col-xl-9">
                    <%= render partial: "verification_platform/encompass_nav"%>
                    <%= render "query_report_top_nav"%>
                    <table class="table practice-table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th class="text-white" scope="col">ID #</th>
                                <th class="text-white">Reports</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>