 <div class="content container-fluid">
  <%= render "verification_platform/encompass_nav"%>
 </div>
 <%= render 'user_restriction', locals: { access_key: 'Query Report' } do %>
 <div class="enc-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
              <%= render partial: "verification_platform/encompass_sidebar"%>
          </div>
          <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-12">
                <%= render "query_report_top_nav"%>
                </div>
                <div class="col-lg-12">

                    <table class="table table-bordered practice-table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th class="text-white" scope="col">No.</th>
                                <th class="text-white">Reports</th>
                                <th class="text-white">Enrollment Reports</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="javascript:void(0);">Add IPA Group through Email</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Adverse Action Review</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Affiliation History</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Aging Report</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Applicant Aging Report</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Application Not Received History</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Audit Errors</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Billing Companies</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Billing Report</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Board Certification</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">CDS</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">CMRI</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Confidential Contacts</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Continuing Medical Education</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Credentialing Contacts</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">DEA</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">ECFMG</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Education</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Employment History</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">EPLS Exclusions and Reinstatements</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Facility Affiliations</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Fees Paid</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Foreign Languages Spoken</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">FSMB Sanctions</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Health Plans</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Liability Action</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">License Delta</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">License Renewal</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">License Sanctions</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Licensure</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Meeting Attendance Report - Practitioner Attendance By Meeting
                                    Date</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Meeting Attendance Report - Summary Practitioner Attendance</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Meeting Attendance Report - Summary Practitioner Attendance
                                    By Meeting</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Other Certifications</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Peer References</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Practitioner Add/Append/Removed/Cancelled History</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Practitioner Age Report</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Practitioner Modification Address Change Count by User</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Practitioner Modification Tracking by Practitioner</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Practitioner Modification Tracking Count by User</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Practitioner Modification Tracking Report</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Practitioner Records Removal Report</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Professional Liability Carriers</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Professional Organization</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Sponsoring Physicians</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Staff Demographics</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Staff Directory</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">TAT Report</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Teaching Appointments</a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="javascript:void(0);">Training</a></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>
<% end %>
