
    <div class="enc-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                  <%= render partial: 'verification_platform/encompass_sidebar'%>
                </div>
                <div class="col-xl-9">
                    <%= render partial: 'verification_platform/encompass_nav'%>
                    <%= render "query_report_top_nav"%>
                    <form action="">
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <label for="meeting-title">Meeting Title:</label>
                                <select name="meeting-title" id="meeting-title" class="form-select py-1">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-6 d-flex align-items-end">
                                <div class="d-flex gap-2">
                                    <button type="button" class="btn btn-primary py-1">
                                        Filter
                                    </button>
                                    <button type="button" class="btn btn-primary py-1">
                                        Print HTML
                                    </button>
                                    <button type="button" class="btn btn-primary py-1">
                                        Print Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex">
                        <div class="legend-wrp mt-3">
                            <span class="enc-legend">
                                P: Present
                            </span>
                            <span class="enc-legend">
                                A: Absent
                            </span>
                            <span class="enc-legend">
                                E: Excused
                            </span>
                            <span class="enc-legend">
                                I: Invited
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>