<div class="content container-fluid">
	<div class="row mb-3">
    <div class="col-lg-12">
      <h2>
        PDF Populator
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <%= form_with url: request.url, method: :get, html: { local: true, class: 'form_search_with_icon no-loader'} do |form| %>
         <%= form.select :provider_id, options_for_select(Provider.all.map{|provider| [provider.fullname, provider.id]}), { prompt: 'Select Provider' }, {class: 'form-select border-dark mb-2', required: true}  %>
         <%= form.select :pdf_form, options_for_select([
           ['Careington | Dental Network Provider Application & Agreement','careington'],
           #  ['Paper | Provider Application', 'paper'],
           ['EmblemHealth | Dental Network Application', 'emblemhealth']
          ]), { prompt: 'Select PDF Form' }, {class: 'form-select border-dark', required: true}  %>
         <%= form.submit "Populate Provider Data", class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  </div>
	<br>
</div>
