<div class="position-relative">
    <h5 class="mt-2 text-center"><%= title %></h5>
    <a href="javascript:void(0);" class="collapsible-trigger position-absolute text-black <%= current_user.is_card_open?(collapse_name) ? '' : 'rotate-collapse'%>" data-collapse="<%= collapse_name %>"><i class="bi bi-sort-up rotate-180"></i></a>
</div>