<div class="position-relative">
    <h5 class='d-flex align-items-center m-0'>
        <%= HtmlUtils.role_based_access_checkbox title: title, role: @role_based %>
    </h5>
    <!-- rotate-collapse -->
    <a href="javascript:void(0);" class="collapsible-trigger position-absolute text-black d-none" data-collapse="<%= collapse_name %>"><i class="bi bi-sort-up rotate-180"></i></a>
</div>