<div class="field mb-1 py-3">
  <div class="row">
    <div class="col-lg-6">
      <label class="text-dark-grey">Security Question</label>
      <%= q.text_field :secret_question, placeholder: 'Group Number', class: 'form-control border-dark' %>
    </div>
    <div class="col-lg-6">
      <label class="text-dark-grey">Answer</label>
      <%= q.text_field :answer, placeholder: 'Group Number', class: 'form-control border-dark' %>
    </div>
  </div>
</div>