<%= render "system_navs"%>
   
    <div class="cp-content">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-row row">
                            <div class="col-xl-5">
                                <select name="" id="" class="form-select py-1">
                                    <option value="">Medversant LLC</option>
                                </select>
                            </div>
                        </div>
                        <%= render partial: "systems/acl_top_nav"%>
                        <div class="form-row row mt-3">
                            <div class="col-xl-5">
                                <label for="">Groups/Roles:</label>
                                <select name="" id="" class="form-select py-1">
                                    <option value="">Client Admin</option>
                                </select>
                            </div>
                            <div class="col-xl-5 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary py-1">
                                    Save
                                </button>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <label for="">List of available features:</label>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-4">
                                <div class="pane-sm">
                                    <div class="form-row">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="data-access-check" value="">
                                            <label class="form-check-label" for="data-access-check">Data Access</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="expedited-request-check" value="">
                                            <label class="form-check-label" for="expedited-request-check">Expedited Request</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="progress-lookup-check" value="">
                                            <label class="form-check-label" for="progress-lookup-check">Progress Lookup</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="request-history-check" value="">
                                            <label class="form-check-label" for="request-history-check">Request History</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="search-list-check" value="">
                                            <label class="form-check-label" for="search-list-check">Search by List</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="search-query-check" value="">
                                            <label class="form-check-label" for="search-query-check">Search by Query</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="pane-sm">
                                    <div class="form-row">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="VRC-check" value="">
                                            <label class="form-check-label" for="VRC-check">VRC</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="documents-check" value="">
                                            <label class="form-check-label" for="documents-check">Documents</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="issue-report-check" value="">
                                            <label class="form-check-label" for="issue-report-check">Issue/Result</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="minutes-check" value="">
                                            <label class="form-check-label" for="minutes-check">Minutes</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="reports-check" value="">
                                            <label class="form-check-label" for="reports-check">Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="scheduler-check" value="">
                                            <label class="form-check-label" for="scheduler-check">Scheduler</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="work-tickler-check" value="">
                                            <label class="form-check-label" for="work-tickler-check">Work Tickler</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="pane-sm">
                                    <div class="form-row">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="users-check" value="">
                                            <label class="form-check-label" for="users-check">Users</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="org-profile-check" value="">
                                            <label class="form-check-label" for="org-profile-check">Organization Profile</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="org-users-check" value="">
                                            <label class="form-check-label" for="org-users-check">Organization Users</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-8">
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <div class="pane-sm">
                                            <div class="form-row">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="clients-check" value="">
                                                    <label class="form-check-label" for="clients-check">Clients</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="client-org-profile-check" value="">
                                                    <label class="form-check-label" for="client-org-profile-check">Organization Profile</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="sub-clients-check" value="">
                                                    <label class="form-check-label" for="sub-clients-check">Sub Clients</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="pane-sm">
                                            <div class="form-row">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="systems-check" value="">
                                                    <label class="form-check-label" for="systems-check">Systems</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="ACL-check" value="">
                                                    <label class="form-check-label" for="ACL-check">ACL</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="data-import-check" value="">
                                                    <label class="form-check-label" for="data-import-check">Data Import</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="data-lookup-check" value="">
                                                    <label class="form-check-label" for="data-lookup-check">Data Lookup</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="features-check" value="">
                                                    <label class="form-check-label" for="features-check">Features</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row row mt-3">
                                    <div class="col-xl-6">
                                        <div class="pane-sm">
                                            <div class="form-row">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="service-check" value="">
                                                    <label class="form-check-label" for="service-check">Service</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="attestation-xml-check" value="">
                                                    <label class="form-check-label" for="attestation-xml-check">Attestation Xml</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="doc-synch-check" value="">
                                                    <label class="form-check-label" for="doc-synch-check">Doc Synch</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="NCQA-xml-check" value="">
                                                    <label class="form-check-label" for="NCQA-xml-check">NCQA Xml</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="NPDB-check" value="">
                                                    <label class="form-check-label" for="NPDB-check">NPDB</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="template-check" value="">
                                                    <label class="form-check-label" for="template-check">Template</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="pane-sm">
                                            <div class="form-row">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="screening-check" value="">
                                                    <label class="form-check-label" for="screening-check">Screening</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="screening-pane-report-check" value="">
                                                    <label class="form-check-label" for="screening-pane-report-check">Report</label>
                                                </div>
                                            </div>
                                            <div class="form-row sub-list">
                                                <div class=" form-check d-flex align-items-center gap-2">
                                                    <input class="form-check-input" type="checkbox" id="review-check" value="">
                                                    <label class="form-check-label" for="review-check">Review</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="pane-sm">
                                    <div class="form-row">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="reports-check" value="">
                                            <label class="form-check-label" for="reports-check">Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="act-reports-check" value="">
                                            <label class="form-check-label" for="act-reports-check">Activity Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="compliance-reports-check" value="">
                                            <label class="form-check-label" for="compliance-reports-check">Compliance Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="cred-reports-check" value="">
                                            <label class="form-check-label" for="cred-reports-check">Cred Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="daily-attest-reports-check" value="">
                                            <label class="form-check-label" for="daily-attest-reports-check">Daily Attest Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="data-reports-check" value="">
                                            <label class="form-check-label" for="data-reports-check">Data Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="inventory-reports-check" value="">
                                            <label class="form-check-label" for="inventory-reports-check">Inventory Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="monitoring-reports-check" value="">
                                            <label class="form-check-label" for="monitoring-reports-check">Monitoring Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="non-participant-reports-check" value="">
                                            <label class="form-check-label" for="non-participant-reports-check">Non-Participant Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="outreach-reports-check" value="">
                                            <label class="form-check-label" for="outreach-reports-check">Outreach Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="provider-reports-check" value="">
                                            <label class="form-check-label" for="provider-reports-check">Provider Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="recred-reports-check" value="">
                                            <label class="form-check-label" for="recred-reports-check">Recred Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="screening-reports-check" value="">
                                            <label class="form-check-label" for="screening-reports-check">Screening Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="term-reports-check" value="">
                                            <label class="form-check-label" for="term-reports-check">Term Reports</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="trending-reports-check" value="">
                                            <label class="form-check-label" for="trending-reports-check">Trending Reports</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-4">
                                <div class="pane-sm">
                                    <div class="form-row">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="support-check" value="">
                                            <label class="form-check-label" for="support-check">Support</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="tasks-check" value="">
                                            <label class="form-check-label" for="tasks-check">Tasks</label>
                                        </div>
                                    </div>
                                    <div class="form-row sub-list">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="workflow-check" value="">
                                            <label class="form-check-label" for="workflow-check">Workflow</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="pane-sm">
                                    <div class="form-row">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="pre-app-check" value="">
                                            <label class="form-check-label" for="pre-app-check">Pre-Application</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="pane-sm">
                                    <div class="form-row">
                                        <div class=" form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="checkbox" id="search-all-check" value="">
                                            <label class="form-check-label" for="search-all-check">Search All</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>