<div class="row p-4 view-summary" id="page6">
	<div class="col-lg-12 text-black border border-dark px-0 pb-0">
		<%= HtmlUtils.table_section_header title: '12. Attestation & Signature' %>
			<div class="row border-bottom border-dark g-0 m-0 p-1">
			   <div class="col-lg-12 p-0">
			      <p>
			         Authorization of Release and Exchange of Disciplinary Information. I hereby further authorize any third party at which I currently have Participation or hadParticipation and/or each third party's agents to release ""Disciplinary Information,"" as defined below, to the Entity and/or its Agent(s). I hereby further authorize the Agent(s) to release Disciplinary Information about any disciplinary action taken against me to its participating Entities at which I have Participation, and as may be otherwise required by law. As used herein, ""Disciplinary Information"" means information concerning (i) any action taken by such health care organizations, their administrators, or their medical or other committees to revoke, deny, suspend, restrict, or condition my Participation or impose a corrective action plan; (ii) any other disciplinary action involving me, including, but not limited to, discipline in the employment context; or (iii) my resignation prior to the conclusion of any disciplinary proceedings or prior to the commencement of formal charges, but after I have knowledge that such formal charges were being (or are being) contemplated and/or were (or are) in preparation.
			      </p>
			      <p>
			         Release from Liability. I release from all liability and hold harmless any Entity, its Agent(s), and any other third party for their acts performed in good faith and without malice unless such acts are due to the gross negligence or willful misconduct of the Entity, its Agent(s), or other third party in connection with the gathering, release and exchange of, and reliance upon, information used in accordance with this Authorization, Attestation and Release. I further agree not to sue any Entity, any Agent(s), or any other third party for their acts, defamation or any other claims based on statements made in good faith and without malice or misconduct of such Entity, Agent(s) or third party in connection with the credentialing process. This release shall be in addition to, and in no way shall limit, any other applicable immunities provided by law for peer review and credentialing activities. In this Authorization, Attestation and Release, all references to the Entity, its Agent(s), and/or other third party include their respective employees, directors, officers, advisors, counsel, and agents. The Entity or any of its affiliates or agents retains the right to allow access to the application information for purposes of a credentialing audit to customers and/or their auditors to the extent required in connection with an audit of the credentialing processes and provided that the customer and/or their auditor executes an appropriate confidentiality agreement. I understand and agree that this Authorization, Attestation and Release is irrevocable for any period during which I am an applicant for Participation at an Entity, a member of an Entity's medical or health care staff, or a participating provider of an Entity. I agree to execute another form of consent if law or regulation limits the application of this irrevocable authorization. I understand that my failure to promptly provide another consent may be grounds for termination or discipline by the Entity in accordance with the applicable bylaws, rules, and regulations, and requirements of the Entity, or grounds for my termination of Participation at or with the Entity. I agree that information obtained in accordance with the provisions of this Authorization, Attestation and Release is not and will not be a violation of my privacy.
			      </p>
			      <p>
			         I certify that all information provided by me in my application is current, true, correct, accurate and complete to the best of my knowledge and belief, and is furnished in good faith. I will notify the Entity and/or its Agent(s) within 10 days of any material changes to the information (including any changes/challenges to licenses, DEA, insurance, malpractice claims, NPDB/HIPDB reports, discipline, criminal convictions, etc.) I have provided in my application or authorized to be released pursuant to the credentialing process. I understand that corrections to the application are permitted at any time prior to a determination of Participation by the Entity, and must be submitted online or in writing, and must be dated and signed by me (may be a written or an electronic signature). I acknowledge that the Entity will not process an application until they deem it to be a complete application and that I am responsible to provide a complete application and to produce adequate and timely information for resolving questions that arise in the application process. I understand and agree that any material misstatement or omission in the application may constitute grounds for withdrawal of the application from consideration; denial or revocation of Participation; and/or immediate suspension or termination of Participation. This action may be disclosed to the Entity and/or its Agent(s). I further acknowledge that I have read and understand the foregoing Authorization, Attestation and Release and that I have access to the bylaws of applicable medical staff organizations and agree to abide by these bylaws, rules and regulations. I understand and agree that a facsimile or photocopy of this Authorization, Attestation and Release shall be as effective as the original.
			      </p>
			   </div>
			</div>
			<div class="row g-0 border-bottom border-dark">
				<div class="col-lg-6 border-end border-dark ">
					<h5 class="mt-2 ms-2">Signature</h5>
				</div>
				<div class="col-lg-6 h-30px">
					<h5 class="mt-2 ms-2">Signature Date</h5>
				</div>
			</div>
			<div class="row g-0">
				<div class="col-lg-12 border-bottom border-dark" style="height:150px;"></div>
			</div>
			<div class="row g-0">
				<div class="col-lg-12" style="height:250px;"></div>
			</div>
			</div>

	<%= HtmlUtils.summary_footer page: 16 %>

</div>


<div class="row">
	<div class="col-lg-12 d-flex justify-content-end px-5 gap-3">
		<a href="javascript:void(0);" class="btn btn-primary btn-md btn-print" data-toprint="page16">Print/Download</a>
		<a href="<%= view_summary_index_path(page: 15) %>" class="btn btn-primary btn-md">Previous Page</a>
	</div>
</div>