<div class="row mt-3 mb-3">
	<div class="col-lg-6">
		<h5>Search Result: 4 records</h5>
	</div>
	<div class="col-lg-6">

				<label for="">Show Limit: </label>
				<input type="text" value="2" style="width: 35px; text-align: center; font-size: 12px; margin-right: 8px;">
				<label for="">Page 3 of 32 </label>
				<input type="text" value="1" style="width: 35px; text-align: center; font-size: 12px;" class="">
				<select name="" id="" class="" style="padding:8px; background-color: #ddd; border: 0px; border-radius: 5px; margin-left: 4px;">
					<option value="completed">Completed</option>
				</select>
				<button class="btn btn-sm btn-primary">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px;">
							<path d="M12 1.5a.75.75 0 01.75.75V7.5h-1.5V2.25A.75.75 0 0112 1.5zM11.25 7.5v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V7.5h3.75a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9a3 3 0 013-3h3.75z" />
					</svg>
					Download Documents
				</button>
	</div>
</div>

<div class="row mt-2">
	<table id="vrc-table" class="border shadow p-3 mb-5 bg-white rounded table table-striped" >
		<thead style="background-color: #377dff; color: #fff;">
			<tr>
				<th>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</th>
				<th>Provider Name</th>
				<th>State</th>
				<th>Provider Type</th>
				<th>Cred Cycle</th>
				<th>PSC Completed Date</th>
				<th>Review Level</th>
				<th>Recred Due Date</th>
				<th>Review Date</th>
				<th>Committee Date</th>
				<th>Vote Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody class="bg-light">
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px; color: #00c9a7;">
						<path fill-rule="evenodd" d="M9 1.5H5.625c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5zm6.61 10.936a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 14.47a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
						<path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
				</svg>
				Bennet, Lindsay</td>
				<td>OR</td>
				<td>Physician Assistant</td>
				<td>Credential</td>
				<td>10/13/2022</td>
				<td>Expedited</td>
				<td>02/12/2024</td>
				<td>10/13/2019</td>
				<td>10/20/2019</td>
				<td>3/18/2021</td>
				<td>Approved</td>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px; color: #00c9a7;">
						<path fill-rule="evenodd" d="M9 1.5H5.625c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5zm6.61 10.936a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 14.47a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
						<path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
				</svg>

					Bennet, Lindsay</td>
				<td>OR</td>
				<td>Physician Assistant</td>
				<td>Credential</td>
				<td>10/13/2022</td>
				<td>Expedited</td>
				<td>02/12/2024</td>
				<td>10/13/2019</td>
				<td>10/20/2019</td>
				<td>3/18/2021</td>
				<td>Approved</td>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px; color: #00c9a7;">
						<path fill-rule="evenodd" d="M9 1.5H5.625c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5zm6.61 10.936a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 14.47a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
						<path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
				</svg>

					Bennet, Lindsay</td>
				<td>OR</td>
				<td>Physician Assistant</td>
				<td>Credential</td>
				<td>10/13/2022</td>
				<td>Expedited</td>
				<td>02/12/2024</td>
				<td>10/13/2019</td>
				<td>10/20/2019</td>
				<td>3/18/2021</td>
				<td>Approved</td>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 18px; color: #00c9a7;">
						<path fill-rule="evenodd" d="M9 1.5H5.625c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5zm6.61 10.936a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 14.47a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
						<path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
				</svg>

					Bennet, Lindsay</td>
				<td>OR</td>
				<td>Physician Assistant</td>
				<td>Credential</td>
				<td>10/13/2022</td>
				<td>Expedited</td>
				<td>02/12/2024</td>
				<td>10/13/2019</td>
				<td>10/20/2019</td>
				<td>3/18/2021</td>
				<td>Approved</td>
			</tr>
		</tbody>
	</table>
</div>

<% content_for :js do %>
<script>
		$('#vrc-table tbody tr').on('click', function(){
			location.href = "/show-virtual-review-committee"
		});
</script>
<% end %>
