<div class="row mt-3 mb-3">
	<div class="col-lg-6">
		<button class="btn btn-sm btn-light">
			<i class="bi bi-upload"></i>
			Upload
		</button>
		<button class="btn btn-sm btn-primary">
			<i class="bi bi-download"></i>
			Download
		</button>
	</div>
	<div class="col-lg-6" style="padding: 0;">
		<div style="float: right;">
				<label for="">Show Limit: </label>
				<input type="text" value="20" style="width: 35px; text-align: center; font-size: 12px; margin-right: 8px;">
				<label for="">Page 3 of 32 </label>
				<input type="text" value="1" style="width: 35px; text-align: center; font-size: 12px;" class="">
			</div>
	</div>
</div>

<div class="row mt-2">
	<table id="vrc-table" class="border shadow p-3 mb-5 bg-white rounded table table-striped" >
		<thead style="background-color: #377dff; color: #fff;">
			<tr>
				<th>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</th>
				<th>Document Name</th>
				<th>Upload Date</th>
				<th>Committee Date</th>
				<th>Document Type</th>
				<th></th>
			</tr>
		</thead>
		<tbody class="bg-light">
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>Agenda</td>
				<td>9/23/2021</td>
				<td>10/23/2021</td>
				<td>PDF</td>
				<td>
					<i class="bi bi-pencil-square text-primary"></i>
					<i class="bi bi-trash text-danger"></i>
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>Agenda</td>
				<td>9/23/2021</td>
				<td>10/23/2021</td>
				<td>PDF</td>
				<td>
					<i class="bi bi-pencil-square text-primary"></i>
					<i class="bi bi-trash text-danger"></i>
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>Agenda</td>
				<td>9/23/2021</td>
				<td>10/23/2021</td>
				<td>PDF</td>
				<td>
					<i class="bi bi-pencil-square text-primary"></i>
					<i class="bi bi-trash text-danger"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<% content_for :js do %>
<script>
		$('#vrc-table tbody tr').on('click', function(){
			location.href = "/show-virtual-review-committee"
		});
</script>
<% end %>
