<div class="row mt-3 mb-3">
	<div class="col-lg-6">
		<h5>Search Result: 113 records</h5>
	</div>
	<div class="col-lg-6" style="padding: 0;">
			<div style="float: right;">
				<label for="">Show Limit: </label>
				<input type="text" value="20" style="width: 35px; text-align: center; font-size: 12px; margin-right: 8px;">
				<label for="">Page 3 of 32 </label>
				<input type="text" value="1" style="width: 35px; text-align: center; font-size: 12px;" class="">
				<select name="" id="" class="" style="padding:8px; background-color: #ddd; border: 0px; border-radius: 5px; margin-left: 4px;">
					<option value="completed">Director</option>
				</select>
			</div>
	</div>
</div>

<div class="row mt-2">
	<table id="vrc-table" class="border shadow p-3 mb-5 bg-white rounded table table-striped" >
		<thead style="background-color: #377dff; color: #fff;">
			<tr>
				<th>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</th>
				<th>Provider Name</th>
				<th>Type</th>
				<th>Category</th>
				<th>Cred Cycle</th>
				<th>Review Level</th>
				<th>Review Date</th>
				<th>Committee Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody class="bg-light">
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>
				<i class="bi bi-file-earmark-check-fill" style="font-size: 1rem; color: #1CC775;"></i>
			Carter, Ava</td>
				<td>OR</td>
				<td>Director</td>
				<td>Credential</td>
				<td>Expedited</td>
				<td>02/12/2024</td>
				<td>10/13/2019</td>
				<td>Approved</td>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>
				<i class="bi bi-file-earmark-x-fill" style="font-size: 1rem; color: #C71C1C;"></i>
			Carter, Ava</td>
				<td>OR</td>
				<td>Director</td>
				<td>Credential</td>
				<td>Expedited</td>
				<td>02/12/2024</td>
				<td>10/13/2019</td>
				<td>Approved</td>
			</tr>
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				</td>
				<td>
				<i class="bi bi-file-earmark-person-fill" style="font-size: 1rem; color: #1C6EC7;"></i>
			Carter, Ava</td>
				<td>OR</td>
				<td>Director</td>
				<td>Credential</td>
				<td>Expedited</td>
				<td>02/12/2024</td>
				<td>10/13/2019</td>
				<td>Approved</td>
			</tr>
		</tbody>
	</table>
</div>

<% content_for :js do %>
<script>
		$('#vrc-table tbody tr').on('click', function(){
			location.href = "/show-virtual-review-committee"
		});
</script>
<% end %>
