<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12">
			<h2>
				<a href="<%= enrollments_path %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left"></i>
				<span>Add New Enrollment</span>
				</a>
			</h2>
		</div>
	</div>
	<div class="row mb-3">
			<div class="col-lg-8">
				<form>
					<div class="row mb-3">
						<div class="col-lg-12 pe-5">
							<select class="form-select" name="enrollment_provider_name">
								<option>Provider Name</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-lg-12">
							<h3>Enrollment Details</h3>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
							<input type="text" name="enrollment_start_date" required class="form-control" placeholder="Start Date *" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<input type="text" name="enrollment_due_date" required class="form-control" placeholder="Due Date *" onfocus="(this.type = 'date')">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-12">
								<select class="form-select" required name="enrollment_payer">
									<option>Enrollment Payer</option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
							<input type="text" name="enrollment_revalidation_date" class="form-control" placeholder="Payer Revalidation Date (for Medicare/Medicaid) *" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<select class="form-select" required name="enrollment_type">
									<option>Enrollment Type</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-lg-12">
							<h3>Documents</h3>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>State Medical License</label>
								<input type="text" name="enrollment_state_license_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_state_license_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>DEA</label>
								<input type="text" name="enrollment_dea_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_dea_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>IRS Letter</label>
								<input type="text" name="enrollment_irs_letter_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_irs_letter_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>W9</label>
								<input type="text" name="enrollment_w9_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_w9_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>Voided Check</label>
								<input type="text" name="enrollment_voided_check_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_voided_check_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>Curriculum Vitae</label>
								<input type="text" name="enrollment_curriculum_vitae_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_curriculum_vitae_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>CMS 460</label>
								<input type="text" name="enrollment_cms_460_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_cms_460_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>Electronic File Transfer (EFT)</label>
								<input type="text" name="enrollment_eft_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_eft_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>Certificate of Insurance</label>
								<input type="text" name="enrollment_cert_insurance_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_cert_insurance_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>Driver's License</label>
								<input type="text" name="enrollment_driver_license_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_driver_license_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<label>Board Certification</label>
								<input type="text" name="enrollment_board_certification_submitted" required class="form-control" placeholder="Date Submitted" onfocus="(this.type = 'date')">
							</div>
							<div class="col-lg-6">
								<label class="text-white">File upload</label>
								<input type="file" class="form-control" name="enrollment_board_certification_file">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-12">
								<select class="form-select" name="enrollment_status">
									<option>Status of Enrollment</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 d-flex justify-content-end pe-5">
							<button class="btn btn-primary btn-md">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-4">
				<div class="row mb-3">
					<div class="col-lg-12">
						<div class="card border border-2 p-3">
							<h5 class="mb-3">Data Encoded Agent</h5>
							<label>Username: th_admin</label>
							<label>Email: enrollmentadmin@gmail.com</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="card border border-2 p-3">
							<form>
							<h5 class="mb-3">Assign Call Agent</h5>
							<select class="form-select mb-3"  required name="assigned_call_agent">
								<option>Agent Name *</option>
							</select>
							<select class="form-select"  required name="assigned_call_agent">
								<option>Type of Outreach *</option>
							</select>
							
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>