<div class="content container-fluid">
	<%= render "enrollment_tracking_components/enrollment_nav"%>
	<div class="row mb-3">
		<div class="col-lg-12">
			<h2>
				<a href="<%= provider_clients_path %>" class="d-flex gap-2 text-secondary">
				<i class="bi bi-arrow-left"></i>
				<span>Macomb Count Community Mental Health</span>
				</a>
			</h2>
		</div>
	</div>
	<form>
	<div class="row mb-3">
		<div class="col-lg-6">
			<input type="text" name="dco_name" required class="form-control" placeholder="DCO Name*">
		</div>
		<div class="col-lg-6">
			<select class="form-select" name="dco_client" required>
				<option>Client *</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-12">
			<input type="text" name="dco_address" required class="form-control" placeholder="DCO Address *">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<input type="text" name="dco_city" required class="form-control" placeholder="DCO City *">
		</div>
		<div class="col-lg-6">
			<select class="form-select" name="dco_state" required>
				<option>State *</option>
				<% @states.each do |state|%>
				<option value="<%= state.name %>"><%= state.name %></option>
				<% end %>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<input type="text" name="dco_zip_code" required class="form-control" placeholder="DCO Zip Code *">
		</div>
		<div class="col-lg-6">
			<input type="text" name="dco_country" required class="form-control" placeholder="Country">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<input type="text" name="dco_service_location_phone" required class="form-control" placeholder="Service Location Phone Number *">
		</div>
		<div class="col-lg-6">
			<input type="text" name="dco_service_location_fax" required class="form-control" placeholder="Service Location Fax Number *">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<input type="text" name="dco_panel_status" required class="form-control" placeholder="Panel Status to New Patients">
		</div>
		<div class="col-lg-6">
			<input type="text" name="dco_panel_age_limit" required class="form-control" placeholder="Panel Age Limit">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-lg-6">
			<select class="form-select" name="dco_include_in_directory">
				<option>Include in Directory?</option>
				<option value="yes">YES</option>
				<option value="no">NO</option>
			</select>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-lg-12">
			<h5>DCO Provider Outreach Info</h5>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<input type="text" name="dco_provider_outreach_name" class="form-control" placeholder="Name *" required>
			</div>
			<div class="col-lg-6">
				<input type="email" name="dco_provider_outreach_email" class="form-control" placeholder="Email *" required>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<input type="text" name="dco_provider_outreach_phone" class="form-control" placeholder="Phone Number *" required>
			</div>
			<div class="col-lg-6">
				<input type="text" name="dco_provider_outreach_fax" class="form-control" placeholder="Fax Number *" required>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-6">
				<input type="text" name="dco_provider_outreach_position" class="form-control" placeholder="Position *" required>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-lg-12">
			<h5>Schedule</h5>
		</div>
		<div class="row">
			<!-- to jayson still need to convert to checkbox that accepts multiple values -->
			<div class="col-lg-8 mb-3">
				<div class="d-flex gap-3">
					<label class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							S
						</span>
					</label>
					<label class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							M
						</span>
					</label>
					<label class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							T
						</span>
					</label>
					<label class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							W
						</span>
					</label>
					<label class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							TH
						</span>
					</label>
					<label class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							F
						</span>
					</label>
					<label class="day_sched d-flex justify-content-center align-items-center border">
						<span>
							S
						</span>
					</label>
				</div>
			</div>
			<div class="col-lg-4">
				<a href="javascript:void(0);">
					<i class="bi bi-plus-lg"></i>
					<span class="ms-2">Add another schedule</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<input type="text" name="dco_start_time" class="form-control" placeholder="Start Time">
			</div>
			<div class="col-lg-6">
				<input type="text" name="dco_start_time" class="form-control" placeholder="End Time">
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-lg-12 d-flex justify-content-end pe-5">
			<button class="btn btn-primary btn-md">Add DCO</button>
		</div>
	</div>
	</form>
</div>