<div class="content container-fluid">
	<!-- Page Header -->
	<!-- <div class="page-header"> -->
			<div class="row align-items-center">
					<div class="col">
							<h1 class="page-header-title"><%= action_name.titleize %></h1>
					</div>
					<!-- End Col -->
			</div>
</div>