<div class="content container-fluid" >
	<div class="row">
		<div class="col-lg-9">

			<div class="row">
				<div class="col-lg-10">
					<button  class="btn btn-sm btn-danger d-inline-flex align-items-center" onclick="history.back()">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 16px; margin-right: 0.5rem;">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
					</svg>
						<span>Back</span>
					</button>
					<button id="btn-profile" class="btn btn-sm btn-primary d-inline-flex align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 16px; margin-right: 0.5rem;">
							<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
					</svg>
						<span>Profile</span>
					</button>
					<button id="btn-change-review-level" class="btn btn-sm btn-light d-inline-flex align-items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 16px; margin-right: 0.5rem;">
								<path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
								<path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
						</svg>
						<span>Change Review Level</span>
					</button>
				</div>
				<div class="col-lg-2">
					<div style="float: right">
						<button class="btn btn-sm btn-primary d-inline-flex align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="width: 16px; margin-right: 0.5rem;">
								<path d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625z" />
								<path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
						</svg>
							<span>Verified Profile</span>
						</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 table-responsive">
					<table id="show-vrc-table" class="mt-4 table">
						<thead style="background-color: #377dff; color: #fff;">
							<tr>
								<th width="20%" style="text-align: center;">Provider Name</th>
								<th width="15%" style="text-align: left;">Phone/Email</th>
								<th width="10%">Date of Birth</th>
								<th width="10%">SSN</th>
								<th width="10%">NNI</th>
								<th width="8%">TIN</th>
								<th width="15%">Medicare #</th>
								<th width="15%" style="text-align: left;">Group Name</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="col-lg-12">
					<div class="card">
      <div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<tbody>
											<tr>
												<td><h5><%= @vrc.provider_name %></h5></td>
												<td>
													+2 839 332 <br>
													medversant@link.em
												</td>
												<td>01/01/1990</td>
												<td>99999673223</td>
												<td>1823525342</td>
												<td>123-233-221</td>
												<td>123-233-221</td>
												<td>Medversant</td>
											</tr>
										</tbody>
									</table>
									<hr style="margin: 0;">
									<table class="table table-no-body-border">
										<tbody>
											<tr>
												<td>
													<strong for="">Received Date:</strong> <br>
													2/10/2016
												</td>
												<td>
													<strong for="">Completed Date:</strong> <br>
													2/10/2016
												</td>
												<td>
													<strong for="">PSV Date:</strong> <br>
													2/10/2016
												</td>
												<td>
													<strong for="">Cred Cycle Cred:</strong> <br>
												</td>
												<td>
													<strong for="">Recred Due Date:</strong> <br>
												</td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>
													<strong for="">Level of Review:</strong> <br>
													2/10/2016
												</td>
												<td>
													<strong for="">Review Details:</strong> <br>
													2/10/2016
												</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div>

								</div>
      </div>
     </div>
				</div>

				<div id="change-review-level-container" class="col-lg-12 mt-2" style="display: none">
					<h3 class="mt-2 p-3" style="background-color: #E9E9E9;">Review Level Change</h3>
					<form>
						<div class="form-group mb-3">
								<label for="">Review Level:</label>
								<select name="" id="" class="form-control bg-light">
									<option value="expedited">Expedited</option>
								</select>
						</div>
						<div class="form-group mb-3">
								<label for="">Reason to Change:</label>
								<textarea name="" id="" cols="30" rows="10" class="form-control" style="border: 1px solid #000;"></textarea>
						</div>
				</form>
				</div>
			</div>


		</div>
		<div class="col-lg-3">
			<%= render 'sidebar_profile'%>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>
	if($('body.navbar-vertical-aside-mini-mode').length == 0){
		setTimeout(function () {$('#navbar-aside-toggler').click();}, 1000);
	}

	$('#btn-change-review-level').on('click', function(){
		$('#change-review-level-container').fadeIn();
		$('#btn-profile').removeClass('btn-primary	').addClass('btn-light')
		$(this).removeClass('btn-light').addClass('btn-primary');
	});

	$('#btn-profile').on('click', function(){
		$('#change-review-level-container').fadeOut();
		$('#btn-change-review-level').removeClass('btn-primary').addClass('btn-light');
		$(this).removeClass('btn-light	').addClass('btn-primary')
	});
</script>
<% end %>