<div class="content container-fluid">
	<!-- Page Header -->
	<!-- <div class="page-header"> -->
			<div class="row align-items-center">
					<div class="col">
						<div>
							<h1 class="page-header-title" style="font-size: 2rem;">Smart Contracts</h1>
							<h5>Automated handshake of information based on satisfied criteria.</h5>
						</div>
					</div>
					<!-- End Col -->
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="position-relative">
						<input type="text" class="form-control" name="" style="padding-left: 33%;">
						<span class="position-absolute top-50" style="left: 17%;transform: translate(-50%,-50%);">Enter parameter/keyword: </span>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-12 col-lg-6">
					<div class="position-relative">
						<input type="text" class="form-control" name="" style="padding-left: 18%;">
						<span class="position-absolute top-50" style="left: 10%;transform: translate(-50%,-50%);">Enter Policy: </span>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-12 col-lg-12">
					<textarea class="form-control" placeholder="Conditions to be satisfied:">
						
					</textarea>
				</div>
				<div class="col-lg-12 d-flex justify-content-end my-3">
					<button class="btn btn-sm btn-primary">Add Contract</button>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 border border-secondary p-2" style="height: 40vh;">
					<table class="table my-0">
						<tbody>
							<% for i in 1..2 do %>
							<tr class="bg-primary text-white py-3">
								<td>BILLING</td>
								<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempo...</td>
								<td>Policy end of every month</td>
								<td>
									<a href="javascript:void(0);" class="text-white">
									<i class="bi bi-link-45deg"></i>
									<span>Generate Link</span>
								</a></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
</div>