<div class="row mb-3">
	<div class="col-lg-12 d-flex justify-content-end gap-2">
		<a href="<%= webscrapers_alaska_states_path %>" class="btn btn-md border-0 <%= enrollment_nav_active('alaska_states')%>">Alaska</a>
		<a href="<%= webscrapers_california_states_path %>" class="btn btn-md  border-0 <%= enrollment_nav_active('california_states')%>">California</a>
	</div>
</div>