<select class="dco-select position-absolute bg-transparent fw-semibold text-right pe-1" style="right: 1%;text-align: right;">
  <option value="all">All</option>
  <% group_dcos.pluck(:dco_name, :id).each do |group|%>
    <option value="<%= group[1]%>"><%= group[0]%></option>
  <% end %>
</select>