<!-- Content -->
<div class="content container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<%#= render "client_portal_components/header_searchbar"%>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			  <%#= link_to "Request History", history_mhc_client_portal_index_path, class: "btn btn-primary mb-3" %>
		    <%#= link_to "Search by List", upload_csv_mhc_client_portal_index_path, class: "btn btn-primary mb-3" %>
		  </div>
		</div>
	<!-- 	<div class="col-lg-4">
			<%#= render "client_portal_components/document_list_buttons"%>
		</div> -->
	</div>
	<div class="row mb-5">
		<div class="col-lg-12">
      <% if params[:reports].present? %>
      <%# render "mhc/client_portal/client_portal_components/report_searchbox"%>
      <%# render "mhc/client_portal/client_portal_components/report_table_info"%>
      <% else %>
        <%= render (params[:advanced_search].present? || params.dig(:q, :advanced_search) ? "mhc/client_portal/client_portal_components/advanced_searchbox" : "mhc/client_portal/client_portal_components/simple_searchbox") %>
    <% end %>
		</div>
		<!-- <div class="col-lg-4">
			<%#= render "client_portal_components/document_list"%>
		</div> -->
	</div>
	   <% if !params[:reports].present? %>
   <%= render ((params[:grid].present? or @grid)  ? "mhc/client_portal/client_portal_components/status_bar_with_count" : "mhc/client_portal/client_portal_components/status_bar" )%>
   <%= render ((params[:grid].present? or @grid) ? "mhc/client_portal/client_portal_components/grid_table" : "mhc/client_portal/client_portal_components/custom_table")%>
   <% end %>
</div>

<!-- End Content -->
<style>
	div.bg-medium-grey > nav ul.pagination {
		margin: 0 1rem !important;
	}
</style>

<script>
$('.form-select border-dark').select2();
</script>
