
    <%= render "top_button_navs"%>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 right-pane">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= office_manager_index_path(page: 'office_manager_admin')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt' ></i>
                        </a>
                        <h4 class="page-heading">Add New Office Manager</h4>
                    </div>
                    <form action="">
                        <div class="form-row row mt-4">
                            <div class="col-xl-4">
                                <label for="firstname">First Name</label>
                                <input type="text" id="firstname" class="form-control" required>
                            </div>
                            <div class="col-xl-2">
                                <label for="middlename">Middle Name</label>
                                <input type="text" id="middlename" class="form-control">
                            </div>
                            <div class="col-xl-4">
                                <label for="lastname">Last Name</label>
                                <input type="text" id="lastname" class="form-control" required>
                            </div>
                            <div class="col-xl-2">
                                <label for="suffix">Suffix</label>
                                <select name="" id="suffix" class="form-select" id=""></select>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="birthdate">Birth Date</label>
                                <input type="date" id="birthdate" class="form-control">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="username">Username</label>
                                <input type="date" id="username" class="form-control" required>
                            </div>
                            <div class="col-xl-6">
                                <label for="password">Password</label>
                                <input type="password" id="password" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" id="confirm-password" class="form-control" required>
                            </div>
                            <div class="col-xl-6">
                                <label for="user-role">User Role</label>
                                <select name="" id="user-role" class="form-select"></select required>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" required>
                            </div>
                            <div class="col-xl-6">
                                <label for="confirm-email">Confirm Email</label>
                                <input type="email" id="confirm-email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="security-question">Security Question</label>
                                <select name="" id="security-question" class="form-select" required></select>
                            </div>
                            <div class="col-xl-6">
                                <label for="security-password">Security Password</label>
                                <input type="password" id="security-password" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="organization">Organization</label>
                                <select name="" id="organization" class="form-select" required></select>
                            </div>
                            <div class="col-xl-6">
                                <label for="practice-location">Practice Location</label>
                                <input type="password" id="practice-location" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="terms-check">
                                    <label class="form-check-label" for="terms-check">
                                        I have read and agree to the ProviderApp™ <a href="">Terms of Service</a> and <a href="">Privacy Policy</a> for the account being created.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-3 d-flex justify-content-end">
                            <button class="btn btn-invite" type="submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
