
      <%= render "top_button_navs"%>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 right-pane">
                    <div class="d-flex gap-2">
                        <button class="btn btn-nav btn-sm btn-primary active">Manage Providers</button>
                        <button class="btn btn-nav btn-sm btn-primary">Hospital Affiliation</button>
                        <button class="btn btn-nav btn-sm btn-primary">Contracted Health Plans</button>
                        <button class="btn btn-nav btn-sm btn-primary">Services</button>
                    </div>
                    
                    <div class="filter-wpr">
                        <div class="row mb-3">
                            <div class="col-xl-5">
                                <div class="search-wrp form-control">
                                    <input type="text" placeholder="Search" class="search-input">
                                    <i class='bx bx-search'></i>
                                </div>
                            </div>
                            <div class="col-xl-7 button-wpr">
                                <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addLocationModal">
                                    <i class='bx bx-plus' ></i>
                                    Add Location
                                </button>
                            </div>
                        </div>
                        <div class="row result-controls">
                            <div class="col-xl-6 filter-result">
                                <h6 class="">Search result: 3 records</h6>
                            </div>
                            <div class="col-xl-6">
                                <div class="table-controls">
                                    <div class="control-wrp">
                                        <label for="limit">Show limit</label>
                                        <input type="text" id="limit" class="form-control" value="20">
                                    </div>
                                    <div class="control-wrp">
                                        <label for="page">Page 1 of 32</label>
                                        <input type="text" id="page" class="form-control" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table practice-table mt-4">
                        <thead>
                            <tr>
                                <th class="text-white"  scope="col">Practice Name</th>
                                <th class="text-white"  scope="col">Address</th>
                                <th class="text-white"  scope="col">City</th>
                                <th class="text-white"  scope="col">State/ZIP Code</th>
                                <th class="text-white"  scope="col">Phone</th>
                                <th class="text-white"  scope="col"></th>
                                <th class="text-white"  scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PP of Santa Barbara 
                                    Ventura and San Louis 
                                    Obispo Counties Inc</td>
                                <td>1920 Marengo 
                                    Street</td>
                                <td>Los 
                                    Angeles</td>
                                <td>CA 9903</td>
                                <td>619-881</td>
                                <td><a href=""  data-bs-toggle="modal" data-bs-target=".associateProviderModal">Provider</a></td>
                                <td><a href=""><i class='bx bx-edit' ></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-4">
                    <div class="side-panel">
                        <div class="side-panel-header">
                            <h6>Organization Info</h6>
                        </div>
                        <div class="side-panel-content">
                            <div class="form-row">
                                <h6>Planned Parenthood of the Pacific Southwest</h6>
                            </div>
                            <div class="form-row">
                                <p>Group NPI: 312645987</p>
                            </div>
                            <div class="form-row">
                                <p>Practice Type: 1075 Camino del Rio South s San Diego, CA 92108</p>
                            </div>
                            <div class="form-row">
                                <p>Phone: 888-743-7526</p>
                            </div>
                            <div class="form-row">
                                <p>Phone: 333-333-3333</p>
                            </div>
                            <div class="form-row mt-4">
                                <button class="btn btn-manage" data-bs-toggle="modal" data-bs-target="#editOrganizationModal">Edit Organization</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Organization Modal -->
    <div class="modal fade" id="editOrganizationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Edit Organization</h6>
                        </div>
                        <form action="">
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Organization Name</label>
                                    <input type="text" class="form-control" placeholder="" required>
                                </div>
                                <div class="col-xl-6">
                                    <label for="">Organization Type</label>
                                    <input type="text" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Organization NPI</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="" class="sub-title">Organization Physical Address</label>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Address 1</label>
                                    <input type="text" class="form-control" placeholder="" required>
                                </div>
                                <div class="col-xl-6">
                                    <label for="">Address 2</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">City</label>
                                    <input type="text" class="form-control" placeholder="" required>
                                </div>
                                <div class="col-xl-6">
                                    <label for="">State</label>
                                    <input type="text" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">ZIP Code</label>
                                    <input type="text" class="form-control" placeholder="" required>
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="">Phone Number</label>
                                    <input type="text" class="form-control" placeholder="" required>
                                </div>
                                <div class="col-xl-6">
                                    <label for="">Fax Number</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="">Organization DBA Name</label>
                                        <input type="text" class="form-control" placeholder="" required>
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="">Organization Tax ID</label>
                                        <input type="text" class="form-control" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <button type="submit" class="btn btn-manage btn-primary">Save</button>
                                <button type="button" class="btn btn-card-remove" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Associate Provider Modal -->
    <div class="modal fade associateProviderModal" id="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Associate Providers</h6>
                            <!-- <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button> -->
                        </div>
                        <div class="row">
                            <p class="associate-note mt-4">Instruction: Drag the name of the provider you want to associate or disassociate.</p>
                        </div>
                        <form action="">
                            <div class="row">
                                <div class="col-xl-6">
                                    <h6 class="associate-heading mt-4">Providers added to the Organization, who have accepted your invitation, but not yet associated with the selected location.</h6>
                                    <div class="associate-left-pane">
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Janeen Ruth Burlison
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                                <label class="form-check-label" for="flexCheckDefault1">
                                                    Larry De Hoyos
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                <label class="form-check-label" for="flexCheckDefault2">
                                                    Rose Dawson
                                                </label>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <h6 class="associate-heading mt-4">Providers associated to location who have accepted your invitation.</h6>
                                    <div class="associate-right-pane">
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                                <label class="form-check-label" for="flexCheckDefault3">
                                                    Maribel Zazueta
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                                <label class="form-check-label" for="flexCheckDefault4">
                                                    Mary Gatter
                                                </label>
                                            </div>
                                        </span>
                                        <span class="provider-check">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                                <label class="form-check-label" for="flexCheckDefault5">
                                                    Jack Dawson
                                                </label>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="add-note mt-4">
                            <h6>Note:</h6>
                            <h6>Please note that this window only shows Providers who have accepted your invitation. Providers who have not yet accepted your invitation cannot be associated or disassociated. </h6>
                        </div>
                        <div class="form-row mt-3">
                            <button type="submit" class="btn btn-manage btn-primary">Save</button>
                            <button type="button" class="btn btn-card-remove" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Associate Provider Modal -->
    <div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="content">
                        <div class="modal-title">
                            <h6 class="">Add Location</h6>
                            <!-- <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button> -->
                        </div>
                        <form action="">
                            <ul class="nav nav-tabs gap-2 mt-3" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="tab active" id="tab-general-info" data-bs-toggle="tab" href="#general-info"
                                        role="tab" aria-controls="general" aria-selected="false">
                                        General Info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-contacts" data-bs-toggle="tab" href="#contacts"
                                        role="tab" aria-controls="contact" aria-selected="false">
                                        Contacts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-hours" data-bs-toggle="tab" href="#hours"
                                        role="tab" aria-controls="hour" aria-selected="false">
                                        Hours
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-patient-acceptance" data-bs-toggle="tab" href="#patient-acceptance"
                                        role="tab" aria-controls="acceptance" aria-selected="false">
                                        Patient Acceptance
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-patient-access" data-bs-toggle="tab" href="#patient-access"
                                        role="tab" aria-controls="access" aria-selected="false">
                                        Patient Access
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="tab" id="tab-patient-services" data-bs-toggle="tab" href="#services"
                                        role="tab" aria-controls="service" aria-selected="false">
                                        Services
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mt-3" id="myTabContent">
        
                                <div class="tab-pane fade show active" id="general-info" role="tabpanel" aria-labelledby="general-info-tab">
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Location</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Legal Name</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Address 1</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Address 2</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">City</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">State</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">ZIP Code</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Phone Number</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Fax Number</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Email</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Group Tax ID Number</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Group NPI Number</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6 d-flex align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="grp-tax-check">
                                                <label class="form-check-label" for="grp-tax-check">
                                                    I don't have a Group Tax ID Number
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Group NPI Number Effective Date</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Enter languages that your staffs speaks</label>
                                            <div class="location-left-pane">
                                                <div class="language-wrp">
                                                    <span class="language">
                                                        English
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Spanish
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Filipino
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Korean
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Mandarin Chinese
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Arabic
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Russian
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Hindi
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                </div>
                                                <div class="input-wrp">
                                                    <input type="text" class="language-input" placeholder="Type here to add more language">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Enter languages that your staffs writes</label>
                                            <div class="location-right-pane">
                                                <div class="language-wrp">
                                                    <span class="language">
                                                        English
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Spanish
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Filipino
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Korean
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Mandarin Chinese
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Arabic
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Russian
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                    <span class="language">
                                                        Hindi
                                                        <i class='bx bx-x'></i>
                                                    </span>
                                                </div>
                                                <div class="input-wrp">
                                                    <input type="text" class="language-input" placeholder="Type here to add more language">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Are interpreters available at this location?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="inter-input" id="inter-yes" value="Yes">
                                                    <label class="form-check-label" for="inter-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="inter-input" id="inter-no" value="No">
                                                    <label class="form-check-label" for="inter-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade show" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">First Name</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Middle Name</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Last Name</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Suffix</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Title</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Phone Number</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Ext</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Fax Number</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Email</label>
                                            <input type="text" class="form-control" placeholder="" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade show" id="hours" role="tabpanel" aria-labelledby="hours-tab">
                                    <div class="form-row row">
                                        <div class="col-xl-2">
                                            <label for="">Monday</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <label for="">To</label>
                                                </div>
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="mon-split">
                                                        <label class="form-check-label" for="mon-split">
                                                            Split Day
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="mon-closed">
                                                        <label class="form-check-label" for="mon-closed">
                                                            Closed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-2">
                                            <label for="">Tuesday</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <label for="">To</label>
                                                </div>
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="tue-split">
                                                        <label class="form-check-label" for="tue-split">
                                                            Split Day
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="tue-closed">
                                                        <label class="form-check-label" for="tue-closed">
                                                            Closed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-2">
                                            <label for="">Wednesday</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <label for="">To</label>
                                                </div>
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="wed-split">
                                                        <label class="form-check-label" for="wed-split">
                                                            Split Day
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="wed-closed">
                                                        <label class="form-check-label" for="wed-closed">
                                                            Closed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-2">
                                            <label for="">Thurday</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <label for="">To</label>
                                                </div>
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="thu-split">
                                                        <label class="form-check-label" for="thu-split">
                                                            Split Day
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="thu-closed">
                                                        <label class="form-check-label" for="thu-closed">
                                                            Closed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-2">
                                            <label for="">Friday</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <label for="">To</label>
                                                </div>
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="fri-split">
                                                        <label class="form-check-label" for="fri-split">
                                                            Split Day
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="fri-closed">
                                                        <label class="form-check-label" for="fri-closed">
                                                            Closed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-2">
                                            <label for="">Saturday</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <label for="">To</label>
                                                </div>
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="sat-split">
                                                        <label class="form-check-label" for="sat-split">
                                                            Split Day
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="sat-closed">
                                                        <label class="form-check-label" for="sat-closed">
                                                            Closed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-2">
                                            <label for="">Sunday</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <label for="">To</label>
                                                </div>
                                                <div class="col-xl-5">
                                                    <input type="time" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="sun-split">
                                                        <label class="form-check-label" for="sun-split">
                                                            Split Day
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="sun-closed">
                                                        <label class="form-check-label" for="sun-closed">
                                                            Closed
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Comment</label>
                                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Does this location have 24 hours/7 days per week telephone coverage?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tele-input" id="tele-yes" value="Yes">
                                                    <label class="form-check-label" for="tele-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tele-input" id="tele-no" value="No">
                                                    <label class="form-check-label" for="tele-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Telephone Coverage Type</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">After Hours Telephone Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Ext</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade show" id="patient-acceptance" role="tabpanel" aria-labelledby="patient-acceptance-tab">
                                    <div class="form-row row">
                                        <div class="col-xl-6">
                                            <label for="">Please select your open practice status</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">If patient acceptance varies by health plan, please explain</label>
                                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Are there any practice limitations at this location?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="limitations-input" id="limitations-yes" value="Yes">
                                                    <label class="form-check-label" for="limitations-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="limitations-input" id="limitations-no" value="No">
                                                    <label class="form-check-label" for="limitations-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row limitation-wrp">
                                        <div class="col-xl-6">
                                            <label for="">Gender Limitations</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row limitation-wrp">
                                        <div class="col-xl-6">
                                            <label for="">Minimum Age</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Maximum Age</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row row limitation-wrp">
                                        <div class="col-xl-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="age-check">
                                                <label class="form-check-label" for="age-check">
                                                    Min/Max Age Not Applicable
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row limitation-wrp">
                                        <div class="col-xl-12">
                                            <label for="">Please list any other limitations</label>
                                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade show" id="patient-access" role="tabpanel" aria-labelledby="patient-access-tab">
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Does this location meet ADA accessibility requirements?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ADA-input" id="ADA-yes" value="Yes">
                                                    <label class="form-check-label" for="ADA-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ADA-input" id="ADA-no" value="No">
                                                    <label class="form-check-label" for="ADA-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row" id="ADA-wrp">
                                        <div class="col-xl-6">
                                            <label for="">If Yes, please select from the following:</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Does this location offer other services for the disabled?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="other-services-input" id="other-services-yes" value="Yes">
                                                    <label class="form-check-label" for="other-services-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="other-services-input" id="other-services-no" value="No">
                                                    <label class="form-check-label" for="other-services-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row" id="other-services-wrp">
                                        <div class="col-xl-6">
                                            <label for="">If Yes, please select from the following:</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Is this location accessible by public transportation?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="transportation-input" id="transportation-yes" value="Yes">
                                                    <label class="form-check-label" for="transportation-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="transportation-input" id="transportation-no" value="No">
                                                    <label class="form-check-label" for="transportation-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row" id="transportation-wrp">
                                        <div class="col-xl-6">
                                            <label for="">If Yes, please select from the following:</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade show" id="services" role="tabpanel" aria-labelledby="services-tab">
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Do you provide laboratory services at this location?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="laboratory-input" id="laboratory-yes" value="Yes">
                                                    <label class="form-check-label" for="laboratory-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="laboratory-input" id="laboratory-no" value="No">
                                                    <label class="form-check-label" for="laboratory-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row" id="laboratory-wrp">
                                        <div class="col-xl-6">
                                            <label for="">If Yes, please select all accrediting/certifying programs:</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Does this location have a CLIA Waiver?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="CLIA-input" id="CLIA-yes" value="Yes">
                                                    <label class="form-check-label" for="CLIA-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="CLIA-input" id="CLIA-no" value="No">
                                                    <label class="form-check-label" for="CLIA-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row CLIA-wrp">
                                        <div class="col-xl-6">
                                            <label for="">CLIA Waiver Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Expiration Date</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Does this location have a CLIA Certificate?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="certificate-input" id="certificate-yes" value="Yes">
                                                    <label class="form-check-label" for="certificate-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="certificate-input" id="certificate-no" value="No">
                                                    <label class="form-check-label" for="certificate-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row certificate-wrp">
                                        <div class="col-xl-6">
                                            <label for="">CLIA Certificate Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-xl-6">
                                            <label for="">Expiration Date</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Do you provide radiology services at this location?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="radiology-input" id="radiology-yes" value="Yes">
                                                    <label class="form-check-label" for="radiology-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="radiology-input" id="radiology-no" value="No">
                                                    <label class="form-check-label" for="radiology-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row radiology-wrp">
                                        <div class="col-xl-12">
                                            <label for="">Please list all X-ray certifications:</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row radiology-wrp">
                                        <div class="col-xl-12">
                                            <label for="">FDA/Radiology (Mammography) Certification Number for this location:</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row row radiology-wrp">
                                        <div class="col-xl-12">
                                            <label for="">Please select all services offered at this location:</label>
                                            <select name="" class="form-select" id=""></select>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="col-xl-12">
                                            <label for="">Is anesthesia administered at this location?</label>
                                            <div class="d-flex align-items-center gap-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="anesthesia-input" id="anesthesia-yes" value="Yes">
                                                    <label class="form-check-label" for="anesthesia-yes">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="anesthesia-input" id="anesthesia-no" value="No">
                                                    <label class="form-check-label" for="anesthesia-no">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row anesthesia-wrp">
                                        <div class="col-xl-12">
                                            <label for="">Please list any additional procedures provided at this location (including surgical procedures)</label>
                                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-row mt-3">
                            <button type="submit" class="btn btn-manage btn-primary">Save</button>
                            <button type="button" class="btn btn-card-remove" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>