<div class="content container-fluid">
   <%= render "enrollment_clients/nav"%>
   <%= render "enrollment_clients/show/provider_info"%>
   <%= render "enrollment_clients/show/licenses"%>
   <%= render "enrollment_clients/show/client"%>

</div>
