<% documents = ['state_license_copy_file','dea_copy_file', 'w9_form_file', 'certificate_insurance_file', 'drivers_license_file', 'board_certification_file', 'caqh_app_copy_file', 'cv_file', 'telehealth_license_copy_file'] %>
<div class="content container-fluid">
   <%= render "enrollment_clients/nav"%>
   <% documents.each_with_index do |doc,idx|%>
   <% if !@provider.send(doc).url.blank? %>
   <div class="row mb-3">
     <div class="col-lg-12 card p-3">
        <a href="<%= @provider.send(doc).url %>" target="_blank">
        <div class="w-100 d-flex justify-content-between">
           <h3 class="text-primary m-0"><%= provider_uploaded_files_titles[idx]%></h3>
        </div>
        </a>
      </div>
    </div>
    <% end %>
    <% end %>
 </div>