<div id="<%= dom_id help_code %>">
  <p>
    <strong>Category:</strong>
    <%= help_code.category %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= help_code.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= help_code.description %>
  </p>

</div>
