<div class="container">
  <div class="row mt-6">
    <% @help_codes.each do |help_code| %>
      <% category = help_code.first %>
      <% codes = help_code.second %>
      <div class="col-md-3 mb-4">
         <h2 ><%= category %></h2>
          <ul class="list-group">
            <% codes.each do |code| %>
              <li><%= code.code %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </div>
</div>