<div class="container mt-4">
  <h1 class="mb-4">New Help Code</h1>

  <div class="card p-4 shadow-sm">
    <%= render "form", help_code: @help_code %>
  </div>

  <br>

  <div>
    <%= link_to "Back to help codes", help_codes_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>