<div class="content container-fluid">
  <%= render partial: "verification_platform/encompass_nav" %>
</div>
<div class="container-fluid text-center">
  <h3>Select the folder containing the flat files:
    <input id="file_id" type="file" webkitdirectory mozdirectory name="files" multiple=true/>
  </h3>
  <button class="button btn btn-primary" id="submit-files" disabled>Submit</button>
</div>
<script>
  $(document).ready(function() {
    var inps = document.querySelectorAll('#file_id');
    [].forEach.call(inps, function(inp) {
      inp.onchange = function(e) {
        if(this.files.length > 0){
          $('#submit-files').prop('disabled', false)
        }
      };
    });

    $('#submit-files').on("click", function(e){
      var data = new FormData();
      $.each($("input[id='file_id']")[0].files, function(i, file) {
        data.append(file.name.split(".")[0], file);
      });

      $.ajax({
        type: 'POST',
        url: '/caqh/upload',
        cache: false,
        contentType: false,
        processData: false,
        data : data,
        beforeSend: function() {
          $('#submit-files').prop('disabled', true)
          $('#submit-files').html('Processing')
        },
        success: function(result){
          console.log(result);
        },
        error: function(err){
          console.log(err);
        },
        complete: function() {
          $("#file_id").val('')
          $('#submit-files').prop('disabled', true)
          $('#submit-files').html('Submit')
        }
      })
      return false;
    })
  });
</script>