<div class="content container-fluid ps-0">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3">
			<%= render "provider_source_components/sub_navbar"%>
		</div>
		<div class="col-lg-9">
			<div class="row border border-4 p-3">
				<!-- start of form header -->
				<div class="col-lg-12 mb">
					<div class="d-flex gap-2">
				 		<span class="bg-medium-grey circle d-flex justify-content-center align-items-center" style="width: 40px;height: 40px;">
				 			<!-- <i class="bi "></i> -->
				 			<i class="bi bi-person-plus-fill text-white" style="font-size: 25px;"></i>
				 		</span>
				 		<div class="d-flex flex-column">
				 			<label>Audit</label>
				 			<small>Department</small>
				 		</div>
					</div>
				</div>
				<%= render partial: "provider_source_components/progress_bar", locals: {percent: 0}%>
				<% steps = [['Application Checklist','active', custom_provider_source_path(page: 'audit')],
							['Application Documents','inactive', custom_provider_source_path(page: 'application_documents')],

				]%>
				<%= render partial: "provider_source_components/form_wizard", locals: {steps: steps}%>
				<div class="col-lg-12 my-3">
					<div class="alert alert-info alert-light-blue">
						<i class="bi bi-info-circle" style="font-size: 20px;"></i>
						<small>The following items must be completed prior to submitting application. Click on the form link to go back to the form. Once on a form, click on edit button when applicable, to populate the required fields.</small>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
		                 <p>Your application is missing required documents. Please complete your application in order to Attest.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>