<div class="content container-fluid">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-8">
			<%= render "provider_source_components/header_searchbar"%>	
		</div>
		<div class="col-lg-1"></div>
	</div>
	<%= render "provider_source_components/table_info", provider_source: @provider %>
	<%= render "provider_source_components/documents_table", provider_source_documents: @provider_source_documents %>
</div>
<script>
  document.getElementById('file-upload').addEventListener('change', function() {
    document.getElementById('file-submit').click();
  });
</script>