<div class="content container-fluid">
	<%= render "provider_source_components/top_buttons"%>
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-8">
			<%= render "provider_source_components/header_searchbar"%>	
		</div>
		<div class="col-lg-1"></div>
	</div>
	<%= render "provider_source_components/table_info"%>
	<%= render "provider_source_components/documents_table"%>
</div>
