<div class="row mb-3">
   <div class="col-lg-12 card p-3">
      <div class="w-100 d-flex justify-content-between">
         <h3 class="text-primary">Collaborating/Supervising</h3>
         <a href="javascript:void(0);" class="text-black fw-semibold collapsible-trigger" data-collapse="collab_supervisor_info">
         <i class="bi bi-sort-up rotate-180" style="font-size: 18px;"></i>
         </a>
      </div>
        <div class="w-100 collapsible" id="collab_supervisor_info">
            <div class="row mb-1">
              <div class="col-lg-6">
                  <label>Name</label>
                  <p class="text-black fw-semibold"><%= @location&.collab_name %></p>
              </div>
              <div class="col-lg-6">
                  <label>NPI</label>
                  <p class="text-black fw-semibold"><%= @location&.collab_npi %></p>
              </div>
            </div>
        </div>
      </div>
    </div>