<div class="row my-2 schedule_container" data-id=0>
	<div class="col-lg-3">
		<% days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']%>
		<%= f.select :day, options_for_select(days, f.object.day), {prompt: 'Day'}, { class: 'form-select'} %>
	</div>
	<div class="col-lg-4">
		<%= f.text_field :start_time, placeholder: 'Start Time', class: 'form-control', onfocus: "(this.type = 'time')" %>
	</div>
	<div class="col-lg-4">
		<%= f.text_field :end_time, placeholder: 'End Time', class: 'form-control', onfocus: "(this.type = 'time')" %>
	</div>
	<div class="col-lg-1 m-auto text-center">
		<% if f.object.id %>
			<button type="button" class="btn btn-xs btn-danger remove-dynamic-fields" data-model="group_dco_schedules" data-id=<%= f.object.id %> > <i class="bi bi-trash-fill"></i></button>
		<% else %>
			<button type="button" class="btn btn-xs btn-danger remove-dynamic-fields" data-id=0> <i class="bi bi-trash-fill"></i></button>
		<% end %>
	</div>
</div>