<div class="header">
  Server Error in Application "DEFAULT WEB SITE/TEMPFILES"
</div>
<div class="container">
  <div class="section">
    <div class="section-title">Error Summary</div>
    <div class="error-summary">HTTP Error 404.0 - Not Found</div>
    <div class="error-description">The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.</div>
  </div>
  <div class="section">
    <div class="section-title">Detailed Error Information</div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Module</td>
          <td>IIS Web Core</td>
        </tr>
        <tr>
          <td>Notification</td>
          <td>MapRequestHandler</td>
        </tr>
        <tr>
          <td>Handler</td>
          <td>StaticFile</td>
        </tr>
        <tr>
          <td>Error Code</td>
          <td>0x80070002</td>
        </tr>
        <tr>
          <td>Requested URL</td>
          <td>https://fch.webcvo.net:443/TempFiles/ReadyForDownload/2016-04-08/psv_161208_202178_20160408_230704.pdf</td>
        </tr>
        <tr>
          <td>Physical Path</td>
          <td>D:\Encompass\TempFiles\ReadyForDownload\2016-04-08\psv_161208_202178_20160408_230704.pdf</td>
        </tr>
        <tr>
          <td>Logon Method</td>
          <td>Anonymous</td>
        </tr>
        <tr>
          <td>Logon User</td>
          <td>Anonymous</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section">
    <div class="section-title">Most likely causes:</div>
    <ul>
      <li>The directory or file specified does not exist on the Web server.</li>
      <li>The URL contains a typographical error.</li>
      <li>A custom filter or module, such as URLScan, restricts access to the file.</li>
    </ul>
  </div>
  <div class="section">
    <div class="section-title">Things you can try:</div>
    <ul>
      <li>Create the content on the Web server.</li>
      <li>Review the browser URL.</li>
      <li>Create a tracing rule to track failed requests for this HTTP status code and see which module is calling SetStatus. For more information about creating a tracing rule for failed requests, click <a href="#" class="link">here</a>.</li>
    </ul>
  </div>
  <div class="section">
    <div class="section-title">Links and More Information</div>
    <div>This error means that the file or directory does not exist on the server. Create the file or directory and try the request again.</div>
    <div><a href="#" class="link">View more information »</a></div>
  </div>
</div>


<style>
  .header {
      background-color: #4A7EBB;
      color: white;
      padding: 10px;
      font-size: 24px;
  }
  .container {
      background-color: white;
      border: 1px solid #D9D9D9;
      margin-top: 20px;
      padding: 20px;
  }
  .section {
      border: 1px solid #D9D9D9;
      margin-bottom: 20px;
      padding: 10px;
  }
  .section-title {
      background-color: #F3F3F3;
      padding: 5px;
      font-weight: bold;
  }
  .error-summary {
      color: red;
      font-weight: bold;
  }
  .error-description {
      color: #333;
  }
  .link {
      color: #0066CC;
  }
</style>