<div class="container">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">Filter (In the Current Client):</div>
                <form>
                    <div class="mb-3">
                        <label for="firstNameCurrent" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstNameCurrent" value="test">
                    </div>
                    <div class="mb-3">
                        <label for="middleNameCurrent" class="form-label">Middle Name:</label>
                        <input type="text" class="form-control" id="middleNameCurrent">
                    </div>
                    <div class="mb-3">
                        <label for="lastNameCurrent" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastNameCurrent" value="test">
                    </div>
                    <div class="mb-3">
                        <label for="ssnCurrent" class="form-label">Social Security Number:</label>
                        <div class="d-flex">
                            <input type="text" class="form-control me-1" id="ssnCurrent1" style="width: 50px;">
                            <input type="text" class="form-control me-1" id="ssnCurrent2" style="width: 50px;">
                            <input type="text" class="form-control" id="ssnCurrent3" style="width: 100px;">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary">Look Up</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">Filter (Not in the Current Client):</div>
                <form>
                    <div class="mb-3">
                        <label for="firstNameNotCurrent" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstNameNotCurrent">
                    </div>
                    <div class="mb-3">
                        <label for="middleNameNotCurrent" class="form-label">Middle Name:</label>
                        <input type="text" class="form-control" id="middleNameNotCurrent">
                    </div>
                    <div class="mb-3">
                        <label for="lastNameNotCurrent" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastNameNotCurrent">
                    </div>
                    <div class="mb-3">
                        <label for="ssnNotCurrent" class="form-label">Social Security Number:</label>
                        <div class="d-flex">
                            <input type="text" class="form-control me-1" id="ssnNotCurrent1" style="width: 50px;">
                            <input type="text" class="form-control me-1" id="ssnNotCurrent2" style="width: 50px;">
                            <input type="text" class="form-control" id="ssnNotCurrent3" style="width: 100px;">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary">Look Up</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">In the Current Client:</div>
                <select class="form-select list-box" multiple>
                    <option>---------Practitioner in the Client---------</option>
                </select>
                <div>Total: 1</div>
                <div class="instructions">
                    To remove a practitioner from your database, please enter the practitioner's name and/or social security number and click the "Look Up" button. All matching practitioner records will be returned. Highlight the appropriate practitioner record and click the "Remove" button. The practitioner record will be removed from your database.
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-secondary mb-2">Remove &gt;&gt;</button>
                <button type="button" class="btn btn-secondary">&lt;&lt; Append</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">Not in the Current Client:</div>
                <select class="form-select list-box" multiple>
                    <option>---------Practitioner not in the Client---------</option>
                </select>
                <div>Total: 214</div>
                <div class="instructions">
                    To search practitioner records not in your database please enter the name and/or the social security number of the practitioner you intend to add to your database and click the "Look Up" button. All matching practitioner records will be returned. Highlight the appropriate practitioner record and click the "Append" button. The practitioner record will be added to your database.
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .container {
        margin-top: 20px;
    }
    .panel {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .panel-heading {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .list-box {
        height: 200px;
    }
    .btn-group-vertical {
        margin-top: 50px;
    }
    .instructions {
        font-size: 12px;
        margin-top: 10px;
    }
</style>