<div class="enc-sidebar-new">
   <div class="enc-sidebar-title">
      <h6>Client Organization Tree</h6>
   </div>
   <div class="enc-sidebar-content">
      <div class="form-control enc-search-wrp">
         <input type="" class="enc-search-input" placeholder="Search Facility or Provider">
         <i class='bx bx-search' ></i>
      </div>
      <div class="form-row mt-3">
         <div class="enc-sidebar-content-heading">
            <i class='bx bx-buildings' ></i>
            <h6>Dental Credentialing Manager</h6>
         </div>
      </div>
   </div>
</div>
