<div class="enc-content">
<div class="container">
<%= render "top_nav_buttons"%>
    <div class="add-training-content">
        <div class="container">
            <div class="row mt-5">
                <div class="d-flex align-items-center gap-1">
                <a href="<%= verification_platform_index_path(page: 'training')%>" class="link-back %>">
                        <i class='bx bx-left-arrow-alt' ></i>
                    </a>
                    <h4 class="page-heading">Add New Training</h4>
                </div>
                    <form action="">
                        
                    
                        <div class="col-xl-12 right-pane">
                            <div class="form-row row">
                                <div class="d-flex align-items-center gap-10">
                                    <span class="page-note">
                                        <i class='bx bx-error-circle font-blue'></i> <span>To search for an Institution/Program name, please click the search button.</span>
                                    </span>
                                </div>
                                <div class="col-xl-6">
                                    <label for="">Institution/Program Name:</label>
                                    <div class="input-group gap-2">
                                          <select name="training-program" id="school" class="form-select form-select-sm">
                                              <option value="">Select option</option>
                                          </select>
                                          <button class="btn btn-primary rounded" type="button">Search</button>
                                      </div>
                        
                                </div>
                                
                                <div class="col-xl-6">
                                    <label for="training-address">Address:</label>
                                    <select name="training-address" id="training-address" class="form-select">
                                    <option value="">Select option</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-6">
                                    <label for="training-contact">Contact:</label>
                                    <input type="text" name="training-contact" id="training-contact" placeholder="Type here..."class="form-control" required>
                                </div>
                                <div class="col-xl-6">
                                    <label for="training-add-address">Additional Address:</label>
                                    <input type="text"  name="training-add-address"  id="training-add-address"  placeholder="Type here..." class="form-control" required>
                                </div>
                            </div>

                            <div class="form-row row mt-2">
                                <div class="col-xl-6">
                                    <label for="training-city">City:</label>
                                    <input type="text"  name="training-city"  id="training-city"  placeholder="Type here..." class="form-control" required>
                                </div>
                                <div class="col-xl-6">
                                    <label for="training-county">County:</label>
                                    <input type="text" name="training-county" id="training-county" placeholder="Type here..." class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-4">
                                    <label for="training-state">State/Province:</label>
                                    <select name="training-state" id="training-state" class="form-select">
                                    <option value="">Select option</option>
                                    </select>
                                </div>
                                <div class="col-xl-4">
                                    <label for="training-zip">Zip/Postal Code:</label>
                                    <input type="text" name="training-zip"  id="training-zip" placeholder="Type here..." class="form-control" required>
                                </div>
                                <div class="col-xl-4">
                                    <label for="training-country">Country:</label>
                                    <input type="text" name="training-country" id="training-country" placeholder="Type here..." class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-4">
                                    <label for="training-country">Phone Number:</label>
                                    <input type="text" id="phone" name="name" placeholder="Type here..." class="form-control" required>
                                </div>
                                <div class="col-xl-4">
                                    <label for="training-email">Email Address :</label>
                                    <input type="text" id="lastname" placeholder="Type here..." class="form-control" required>
                                </div>
                                <div class="col-xl-4">
                                    <label for="training-fax">Fax Number:</label>
                                    <input type="text" id="training-fax"placeholder="Type here..."  class="form-control" required>
                                </div>
                            </div>
                           
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-4">
                                <label for="training-type">Type of Training:</label>
                                <select name="training-type" id="training-type" class="form-select">
                                <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-4">
                                <label for="prog-dir-firstname">Program Director First Name:</label>
                                <input type="text" name ="prog-dir-firstname" id="prog-dir-firstname" placeholder="Type here..." class="form-control" required>
                            </div>
                            <div class="col-xl-4">
                                <label for="prog-dir-lastname">Program Director Last Name:</label>
                                <input type="text" name ="prog-dir-firstname" id="prog-dir-firstname" placeholder="Type here..." class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-4">
                                <label for="prog-dir-type">Program Director Practitioner Type:</label>
                                <select name="" id="state" class="form-select">
                                <option value="">Select option</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="training-curProgdir">Is this the current Program Director?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="cur-dir" id="inter-yes" value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="cur-dir" id="inter-no" value="No" checked>
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="form-row row mt-2">
                            
                            <div class="col-xl-4">
                                <label for="cur-prog-dir">If No, list current Program Director:</label>
                                <input type="text" name="cur-prog-dir"  id="cur-prog-dir" placeholder="Type here..." class="form-control" required>
                            </div>
                            
                        </div>
                        <div class="form-row row mt-2">
                            
                            <div class="col-xl-4">
                                <label for="speciality">Specialty:</label>
                                <select name="speciality" id="speciality" class="form-select">
                                <option value="">Select option</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-row row mt-2">
                            
                        <div class="col-xl-2">
                        <input type="text" id="from" name="from" class="form-control form-control-lg"
                            placeholder="From" onfocus="(this.type='date')" onblur="(this.type='text')">
                        <!-- <input class="form-control form-control-lg" type="date" name="from" id="from" placeholder="From"> -->
                    </div>
                    <div class="col-xl-2">
                        <input type="text" id="to" name="to" class="form-control form-control-lg" placeholder="To"
                            onfocus="(this.type='date')" onblur="(this.type='text')">
                        <!-- <input class="form-control form-control-lg" type="date" name="to" id="to" placeholder="To"> -->
                    </div>
                            
                        </div>
                       
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="training-curProgdir">Completed?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-yes" value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-no" value="No">
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="form-row row mt-2">
                            
                            <div class="col-xl-4">
                                <label for="expalin-no">If No, please explain:</label>
                                <input type="text" name="expalin-no" id="expalin-no" placeholder="Type here..." class="form-control" required>
                            </div>
                            
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="training-curProgdir">Show on Tickler?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-yes" value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-no" value="No">
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="form-row row mt-2">
                            
                            <div class="col-xl-25">
                                <label for="training-com">Please List any comments</label>
                                <input type="text"  name="training-com" id="training-com" placeholder="Type here..." class="form-control" required>
                            </div>
                            
                        </div>
                        
                        <div class="form-row mt-1 d-flex justify-content-end">
                            <button class="btn-training-save" type="submit">
                                 Save 
                            </button>
                        </div>
                        
                       
                               
                    </form>
                
            </div>
        </div>
    
</div>
</div>