 <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            
            <div class="add-license-content mt-4">
                <div class="row">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= verification_platform_index_path(page: 'liability_action')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Liability Action</h4>
                    </div>
                    <form action="">
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <label for="">Court Case Number, if known:</label>
                                <input name="court-case-number" type="text" id="court-case-number" class="form-control"
                                    placeholder="Type here...">
                            </div>
                            <div class="col-xl-6">
                                <label for="">City Lawsuit Filed:</label>
                                <input name="city-lawsuit-filed" type="text" id="city-lawsuit-filed" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="state-lawsuit-filed">State Lawsuit Filed:</label>
                                <select name="state-lawsuit-filed" id="state-lawsuit-filed" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="">County Lawsuit Filed:</label>
                                <input name="county-lawsuit-filed" type="text" id="county-lawsuit-filed" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="">Date of alleged incident serving as basis for the lawsuit/arbitration:</label>
                                <input name="alleged-incident-date" type="date" id="alleged-incident-date" class="form-control"
                                    placeholder="Type here...">
                            </div>
                            <div class="col-xl-6">
                                <label for="">Date Suit or Claim Filed:</label>
                                <input name="suit-filed-date" type="date" id="suit-filed-date" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="patient-sex">Sex of Patient:</label>
                                <select name="patient-sex" id="patient-sex" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="">Age of Patient:</label>
                                <input name="patient-age" type="text" id="patient-age" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="incident-location">Location of Incident:</label>
                                <select name="incident-location" id="incident-location" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="">If others, please list:</label>
                                <input name="incident-location-other" type="text" id="incident-location-other" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="relationship-to-patient">Your relationship to patient:</label>
                                <select name="relationship-to-patient" id="relationship-to-patient" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="">If others, please list:</label>
                                <input name="relationship-to-patient-other" type="text" id="relationship-to-patient-other" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Please check one:</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="check-one-radio"
                                            id="check-one-primary" value="Primary">
                                        <label class="form-check-label" for="check-one-primary">
                                            Primary
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="check-one-radio"
                                            id="check-one-co-defendant" value="Co-Defendant">
                                        <label class="form-check-label" for="check-one-co-defendant">
                                            Co-Defendant
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Are there any other defendants?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="other-defendant-radio"
                                            id="other-defendant-yes" value="Yes">
                                        <label class="form-check-label" for="other-defendant-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="other-defendant-radio"
                                            id="other-defendant-no" value="No">
                                        <label class="form-check-label" for="other-defendant-no">
                                            No
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="other-defendant-radio"
                                            id="other-defendant-unknown" value="Unknown">
                                        <label class="form-check-label" for="other-defendant-unknown">
                                            Unknown
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-12">
                                <div class="card other-name-card">
                                    <div class="card-body">
                                        <h6 class="form-heading">If Yes, please list other defendants</h6>
                                        <div class="form-row row">
                                            <div class="col-xl-3">
                                                <label for="">First Name:</label>
                                                <input name="other-def-fname" type="text" id="other-def-fname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="">Middle Name:</label>
                                                <input name=" other-def-mname" type="text" id="other-def-mname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="">Last Name:</label>
                                                <input name=" other-def-lname" type="text" id="other-def-lname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="other-def-suffix">Suffix:</label>
                                                <select name="other-def-suffix" id="other-def-suffix" class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-12">
                                <label for="allegation">Allegation:</label>
                                <textarea name="allegation" id="allegation" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <div class="">
                                    <label for="" class="">Is/was there an insurance company or other liability protection company or organization providing coverage/defense of the lawsuit or arbitration action?</label>
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="insurance-company-radio"
                                                id="insurance-company-yes" value="Yes">
                                            <label class="form-check-label" for="insurance-company-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="insurance-company-radio"
                                                id="insurance-company" value="No">
                                            <label class="form-check-label" for="insurance-company-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-3  health-card">
                            <div class="col-xl-12">
                                <div class="card other-name-card">
                                    <div class="card-body">
                                        <h6 class="form-heading">If Yes, please complete the following:</h6>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="">Company Name:</label>
                                                <input name="insurance-company-company-name" type="text" id="insurance-company-company-name" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Policy Number:</label>
                                                <input name=" insurance-company-policy-num" type="text" id="insurance-company-policy-num" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-3">
                                                <label for="">First Name:</label>
                                                <input name="insurance-company-fname" type="text" id="insurance-company-fname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="">Middle Name:</label>
                                                <input name=" insurance-company-mname" type="text" id="insurance-company-mname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="">Last Name:</label>
                                                <input name=" insurance-company-lname" type="text" id="insurance-company-lname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="insurance-company-suffix">Suffix:</label>
                                                <select name="insurance-company-suffix" id="insurance-company-suffix" class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="">Phone Number;</label>
                                                <input name="insurance-company-phone-num" type="text" id="insurance-company-phone-num" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Address:</label>
                                                <input name=" insurance-company-address" type="text" id="insurance-company-address" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="">Suite/Dept/Mail Stop:</label>
                                                <input name="insurance-company-mail-stop" type="text" id="insurance-company-mail-stop" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Additional Address:</label>
                                                <input name=" insurance-company-additional-address" type="text" id="insurance-company-additional-address" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="">City:</label>
                                                <input name="insurance-company-city" type="text" id="insurance-company-city" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">County:</label>
                                                <input name=" insurance-company-county" type="text" id="insurance-company-county" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="insurance-company-state">State/Province:</label>
                                                <select name="insurance-company-state" id="insurance-company-state" class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Zip/Postal Code:</label>
                                                <input name=" insurance-company-zip" type="text" id="insurance-company-zip" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="insurance-company-country">Country:</label>
                                                <select name="insurance-company-country" id="insurance-company-country" class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Claim Identification Number:</label>
                                                <input name=" insurance-company-claim-id-no" type="text" id="insurance-company-claim-id-no" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <div class="">
                                    <label for="" class="">If you would like us to contact your attorney regarding any of the above, please provide attorney name and phone number, fax number and email address. We will fax or email this document to your attorney as this will serve as your authorization.</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-12">
                                <div class="card other-name-card">
                                    <div class="card-body">
                                        <h6 class="form-heading">Attorney</h6>
                                        <div class="form-row row">
                                            <div class="col-xl-3">
                                                <label for="">First Name:</label>
                                                <input name="atty-fname" type="text" id="atty-fname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="">Middle Name:</label>
                                                <input name=" atty-mname" type="text" id="atty-mname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="">Last Name:</label>
                                                <input name=" atty-lname" type="text" id="atty-lname" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-3">
                                                <label for="atty-suffix">Suffix:</label>
                                                <select name="atty-suffix" id="atty-suffix" class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-4">
                                                <label for="">Phone Number:</label>
                                                <input name="atty-phone-no" type="text" id="atty-phone-no" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="">Fax Number:</label>
                                                <input name=" atty-fax" type="text" id="atty-fax" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="">Email Address:</label>
                                                <input name=" atty-email" type="text" id="atty-email" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <div class="">
                                    <label for="" class="">Status of the Lawsuit/Arbitration (please select one of the following):</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-ongoing" value="Lawsuit still ongoing/unresolved">
                                        <label class="form-check-label" for="lawsuit-status-ongoing">
                                            Lawsuit still ongoing/unresolved
                                        </label>
                                    </div>
                                    <div class="form-row row amount-wrp">
                                        <div class="col-xl-6">
                                            <label for="">Amount Being Sought:</label>
                                            <div class="form-control">
                                                <span>$</span>
                                                <input name="amount" type="text" id="amount" class="amount-input"
                                                placeholder="Type here...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-mediation-ongoing" value="Arbitration/mediation still ongoing/unresolved">
                                        <label class="form-check-label" for="lawsuit-status-mediation-ongoing">
                                            Arbitration/mediation still ongoing/unresolved
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-judgment-rendered-wpayment" value="Judgment rendered and payment made on my behalf">
                                        <label class="form-check-label" for="lawsuit-status-judgment-rendered-wpayment">
                                            Judgment rendered and payment made on my behalf
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-judgment-rendered-notliable" value="Judgment rendered and I was not found liable">
                                        <label class="form-check-label" for="lawsuit-status-judgment-rendered-notliable">
                                            Judgment rendered and I was not found liable
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-lawsuit-settled-wpayment" value="Lawsuit settled and payment made on my behalf">
                                        <label class="form-check-label" for="lawsuit-status-lawsuit-settled-wpayment">
                                            Lawsuit settled and payment made on my behalf
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-mediation-settled-wpayment" value="Arbitration/mediation settled and payment made on my behalf">
                                        <label class="form-check-label" for="lawsuit-status-mediation-settled-wpayment">
                                            Arbitration/mediation settled and payment made on my behalf
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-lawsuit-settled-nopayment" value="Lawsuit settled, no judgment rendered and no payment made on my behalf">
                                        <label class="form-check-label" for="lawsuit-status-lawsuit-settled-nopayment">
                                            Lawsuit settled, no judgment rendered and no payment made on my behalf
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-mediation-settled-nopayment" value="Arbitration/mediation settled, no judgment rendered, no payment made on my behalf">
                                        <label class="form-check-label" for="lawsuit-status-mediation-settled-nopayment">
                                            Arbitration/mediation settled, no judgment rendered, no payment made on my behalf
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-in-appeal" value="In Appeal">
                                        <label class="form-check-label" for="lawsuit-status-in-appeal">
                                            In Appeal
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-dismissed" value="Dismissed">
                                        <label class="form-check-label" for="lawsuit-status-dismissed">
                                            Dismissed
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lawsuit-status-radio"
                                            id="lawsuit-status-withdrawn" value="Withdrawn">
                                        <label class="form-check-label" for="lawsuit-status-withdrawn">
                                            Withdrawn
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <div class="">
                                    <label for="" class="">Summarize the circumstances giving rise to the action. If the action involves patient care, provide a narrative, with adequate clinical detail, including your description of your care and treatment of the patient. Include the following:</label>
                                    <ol>
                                        <li>Condition and diagnosis at time of incident</li>
                                        <li>Dates and description of treatment rendered, and</li>
                                        <li>Condition of patient subsequent to treatment</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-12">
                                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-12">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">To the best of your knowledge is this case included in the National Practitioner Data Bank?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="nat-prac-data-bank-input"
                                            id="nat-prac-data-bank-yes" value="Yes">
                                        <label class="form-check-label" for="nat-prac-data-bank-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="nat-prac-data-bank-input"
                                            id="nat-prac-data-bank-no" value="No">
                                        <label class="form-check-label" for="nat-prac-data-bank-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-25">
                                <label for="training-com">Please List any comments</label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-row mt-1 d-flex justify-content-end">
                            <button class="btn btn-training-save btn-primary" type="submit">
                                Save
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
      </div>
