    <div class="enc-content">
        <div class="container">
           <%= render "top_nav_buttons"%>


            <div class="row mt-4">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= verification_platform_index_path(page: 'liability')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Liability</h4>
                    </div>
                </div>
            </div>

            <form action="">
                <div class="form-row row mt-3">
                    <div class="col-xl-4">
                        <label for="SelfIssued">Self Issued:</label>
                        <select name="SelfIssued" class="form-select " id="SelfIssued">
                            <option value="">Select option</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="CoverageType">Type of Coverage:</label>
                        <select name="CoverageType" class="form-select " id="CoverageType">
                            <option value="">Select option</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="PolicyType">Policy Type:</label>
                        <select name="PolicyType" class="form-select " id="PolicyType">
                            <option value="">Select option</option>
                        </select>
                    </div>
                </div>

                <div class="page-applicable">
                    <div class="card mt-3">
                        <div class="form-row row p-2">
                            <span class="page-note">
                                <i class='bx bx-error-circle font-lightblue'></i> <span>To search for a School name,
                                    please
                                    click the search button.</span>
                            </span>
                            <div class="form-row row">
                                <div class="col-xl-6 ">
                                    <label for="CarrierName" class="text-dark-grey">Carrier Name:</label>
                                    <div class="input-group gap-2">
                                        <select name="CarrierName" id="CarrierName" class="form-select form-select-sm">
                                            <option value="">Select option</option>
                                        </select>
                                        <button class="btn btn-primary" type="button">Search</button>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="address" class="text-dark-grey">Address:</label>
                                    <input type="text" name="address" id="address" class="form-control form-control-lg"
                                        placeholder="Type here..">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="suitestop" class="text-dark-grey">Suite/Dept/Mail Stop:</label>
                                    <input type="text" class="form-control form-control-lg" name="suitestop"
                                        id="suitestop" placeholder="Type here..">
                                </div>
                                <div class="col-xl-6">
                                    <label for="AdditionalAddress" class="text-dark-grey">Additional Address:</label>
                                    <input type="text" class="form-control form-control-lg" name="AdditionalAddress"
                                        id="AdditionalAddress" placeholder="Type here..">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="city" class="text-dark-grey">City:</label>
                                    <input type="text" class="form-control form-control-lg" name="city" id="city"
                                        placeholder="Type here..">
                                </div>
                                <div class="col-xl-6">
                                    <label for="county" class="text-dark-grey">County:</label>
                                    <input type="text" class="form-control form-control-lg" name="county" id="county"
                                        placeholder="Type here..">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-4">
                                    <label for="State" class="text-dark-grey">State/Province:</label>
                                    <select name="state" id="state" class="form-select ">
                                        <option value="">Select option</option>
                                    </select>
                                </div>
                                <div class="col-xl-4">
                                    <label for="Zip" class="text-dark-grey">Zip/Postal Code:</label>
                                    <input type="text" name="city2" id="city2" class="form-control form-control-lg"
                                        placeholder="Type here..">
                                </div>
                                <div class="col-xl-4">
                                    <label for="Country" class="text-dark-grey">Country:</label>
                                    <select name="country" id="country" class="form-select ">
                                        <option value="">Select option</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-4">
                                    <label for="CarrierNumber" class="text-dark-grey">Carrier Number:</label>
                                    <input type="text" class="form-control form-control-lg" name="CarrierNumber"
                                        id="CarrierNumber" placeholder="xxx-xxx-xxxx">
                                </div>
                                <div class="col-xl-4">
                                    <label for="CarrierFax" class="text-dark-grey">Carrier Fax:</label>
                                    <input type="text" class="form-control form-control-lg" name="CarrierFax"
                                        id="CarrierFax" placeholder="xxx-xxx-xxxx">
                                </div>
                                 <div class="col-xl-4">
                                    <label for="address" class="text-dark-grey">Carrier E-mail Address:</label>
                                    <input type="text" name="carrieraddress" id="carrieraddress" class="form-control form-control-lg"
                                        placeholder="Type here..">
                                </div>
                            </div>
                            <div class="form-row row">
                              <div class="col-xl-6">
                                <label for="address" class="text-dark-grey">Policy Holder:</label>
                                    <input type="text" name="policyholder" id="policyholder" class="form-control form-control-lg"
                                        placeholder="Type here..">
                              </div>
                              <div class="col-xl-6">
                                <label for="address" class="text-dark-grey">Policy Number:</label>
                                    <input type="text" name="policynumber" id="policynumber" class="form-control form-control-lg"
                                        placeholder="Type here..">
                              </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-6">
                                    <label class=" " for="OriginalEffectiveDate">Original Effective
                                        Date:</label>
                                    <input type="text" id="OriginalEffectiveDate" name="OriginalEffectiveDate"
                                        class="form-control form-control-lg" placeholder="MM/DD/YYYY"
                                        onfocus="(this.type='date')" onblur="(this.type='text')">
                                    <!-- <input class="form-control form-control-lg" type="date" name="from" id="from" placeholder="From"> -->
                                </div>
                                <div class="col-xl-6">
                                    <label class=" " for="expiredate">Expiration Date:</label>
                                    <div class="input-group gap-3 d-flex align-items-center">
                                        <input type="text" id="expiredate" name="expiredate"
                                            class="form-control form-control-lg" placeholder="MM/DD/YYYY"
                                            onfocus="(this.type='date')" onblur="(this.type='text')">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="present-switch">
                                            <label class=" " class="form-check-label" for="present-switch">Does
                                                Not Expire</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="col-xl-4">
                            <label class=" " for="PerClaimAmount">Per Claim Amount:</label>
                            <input type="text" class="form-control form-control-lg" id="PerClaimAmount"
                                name="PerClaimAmount" placeholder="Type here..">
                        </div>
                        <div class="col-xl-4">
                            <label class=" " for="AggregateAmount">Aggregate Amount:</label>
                            <input type="text" class="form-control form-control-lg" id="AggregateAmount"
                                name="AggregateAmount" placeholder="Type here..">
                        </div>
                        <div class="col-xl-4">
                            <label class=" " for="UmbrellaCoverage">Umbrella Coverage (amount):</label>
                            <input type="text" class="form-control form-control-lg" id="UmbrellaCoverage"
                                name="UmbrellaCoverage" placeholder="Type here..">
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="col-xl-6">
                            <div class="input-group d-flex align-items-center gap-2">
                                <label for="" class="text-dark-grey">Do you have tail coverage (extended reporting
                                    endorsement)?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="TailCoverage"
                                        value="yesTailCoverage">
                                    <label class="form-check-label" for="yesTailCoverage">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="TailCoverage"
                                        value="noTailCoverage">
                                    <label class="form-check-label" for="noTailCoverage">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="col-xl-8">
                            <div class="input-group d-flex align-items-center gap-2">
                                <label for="" class="text-dark-grey">Has your current carrier excluded any specific area of practice
                                    or procedures from your coverage?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ExcludedAreaOfPractice"
                                        value="yesExcludedAreaOfPractice" checked>
                                    <label class="form-check-label" for="yesExcludedAreaOfPractice">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ExcludedAreaOfPractice"
                                        value="noExcludedAreaOfPractice">
                                    <label class="form-check-label" for="noExcludedAreaOfPractice">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row row ListOfExclusions">
                        <label for="ListOfExclusions" class="text-dark-grey">If Yes, please list the exclusions with
                            explanation:</label>
                        <div class="col-xl-12">
                            <input type="text" class="form-control form-control-lg" name="ListOfExclusions"
                                id="ListOfExclusions" placeholder="Type here..">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-xl-4">
                            <div class="input-group gap-2">
                                <label class="align-self-center" for="">Show on Tickler?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tickler" value="yesTickler">
                                    <label class="form-check-label" for="yesTickler">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tickler" value="yesTickler"
                                        checked>
                                    <label class="form-check-label" for="noTickler">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row row mb-3">
                        <label for="comment">Please list any comments:</label>
                        <div class="col-xl-12">
                            <input type="text" class="form-control form-control-lg" name="comments" id="comments"
                                placeholder="Type here..">
                        </div>
                    </div>
                    <div class="form-row row justify-content-end">
                        <div class="col-xl-2">
                            <button class="btn btn-primary form-control">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>