

    <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%>
        
          <div class="add-education-content">
             <div class="container">
                <div class="row mt-5">
                      <div class="d-flex align-items-center gap-1">
                      <a href="<%= verification_platform_index_path(page: 'billing_info')%>" class="link-back">
                        <i class='bx bx-left-arrow-alt' ></i>
                      </a>
                      <h4 class="page-heading">Add New Billing</h4>
                      </div>
                    <form action="">
                      <div class="card">
                          <div class="m-2">
                              <span class="page-note">
                                  <i class='bx bx-error-circle font-lightblue'></i> <span>To search for a Billing Company name, please click the Select button</span>
                              </span>
  
                              <div class="form-row row">
                                  <div class="col-xl-6 ">
                                      <label for="school">Billing Company:</label>
                                      <div class="input-group gap-2">
                                          <select name="school" id="school" class="form-select form-select-sm">
                                              <option value="">Select option</option>
                                          </select>
                                          <button class="btn btn-primary rounded" type="button">Search</button>
                                      </div>
                                  </div>
                                  <div class="col-xl-6">
                                      <label for="middlename">Address:</label>
                                      <input type="text" name="address" id="address" class="form-control form-control-lg"
                                          placeholder="Type here..">
                                  </div>
                              </div>
                              <div class="form-row row">
                                  <div class="col-xl-6">
                                      <label for="suite">Suite/Dept/Mail Stop:</label>
                                      <input type="text" name="suite" id="suite" class="form-control form-control-lg"
                                          placeholder="Type here..">
                                  </div>
                                  <div class="col-xl-6">
                                      <label for="additionalAddress">Additional Address:</label>
                                      <input type="text" name="additionalAddress" id="additionalAddress"
                                          class="form-control form-control-lg" placeholder="Type here..">
                                  </div>
                              </div>
                              <div class="form-row row">
                                  <div class="col-xl-6">
                                      <label for="City">City:</label>
                                      <input type="text" name="city" id="city" class="form-control form-control-lg"
                                          placeholder="Type here..">
                                  </div>
                                  <div class="col-xl-6">
                                      <label for="county">County:</label>
                                      <input type="text" id="county" class="form-control form-control-lg"
                                          placeholder="Type here..">
                                  </div>
                              </div>
                              <div class="form-row row">
                                  <div class="col-xl-4">
                                      <label for="State">State/Province:</label>
                                      <select name="state" id="state" class="form-select form-select-lg">
                                          <option value="">Select option</option>
                                      </select>
                                  </div>
                                  <div class="col-xl-4">
                                      <label for="Zip">Zip/Postal Code:</label>
                                      <input type="text" name="city2" id="city2" class="form-control form-control-lg"
                                          placeholder="Type here..">
                                  </div>
                                  <div class="col-xl-4">
                                      <label for="Country">Country:</label>
                                      <select name="country" id="country" class="form-select form-select-lg">
                                          <option value="">Select option</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="form-row row">
                                <div class="col-xl-6">
                                    <label for="number">Phone Number:</label>
                                    <select name="number" id="number" class="form-select form-select-lg">
                                        <option value="">Select option</option>
                                    </select>
                                </div>
                                <div class="col-xl-6">
                                        <label for="number">Contact:</label>
                                        <select name="number" id="number" class="form-select form-select-lg">
                                            <option value="">Select option</option>
                                        </select>
                                </div>
                              </div>
                              <div class="form-row row">
                                  <div class="col-xl-6">
                                      <label for="Fax">Fax Number:</label>
                                      <select name="fax" id="fax" class="form-select form-select-lg">
                                          <option value="">Select option</option>
                                      </select>
                                  </div>
                                  <div class="col-xl-6">
                                      <label for="email">Email Address:</label>
                                      <input type="text" name="city" id="city" class="form-control form-control-lg"
                                          placeholder="Type here..">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-row row">
                          <div class="col-xl-4">
                              <label for="programtitle">Name Affiliated with Tax ID Number:</label>
                              <input class="form-control form-control-lg" type="text" name="ProgramTitle"
                                  id="ProgramTitle" placeholder="Type here..">
                          </div>
                          <div class="col-xl-4">
                              <label for="degree">Federal Tax ID Number:</label>
                              <input class="form-control form-control-lg" type="text" name="degree" id="degree"
                                  placeholder="Type here..">
                          </div>
                          <div class="col-xl-4">
                              <label for="other">Check Payable To:</label>
                              <input class="form-control form-control-lg" type="text" name="other" id="other"
                                  placeholder="Type here..">
                          </div>
                      </div>
                      <div class="form-row row mt-2">
                          <div class="col-xl-4">
                              <div class="input-group gap-2">
                                  <label class="align-self-center" for="">Do you bill electronically?</label>
                                  <div class="form-check">
                                      <input class="form-check-input" type="radio" name="Completed" value="yesCompleted">
                                      <label class="form-check-label" for="yesCompleted">Yes</label>
                                  </div>
                                  <div class="form-check">
                                      <input class="form-check-input" type="radio" name="Completed" value="noCompleted"
                                          checked>
                                      <label class="form-check-label" for="noCompleted">No</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-row row mb-3 mt-3">
                          <label for="completedNo">Please list any comments:</label>
                          <div class="col-xl-12">
                              <input type="text" class="form-control form-control-lg" name="comments" id="comments"
                                  placeholder="Type here..">
                          </div>
                      </div>
                      <div class="form-row row justify-content-end">
                          <div class="col-xl-2">
                              <button class="btn btn-primary form-control">Save</button>
                          </div>
                      </div> 
                  </form>
            </div>
        </div>
        </div>   
    </div>
</div>
