  <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%>
          
            <div class="row mt-2">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <h4 class="page-heading">Additional Forms</h4>
                        <button class="btn btn-primary btn-sm py-1">Edit</button>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="form-row row mt-2">
                    <div class="col-xl-6">
                        <label for="">Forms Type:</label>
                        <select name="FormType" class="form-select " id="FormType">
                            <option value="">Select option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="">Status:</label>
                        <select name="status" class="form-select " id="status">
                            <option value="">Select option</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="EffectiveDate">Effective Date:</label>
                        <input type="text" id="EffectiveDate" name="EffectiveDate" class="form-control form-control-lg"
                            placeholder="MM-DD-YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                        <!-- <input class="form-control form-control-lg" type="date" name="from" id="from" placeholder="From"> -->
                    </div>
                    <div class="col-xl-6">
                        <label for="Expire">Expiration Date:</label>
                        <input type="text" id="ExpirationDate" name="ExpirationDate"
                            class="form-control form-control-lg" placeholder="MM-DD-YYYY" onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                        <!-- <input class="form-control form-control-lg" type="date" name="to" id="to" placeholder="To"> -->
                    </div>
                </div>
                <div class="form-row row justify-content-end mt-3">
                    <div class="col-xl-2">
                        <button class="btn btn-danger form-control">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>