
    <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%>
            
            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Health System Affiliations</h4>
                    <!-- <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="practice-info-switch">
                        <label class="form-check-label" for="practice-info-switch">Not Applicable</label>
                    </div> -->
                </div>
                <a href="<%= verification_platform_index_path(page: 'add_new_affiliation')%>" class="btn btn-primary py-1">
                    <i class='bx bx-plus'></i>
                    Add New Affiliation
                </a>
            </div>
            <div class="mt-3 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please list all current or intended Health System Affiliations. Required fields are marked with the symbol “<span class="font-red">*</span>”.</span>
                </span>
            </div>
            <table class="table practice-table mt-3 page-applicable">
                <thead>
                    <tr>
                        <th class="text-white" scope="col">Affiliation</th>
                        <th class="text-white">ID Number</th>
                        <th class="text-white">Primary Facility?</th>
                        <th class="text-white">Designated Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= verification_platform_index_path(page: 'affiliation_record')%>">Lorem</a></td>
                        <td>Lorem</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>