  <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%>
           
            <div class="cont">
                <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                    <div class="d-flex align-items-center gap-3">
                        <h4 class="page-heading">Standard Disclosures</h4>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="disclosure-switch">
                            <label class="form-check-label" for="education-switch">Not Applicable</label>
                        </div>
                        <a class="btn btn-primary py-1 page-applicable" href="" id="EditDisclosure">
                            Edit
                        </a>
                    </div>
                </div>
                <div class="mt-2 page-applicable">
                    <span class="page-note">
                        <i class='bx bx-error-circle font-red'></i> <span>Please answer each of the following questions.
                            You must provide an explanation for each "Yes" answer to questions 1-26.</span>
                    </span>
                </div>
                <div class="page-applicable">
                    <div class="right-pane">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="offset-md-5">Message Board</h6>
                            <button class="btn btn-primary py-1" data-bs-toggle="modal" data-bs-target="#addCommentModal">
                                Add Comment
                            </button>
                        </div>
                        <div class="form-row mt-2">
                            <span class="btn span-pane bg-alt-grey  py-1" data-bs-toggle="modal" data-bs-target="#deleteCommentModal">
                                Subject: Incomplete Record
                            </span>
                        </div>
                    </div>
                    <!-- <div class="col-xl-12">
                        <div class="card p-2">
                            <div class="input-group d-flex align-items-center justify-content-between gap-2">
                                <label class="offset-md-5">Message Board</label>
                                <button class="btn btn-primary py-1 rounded" data-bs-toggle="modal"
                                    data-bs-target="#addCommentModal">
                                    Add Comment
                                </button>
                            </div>
                            <div class="form-row mt-2 mb-lg-5">
                                <span class="btn span-pane" data-bs-toggle="modal" data-bs-target="#deleteCommentModal">
                                    Subject: Incomplete Record
                                </span>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4">Licensure</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure1-switch">
                                    <label for="">1. Has your license, registration or
                                        certification to practice in your profession, ever been voluntarily or
                                        involuntarily relinquished,denied, suspended, revoked, restricted, or have you
                                        ever been subject to a fine, reprimand, consent order, probation or any
                                        conditions or limitations by any state or professional licensing, registration
                                        or certification board?</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure2-switch">
                                    <label for="">2. Has there been any challenge to your licensure, registration or
                                        certification?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4">Hospital Privileges and Other Affiliations</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure3-switch">
                                    <label for="">3. Have your clinical privileges or medical staff membership at any
                                        hospital or healthcare institution, voluntarily or involuntarily, ever been
                                        denied, suspended, revoked, restricted, denied renewal or subject to
                                        probationary or to other disciplinary conditions (For reasons other non
                                        completion of medical record when quality of care was not adversely affected) or
                                        have proceedings toward any of those ends been instituted or recommended by any
                                        hospital or healthcare institution, medical staff or committee, or governing
                                        board? Has your license, registration or certification to practice in your
                                        profession ever been voluntarily or involuntarily relinquished, denied,
                                        suspended, revoked, restricted, or have you ever been subject to a fine
                                        reprimand, consent order, probation or any conditions or limitations by any
                                        state or professional licensing, registration of certification board?</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure4-switch">
                                    <label for="">4. Have you voluntarily or involuntarily surrendered, limited your privileges or not reapplied
                                        for privileges while under invetigation?</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure5-switch">
                                    <label for="">5. Have you ever been terminated for cause or not renewed for cause from participation, or been
                                        subject to any disciplinary action, by any managed care organizations including HMOs, PPOs, or provider organizations
                                        such as IPAs, PHOS?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4"> EDUCATION, TRAINING AND BOARD CERTIFICATION</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">6. Were you ever placed on probation, disciplined, formally reprimanded, suspended or asked to resign during an intership,
                                        residency, fellowship, preceptorship or other clinical education program? if you are currently in a training program, have you been placed
                                        on probation, disciplined, formally reprimanded, suspended or asked to resign?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure7-switch">
                                    <label for="">7. Have you ever, while under investigation, voluntarily withdrawn or permaturely terminated your status as a student or employee
                                        in any internship, residency, fellowship, preceptorship, or other clinical education program?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure8-switch">
                                    <label for="">8. Have any of your board certifications or eligibility ever been revoked?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure8-switch">
                                    <label for="">9. Have you ever chosen not to re-certify or voluntarily surrendered your board certification(s) while under investigation?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4"> DEA OR STATE CONTROLLED SUBSTANCE REGISTRATION</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">10. Have your Federal DEA and/or State Controlled Dangerous Substances (CDS) certificate(s) or authorization(s) ever been challenged, denied, suspended, revoked, restricted, denied renewal, or voluntarily or involuntarily relinquished?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4">  MEDICARE, MEDICAID OR OTHER GOVERNMENTAL PROGRAM  PARTICIPATION</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">11. 	Have you ever been disciplined, excluded from, debarred, suspended, reprimanded, sanctioned, censured, disqualified or otherwise restricted in regard to participation in the Medicare or Medicaid program, or in regard to other federal or state governmental healthcare plans or programs?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4"> OTHER SANCTIONS OR INVESTIGATIONS</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">12. Are you currently the subject of an investigation by any hospital, licensing authority, DEA or CDS authorizing entities, education or training program, Medicare or Medicaid program, or any other private, federal or state health program or a defendant in any civil action that is reasonably related to your qualifications, competence, functions, or duties as a medical professional for alleged fraud, an act of violence, child abuse or a sexual offense or sexual misconduct?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">13. To your knowledge, has information pertaining to you ever been reported to the National Practitioner Data Bank or Healthcare Integrity and Protection Data Bank?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for=""> 14. Have you ever received sanctions from or are you currently the subject of investigation by any regulatory agencies (e.g., CLIA,OSHA, etc.)?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for=""> 15. Have you ever been convicted of, pled guilty to, pled nolo contendere to, sanctioned, reprimanded, restricted, disciplined or esigned in exchange for no investigation or adverse action within the last ten years for sexual harassment or other illegal misconduct?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for=""> 16. Are you currently being investigated or have you ever been sanctioned, reprimanded, or cautioned by a military hospital, facility, or agency, or voluntarily terminated or resigned while under investigation or in exchange for no investigation by a hospital or healthcare facility of any military agency?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4"> PROFESSIONAL LIABILITY INSURANCE INFORMATION AND CLAIMS  HISTORY</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">17.  Has your professional liability coverage ever been cancelled, restricted, declined or not renewed by the carrier based on your individual liability history?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for=""> 18. Have you ever been assessed a surcharge, or rated in a high-risk class for your specialty, by your professional liability insurance carrier, based on your individual liability history?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4"> MALPRACTICE CLAIMS HISTORY</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">19.Have you had any professional liability actions (pending, settled, arbitrated, mediated or litigated) within the past 10 years?* If yes, provide information for each case.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4"> CRIMINAL/CIVIL HISTORY</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">20.Have you ever been convicted of, pled guilty to, or pled nolo contendere to any felony?
                                    </label>
                                </div><div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">21.In the past ten years have you been convicted of, pled guilty to, or pled nolo contendere to any misdemeanor (excluding minor traffic violations) or been found liable or responsible for any civil offense that is reasonably related to your qualifications, competence, functions, or duties as a medical professional, or for fraud, an act of violence, child abuse or a sexual offense or sexual misconduct?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">22. Have you ever been court-martialed for actions related to your duties as a medical professional?
                                    </label>
                                </div>
                                <p>Note: A criminal record will not necessarily be a bar to acceptance. Decisions will be made by each health plan or credentialing organization based upon all the relevant circumstances, including the nature of the crime.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4 page-applicable">
                    <div class="col-xl-12">
                        <div class="card p-3">
                            <h6 class="fw-bold mt-1 mb-4">  ABILITY TO PERFORM JOB</h6>
                            <div class="input-group">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">23.Are you currently engaged in the illegal use of drugs?* ("Currently" means sufficiently recent to justify a reasonable belief that the use of drugs may have an ongoing impact on one's ability to practice medicine. It is not limited to the day of, or within a matter of days or weeks before the date of application, rather that it has occurred recently enough to indicate the individual is actively engaged in such conduct. "Illegal use of drugs" refers to drugs whose possession or distribution is unlawful under the Controlled Substances Act, 21 U.S.C. ยง 812.22. It "does not include the use of a drug taken under supervision by a licensed health care professional, or other uses authorized by the Controlled Substances Act or other provision of Federal law." The term does include, however, the unlawful use of prescription controlled substances.) 
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">24. Do you use any chemical substances that would in any way impair or limit your ability to practice medicine and perform the functions of your job with reasonable skill and safety?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">25. Do you have any reason to believe that you would pose a risk to the safety or well being of your patients?
                                    </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="licensure-disclosure6-switch">
                                    <label for="">26. Are you unable to perform the essential functions of a practitioner in your area of practice even with reasonable accommodation?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" class="page-applicable">
                    <div class="form-row">
                        <label for="">If Yes, please explain:</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                    </div>
                </form>
                <form action="" class="page-not-applicable">
                    <div class="form-row mt-4">
                        <label for="">Please explain:<span class="font-red">*</span></label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                    </div>
                    <div class="form-row mt-2 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary py-1">
                            Save
                        </button>
                    </div>
                </form>
            </div>


            <!-- Add Comment Modal -->
            <div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <div class="modal-title">
                                    <h6 class="offset-md-5">Add Comment</h6>
                                    <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                                </div>
                                <form action="">
                                    <div class="form-row mt-3">
                                        <label for="">Subject:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-row">
                                        <label for="">Message:</label>
                                        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                </form>
                                <div class="form-row mt-3 d-flex justify-content-center">
                                    <button class="btn btn-primary py-1">Post Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Comment Modal -->
            <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content">
                                <div class="modal-title">
                                    <h6 class="offset-md-5">Comment</h6>
                                    <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                                </div>
                                <form action="">
                                    <div class="form-row mt-3">
                                        <label for="">Subject:</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-row">
                                        <label for="">Message:</label>
                                        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                </form>
                                <div class="form-row mt-3 d-flex justify-content-center">
                                    <button class="btn btn-danger">Delete Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>