<div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Education</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="education-switch">
                        <label class="form-check-label" for="education-switch">Not Applicable</label>
                    </div>
                </div>
                <a href="<%= verification_platform_index_path(page: 'add_education_info')%>" class="btn btn-primary py-1">
                        <i class='bx bx-plus' ></i>
                        Add New Education
                    </a>
            </div>
            <div class="mt-2 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please list your professional education (post-high school) in chronological order. For allied health practitioners include secondary (high-school education). Include all professional education programs attended whether completed or not. Required fields are marked with the symbol “<span class="font-red">*</span>”</span>.
                </span>
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please check the Not Applicable button if you have never enrolled in a professional education program.</span>
                </span>
            </div>
            <div class="row mt-3 page-applicable">
                <div class="col-xl-4">
                    <div class="form-control enc-search-wrp">
                        <input type="" class="enc-search-input" placeholder="Search">
                        <i class='bx bx-search' ></i>
                    </div>
                </div>
            </div>
            <div class="row result-controls page-applicable">
                <div class="col-xl-6 filter-result">
                    <h6 class="">Result: 2 records</h6>
                </div>
                <div class="col-xl-6">
                    <div class="table-controls">
                        <div class="control-wrp">
                            <label for="limit">Show limit</label>
                            <input type="text" id="limit" class="form-control" value="20">
                        </div>
                        <div class="control-wrp">
                            <label for="page">Page 1 of 32</label>
                            <input type="text" id="page" class="form-control" value="1">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered practice-table mt-3 page-applicable ">
                <thead>
                    <tr>
                        <th class="text-white" scope="col">School</th>
                        <th class="text-white">Degree/Certificate</th>
                        <th class="text-white">Attended From</th>
                        <th class="text-white">Attended To</th>
                        <th class="text-white">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= verification_platform_index_path(page: 'education_info')%>">Loyola University Chicago, Stritch School of Medicine</td>
                        <td>MD</td>
                        <td>7/2004</td>
                        <td>6/2008</td>
                        <td>Not Requested</td>
                    </tr>
                    <tr>
                        <td>Loyola University Chicago, Stritch School of Medicine</td>
                        <td>MD</td>
                        <td>7/2004</td>
                        <td>6/2008</td>
                        <td>Not Requested</td>
                    </tr>
                </tbody>
            </table>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>