  <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%>
            
            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Facilities</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="practice-info-switch">
                        <label class="form-check-label" for="practice-info-switch">Not Applicable</label>
                    </div>
                </div>

                <a href="<%= verification_platform_index_path(page: 'add_new_facility')%>" class="btn btn-primary">
                    <i class='bx bx-plus'></i>
                    Add New Facility
                </a>

            </div>
            <div class="mt-2 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please list all facilities with which you are or
                        have ever been affiliated since completion of education and training, beginning with your
                        primary facility. This includes hospitals, surgery centers, institutions, corporations, military
                        assignments and government agencies. Required fields are marked with the symbol “*”. “<span
                            class="font-red">*</span>”.</span>
                </span>
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please check the Not Applicable box if you are not
                        currently and have never been affiliated with a facility.</span>
                </span>
            </div>
            <div class="row mt-3 page-applicable">
                <div class="col-xl-4">
                    <div class="form-control enc-search-wrp">
                        <input type="text" name="" class="enc-search-input" placeholder="Search">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
            <div class="row result-controls page-applicable">
                <div class="col-xl-6 filter-result">
                    <h6 class="">Result: 2 records</h6>
                </div>
                <div class="col-xl-6">
                    <div class="table-controls">
                        <div class="control-wrp">
                            <label for="limit">Show limit</label>
                            <input type="text" id="limit" class="form-control" value="20">
                        </div>
                        <div class="control-wrp">
                            <label for="page">Page 1 of 32</label>
                            <input type="text" id="page" class="form-control" value="1">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table practice-table mt-3 page-applicable">
                <thead>
                    <tr>
                        <th class="text-white" scope="col">Facility</th>
                        <th class="text-white">Department</th>
                        <th class="text-white">Section Name</th>
                        <th class="text-white">Appointment Date</th>
                        <th class="text-white">Expiration Date</th>
                        <th class="text-white">Department Chair</th>
                        <th class="text-white">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= verification_platform_index_path(page: 'facility_record')%>">Aventura Hospital and Medical Center</a></td>
                        <td>Cardiology</td>
                        <td>Cardiology</td>
                        <td>1/22/2023</td>
                        <td>1/22/2023</td>
                        <td>Skip RVA</td>
                        <td>Quality Audited</td>
                    </tr>

                </tbody>
            </table>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="not-applicable-explain" id="" cols="30" rows="5" class="form-control"
                        required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" name="save-not-app-explain" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>