 <div class="enc-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="enc-sidebar">
                        <div class="enc-sidebar-title">
                            <h6>Client Organization Tree</h6>
                        </div>
                        <div class="enc-sidebar-content">
                            <div class="form-control enc-search-wrp">
                                <input type="" class="enc-search-input" placeholder="Search Facility or Provider">
                                <i class='bx bx-search' ></i>
                            </div>
                            <div class="form-row mt-3">
                                <div class="enc-sidebar-content-heading">
                                    <i class='bx bx-buildings' ></i>
                                    <h6>Heritage Valley Health System</h6>
                                </div>
                                <ul class="enc-sidebar-content-submenu">
                                    <li>Current Practitioners</li>
                                    <ul class="enc-sidebar-content-submenu">
                                        <li>Faculty</li>
                                        <li>HVHS Hospitals</li>
                                        <ul class="enc-sidebar-content-submenu">
                                            <li>HV Beaver</li>
                                            <li>HV Kennedy</li>
                                            <li>HV Sewickley</li>
                                        </ul>
                                        <li>HVHS Surgery Center</li>
                                    </ul>
                                    <li>HVHN</li>
                                    <ul class="enc-sidebar-content-submenu">
                                        <li>COMM</li>
                                        <li>MC</li>
                                    </ul>
                                    <li>HVHS CORP</li>
                                    <ul class="enc-sidebar-content-submenu">
                                        <li>Business Care</li>
                                        <li>CCC</li>
                                        <li>HVMG</li>
                                        <li>HVPEDS</li>
                                        <li>TSOG</li>
                                    </ul>
                                    <li>ODISP</li>
                                </ul>
                            </div>
                            <div class="form-row">
                                <div class="enc-sidebar-content-heading">
                                    <i class='bx bx-buildings' ></i>
                                    <h6>Broward Health</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <nav>
                        <div class="enc-navs">
                            <%= link_to 'Autoverify', auto_verifies_path, class: 'btn enc-btn-nav btn-primary'%>
                            <button class="btn enc-btn-nav btn-primary active">Client Home</button>
                            <button class="btn enc-btn-nav btn-primary">Manage Client</button>
                            <button class="btn enc-btn-nav btn-primary">Manage Practitioner</button>
                            <button class="btn enc-btn-nav btn-primary">Manage Tools</button>
                            <button class="btn enc-btn-nav btn-primary">Query Report</button>
                            <button class="btn enc-btn-nav btn-primary">Work Tickler</button>
                        </div>
                    </nav>
                    <div class="row mt-3">
                        <div class="col-xl-6">
                            <div class="form-control enc-search-wrp">
                                <input type="" class="enc-search-input" placeholder="Search by Committee Date">
                                <i class='bx bx-search' ></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="legend-wrp mt-3">
                            <span class="enc-legend">
                                <i class='bx bxs-check-circle enc-orange-icon'></i>
                                In Process
                            </span>
                            <span class="enc-legend">
                                <i class='bx bxs-error enc-red-icon'></i>
                                With Adverse Actions
                            </span>
                            <span class="enc-legend">
                                <i class='bx bxs-error  enc-orange-icon'></i>
                                With Expiring Credentials
                            </span>
                        </div>
                    </div>
                    <div class="row result-controls">
                        <div class="col-xl-6 filter-result">
                            <h6 class="">Providers: 4 records</h6>
                        </div>
                        <div class="col-xl-6">
                            <div class="table-controls">
                                <div class="control-wrp">
                                    <label for="limit">Show limit</label>
                                    <input type="text" id="limit" class="form-control" value="20">
                                </div>
                                <div class="control-wrp">
                                    <label for="page">Page 1 of 32</label>
                                    <input type="text" id="page" class="form-control" value="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table practice-table mt-3">
                        <thead>
                            <tr>
                                <th class="text-white" scope="col">Practitioner Name</th>
                                <th class="text-white">Ready for download</th>
                                <th class="text-white">In Process</th>
                                <th class="text-white">Submitted</th>
                                <th class="text-white">Incomplete Application</th>
                                <th class="text-white">Application Not Received</th>
                                <th class="text-white">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="<%= verification_platform_index_path(page: 'overview')%>">Quirin, Jayce Drave</a></td>
                                <td>
                                    <i class='bx bxs-check-circle enc-blue-icon'></i>
                                    <i class='bx bxs-error enc-red-icon'></i>
                                    <i class='bx bxs-error  enc-orange-icon'></i>
                                </td>
                                <td><i class='bx bxs-check-circle enc-orange-icon'></i></td>
                                <td></td>
                                <td><i class='bx bxs-check-circle enc-blue-icon'></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Quirin, Jayce Drave</td>
                                <td>
                                    <i class='bx bxs-check-circle enc-blue-icon'></i>
                                    <i class='bx bxs-error enc-red-icon'></i>
                                    <i class='bx bxs-error  enc-orange-icon'></i>
                                </td>
                                <td><i class='bx bxs-check-circle enc-orange-icon'></i></td>
                                <td></td>
                                <td><i class='bx bxs-check-circle enc-blue-icon'></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>