 <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            <div class="row mt-3">
                <div class="col-xl-12 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <h4 class="page-heading">Medicare Participation</h4>
                        <button type="button" class="btn btn-primary py-1 px-5" id="prac-info-btn-edit">
                            Edit
                        </button>
                        <div class="d-flex align-items-center gap-3">
                            <button type="submit" class="btn btn-primary py-1" id="prac-info-btn-save">
                                Save Changes
                            </button>
                            <button type="button" class="btn btn-cancel" id="prac-info-btn-cancel">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class=" ">Medicare Participating</label>
                        <select name="MedicareParticipating" id="MedicareParticipating" class="form-select ">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="" class=" ">Status</label>
                        <select name="Status" id="Status" class="form-select ">
                            <option value="">Select Option</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class=" ">Source</label>
                        <select name="Source" id="Source" class="form-select ">
                            <option value="">Select Option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label class=" " for="SourceDate">Source Date:</label>
                        <input type="text" id="SourceDate" name="SourceDate" class="form-control form-control-lg"
                            placeholder="MM-DD-YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label class=" " for="VerifiedDate">Verified Date:</label>
                        <input type="text" id="VerifiedDate" name="VerifiedDate" class="form-control form-control-lg"
                        placeholder="MM-DD-YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                    </div>
                    <div class="col-xl-6">
                        <label for="" class=" ">Verified by:</label>
                        <input type="text" name="VerifiedBy" id="VerifiedBy" class="form-control form-control-lg" placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row mb-4">
                    <div class="col-xl-12">
                        <label for="">Review Criteria:</label>
                        <input type="text" name="ReviewCriteria" id="ReviewCriteria" class="form-control form-control-lg" placeholder="Type here..">
                    </div>
                </div>
            </form>
    </div>
