  <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            
            <div class="row mt-4">
                <div class="col-xl-12 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <h4 class="page-heading">Info 1</h4>
                        <button class="btn btn-primary py-1">Edit</button>
                    </div>
                    <button class="btn btn-danger">
                        <i class="bx bx-trash"></i>
                        Delete Record
                    </button>
                </div>
            </div>
            <form action="">
                <div class="form-row row mt-3">
                    <div class="col-xl-6">
                        <label for="state">State:</label>
                        <select name="State" class="form-select " id="State">
                            <option value="">Select option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="general">General:</label>
                        <select name="General" class="form-select " id="General">
                            <option value="">Select option</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="ExclutionType">Exclution Type:</label>
                        <select name="ExclutionType" class="form-select " id="ExclutionType">
                            <option value="">Select option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="Specialty">Specialty:</label>
                        <select name="Specialty" class="form-select " id="Specialty">
                            <option value="">Select option</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="Date">Date:</label>
                        <input type="text" id="Date" name="Date" class="form-control form-control-lg"
                            placeholder="MM-DD-YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                        <!-- <input class="form-control form-control-lg" type="date" name="from" id="from" placeholder="From"> -->
                    </div>
                    <div class="col-xl-6">
                        <label for="Reinstatement">Reinstatement:</label>
                        <input type="text" id="ReinstatementDate" name="ReinstatementDate"
                            class="form-control form-control-lg" placeholder="MM-DD-YYYY" onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                        <!-- <input class="form-control form-control-lg" type="date" name="to" id="to" placeholder="To"> -->
                    </div>
                </div>
                <div class="form-row mt-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary py-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>