    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Other Certifications</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="other-cert-switch">
                        <label class="form-check-label" for="registration-switch">Not Applicable</label>
                    </div>
                </div>
                <a class="btn btn-primary py-1 page-applicable" href="<%= verification_platform_index_path(page: 'add_other_cert')%>" id="AddNewEducation">
                    <i class='bx bx-plus'></i>
                    Add New Other Certification
                </a>
            </div>
            <div class="mt-2 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please list all other current certifications.
                        Required fields are marked with the symbol “<span class="font-red">*</span>”.</span>
                </span>
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please check the Not Applicable button if you do
                        not hold any other certifications.</span>
                </span>
            </div>
            <table class="table practice-table mt-3 page-applicable">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th>Certification Number</th>
                        <th>Issue Date</th>
                        <th>Certification Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= verification_platform_index_path(page: 'other_cert_info')%>" id=""
                                class="text-dark text-start bg-transparent border-0 fw-bold text-decoration-none">Lorem
                                ipsum dolor sit amet consectetur adipisicing elit. </a></td>
                        <td>Lorem.</td>
                        <td>1/7/2004</td>
                        <td>1/1/2008</td>
                    </tr>
                </tbody>
            </table>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary py-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
