 <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="mt-4 d-flex align-items-center gap-3">
                <h4 class="page-heading">Practitioner Information</h4>
                <button class="btn btn-primary btn-sm py-1">
                    Edit
                </button>
            </div>
            <div class="mt-3 d-flex align-items-center gap-2">
                <button class="btn btn-primary btn-sm">
                    Verification Letter
                </button>
                <button class="btn btn-primary btn-sm">
                    Send Contact
                </button>
            </div>
            <form action="">
                <div class="form-row row mt-4">
                    <div class="col-xl-3">
                        <label for="title">Title:</label>
                        <select name="" id="title" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="firstname">First Name:</label>
                        <input type="text" id="firstname" class="form-control" required>
                    </div>
                    <div class="col-xl-2">
                        <label for="middlename">Middle Name:</label>
                        <input type="text" id="middlename" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="lastname">Last Name:</label>
                        <input type="text" id="lastname" class="form-control" required>
                    </div>
                    <div class="col-xl-2">
                        <label for="suffix">Suffix:</label>
                        <select name="" id="suffix" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="practitioner-id">Practitioner ID:</label>
                        <input type="text" id="practitioner-id" class="form-control" required>
                    </div>
                    <div class="col-xl-4">
                        <label for="practitioner-type">Practitioner Type:</label>
                        <input type="text" id="practitioner-type" class="form-control" required>
                    </div>
                    <div class="col-xl-4">
                        <label for="practitioner-sig">Practitioner Signatory:</label>
                        <input type="text" id="practitioner-sig" class="form-control" required>
                    </div>
                </div>
                <div class="form-row row mt-2">
                    <div class="col-xl-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="other-names-switch">
                            <label class="form-check-label" for="other-names-switch">Are there any other names under which you have been known?</label>
                          </div>
                    </div>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-12">
                        <div class="card other-name-card">
                            <div class="card-body">
                                <h6 class="form-heading">Other Name Used</h6>
                                <div class="form-row row">
                                    <div class="col-xl-4">
                                        <label for="other-firstname">First Name:</label>
                                        <input type="text" id="other-firstname" class="form-control" required>
                                    </div>
                                    <div class="col-xl-2">
                                        <label for="other-middlename">Middle Name:</label>
                                        <input type="text" id="other-middlename" class="form-control">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="other-lastname">Last Name:</label>
                                        <input type="text" id="other-lastname" class="form-control" required>
                                    </div>
                                    <div class="col-xl-2">
                                        <label for="other-suffix">Suffix:</label>
                                        <select name="" id="other-suffix" class="form-select"></select>
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="">Date From</label>
                                                <input type="date" id="" class="form-control">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Date To</label>
                                                <input type="date" id="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row row mt-2">
                                    <div class="col-xl-12">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="maiden-switch">
                                            <label class="form-check-label" for="maiden-switch">Is this a maiden name?</label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <h6 class="form-heading">Home Mailing Address</h6>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-6">
                        <div class="form-row row">
                            <label for="">Dates at this Residence (MM-YYYY):</label>
                            <div class="col-xl-5">
                                <label for="">Date From</label>
                                <input type="date" id="" class="form-control">
                            </div>
                            <div class="col-xl-5">
                                <label for="">Date To</label>
                                <input type="date" id="" class="form-control">
                            </div>
                            <div class="col-xl-2 d-flex align-items-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="present-switch">
                                    <label class="form-check-label" for="present-switch">Present</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">Phone Number:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Mobile Phone:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Fax Number:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="">Email Address:</label>
                        <input type="email" id="" class="form-control">
                    </div>
                    <div class="col-xl-6">
                        <label for="">Secondary Email Address:</label>
                        <input type="email" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="">Home Address:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-6">
                        <label for="">Additional Address:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">Suite/Apt:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">City:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">County:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="state">State/Province:</label>
                        <select name="" id="state" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="">Zip Code:</label>
                        <input type="email" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="country">Country:</label>
                        <select name="" id="country" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <h6 class="form-heading">Credentialing Contact</h6>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-4">
                        <label for="contact-method">Contact Method::</label>
                        <select name="" id="contact-method" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-2">
                        <label for="method-title">Title:</label>
                        <select name="" id="method-title" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="other-middlename">First Name:</label>
                        <input type="text" id="method-firstname" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="other-lastname">Last Name:</label>
                        <input type="text" id="method-lastname" class="form-control">
                    </div>
                    <div class="col-xl-2">
                        <label for="method-suffix">Suffix:</label>
                        <select name="" id="method-suffix" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">Phone Number:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Fax Number:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Email Address:</label>
                        <input type="text" id="" class="form-control" >
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="">Home Address:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-6">
                        <label for="">Additional Address:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">Suite/Apt:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">City:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">County:</label>
                        <input type="text" id="" class="form-control" >
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">State/Province:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Zip Code:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Country:</label>
                        <input type="text" id="" class="form-control" >
                    </div>
                </div>
                <div class="form-row mt-4">
                    <h6 class="form-heading">Pager</h6>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-6">
                        <label for="">Pager:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-6">
                        <label for="">Pager Pin:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row mt-4">
                    <h6 class="form-heading">Your Foreign Languages</h6>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-4">
                        <label for="language">Languages you speak:</label>
                        <select name="" id="language" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="language-read">Languages you read:</label>
                        <select name="" id="language-read" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="language-write">Languages you write:</label>
                        <select name="" id="language-write" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <h6 class="form-heading">Others</h6>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-4">
                        <label for="">Birth Date:</label>
                        <input type="date" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Birth City:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="birth-state">Birth State:</label>
                        <select name="" id="birth-state" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="birth-country">Birth Country:</label>
                        <select name="" id="birth-country" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="us-citizen">US Citizen?</label>
                        <select name="" id="us-citizen" class="form-select">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="country-citizenship">If No, List Country of Citizenship:</label>
                        <select name="" id="country-citizenship" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="work-us">Are you eligible to work in the US?</label>
                        <select name="" id="work-us" class="form-select">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="">Alien Registration Number (If Non-US Citizen):</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="visa-status">Visa Status (If Non-US Citizen):</label>
                        <select name="" id="visa-status" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">Visa Number (If Non-US Citizen):</label>
                        <input type="text" id="" class="form-control">
                    </div>
                    <div class="col-xl-4">
                        <label for="gender">Gender:</label>
                        <select name="" id="gender" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="ethnicity">Ethnicity (Optional):</label>
                        <select name="" id="ethnicity" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="religion">Religion:</label>
                        <select name="" id="religion" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="planning-relocate">Planning to relocate?</label>
                        <select name="" id="planning-relocate" class="form-select">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="ethnicity">If Yes, planned relocation date:</label>
                        <input type="date" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="matiral-status">Marital Status:</label>
                        <select name="" id="matiral-status" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-12">
                        <div class="card other-name-card">
                            <div class="card-body">
                                <h6 class="form-heading">Driver’s License Number/State Identification Number</h6>
                                <div class="form-row row">
                                    <div class="col-xl-5">
                                        <label for="drivers-state">State:</label>
                                        <select name="" id="drivers-state" class="form-select"></select>
                                    </div>
                                    <div class="col-xl-5">
                                        <label for="">Driver’s License Number/State Identification Number:</label>
                                        <input type="text" id="" class="form-control">
                                    </div>
                                    <div class="col-xl-2 d-flex align-items-end">
                                        <div class="form-check d-flex align-items-center gap-3">
                                            <input class="form-check-input" type="checkbox" value="" id="remove-check">
                                            <label class="form-check-label" for="remove-check">
                                              Remove
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row d-flex justify-content-center mt-4">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        Add Number
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4">
                    <div class="col-xl-6">
                        <label for="">Federal Employee ID:</label>
                        <input type="date" id="" class="form-control">
                    </div>
                    <div class="col-xl-6">
                        <label for="">Social Security Number:</label>
                        <input type="date" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="primary-care">Primary Care Practitioner:</label>
                        <select name="" id="primary-care" class="form-select">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="specialist">Specialist:</label>
                        <select name="" id="specialist" class="form-select">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col-xl-4">
                        <label for="allied-health">Allied Health Practitioner:</label>
                        <select name="" id="allied-health" class="form-select">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <h6 class="form-heading">Specialty Info</h6>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-4">
                        <label for="specialty1">Specialty 1:</label>
                        <select name="" id="specialty1" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="specialty2">Specialty 2:</label>
                        <select name="" id="specialty2" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="specialty3">Specialty 3:</label>
                        <select name="" id="specialty3" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-4">
                        <label for="specialty4">Specialty 4:</label>
                        <select name="" id="specialty4" class="form-select"></select>
                    </div>
                    <div class="col-xl-4">
                        <label for="specialty5">Specialty 5:</label>
                        <select name="" id="specialty5" class="form-select"></select>
                    </div>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-12">
                        <label for="">Please list other areas of professional practice interest or focus: </label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-12">
                        <div class="card other-name-card">
                            <div class="card-body">
                                <h6 class="form-heading">Provider Group</h6>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="provider-group">Provider Group:</label>
                                        <select name="" id="provider-group" class="form-select"></select>
                                    </div>
                                    <div class="col-xl-6 d-flex align-items-end">
                                        <div class="form-check d-flex align-items-center gap-3">
                                            <input class="form-check-input" type="checkbox" value="" id="group-remove-check">
                                            <label class="form-check-label" for="group-remove-check">
                                              Remove
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row d-flex justify-content-center mt-4">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        Add Provider Group
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-4">
                    <div class="col-xl-4">
                        <label for="house-calls">Do you make house calls?</label>
                        <select name="" id="house-calls" class="form-select">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-12">
                        <label for="">Please list any comments:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>