
    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Registration/Certification</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="registration-switch">
                        <label class="form-check-label" for="registration-switch">Not Applicable</label>
                    </div>
                    <button class="btn btn-primary btn-xs page-applicable">
                        Edit
                    </button>
                </div>
            </div>
            <div class="mt-2 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please complete the following for registration/certification status. Required fields are marked with the symbol “<span class="font-red">*</span>”.</span>
                </span>
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please check the Not Applicable button if you have never enrolled in a professional education program.</span>
                </span>
            </div>
            <div class="page-applicable">
                <div class="d-flex gap-2 mt-3">
                    <button class="btn btn-primary btn-sm">
                        Verification Letter
                    </button>
                    <button class="btn btn-primary btn-sm">
                        Send Contact
                    </button>
                    <button class="btn btn-primary btn-sm">
                        View Scanned Images
                    </button>
                </div>
            </div>
            <div class="mt-3 row page-applicable">
                <div class="col-xl-5">
                    <div class="left-pane">
                        <h6>RVA Information</h6>
                        <div class="form-row row mt-4">
                            <div class="col-xl-4">
                                <button class="btn btn-sm w-100 bg-alt-grey">
                                    Request
                                </button>
                            </div>
                            <div class="col-xl-4">
                                <button class="btn btn-sm w-100 bg-alt-grey">
                                    Verification
                                </button>
                            </div>
                            <div class="col-xl-4">
                                <button class="btn btn-sm w-100 bg-alt-grey">
                                    Audit
                                </button>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <button class="btn btn-sm w-100 bg-alt-grey">
                                    Quality Audit
                                </button>
                            </div>
                            <div class="col-xl-6">
                                <button class="btn btn-sm w-100 bg-alt-grey">
                                    Skip RVA
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="right-pane">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6>Message Board</h6>
                            <button class="btn btn-sm btn-primary">
                                Add Comment
                            </button>
                        </div>
                        <div class="form-row mt-2">
                            <span class="btn span-pane bg-alt-grey">
                                Subject: Incomplete Record
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row page-applicable mt-3">
                <div class="col-xl-12">
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h6 class="form-heading">DEA Number</h6>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">DEA Registration Number:</label>
                                        <input type="text" id="" class="form-control">
                                    </div>
                                    <div class="form-row">
                                        <label for="">Issue Date:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                    <div class="form-row d-flex align-items-center gap-3 mt-2">
                                        <label for="">Full Schedule?</label>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="full-sched-radio" id="full-sched-radio-yes" value="Yes">
                                            <label class="form-check-label" for="full-sched-radio-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="full-sched-radio" id="full-sched-radio-no" value="No">
                                            <label class="form-check-label" for="full-sched-radio-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="">If No, please indicate all schedules held:</label>
                                        <div class="mt-2 d-flex align-items-center gap-3">
                                            <div class=" form-check d-flex align-items-center gap-2">
                                                <input class="form-check-input" type="checkbox" id="2-check" value="2">
                                                <label class="form-check-label" for="2-check">2</label>
                                            </div>
                                            <div class=" form-check d-flex align-items-center gap-2">
                                                <input class="form-check-input" type="checkbox" id="2N-check" value="2N">
                                                <label class="form-check-label" for="2N-check">2N</label>
                                            </div>
                                            <div class=" form-check d-flex align-items-center gap-2">
                                                <input class="form-check-input" type="checkbox" id="3-check" value="3">
                                                <label class="form-check-label" for="3-check">3</label>
                                            </div>
                                            <div class=" form-check d-flex align-items-center gap-2">
                                                <input class="form-check-input" type="checkbox" id="3N-check" value="3N">
                                                <label class="form-check-label" for="3N-check">3N</label>
                                            </div>
                                            <div class=" form-check d-flex align-items-center gap-2">
                                                <input class="form-check-input" type="checkbox" id="4-check" value="4">
                                                <label class="form-check-label" for="4-check">4</label>
                                            </div>
                                            <div class=" form-check d-flex align-items-center gap-2">
                                                <input class="form-check-input" type="checkbox" id="5-check" value="5">
                                                <label class="form-check-label" for="5-check">5</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row d-flex align-items-center gap-3 mt-2">
                                        <label for="">Show on Tickler?</label>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="ticker-radio" id="ticker-radio-yes" value="Yes">
                                            <label class="form-check-label" for="ticker-radio-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="ticker-radio" id="ticker-radio-no" value="No">
                                            <label class="form-check-label" for="ticker-radio-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="DEA-state">State:</label>
                                        <select name="" id="DEA-state" class="form-select"></select>
                                    </div>
                                    <div class="form-row">
                                        <label for="">Expiration Date:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                    <div class="form-row d-flex align-items-center gap-3 mt-2">
                                        <label for="">Limited or Restricted?</label>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="limited-radio" id="limited-radio-yes" value="Yes">
                                            <label class="form-check-label" for="limited-radio-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="limited-radio" id="limited-radio-no" value="No">
                                            <label class="form-check-label" for="limited-radio-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="">If Yes, please explain:</label>
                                        <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-flex align-items-end">
                                    <div class=" form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="checkbox" id="DEA-remove" value="">
                                        <label class="form-check-label" for="DEA-remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-4">
                            <div class="form-row d-flex justify-content-center mt-4">
                                <button class="btn btn-primary btn-sm">
                                    Add DEA Number
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row page-applicable mt-3">
                <div class="col-xl-12">
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h6 class="form-heading">CDS/DPS Number</h6>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">CDS/DPS Number:</label>
                                        <input type="text" id="" class="form-control">
                                    </div>
                                    <div class="form-row">
                                        <label for="">Issue Date:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                    <div class="form-row d-flex align-items-center gap-3 mt-2">
                                        <label for="">Do you currently practice under this number?</label>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="this-number-radio" id="this-number-radio-yes" value="Yes">
                                            <label class="form-check-label" for="full-sched-radio-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="this-number-radio" id="this-number-radio-no" value="No">
                                            <label class="form-check-label" for="full-sched-radio-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="CDS-DPS-state">State:</label>
                                        <select name="" id="CDS-DPS-state" class="form-select"></select>
                                    </div>
                                    <div class="form-row">
                                        <label for="">Expiration Date:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                    <div class="form-row d-flex align-items-center gap-3 mt-2">
                                        <label for="">Show on Tickler?</label>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="CDS-DPS-ticker-radio" id="CDS-DPS-ticker-radio-yes" value="Yes">
                                            <label class="form-check-label" for="ticker-radio-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="CDS-DPS-ticker-radio" id="CDS-DPS-ticker-radio-no" value="No">
                                            <label class="form-check-label" for="ticker-radio-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-flex align-items-end">
                                    <div class=" form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="checkbox" id="CDS-DPS-remove" value="">
                                        <label class="form-check-label" for="CDS-DPS-remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-4">
                            <div class="form-row d-flex justify-content-center mt-4">
                                <button class="btn btn-sm btn-primary">
                                    Add CDS/DPS Number
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row page-applicable mt-3">
                <div class="col-xl-12">
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h6 class="form-heading">ECFMG Number</h6>
                            <div class="form-row d-flex align-items-center gap-3 mt-2">
                                <label for="">Are you ECFMG certified? (Applicable to Foreign Medical School Graduates)</label>
                                <div class="form-check d-flex align-items-center gap-2">
                                    <input class="form-check-input" type="radio" name="ECFMG-certified-radio" id="ECFMG-certified-radio-yes" value="Yes">
                                    <label class="form-check-label" for="full-sched-radio-yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check d-flex align-items-center gap-2">
                                    <input class="form-check-input" type="radio" name="ECFMG-certified-radio" id="ECFMG-certified-radio-no" value="No">
                                    <label class="form-check-label" for="full-sched-radio-no">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">If Yes, ECFMG Number:</label>
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">Issue Date:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                    <div class="form-row d-flex align-items-center gap-3 mt-2">
                                        <label for="">Show on Tickler?</label>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="ECFMG-ticker-radio" id="ECFMG-ticker-radio-yes" value="Yes">
                                            <label class="form-check-label" for="ticker-radio-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="ECFMG-ticker-radio" id="ECFMG-ticker-radio-no" value="No">
                                            <label class="form-check-label" for="ECFMG-ticker-radio-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">Valid through:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xl-2 d-flex align-items-end">
                                    <div class=" form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="checkbox" id="ECFMG-remove" value="">
                                        <label class="form-check-label" for="ECFMG-remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-4">
                            <div class="form-row d-flex justify-content-center mt-4">
                                <button class="btn btn-sm btn-primary">
                                    Add ECFMG Number
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row mt-3 page-applicable">
                <div class="col-xl-4">
                    <label for="">CAQH ID:</label>
                    <input type="text" id="" class="form-control">
                </div>
                <div class="col-xl-4">
                    <label for="">NPI Number:</label>
                    <input type="text" id="" class="form-control">
                </div>
                <div class="col-xl-4">
                    <label for="">Medicare UPIN Number:</label>
                    <input type="text" id="" class="form-control">
                </div>
            </div>
            <div class="form-row row page-applicable mt-3">
                <div class="col-xl-12">
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h6 class="form-heading">Medicare Billing Number:</h6>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">Medicare PIN:</label>
                                        <input type="text" id="" class="form-control">
                                    </div>
                                    <div class="form-row">
                                        <label for="">Issue Date:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="medicare-state">State:</label>
                                        <select name="" id="medicare-state" class="form-select"></select>
                                    </div>
                                    <div class="form-row d-flex align-items-center gap-3 mt-2">
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="medicare-radio" id="medicare-optin-radio" value="Opt In">
                                            <label class="form-check-label" for="medicare-optin-radio">
                                                Opt In
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="medicare-radio" id="medicare-optout-radio" value="Opt Out">
                                            <label class="form-check-label" for="medicare-optout-radio">
                                                Opt Out
                                            </label>
                                        </div>
                                        <div class="form-check d-flex align-items-center gap-2">
                                            <input class="form-check-input" type="radio" name="medicare-radio" id="medicare-partial-radio" value="Partial">
                                            <label class="form-check-label" for="medicare-partial-radio">
                                                Partial
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-flex align-items-end">
                                    <div class=" form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="checkbox" id="medicare-remove" value="">
                                        <label class="form-check-label" for="medicare-remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-4">
                            <div class="form-row d-flex justify-content-center mt-4">
                                <button class="btn btn-sm btn-primary">
                                    Add Medicare Billing Number
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row page-applicable mt-3">
                <div class="col-xl-12">
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h6 class="form-heading">Medicaid Billing Number:</h6>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">Medic-Cal/Medicaid Number:</label>
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="medicaid-state">State:</label>
                                        <select name="" id="medicaid-state" class="form-select"></select>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-flex align-items-end">
                                    <div class=" form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="checkbox" id="medicaid-remove" value="">
                                        <label class="form-check-label" for="medicaid-remove">Remove</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-4">
                            <div class="form-row d-flex justify-content-center mt-4">
                                <button class="btn btn-sm btn-primary">
                                    Add Medicaid Billing Number
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row mt-3 page-applicable">
                <div class="col-xl-6">
                    <div class="d-flex align-items-center gap-3">
                        <label for="">TRICARE Provider?</label>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="TRICARE-radio" id="TRICARE-radio-yes" value="Yes">
                            <label class="form-check-label" for="TRICARE-yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="TRICARE-radio" id="TRICARE-radio-no" value="No">
                            <label class="form-check-label" for="TRICARE-radio-no">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <label for="">If Yes, TRICARE Group Number:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex align-items-center gap-3">
                        <label for="">Certified Worker's Compensation Provider?</label>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="certified-workers-radio" id="certified-workers-radio-yes" value="Yes">
                            <label class="form-check-label" for="ticker-radio-yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="certified-workers-radio" id="certified-workers-radio-no" value="No">
                            <label class="form-check-label" for="certified-workers-radio-no">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <label for="">If Yes, Certificate Number:</label>
                        <input type="text" id="" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row row mt-3 page-applicable">
                <div class="col-xl-6 d-flex align-items-center gap-3">
                    <label for="">Certified Qualified Medical Examiner?</label>
                    <div class="form-check d-flex align-items-center gap-2">
                        <input class="form-check-input" type="radio" name="qualified-medical-examiner-radio" id="qualified-medical-examiner-radio-yes" value="Yes">
                        <label class="form-check-label" for="qualified-medical-examiner-yes">
                            Yes
                        </label>
                    </div>
                    <div class="form-check d-flex align-items-center gap-2">
                        <input class="form-check-input" type="radio" name="qualified-medical-examiner-radio" id="qualified-medical-examiner-radio-no" value="No">
                        <label class="form-check-label" for="qualified-medical-examiner-radio-no">
                            No
                        </label>
                    </div>
                </div>
                <div class="col-xl-6 d-flex align-items-center gap-3">
                    <label for="">Agreed Medical Examiner?</label>
                    <div class="form-check d-flex align-items-center gap-2">
                        <input class="form-check-input" type="radio" name="medical-examiner-radio" id="medical-examiner-radio-yes" value="Yes">
                        <label class="form-check-label" for="medical-examiner-radio-yes">
                            Yes
                        </label>
                    </div>
                    <div class="form-check d-flex align-items-center gap-2">
                        <input class="form-check-input" type="radio" name="medical-examiner-radio" id="medical-examiner-radio-no" value="No">
                        <label class="form-check-label" for="medical-medical-examiner-radio-no">
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row row mt-3 page-applicable">
                <div class="col-xl-6 d-flex align-items-center gap-3">
                    <label for="">U.S. Military Service/Public Health:</label>
                    <div class="form-check d-flex align-items-center gap-2">
                        <input class="form-check-input" type="radio" name="us-military-radio" id="us-military-radio-yes" value="Yes">
                        <label class="form-check-label" for="us-military-radio-yes">
                            Yes
                        </label>
                    </div>
                    <div class="form-check d-flex align-items-center gap-2">
                        <input class="form-check-input" type="radio" name="us-military-radio" id="us-military-radio-no" value="No">
                        <label class="form-check-label" for="us-military-radio-no">
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row row page-applicable mt-3">
                <div class="col-xl-12">
                    <div class="card other-name-card">
                        <div class="card-body">
                            <h6 class="form-heading">U.S. Military Service/Public Health</h6>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-row">
                                                <label for="">Dates of Service From:</label>
                                                <input type="date" id="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-row">
                                                <label for="">Dates of Service To:</label>
                                                <input type="date" id="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="branch-service">Branch of Service:</label>
                                        <select name="" id="branch-service" class="form-select"></select>
                                    </div>
                                    <div class="form-row">
                                        <label for="type-discharge">Type of Discharge from Active Duty:</label>
                                        <select name="" id="type-discharge" class="form-select"></select>
                                    </div>
                                    <div class="row">
                                        <div class="form-row">
                                            <label for="">If Reserve, anticipated date of separation from reserve duty?</label>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-row">
                                                <label for="">Month:</label>
                                                <input type="date" id="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-row">
                                                <label for="">Year:</label>
                                                <input type="date" id="" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-row">
                                        <label for="">Last Location:</label>
                                        <input type="text" id="" class="form-control">
                                    </div>
                                    <div class="form-row">
                                        <label for="active-reserve">Are You Currently on Active or Reserve Military Duty?:</label>
                                        <select name="" id="active-reserve" class="form-select"></select>
                                    </div>
                                    <div class="form-row">
                                        <label for="rank-discharge">Rank at Discharge:</label>
                                        <select name="" id="rank-discharge" class="form-select"></select>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-2 d-flex align-items-end">
                                    <div class=" form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="checkbox" id="medicare-remove" value="">
                                        <label class="form-check-label" for="medicare-remove">Remove</label>
                                    </div>
                                </div> -->
                            </div>
                            <hr class="mt-4">
                            <div class="form-row d-flex justify-content-center mt-4">
                                <button class="btn btn-sm btn-primary">
                                    Add Medicare Billing Number
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row mt-3 page-applicable">
                <div class="col-xl-6">
                    <label for="">Branch of the Military?</label>
                    <input type="text" id="" class="form-control">
                </div>
            </div>
            <div class="form-row row mt-3 page-applicable">
                <div class="col-xl-12">
                    <label for="">Please list any comments:</label>
                    <input type="text" id="" class="form-control">
                </div>
            </div>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary py-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
