  <div class="enc-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="../client-home.html" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Quirin, Jayce Drave - ENCE2130231</h4>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="enc-navs">
                        <a href="overview.html" class="btn enc-btn-nav active">Home</a>
                        <a href="profile.html" class="btn enc-btn-nav">Profile</a>
                        <a href="application.html" class="btn enc-btn-nav">Application</a>
                    </div>
                </div>
            </div>
            <div class="enc-tabs-wrp mt-4">
                <a href="overview.html" class="btn enc-btn-nav">Overview</a>
                <a href="agreement.html" class="btn enc-btn-nav">Agreement</a>
                <a href="practitioner-info.html" class="btn enc-btn-nav">Practitioner Info</a>
                <a href="practice-info.html" class="btn enc-btn-nav ">Practice Info</a>
                <a href="education.html" class="btn enc-btn-nav ">Education</a>
                <a href="training.html" class="btn enc-btn-nav ">Training</a>
                <a href="board-cert.html" class="btn enc-btn-nav ">Board Cert</a>
                <a href="registration.html" class="btn enc-btn-nav ">Registration</a>
                <a href="licensure.html" class="btn enc-btn-nav">Licensure</a>
                <a href="liability.html" class="btn enc-btn-nav">Liability</a>
                <a href="app-tracking.html" class="btn enc-btn-nav">App Tracking</a>
                <a href="facilities.html" class="btn enc-btn-nav">Facilities</a>
                <a href="NPDB.html" class="btn enc-btn-nav">NPDB</a>
                <a href="additional-forms.html" class="btn enc-btn-nav">Additional Forms</a>
                <a href="disclosures.html" class="btn enc-btn-nav">Disclosures</a>
                <a href="OIG.html" class="btn enc-btn-nav">OIG</a>
                <a href="SAM.html" class="btn enc-btn-nav active">SAM</a>
                <a href="NPI.html" class="btn enc-btn-nav">NPI</a>
                <a href="SSA.html" class="btn enc-btn-nav">SSA</a>
                <a href="billing-info.html" class="btn enc-btn-nav">Billing Info</a>
                <a href="CME.html" class="btn enc-btn-nav">CME</a>
                <a href="teaching.html" class="btn enc-btn-nav">Teaching</a>
                <a href="other-cert.html" class="btn enc-btn-nav ">Other Cert</a>
                <a href="peer-ref.html" class="btn enc-btn-nav">Peer Ref</a>
                <a href="employment.html" class="btn enc-btn-nav">Employment</a>
                <a href="liability-action.html" class="btn enc-btn-nav">Liability Action</a>
                <a href="affiliation.html" class="btn enc-btn-nav">Affiliations</a>
                <a href="fee-paid.html" class="btn enc-btn-nav">Fee Paid</a>
                <a href="TB-status.html" class="btn enc-btn-nav">TB Status</a>
                <a href="facility-disclosure.html" class="btn enc-btn-nav">Fac. Disclosures</a>
                <a href="accreditation.html" class="btn enc-btn-nav">Accreditation</a>
                <a href="medicare-certificate.html" class="btn enc-btn-nav">Medicare Cert</a>
                <a href="medicare-participation.html" class="btn enc-btn-nav">Medicare Part</a>
                <a href="site-survey.html" class="btn enc-btn-nav">Site Survey</a>
                <a href="certification.html" class="btn enc-btn-nav">Certifications</a>
                <a href="insurance-coverage.html" class="btn enc-btn-nav ">Ins. Coverage</a>
                <a href="organization.html" class="btn enc-btn-nav">Organization Information</a>
            </div>
            <div class="row mt-4">
                <div class="col-xl-12 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <h4 class="page-heading">SAM Record 1</h4>
                        <button class="btn btn-primary py-1">Edit</button>
                    </div>
                    <button class="btn btn-danger">
                        <i class="bx bx-trash"></i>
                        Delete Record
                    </button>
                </div>
            </div>
            <form action="">
                <div class="form-row mt-3">
                    <div class="d-flex align-items-center gap-3">
                        <label for="">Primary?</label>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="primary-radio" id="primary-radio-yes"
                                value="Yes">
                            <label class="form-check-label" for="primary-radio-yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="primary-radio" id="primary-radio-no"
                                value="No">
                            <label class="form-check-label" for="primary-radio-no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">First Name:</label>
                        <input name="allied-lname" type="text" id="fname" class="form-control"
                            placeholder="Type here...">
                    </div>
                    <div class="col-xl-2">
                        <label for="">Middle Name:</label>
                        <input name="allied-lname" type="text" id="mname" class="form-control"
                            placeholder="Type here...">
                    </div>
                    <div class="col-xl-4">
                        <label for="">Last Name:</label>
                        <input name="allied-lname" type="text" id="lname" class="form-control"
                            placeholder="Type here...">
                    </div>
                    <div class="col-xl-2">
                        <label for="">Suffix:</label>
                        <select name="suffix" id="" class="form-select">
                            <option value="">Select option</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-4">
                        <label for="">SSN:</label>
                        <input name="ssn" type="text" id="ssn" class="form-control" placeholder="Type here...">
                    </div>
                </div>
                <div class="mt-3 row page-applicable">
                    <div class="col-xl-4">
                        <div class="left-pane">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="offset-md-4">RVA Information</h6>
                                <h6 class="">Modify</h6>
                            </div>
                            <div class="form-row row mt-4">
                                <div class="form-row">
                                    <h6 class="">Search Results:</h6>
                                </div>
                                <div class="form-row">
                                    <h6 class="">Finding:</h6>
                                </div>
                                <div class="form-row">
                                    <h6 class="">Verifier:</h6>
                                </div>
                                <div class="form-row">
                                    <h6 class="">Source Date:</h6>
                                </div>
                                <div class="form-row">
                                    <h6 class="">Verification Date:</h6>
                                </div>
                                <div class="form-row">
                                    <h6 class="">Exclusion Type:</h6>
                                </div>
                                <div class="form-row">
                                    <h6 class="">View Image:</h6>
                                </div>

                                <div class="mt-3 d-grid gap-2">
                                    <button class="btn btn-primary py-1" type="button">Manually Create RVA Record</button>
                                    <button class="btn btn-primary py-1" type="button">Queue for auto RVA</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>