  <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            <div class="add-license-content mt-4">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-3">
                            <!-- <a href="" class="link-back">
                                <i class='bx bx-left-arrow-alt' ></i>
                            </a> -->
                            <h4 class="page-heading">TB (PPD) Status</h4>
                            <button type="button" class="btn btn-primary py-1" id="prac-info-btn-edit">
                                Edit
                            </button>
                            <div class="d-flex align-items-center gap-3">
                                <button type="submit" class="btn btn-save" id="prac-info-btn-save">
                                    Save Changes
                                </button>
                                <button type="button" class="btn btn-cancel" id="prac-info-btn-cancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 d-flex page-applicable align-items-center gap-2 mb-2">
                        <button class="btn btn-primary py-1 page-applicable" data-bs-toggle="modal"
                            data-bs-target="#verifLetterModal">
                            Verification Letter
                        </button>
                    </div>
                    <div class="mt-3 row page-applicable">
                        <div class="col-xl-12">
                            <div class="right-pane">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h6 class="offset-md-5">Message Board</h6>
                                    <button class="btn btn-primary py-1" data-bs-toggle="modal"
                                        data-bs-target="#addCommentModal">
                                        Add Comment
                                    </button>
                                </div>
                                <div class="form-row mt-2">
                                    <span class="btn span-pane" data-bs-toggle="modal"
                                        data-bs-target="#deleteCommentModal">
                                        Subject: Incomplete Record
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form action="">
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <label for="result">Result:</label>
                                <select name="result" id="result" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="date">Date:</label>
                                <input name=" date" type="date" id=" date" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Have you ever had a positive TB skin test?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="positive-TB-skin-test-radio"
                                            id="positive-TB-skin-test-yes" value="Yes">
                                        <label class="form-check-label" for="positive-TB-skin-test-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="positive-TB-skin-test-radio"
                                            id="positive-TB-skin-test-no" value="No">
                                        <label class="form-check-label" for="positive-TB-skin-test-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Do you have documentation of a positive TB skin test?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                            name="doc-positive-TB-skin-test-radio" id="doc-positive-TB-skin-test-yes"
                                            value="Yes">
                                        <label class="form-check-label" for="doc-positive-TB-skin-test-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio"
                                            name="doc-positive-TB-skin-test-radio" id="doc-positive-TB-skin-test-no"
                                            value="No">
                                        <label class="form-check-label" for="doc-positive-TB-skin-test-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Were you born outside of the USA?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="born-outside-us-radio"
                                            id="born-outside-us-yes" value="Yes">
                                        <label class="form-check-label" for="born-outside-us-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="born-outside-us-radio"
                                            id="born-outside-us-no" value="No">
                                        <label class="form-check-label" for="born-outside-us-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Have you had BCG vaccine for TB? (only given outside the
                                        US)</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="BCG-vaccine-radio"
                                            id="BCG-vaccine-yes" value="Yes">
                                        <label class="form-check-label" for="BCG-vaccine-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="BCG-vaccine-radio"
                                            id="BCG-vaccine-no" value="No">
                                        <label class="form-check-label" for="BCG-vaccine-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Have you had a vaccination in the past two months?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="past-vaccination-radio"
                                            id="past-vaccination-yes" value="Yes">
                                        <label class="form-check-label" for="past-vaccination-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="past-vaccination-radio"
                                            id="past-vaccination-no" value="No">
                                        <label class="form-check-label" for="past-vaccination-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="vaccination">If Yes, what?</label>
                                <input name=" vaccination" type="text" id=" vaccination" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row mt-1">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Do you have a persistant cough for more than 2
                                        months?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="persistant-cough-input"
                                            id="persistant-cough-yes" value="Yes">
                                        <label class="form-check-label" for="persistant-cough-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="persistant-cough-radio"
                                            id="persistant-cough-no" value="No">
                                        <label class="form-check-label" for="persistant-cough-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Do you cough up blood?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="cough-blood-input"
                                            id="cough-blood-yes" value="Yes">
                                        <label class="form-check-label" for="cough-blood-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="cough-blood-radio"
                                            id="cough-blood-no" value="No">
                                        <label class="form-check-label" for="cough-blood-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Do you have recurrent night sweats?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="recurrent-sweats-input"
                                            id="recurrent-sweats-yes" value="Yes">
                                        <label class="form-check-label" for="recurrent-sweats-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="recurrent-sweats-radio"
                                            id="recurrent-sweats-no" value="No">
                                        <label class="form-check-label" for="recurrent-sweats-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Do you have unexplained weight loss?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="weight-loss-input"
                                            id="weight-loss-yes" value="Yes">
                                        <label class="form-check-label" for="weight-loss-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="weight-loss-radio"
                                            id="weight-loss-no" value="No">
                                        <label class="form-check-label" for="weight-loss-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Have you experienced unexplained fever?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="unexplained-fever-input"
                                            id="unexplained-fever-yes" value="Yes">
                                        <label class="form-check-label" for="unexplained-fever-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="unexplained-fever-radio"
                                            id="unexplained-fever-no" value="No">
                                        <label class="form-check-label" for="unexplained-fever-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Have you had an exposure to tuberculosis since your last TB
                                        test?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exposure-tuberculosis-input"
                                            id="exposure-tuberculosis-yes" value="Yes">
                                        <label class="form-check-label" for="exposure-tuberculosis-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exposure-tuberculosis-radio"
                                            id="exposure-tuberculosis-no" value="No">
                                        <label class="form-check-label" for="exposure-tuberculosis-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="vaccination">If Yes, what?</label>
                                <input name=" vaccination" type="text" id=" vaccination" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row mt-1">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Have you ever been treated for TB?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="treated-TB-input"
                                            id="treated-TB-yes" value="Yes">
                                        <label class="form-check-label" for="treated-TB-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="treated-TB-radio"
                                            id="treated-TB-no" value="No">
                                        <label class="form-check-label" for="treated-TB-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="treated-TB-input">If Yes, what?</label>
                                <input name="treated-TB-input" type="text" id="treated-TB-input" class="form-control"
                                    placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="treated-TB-med-input">What medication?</label>
                                <input name="treated-TB-med-input" type="text" id="treated-TB-med-input"
                                    class="form-control" placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-6">
                                <label for="treated-TB-duration-input">How long?</label>
                                <input name="treated-TB-duration-input" type="text" id="treated-TB-duration-input"
                                    class="form-control" placeholder="Type here...">
                            </div>
                        </div>
                        <div class="form-row row mt-1">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Show on Tickler?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-radio" id="inter-yes"
                                            value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-radio" id="inter-no"
                                            value="No">
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-1 d-flex justify-content-end">
                            <button class="btn btn-training-save btn-primary" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
        <!-- Add Comment Modal -->
        <div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="content">
                            <div class="modal-title">
                                <h6 class="offset-md-5">Add Comment</h6>
                                <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            <form action="">
                                <div class="form-row mt-3">
                                    <label for="">Subject:</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-row">
                                    <label for="">Message:</label>
                                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                            </form>
                            <div class="form-row mt-3 d-flex justify-content-center">
                                <button class="btn btn-primary py-1">Post Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Comment Modal -->
        <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="content">
                            <div class="modal-title">
                                <h6 class="offset-md-5">Comment</h6>
                                <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            <form action="">
                                <div class="form-row mt-3">
                                    <label for="">Subject:</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-row">
                                    <label for="">Message:</label>
                                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                            </form>
                            <div class="form-row mt-3 d-flex justify-content-center">
                                <button class="btn btn-red">Delete Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Verification Letter Modal -->
        <div class="modal fade" id="verifLetterModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="content">
                            <div class="modal-title">
                                <h6 class="offset-md-3">TB Status Verification Letter</h6>
                                <button class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            <div class="mt-3 left-pane">
                                <h6>Preview Letter</h6>
                            </div>
                            <div class="form-row row page-applicable mt-3">
                                <div class="col-xl-12">
                                    <div class="card other-name-card">
                                        <div class="card-body">
                                            <h6 class="form-heading">Send Fax</h6>
                                            <span class="page-note mt-1">
                                                <i class='bx bx-error-circle font-red'></i> <span>Please correct the
                                                    invalid fax number. Fields will be enabled once corrected.</span>
                                            </span>
                                            <div class="form-row mt-2">
                                                <label for="">Fax2Mail Email Address:</label>
                                                <input type="text" id="fax-email" name="fax-email" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="form-row d-flex justify-content-end mt-4">
                                                <button class="btn btn-primary py-1">
                                                    Send Fax
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row row page-applicable mt-3">
                                <div class="col-xl-12">
                                    <div class="card other-name-card">
                                        <div class="card-body">
                                            <h6 class="form-heading">Send Email</h6>
                                            <span class="page-note mt-1">
                                                <i class='bx bx-error-circle font-red'></i> <span>Please correct the
                                                    invalid email address. Fields will be enabled once corrected.</span>
                                            </span>
                                            <div class="form-row mt-2">
                                                <label for="">Email Address To:</label>
                                                <input type="text" id="email-to" name="email-to" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="form-row">
                                                <label for="">Email Address CC:</label>
                                                <input type="text" id="email-cc" name="email-cc" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="form-row d-flex justify-content-end mt-4">
                                                <button class="btn btn-primary py-1">
                                                    Send Email
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-3 d-flex justify-content-center">
                                <button class="btn btn-red">Delete Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>