<%= render "system_navs"%>

    <div class="cp-content">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-row row">
                            <div class="col-xl-5">
                                <select name="" id="" class="form-select">
                                    <option value="">Encompass</option>
                                </select>
                            </div>
                        </div>
                        <%= render "data_import_nav"%>
                        
                        <form action="">
                            <div class="form-row row mt-3">
                                <div class="col-xl-5">
                                    <label for="data-provider">Data Provider:</label>
                                    <select name="data-provider" id="data-provider" class="form-select">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-xl-5">
                                    <label for="base-date">Base Date:</label>
                                    <input type="date" name="base-date" id="base-date" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-5">
                                    <label for="group-name">Group Name:</label>
                                    <input type="text" name="group-name" id="group-name" class="form-control" value="">
                                </div>
                                <div class="col-xl-5">
                                    <label for="group-code">Group Code:</label>
                                    <input type="text" name="group-code" id="group-code" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="col-xl-5">
                                    <label for="data-source">Data Source:*</label>
                                    <input type="text" name="data-source" id="data-source" class="form-control" value="">
                                </div>
                                <div class="col-xl-5">
                                    <label for="status">Status:</label>
                                    <select name="status" id="status" class="form-select py-1">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="d-flex justify-content-end gap-3 mt-3">
                                        <button type="submit" class="btn btn-primary py-1">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row mt-3">
                            <div class="col-xl-5">
                                <div class="form-control cp-search-wrp">
                                    <input type="text" class="cp-search-input" placeholder="Search">
                                    <i class='bx bx-search'></i>
                                </div>
                            </div>
                        </div>
                        <div class="row result-controls">
                            <div class="col-xl-6 filter-result">
                                <h6 class="">Result: 3 records</h6>
                            </div>
                            <div class="col-xl-6">
                                <div class="table-controls">
                                    <div class="control-wrp">
                                        <label for="limit">Show limit</label>
                                        <input type="text" id="limit" class="form-control" value="20">
                                    </div>
                                    <div class="control-wrp">
                                        <label for="page">Page 1 of 32</label>
                                        <input type="text" id="page" class="form-control" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table practice-table mt-3">
                            <thead>
                                <tr>
                                    <th class="text-white" scope="col">Data Provider</th>
                                    <th class="text-white">Group Name</th>
                                    <th class="text-white">Parent Group</th>
                                    <th class="text-white">Group Code</th>
                                    <th class="text-white">Data Source</th>
                                    <th class="text-white">Status</th>
                                    <th class="text-white"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Encompass</td>
                                    <td>PSV- Provider Data</td>
                                    <td>PSV- Provider Data</td>
                                    <td>PSV</td>
                                    <td>exec usp_Import_Encompass</td>
                                    <td>Active</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-end gap-3">
                                            <i class='bx bx-edit cp-blue-icon'></i>
                                            <i class='bx bx-trash cp-red-icon'></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

