<h1>Hi, <%= @provider.provider_name %></h1>
<h2>
		You have a new timeline that needs to be completed.
</h2>
<h4>Details:</h4>
<p>
		<b>Title:</b> <%= @timeline.title %>
</p>
<p>
	<b>Notes:</b> <%= @timeline.notes %>
</p>
<p>
		<b>Due Date:</b> <%= @timeline.due_date.strftime("%m/%d/%Y") %>
</p>
