<% if @message.blank? %>
<p>Hello <%= @email %>!</p>

<p>You are invited to connect to Office Manager account.</p>
<% else %>
<p style="white-space: pre-line">
	<%= raw @message.html_safe %>
</p>
<% end %>

<hr>

<p>We automatically create a link for you to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@user, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<br><br>
