<% if @message.blank? %>
<h1>Hello <%= @email %>,</h1>
<p>
	Please provide the requested information per the attached Welcome Letter and Checklist. Once the information is received, someone from the Credentialing Team will reach out to you if any information is missing or if we have questions.
</p>
<p>
	We look forward to working with you, and should you have any questions, please do not hesitate to contact us at credentialing@demo.com.
</p>
<br>
<p>
	Thank you, <br>
	The Credentialing Team <br> <br>
</p>
<% else %>
<p style="white-space: pre-line">
	<%= raw @message.html_safe %>
</p>
<p>Thank you for contacting the Qualifacts Enrollment Team. This is an unmonitored email address. Please contact us at <a href="mailto:credentialing@qualifacts.com">credentialing@qualifacts.com</a> if further assistance is needed.</p>
<% end %>
<%= image_tag attachments['logo.png'].url,  style: "height: 90px; width: 200px;" %>
