<div class="d-flex gap-3 mt-3">
   <a href="<%= data_import_systems_path %>" class="btn cp-btn-nav <%= params[:page].nil?  ? encompass_active_classes : encompass_idle_classes %> ">Data Provider</a>
   <a href="<%= data_import_systems_path(page: 'data_group')%>" class="btn cp-btn-nav <%= params[:page] == 'data_group' ? encompass_active_classes : encompass_idle_classes %> ">Data Group</a>
</div>
