   <nav class="pt-2">
        <div class="container">
            <div class="cp-navs">
              <%= link_to "Features", systems_path, class: "btn cp-btn-nav btn-primary active #{encompass_nav_active('systems','index')}"%>
              <%= link_to "ACL", acl_systems_path, class: "btn cp-btn-nav btn-primary active #{encompass_nav_active('systems','acl')}"%>
              <%= link_to "Data Lookup", data_lookup_systems_path, class: "btn cp-btn-nav btn-primary active #{encompass_nav_active('systems','data_lookup')}"%>
              <%= link_to "Data Import", data_import_systems_path, class: "btn cp-btn-nav btn-primary #{encompass_nav_active('systems', 'data_import')}"%>
            </div>
        </div>
    </nav>