  <%= render "system_navs"%>
 
  <div class="cp-content">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-row row">
                            <div class="col-xl-5">
                                <select name="" id="" class="py-1 form-select">
                                    <option value="">Medversant LLC</option>
                                </select>
                            </div>
                        </div>
                        <%= render "acl_top_nav"%>
                        <div class="form-row row mt-3">
                            <div class="col-xl-5">
                                <label for="">List of available Groups/Roles:</label>
                                <div class="pane mt-2">
                                    <div class="form-check pane-check d-flex align-items-center justify-content-between gap-2">
                                        <label class="form-check-label" for="check-admin">Client Admin</label>
                                        <input class="form-check-input" type="checkbox" id="check-admin" value="">
                                    </div>
                                    <div class="form-check pane-check d-flex align-items-center justify-content-between gap-2">
                                        <label class="form-check-label" for="check-staff">Client Staff</label>
                                        <input class="form-check-input" type="checkbox" id="check-staff" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <label for="">List of assigned Groups/Roles:</label>
                                <div class="pane mt-2"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-10">
                                <div class="d-flex justify-content-end gap-3 mt-3">
                                    <button type="submit" class="btn btn-primary py-1">
                                        Assign & Save
                                    </button>
                                    <!-- <button type="button" class="btn btn-danger">
                                        Delete
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>