  <%= render "system_navs"%>
  
  <div class="cp-content">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-row row">
                            <div class="col-xl-5">
                                <select name="" id="" class="form-select">
                                    <option value="">Encompass</option>
                                </select>
                            </div>
                        </div>
                        <%= render "data_import_nav"%>
                        <div class="form-row row mt-3">
                            <div class="col-xl-5">
                                <label for="data-provider">Data Provider:*</label>
                                <input type="text" name="data-provider" id="data-provider" class="form-control" value="">
                            </div>
                            <div class="col-xl-5">
                                <label for="status">Status:</label>
                                <select name="status" id="status" class="form-select">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-10">
                                <div class="d-flex justify-content-end gap-3 mt-3">
                                    <button type="submit" class="btn btn-primary py-1">
                                        Add
                                    </button>
                                    <button type="button" class="btn btn-danger py-1">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>