  <%= render "system_navs"%>
    <div class="cp-content">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-row row">
                            <div class="col-xl-5">
                                <select name="" id="" class="form-select">
                                    <option value="">Medversant LLC</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex gap-2 mt-3">
                            <a href="profile.html" class="btn cp-btn-nav active">Profile</a>
                            <a href="sub-feature.html" class="btn cp-btn-nav ">Sub-Feature</a>
                            <a href="securables.html" class="btn cp-btn-nav ">Securables</a>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-5">
                                <label for="feature-name">Feature Name:</label>
                                <input type="text" name="feature-name" id="feature-name" class="form-control" value="">
                            </div>
                            <div class="col-xl-5">
                                <label for="feature-url">Feature URL:</label>
                                <input type="text" name="feature-url" id="feature-url" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-5">
                                <label for="display-order">Display Order:</label>
                                <input type="text" name="display-order" id="display-order" class="form-control" value="">
                            </div>
                            <div class="col-xl-5">
                                <label for="status">Status:</label>
                                <select name="status" id="status" class="form-select">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-10">
                                <div class="d-flex justify-content-end gap-3 mt-3">
                                    <button type="submit" class="btn btn-primary">
                                        Add
                                    </button>
                                    <!-- <button type="button" class="btn btn-danger">
                                        Delete
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
