<% screenshot_path = Rails.root.join('public', 'webscrape', 'oig', 'screenshot.png') %>

<% if File.exist?(screenshot_path) %>
  <img src="/webscrape/oig/screenshot.png?v=<%= File.mtime(screenshot_path).to_i %>" alt="" width="100%">
<% else %>
  <div class="alert alert-warning mt-3">
    The data entered is not correct. Please add a correct names.
  </div>
<% end %>

<%= link_to 'Download PDF', download_as_pdf_auto_verifies_path(webscrape: 'oig'), class: 'btn btn-primary mt-4' %>