<form>



	<p style="text-align: center;">Verification Platform</p>

	<label for="stateType">Select State of Practice:</label><br>
	<select id="stateType" name="stateType">
			<option value="AK">AK (ALASKA ALL TYPES)</option>

			<option value="AL1">AL (ALABAMA MD, DO and PA Types)</option>
			<option value="AL2">AL (ALABMA NURSING TYPES)</option>
			<option value="AL3">AL (ALABAM AL CNM / MW / LMW TYPES)</option>
			<option value="AL4">AL (ALABAM PHARMACY/CIST)</option>
			<option value="AL5">AL (ALABAMA DDS, DMD TYPES)</option>

			<option value="AR1">AR( ARKANSAS MD and DO TYPES)</option>
			<option value="AR2">AR( ARKANSAS PT TYPES)</option>
			<option value="AR3">AR (ARKANSAS PHARMACY)</option>
			<option value="AR4">AR (ARKANSAS DDS, DMD)</option>

			<option value="AZ1">AZ (ARIZONA MD, DO and PA Types)</option>
			<option value="AZ2">AZ (ARIZONA DC TYPE)</option>
			<option value="AZ3">AZ (ARIZONA PT/PSYD/DPM/OT/AC)</option>
			<option value="AZ4">AZ (ARIZONA DDS, DMD)</option>




	</select><br>

	<label for="licenseNumber">License Number:</label><br>
	<input type="text" id="licenseNumber" name="licenseNumber"><br>

<label for="Organization">Organization/Facility:</label><br>
	<input type="text" id="Organization" name="Organization"><br>

	<label for="lastName">Last Name:</label><br>
	<input type="text" id="lastName" name="lastName"><br>

	<label for="middleName">Middle Name:</label><br>
	<input type="text" id="middleName" name="middleName"><br>

	<label for="firstName">First Name:</label><br>
	<input type="text" id="firstName" name="firstName"><br>

	<label for="dob">Date of Birth:</label><br>
	<input type="date" id="dob" name="dob"><br>

	<label for="city">City:</label><br>
	<input type="text" id="city" name="city"><br><br>

	<input type="submit" value="Verify">
</form>