<div class="container">
	<table class="bordered-table">
		<tr>
			<th colspan="4" class="header">Credentialing Committee Action</th>
		</tr>
		<tr>
			<td colspan="2" class="sub-header">Client Organization</td>
			<td colspan="2" class="sub-header">Credential Service Provider</td>
		</tr>
		<tr>
			<td colspan="2">
				<strong>CHCTest</strong><br>
				177 E Colorado Blvd, Suite 200<br>
				Pasadena, CA 91105<br>
				Phone:<br>
				Fax:
			</td>
			<td colspan="2">
				<strong>Medversant</strong><br>
				177 E Colorado Blvd., Suite 200<br>
				Pasadena, CA 91105<br>
				Phone: (213)291-6139<br>
				Fax: (213)489-1120
			</td>
		</tr>
		<tr>
			<td class="sub-header">Credentialing Cycle:</td>
			<td>Cred</td>
			<td class="sub-header">Photo</td>
			<td>No Photo</td>
		</tr>
		<tr>
			<td class="sub-header">Practitioner Name:</td>
			<td colspan="3"><%= @provider_personal_information&.fullname %></td>
		</tr>
		<tr>
			<td class="sub-header">Practitioner Type:</td>
				<td colspan="3"><%= @provider_personal_information&.practitioner_type %></td>
		</tr>
		<tr>
			<th colspan="4" class="header">Credentialing/Peer Review Committee Action</th>
		</tr>
		<tr>
			<td><input type="checkbox"> Approved</td>
			<td><input type="checkbox"> Pending for Further Information</td>
			<td><input type="checkbox"> Other</td>
			<td><input type="checkbox"> Denied</td>
		</tr>
		<tr>
			<td colspan="4"><input type="checkbox"> Restrictions or special conditions</td>
		</tr>
		<tr>
			<td colspan="4" class="sub-header">Comments:</td>
		</tr>
		<tr>
			<td colspan="4" style="height: 100px;"></td>
		</tr>
		<tr>
			<td colspan="3" class="no-border">Committee Representative: <span class="signature-line"></span></td>
			<td class="no-border">Date: <span class="signature-line"></span></td>
		</tr>
		<tr>
			<th colspan="4" class="header">Application Collection Attempt</th>
		</tr>
		<tr>
			<td class="sub-header">No</td>
			<td class="sub-header">Method</td>
			<td class="sub-header">Status</td>
			<td class="sub-header">Date</td>
		</tr>
		<tr>
			<td style="height: 50px;"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th colspan="4" class="header">Application Completion Attempt</th>
		</tr>
		<tr>
			<td class="sub-header">No</td>
			<td class="sub-header">Method</td>
			<td class="sub-header">Status</td>
			<td class="sub-header">Description</td>
		</tr>
		<tr>
			<td style="height: 50px;"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="4" class="no-border">Report processed Date:<strong>09/26/2024</strong></td>
		</tr>
	</table>
	<p class="text-center fs-4 mt-5 mb-5">This form and all attached documents and summaries were prepared and/or collected by Medversant as an Agent of Client and in compliance with contracted services.</p>
</div>

<style>
	.bordered-table {
		border: 1px solid black;
		width: 100%;
		border-collapse: collapse;
	}
	.bordered-table th, .bordered-table td {
		border: 1px solid black;
		padding: 5px;
	}
	.header {
		background-color: #e0e0e0;
		text-align: center;
		font-weight: bolder;
		font-size: 20px;
	}
	.sub-header {
		background-color: #f0f0f0;
		font-weight: bold;
	}
	.no-border {
		border: none;
	}
	.no-border td {
		border: none;
	}
	.signature-line {
		border-bottom: 1px solid black;
		width: 200px;
		display: inline-block;
	}
</style>
