<div class="enc-sidebar-new">
   <div class="enc-sidebar-title">
      <h6>Client Organization Tree</h6>
   </div>
   <% if current_setting.hvhs? %>
   <div class="enc-sidebar-content">
      <div class="form-control enc-search-wrp">
         <input type="" class="enc-search-input" placeholder="Search Facility or Provider">
         <i class='bx bx-search' ></i>
      </div>
      <div class="form-row mt-3">
         <div class="enc-sidebar-content-heading">
            <i class='bx bx-buildings' ></i>
            <h6>Heritage Valley Health System</h6>
         </div>
         <ul class="enc-sidebar-content-submenu">
            <li>Current Practitioners</li>
            <ul class="enc-sidebar-content-submenu">
               <li>Faculty</li>
               <li>HVHS Hospitals</li>
               <ul class="enc-sidebar-content-submenu">
                  <li>HV Beaver</li>
                  <li>HV Kennedy</li>
                  <li>HV Sewickley</li>
               </ul>
               <li>HVHS Surgery Center</li>
            </ul>
            <li>HVHN</li>
            <ul class="enc-sidebar-content-submenu">
               <li>COMM</li>
               <li>MC</li>
            </ul>
            <li>HVHS CORP</li>
            <ul class="enc-sidebar-content-submenu">
               <li>Business Care</li>
               <li>CCC</li>
               <li>HVMG</li>
               <li>HVPEDS</li>
               <li>TSOG</li>
            </ul>
            <li>ODISP</li>
         </ul>
      </div>
      <div class="form-row">
         <div class="enc-sidebar-content-heading">
            <i class='bx bx-buildings' ></i>
            <h6>Broward Health</h6>
         </div>
      </div>
   </div>
   <% elsif current_setting.dcm? %>
      <div class="enc-sidebar-content">
         <div class="form-control enc-search-wrp">
            <input type="" class="enc-search-input" placeholder="Search Facility or Provider">
            <i class='bx bx-search' ></i>
         </div>
         <div class="form-row mt-3">
            <div class="enc-sidebar-content-heading">
               <i class='bx bx-buildings' ></i>
               <h6>Dental Credentailing Manager</h6>
            </div>
         </div>
      </div>
   <% end %>
</div>
