<div class="enc-sidebar-new">
   <div class="enc-sidebar-title">
      <h6>Client Organization Tree</h6>
   </div>
   <div class="enc-sidebar-content">
      <div class>
         <%= search_form_for @q, url: mhc_verification_platform_index_url, method: :get, html: { class: 'form_search_with_icon'} do |f|%>
            <div>
               <%= f.text_field :full_name_or_first_name_or_last_name_cont, value: "#{params[:q][:full_name_or_first_name_or_last_name_cont] rescue ''}", placeholder: 'Search Facility or Provider', class: "form-control py-1" %>
               <i class="bx bx-search"></i>
            </div>
         <% end %>
      </div>
      <div class="form-row mt-3">
         <div class="enc-sidebar-content-heading">
            <i class='bx bx-buildings' ></i>
            <h6>MHC</h6>
         </div>
         <ul class="enc-sidebar-content-submenu">
            <li>Providers</li>
         </ul>
      </div>
   </div>
</div>
