<div class="enc-sidebar-new">
   <div class="enc-sidebar-title">
      <h6>Client Organization Tree</h6>
   </div>
   <div class="enc-sidebar-content">
      <div>
         <%= search_form_for @q, url: mhc_verification_platform_index_url, method: :get, html: { class: 'form_search_with_icon' } do |f| %>
            <div class="input-group mb-3">
              <%= f.text_field :name_or_attest_id_cont, 
                  value: "#{params.dig(:q, :name_or_attest_id_cont)}", 
                  placeholder: 'Search Name or Attest ID', 
                  class: "form-control py-1"  %>
              <%= f.submit class: "btn btn-primary" %>
            </div>
         <% end %>
      </div>
      <div class="form-row mt-3">

         <div class="enc-sidebar-content-heading">
            <i class='bx bx-buildings' ></i>
            <h6>MHC</h6>
         </div>

         <div class="enc-sidebar-content-heading">
            <% if @client_organizations.present? %>
               <% @client_organizations.each do | client_organization | %>
                  <i class='bx bx-buildings' ></i>
                  <h6><%= client_organization.organization_name %></h6><br>
               <% end %>
            <% end %>
         </div>

         <hr class="text-dark">

         <ul class="enc-sidebar-content-submenu">
            <li>Providers</li>
         </ul>
      </div>
   </div>
</div>
