    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            
            <div class="add-license-content mt-4">
                <div class="row">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= mhc_verification_platform_path(page_tab: 'peer_ref')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Reference</h4>
                    </div>
                    <form action="">
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <label for="title">Title:</label>
                                <select name="title" id="title" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-xl-4">
                                <label for="">First Name:</label>
                                <input name=" lname" type="text" id="fname" class="form-control"
                                    placeholder="Type here...">
                            </div>
                            <div class="col-xl-2">
                                <label for="">Middle Name:</label>
                                <input name=" lname" type="text" id="mname" class="form-control"
                                    placeholder="Type here...">
                            </div>
                            <div class="col-xl-4">
                                <label for="">Last Name:</label>
                                <input name=" lname" type="text" id="lname" class="form-control"
                                    placeholder="Type here...">
                            </div>
                            <div class="col-xl-2">
                                <label for="suffix">Suffix:</label>
                                <select name="suffix" id="suffix" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-6">
                                <label for="prac-type">Practitioner Type:</label>
                                <select name="prac-type" id="prac-type" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="speciality">Specialty:</label>
                                <select name="speciality" id="speciality" class="form-select">
                                    <option value="">Select option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Board Certified?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="board-certified-radio"
                                            id="board-certified-yes" value="Yes">
                                        <label class="form-check-label" for="board-certified-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="board-certified-radio"
                                            id="board-certified-no" value="No">
                                        <label class="form-check-label" for="board-certified-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-3  health-card">
                            <div class="col-xl-12">
                                <div class="card other-name-card">
                                    <div class="card-body">
                                        <h6 class="form-heading">Contact Info</h6>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for=" type-practitioner">Type of Practitioner:</label>
                                                <select name=" type-practitioner" id=" type-practitioner"
                                                    class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Address:</label>
                                                <input name=" address" type="text" id=" address"
                                                    class="form-control" placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="">Department/Mail Stop:</label>
                                                <input name=" mail-stop" type="text" id=" mail-stop"
                                                    class="form-control" placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">Facility Name:</label>
                                                <input name=" facility-name" type="text" id=" facility-name"
                                                    class="form-control" placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-6">
                                                <label for="">City:</label>
                                                <input name=" city" type="text" id=" city" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-6">
                                                <label for="">County:</label>
                                                <input name=" county" type="text" id=" county" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-4">
                                                <label for=" state">State/Province:</label>
                                                <select name=" state" id=" state" class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="">Zip/Postal Code:</label>
                                                <input name=" zip" type="text" id=" zip" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for=" country">Country:</label>
                                                <select name=" country" id=" country" class="form-select">
                                                    <option value="">Select option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row row">
                                            <div class="col-xl-4">
                                                <label for=" ">Phone Number:</label>
                                                <input name=" phone-number" type="text" id=" phone-number"
                                                    class="form-control" placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for="">Fax Number:</label>
                                                <input name=" fax" type="text" id=" fax" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                            <div class="col-xl-4">
                                                <label for=" ">Email Address:</label>
                                                <input name=" email" type="email" id=" email" class="form-control"
                                                    placeholder="Type here...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row row mt-3">
                            <div class="col-xl-6">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Show on Tickler?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input"
                                            id="inter-yes" value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input"
                                            id="inter-no" value="No">
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-row row mt-2">

                            <div class="col-xl-25">
                                <label for="training-com">Please List any comments</label>
                                <input type="text" name="training-com" id="training-com" placeholder="Type here..."
                                    class="form-control" required>
                            </div>

                        </div>

                        <div class="form-row mt-1 d-flex justify-content-end">
                            <button class="btn btn-training-save btn-primary" type="submit">
                                Save
                            </button>
                        </div>



                    </form>

                </div>
            </div>
        </div>
      </div>