    <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%> 
            <div class="row mt-4">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= mhc_verification_platform_path(page_tab: 'cme')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New CME</h4>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="form-row mt-3">
                    <div class="d-flex align-items-center gap-3">
                        <label for="">Do you hold an AMA Physician Recognition Award?</label>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="AMA-radio" id="AMA-radio-yes"
                                value="Yes">
                            <label class="form-check-label" for="AMA-radio-yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="radio" name="AMA-radio" id="AMA-radio-no" value="No">
                            <label class="form-check-label" for="AMA-radio-no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="">If Yes, Expiration Date:</label>
                        <input name="expiration-date" type="date" id="expiration-date" class="form-control">
                    </div>
                </div>
                <div class="form-row row mt-3">
                    <div class="col-xl-12">
                        <div class="card other-name-card">
                            <div class="card-body">
                                <h6 class="form-heading">Continuing Education earned within the last three years</h6>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="drivers-state">Course Name:</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="">Course ID Number:</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-4">
                                        <label for="drivers-state">Category I Credits:</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">Category II Credits:</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="">Ethics Credits:</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="drivers-state">Course Date:</label>
                                        <input type="date" id="" class="form-control">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="">Sponsor(s):</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-6">
                                        <label for="drivers-state">Speaker(s):</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                    <div class="col-xl-6">
                                        <label for="">Location:</label>
                                        <input type="text" id="" class="form-control" placeholder="Type here...">
                                    </div>
                                </div>
                                <div class="form-row row">
                                    <div class="col-xl-12">
                                        <label for="drivers-state">Speaker(s):</label>
                                        <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-row d-flex justify-content-between mt-4">
                                    <div class="offset-md-5">
                                        <button type="submit" class="btn btn-primary">
                                            Add New
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-danger">
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
