
    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="row mt-3">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= verification_platform_index_path(page: 'certifications')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Certificate</h4>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class=" ">Certification Type:</label>
                        <select name="CertificationType" id="CertificationType" class="form-select ">
                            <option value="">Select Option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="" class=" ">Verification Source:</label>
                        <select name="VerificationSource" id="VerificationSource" class="form-select ">
                            <option value="">Select Option</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class=" ">Available:</label>
                        <select name="Available" id="Available" class="form-select ">
                            <option value="">Select Option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="" class=" ">Certification Number:</label>
                        <input type="text" name="CertificationNumber" id="CertificationNumber" class="form-control form-control-lg"
                            placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label class=" " for="EffectiveDate">Effective Date:</label>
                        <input type="text" id="EffectiveDate" name="EffectiveDate" class="form-control form-control-lg"
                            placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                    </div>
                    <div class="col-xl-6">
                        <label class=" " for="ExpirationDate">Expiration Date:</label>
                        <input type="text" id="ExpirationDate" name="ExpirationDate" class="form-control form-control-lg"
                            placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class=" ">Occurence Limit:</label>
                        <input type="text" name="OccurenceLimit" id="OccurenceLimit" class="form-control form-control-lg"
                            placeholder="Type here..">
                    </div>
                    <div class="col-xl-6">
                        <label for="" class=" ">Aggregate Limit:</label>
                        <input type="text" name="AggregateLimit" id="AggregateLimit" class="form-control form-control-lg"
                            placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label class=" " for="SourceDate">Source Date:</label>
                        <input type="text" id="SourceDate" name="SourceDate" class="form-control form-control-lg"
                            placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                    </div>
                    <div class="col-xl-6">
                        <label for="" class=" ">Verifier:</label>
                        <input type="text" name="Verifier" id="Verifier" class="form-control form-control-lg" placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row justify-content-end mb-3">
                    <div class="col-xl-6">
                        <label class=" " for="VerificationDate">Verification Date:</label>
                        <input type="text" id="VerificationDate" name="VerificationDate" class="form-control form-control-lg"
                            placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
                    </div>
                </div>
                <div class="form-row row justify-content-end">
                    <div class="col-xl-2">
                        <button class="btn btn-primary form-control">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
