    <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%>
            
            <div class="row my-3">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= verification_platform_index_path(page: 'other_cert')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Certification</h4>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="Type">Type:</label>
                        <select name="Type" id="Type" class="form-select ">
                            <option value="">Select option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="">If other, please list:</label>
                        <input class="form-control form-control-lg" type="text" name="otherlist" id="otherlist"
                            placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="State">State:</label>
                        <select name="State" id="State" class="form-select ">
                            <option value="">Select option</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <label for="">Certification:</label>
                        <input class="form-control form-control-lg" type="text" name="certificationnumber"
                            id="certificationnumber" placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="">Issue Date:</label>
                        <input class="form-control form-control-lg" type="text" name="IssueDate" id="IssueDate"
                            placeholder="Type here..">
                    </div>
                    <div class="col-xl-6">
                        <label for="">Certification Expiration Date:</label>
                        <input class="form-control form-control-lg" type="text" name="CertificationExpirationDate"
                            id="CertificationExpirationDate" placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row my-3">
                    <div class="col-xl-4">
                        <div class="input-group gap-2">
                            <label class="align-self-center" for="">Does any of your staff have this
                                certification?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="HaveCertification"
                                    value="yesHaveCertification">
                                <label class="form-check-label" for="yesHaveCertification">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="HaveCertification"
                                    value="yesHaveCertification" checked>
                                <label class="form-check-label" for="noHaveCertification">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row my-3">
                    <div class="col-xl-4">
                        <div class="input-group gap-2">
                            <label class="align-self-center" for="">Show on Tickler?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tickler" value="yesTickler">
                                <label class="form-check-label" for="yesTickler">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tickler" value="yesTickler" checked>
                                <label class="form-check-label" for="noTickler">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mb-3">
                    <label for="completedNo">Please list any comments:</label>
                    <div class="col-xl-12">
                        <input type="text" class="form-control form-control-lg" name="comments" id="comments"
                            placeholder="Type here..">
                    </div>
                </div>
                <div class="form-row row justify-content-end">
                    <div class="col-xl-2">
                        <button class="btn btn-primary form-control">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>