    <div class="enc-content">
        <div class="container">
          <%= render "top_nav_buttons"%>
           
            <div class="add-license-content mt-4">
                <div class="row">
                    <div class="col-xl-6 d-flex align-items-center">
                        <div class="d-flex align-items-center gap-3">
                            <a href="<%= verification_platform_index_path(page: 'facilities')%>" class="link-back">
                                <i class='bx bx-left-arrow-alt'></i>
                            </a>
                            <h4 class="page-heading">Add New Facility</h4>
                        </div>
                    </div>
                    <form action="">
                        <div class="col-xl-12 right-pane mt-3">
                            <div class="d-flex align-items-center gap-10">
                                <span class="page-note">
                                    <i class='bx bx-error-circle font-blue'></i> <span>To search for a Facility name,
                                        please click the Search button..</span>
                                </span>
                            </div>
                            <div class="form-row row mt-2">

                                <div class="col-xl-5">
                                    <label for="supervising-prac">Facility Name:</label>
                                    <select name="facility-name" id="facility-name" class="form-select"></select>

                                </div>
                                <div class="col-xl-1">
                                    <div class="d-flex align-items-center gap-10">
                                        <button class="btn-search_add_facility" type="submit">
                                            Search
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <label for="facility-address">Contact:</label>
                                    <select name="facility-address" id="facility-address" class="form-select"></select>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-6">
                                    <label for="facility-contact">Address:</label>
                                    <input type="text" name="facility-contact" id="facility-contact"
                                        placeholder="Type here..." class="form-control" required>
                                </div>
                                <div class="col-xl-6">
                                    <label for="facility-add-address">Additional Address:</label>
                                    <input type="text" name="facility-add-address" id="facility-add-address"
                                        placeholder="Type here..." class="form-control" required>
                                </div>
                            </div>

                            <div class="form-row row mt-2">
                                <div class="col-xl-6">
                                    <label for="facility-city">City:</label>
                                    <select name="facility-city" id="facility-city" class="form-select"></select>
                                </div>
                                <div class="col-xl-6">
                                    <label for="facility-city-county">County:</label>
                                    <input type="text" name="facility-city" id="facility-city"
                                        placeholder="Type here..." class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-4">
                                    <label for="facility-state">State/Province:</label>
                                    <select name="facility-city-state" id="facility-state" class="form-select"></select>
                                </div>
                                <div class="col-xl-4">
                                    <label for="facility-zip">Zip/Postal Code:</label>
                                    <input type="text" name="facility-zip" id="facility-zip" placeholder="Type here..."
                                        class="form-control" required>
                                </div>
                                <div class="col-xl-4">
                                    <label for="facility-country">Country:</label>
                                    <input type="text" name="facility-country" id="facility-country"
                                        placeholder="Type here..." class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-4">
                                    <label for="facility-office-pnone">Medical Staff Office Phone:</label>
                                    <input type="text" id="facility-office-pnone" name="facility-office-pnone"
                                        placeholder="Type here..." class="form-control" required>
                                </div>
                                <div class="col-xl-4">
                                    <label for="facility-office-pnone">Medical Staff Office Fax:</label>
                                    <input type="text" id="facility-office-pnone" placeholder="Type here..."
                                        class="form-control" required>
                                </div>
                                <div class="col-xl-4">
                                    <label for="facility-office-email">Medical Staff Office Email Address:</label>
                                    <input type="text" name="facility-office-email" id="facility-office-email "
                                        placeholder="Type here..." class="form-control" required>
                                </div>
                            </div>

                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-4">
                                <label for="facility-appointment-date">Appointment Date:</label>
                                <input type="date" name="facility-appointment-date" id="facility-appointment-date"
                                    placeholder="Type here..." class="form-control" required>
                            </div>
                            <div class="col-xl-4">
                                <label for="facility-department">Department:</label>
                                <input type="text" name="facility-department" id="facility-department"
                                    placeholder="Type here..." class="form-control" required>
                            </div>
                            <div class="col-xl-4">
                                <label for="facility-section">Section Name:</label>
                                <input type="text" name="facility-section" id="facility-section"
                                    placeholder="Type here..." class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row row mt-2">
                            <div class="col-xl-4">
                                <label for="facility-chair">Department Chair:</label>
                                <input type="text" name="facility-chair" id="facility-chair" placeholder="Type here..."
                                    class="form-control" required>
                            </div>
                            <div class="col-xl-4">
                                <label for="facility-chair-title">Department Chair Title:</label>
                                <select name="facility-chair-title" id="facility-chair-title"
                                    class="form-select"></select>
                            </div>
                            <div class="col-xl-4">
                                <label for="facility-status">Status:</label>
                                <select name="facility-status" id="facility-status" class="form-select"></select>
                            </div>

                        </div>


                        <div class="form-row row mt-3">
                            <div class="col-xl-4">
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Current?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-yes"
                                            value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-no"
                                            value="No">
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Is this your primary admitting facility?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-yes"
                                            value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-no"
                                            value="No">
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <label for="facility-expiration">Expiration Date:</label>
                                <input type="date" name="facility-expiration" id="facility-expiration"
                                    placeholder="Type here..." class="form-control" required>
                            </div>
                            <div class="col-xl-4">

                                <div class="d-flex align-items-center gap-3">
                                    <label for="" class="">Any past or present restriction of privileges at this
                                        facility?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-yes"
                                            value="Yes">
                                        <label class="form-check-label" for="prac-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inter-input" id="inter-no"
                                            value="No">
                                        <label class="form-check-label" for="prac-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row row mt-2">

                            <div class="d-flex align-items-center gap-3">
                                <label for="" class="">If No, do you admit patients to this facility?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inter-input" id="inter-yes"
                                        value="Yes">
                                    <label class="form-check-label" for="prac-yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inter-input" id="inter-no"
                                        value="No">
                                    <label class="form-check-label" for="prac-no">
                                        No
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-row row mt-2">

                            <div class="col-xl-4">
                                <label for="">If Yes, please indicate percentage of admissions:</label>
                                <span class="fac-percent input-holder"><input type="number" name="fac-percent" max="100"
                                        accuracy="2" min="0" id="inputRRPDiscount" style="text-align:left;"></span>

                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-5">
                                    <input class="form-check-input-license" type="checkbox" value="" id="check-1">
                                    <label class="form-check-label" for="check-1">
                                        I am a hospital-based practitioner and do not admit patients
                                    </label>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-4">
                                    <input class="form-check-input-license" type="checkbox" value="" id="check-1">
                                    <label class="form-check-label" for="check-1">
                                        My admitting arrangements are as follows:
                                    </label>
                                </div>
                            </div>
                            <div class="form-row row mt-2">
                                <div class="col-xl-4">
                                    <input class="form-check-input-license" type="checkbox" value="" id="check-1">
                                    <label class="form-check-label" for="check-1">
                                        The following physician(s) admit on my behalf:
                                    </label>
                                </div>
                            </div>

                            <div class="form-row row mt-3">
                                <div class="col-xl-6">
                                    <div class="d-flex align-items-center gap-3">
                                        <label for="" class="">Show on Tickler?</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="inter-input"
                                                id="inter-yes" value="Yes">
                                            <label class="form-check-label" for="prac-yes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="inter-input"
                                                id="inter-no" value="No">
                                            <label class="form-check-label" for="prac-no">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row row mt-2">

                                <div class="col-xl-25">
                                    <label for="facility-com">Please List any comments</label>
                                    <input type="text" name="facility-com" id="facility-com" placeholder="Type here..."
                                        class="form-control" required>
                                </div>

                            </div>

                            <div class="form-row mt-1 d-flex justify-content-end">
                                <button class="btn btn-facility-save" type="submit">
                                    Save
                                </button>
                            </div>



                    </form>

                </div>
            </div>
        </div>