 <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="form-row row my-3">
                <div class="col-xl-6 d-flex align-items-center">
                    <div class="d-flex align-items-center gap-3">
                        <a href="<%= mhc_verification_platform_path(page_tab: 'accreditation')%>" class="link-back">
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                        <h4 class="page-heading">Add New Accreditation</h4>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class="">Accrediting Body:</label>
                        <select name="AccreditingBody" id="AccreditingBody" class="form-select ">
                            <option value="">Select option</option>
                        </select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class="">Initial Review Date:</label>
                        <input type="text" id="InitialReviewDate" name="InitialReviewDate"
                            class="form-control form-control-lg" placeholder="MM/DD/YYYY" onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                    </div>
                    <div class="col-xl-6">
                        <label class=" " for="LastReviewDate">Last Review Date:</label>
                        <input type="text" id="LastReviewDate" name="LastReviewDate"
                            class="form-control form-control-lg" placeholder="MM/DD/YYYY" onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class="">CertificationNumber:</label>
                        <input type="text" id="CertificationNumber" name="CertificationNumber"
                            class="form-control form-control-lg" placeholder="Type here..">
                    </div>
                    <div class="col-xl-4">
                        <label class=" " for="ExpirationDate">Expiration Date:</label>
                        <input type="text" id="ExpirationDate" name="ExpirationDate"
                            class="form-control form-control-lg" placeholder="MM/DD/YYYY" onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                    </div>
                    <div class="col-xl-2 align-self-end">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="present-switch">
                            <label class=" " class="form-check-label" for="present-switch">Does
                                Not Expire</label>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-2">
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center gap-3">
                            <label for="" class="">Is this the primary accrediting body?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="AccreditingBody-input"
                                    id="AccreditingBody-yes" value="Yes">
                                <label class="form-check-label" for="AccreditingBody-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="AccreditingBody-input"
                                    id="AccreditingBody-no" value="No">
                                <label class="form-check-label" for="AccreditingBody-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row mt-2">
                    <div class="col-xl-6">
                        <div class="d-flex align-items-center gap-3">
                            <label for="" class="">Corrective Action Plan?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="CorrectiveActionPlan-input"
                                    id="CorrectiveActionPlan-yes" value="Yes">
                                <label class="form-check-label" for="CorrectiveActionPlan-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="CorrectiveActionPlan-input"
                                    id="CorrectiveActionPlan-no" value="No">
                                <label class="form-check-label" for="CorrectiveActionPlan-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-xl-6">
                        <label for="" class="">Date Initiated:</label>
                        <input type="text" id="Date Initiated" name="Date Initiated"
                            class="form-control form-control-lg" placeholder="MM/DD/YYYY" onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                    </div>
                    <div class="col-xl-6">
                        <label class=" " for="LastReviewDate">Date Completed:</label>
                        <input type="text" id="DateCompleted" name="DateCompleted"
                            class="form-control form-control-lg" placeholder="MM/DD/YYYY" onfocus="(this.type='date')"
                            onblur="(this.type='text')">
                    </div>
                </div>
                <div class="form-row mt-2">
                    <label for="">Please list any comments  :<span class="font-red">*</span></label>
                    <textarea name="not-applicable-explain" id="" cols="30" rows="5" class="form-control"
                        required></textarea>
                </div>
                <div class="form-row row mt-2">
                    <div class="col-xl-4">
                        <div class="input-group gap-2">
                            <label class="align-self-center" for="">Show on Tickler?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tickler" value="yesTickler">
                                <label class="form-check-label" for="yesTickler">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tickler" value="yesTickler"
                                    checked>
                                <label class="form-check-label" for="noTickler">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-1 d-flex justify-content-end">
                    <button class="btn btn-training-save btn-primary" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
