<div class="container">
    <div class="header">
        <img alt="Alliance Imaging logo" height="50" src="https://storage.googleapis.com/a1aa/image/hfCgItXJLcwfrk2lvdtbdiW56jpQckXtDCPglMkQ12o7P6HUA.jpg" width="50"/>
        <h1>ALLIANCE IMAGING</h1>
        <h2>Reapplication for Privileges</h2>
    </div>
    <div class="confidential">CONFIDENTIAL</div>
    <div class="section">
        <div class="section-title">I. INSTRUCTIONS:</div>
        <p>Enclosed is current information on file, please make any changes on the application. Please do not use abbreviations when completing form. Current copies of the following documents must be submitted.</p>
        <ul>
            <li>State Medical License(s)</li>
            <li>DEA certificate</li>
            <li>Professional Liability Insurance Face Sheet</li>
            <li>State Controlled Substance Registration (if applicable)</li>
        </ul>
    </div>
    <div class="section">
        <div class="section-title">II. IDENTIFYING INFORMATION</div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text" value="AABEDI"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text" value="CHANTELLE"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Middle:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Suffix:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Other names which you have used:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Home Address:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">State:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">ZIP:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Home Telephone Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Home Fax Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-Mail Address:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Social Security Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text" value="610-72-6597"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date of Birth:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text" value="1/3/1993"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Citizenship:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" placeholder="(if not US citizen, include copy of Alien Registration Card)" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Specialty:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text" value="Dentist: General Practice (DD)"/>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">III. PRACTICE INFORMATION</div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Practice Name (if applicable):</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Primary Office Street Address:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Suite No.:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">State:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">ZIP:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Telephone Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fax Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Office Manager/Administrator:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Telephone Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fax Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Billing Office Name (if different):</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Billing Office Address:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Suite No.:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">State:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">ZIP:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Telephone Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fax Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Billing Manager/Administrator:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Telephone Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fax Number:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">IV. BOARD CERTIFICATION</div>
        <p>Include only certifications by a member board of the American Board of Medical Specialties or the American Osteopathic Association.</p>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name of Issuing Board:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Specialty:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date Certified/Recertified:</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Expiration Date (if any):</label>
            <div class="col-sm-10">
                <input class="form-control-plaintext" type="text"/>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="section-title">V. OTHER CERTIFICATIONS (e.g. FLUOROSCOPY, RADIOGRAPHY ETC.)</div>
    <table class="table table-bordered">
        <tr>
            <td>Type:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Expiration:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
    </table>

    <div class="section-title">VI. MEDICAL LICENSURE/REGISTRATION (Remember to attach copies of documents)</div>
    <table class="table table-bordered">
        <tr>
            <td>State:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="CA"></td>
            <td>License Number:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="105490"></td>
            <td>Issue Date:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="9/10/2020"></td>
            <td>Expiration Date:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="6/30/2023"></td>
        </tr>
        <tr>
            <td>Drug Enforcement Agency (DEA) Number:</td>
            <td colspan="3" class="input-border-container"><input type="text" class="input-border" value="EA9933816"></td>
            <td>Expiration Date:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="1/31/2023"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>State Controlled Substances Certificate:</td>
            <td colspan="7" class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>National Provider Identifier (NPI):</td>
            <td colspan="3" class="input-border-container"><input type="text" class="input-border" value="1740895150"></td>
            <td>UPIN:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Medicaid Number:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>Medicare Provider Identification Number:</td>
            <td colspan="7" class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
    </table>

    <div class="section-title">VI. ALL OTHER CURRENT STATE MEDICAL LICENSES</div>
    <table class="table table-bordered">
        <tr>
            <td>State:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>License Number:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Issue Date:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Expiration Date:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
    </table>

    <div class="section-title">VII. PROFESSIONAL LIABILITY</div>
    <table class="table table-bordered">
        <tr>
            <td>Current Insurance Carrier:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Policy Number:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Original Effective Date:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>Per Claim Amount:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Aggregate Amount:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Expiration Date:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
    </table>
    <p>Please explain any surcharges to your professional Liability coverage on a separate sheet. Reference this Section Number and Title.</p>
    <p>Please list all of your professional liability carriers within the past seven years, other than the ones listed above:</p>
    <table class="table table-bordered">
        <tr>
            <td>Name of Carrier:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="The Dentist Insurance Company"></td>
            <td>Policy Number:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="0000013908"></td>
            <td>From:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="9/2020"></td>
            <td>To:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="9/2021"></td>
        </tr>
        <tr>
            <td>Mailing Address:</td>
            <td colspan="7" class="input-border-container"><input type="text" class="input-border" value="1201 K Street 17th Floor Attn: Underwriting"></td>
        </tr>
        <tr>
            <td>City:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="Sacramento"></td>
            <td>State:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="CA"></td>
            <td>ZIP:</td>
            <td class="input-border-container"><input type="text" class="input-border" value="95814"></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div class="section-title">VIII. CURRENT HOSPITAL/INSTITUTIONAL AFFILIATIONS</div>
    <table class="table table-bordered">
        <tr>
            <td>Name of Institution:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>Mailing Address:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>City:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>State:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>ZIP:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Status:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Appointment Date:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
    </table>
    <p>If you do not have hospital privileges, please explain on Addendum A.</p>

    <div class="section-title">IX. PEER REFERENCES</div>
    <p>List three current references from the SAME PROFESSIONAL DISCIPLINE as you. References must be from individuals who are directly familiar with your work, either by direct clinical observation or close working relationships and have personal knowledge of your ability to practice.</p>
    <table class="table table-bordered">
        <tr>
            <td>Name of Reference:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Specialty:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>Telephone Number:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>Mailing Address:</td>
            <td colspan="5" class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>City:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>State:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
            <td>ZIP:</td>
            <td class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
        <tr>
            <td>Suite/Dept:</td>
            <td colspan="5" class="input-border-container"><input type="text" class="input-border"></td>
        </tr>
    </table>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Name of Reference:</td>
                        <td></td>
                        <td>Specialty:</td>
                        <td></td>
                        <td>Telephone Number:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Mailing Address:</td>
                        <td colspan="3"></td>
                        <td>Suite/Dept:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td></td>
                        <td>State:</td>
                        <td></td>
                        <td>ZIP:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Name of Reference:</td>
                        <td></td>
                        <td>Specialty:</td>
                        <td></td>
                        <td>Telephone Number:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Mailing Address:</td>
                        <td colspan="3"></td>
                        <td>Suite/Dept:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td></td>
                        <td>State:</td>
                        <td></td>
                        <td>ZIP:</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">X. ATTESTATION QUESTIONS</th>
                    </tr>
                    <tr>
                        <th colspan="4">Please answer the following questions "yes" or "no". If your answer to questions A-I is "yes", please provide full details on a separate sheet.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A.</td>
                        <td>Since your last application, has your license to practice in any jurisdiction been voluntarily or involuntarily limited, suspended, revoked or probated? Or is any such action pending?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>B.</td>
                        <td>Since your last application, have your privileges at any entity been voluntarily or involuntarily suspended, reduced, revoked or not renewed?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>C.</td>
                        <td>Since your last application, has your medical staff membership been voluntarily or involuntarily terminated or have you been subject to discipline by any health care entity?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>D.</td>
                        <td>Since your last application, have you been convicted of a crime (not including traffic violations)?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>E.</td>
                        <td>Since your last application, have you been restricted or sanctioned by Medicare or Medicaid?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>F.</td>
                        <td>Since your last application, have you surrendered, allowed to expire, voluntarily or involuntarily withdrawn a request for clinical privileges, terminated contractual participation or employment, or resigned from any medical organization (e.g. hospital medical staff, medical group, independent practice association (IPA), health plan, health maintenance organization (HMO), preferred provider organization (PPO), medical society, professional association, medical school, internship, residency, fellowship or other clinical education program) while under investigation for possible incompetence or improper professional conduct, or breach of contract, or in return for such an investigation not being conducted, or is any action pending?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>G.</td>
                        <td>Since your last application, have you had any liability claims filed against you? If yes, please complete the attached Addendum A. If more than one case, make copies of the form and complete one addendum for each case filed.</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>H.</td>
                        <td>Do you presently use any drugs illegally?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>I.</td>
                        <td>Do you have a medical condition or disability that would require special accommodations for you to provide health care services in your practice area with skill and safety for Alliance Imaging, Inc?</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>J.</td>
                        <td>Are you able to perform all the services required of your agreement with Alliance Imaging, Inc. with or without reasonable accommodation, according to accepted standards of professional performance and without posing a direct threat to the safety of patients? If NO, please explain.</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
        <div class="signature-section">
            <p>I hereby affirm that the information submitted to Section X, Attestation Questions, and my addenda thereto is true, current, correct and complete to the best of my knowledge and belief and is furnished in good faith. I understand that any material omissions or misrepresentations may result in denial of my reapplication for privileges or termination of my privileges and any other practitioner participation agreement or contract that I may have with Alliance Imaging, Inc.</p>
            <div class="form-group">
                <label>Print Name Here:</label>
                <input type="text" class="form-control" value="CHANTELLE AABEDI DDS" readonly>
            </div>
            <div class="form-group">
                <label>Physician Signature:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Date:</label>
                <input type="text" class="form-control">
            </div>
            <p>(Stamped Signature Is Not Acceptable)</p>
        </div>
    </form>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 12px;
    }
    .header {
        text-align: center;
        margin-top: 20px;
    }
    .header img {
        width: 50px;
        height: 50px;
    }
    .header h1 {
        font-size: 24px;
        margin: 0;
    }
    .header h2 {
        font-size: 16px;
        margin: 0;
    }
    .confidential {
        text-align: right;
        font-weight: bold;
    }
    .section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .form-group label {
        font-weight: bold;
    }
    .form-group input {
        width: 100%;
        padding: 5px;
        border: 1px solid #000;
    }
    .form-group .form-control-plaintext {
        padding: 5px;
        border: 1px solid #000;
    }
    .section {
        border: 1px solid #000;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
    .section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .table-bordered td, .table-bordered th {
        border: none;
    }
    .table td, .table th {
        padding: 5px;
    }
    .input-border {
        border: 1px solid black;
        padding: 5px;
        width: 100%;
    }
    .input-border-container {
        border: 1px solid black;
        padding: 0;
    }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      font-size: 14px;
  }
  .table th, .table td {
      vertical-align: middle;
  }
  .table th {
      background-color: #000;
      color: #fff;
  }
  .table td {
      background-color: #f2f2f2;
  }
  .table td input[type="checkbox"] {
      margin: 0 auto;
      display: block;
  }
</style>