<div class="header">
  <img alt="ARMS logo" src="https://placehold.co/100x50"/>
  <h1>
  Practitioner Application
  </h1>
  <h2>
  CONFIDENTIAL/PROPRIETARY
  </h2>
  <p>
  (enter Planned Parenthood Affiliate name here, herein, “the Affiliate”)
  </p>
</div>
<div class="instructions">
  <div class="section-title">
  I. INSTRUCTIONS
  </div>
  <p>
  This form should be typed or legibly printed in black or blue ink. If more space is needed, attach additional sheets and reference the question being answered. Please do not use abbreviations when completing the application. Current copies of the following documents must be submitted with this application:
  </p>
  <ul>
  <li>
    Face Sheet of Professional Liability Policy or Certification
  </li>
  <li>
    Curriculum Vitae
  </li>
  </ul>
  <p>
  <strong>
    Practitioner Right to Review Information
  </strong>
  </p>
  <p>
  This is to advise you of your right to review information obtained in support of your credentialing or re-credentialing application, provided the information does not apply to peer review references or recommendations or other information that is peer review protected. You will be notified of any substantial discrepancy between the information you submitted and the information verified through primary source(s), and will be given an opportunity to review and/or correct information submitted with your application.
  </p>
</div>
<div class="identifying-info">
  <div class="section-title">
  II. IDENTIFYING INFORMATION
  </div>
  <div class="form-group">
  <label for="lastName">
    Last Name:
  </label>
  <input id="lastName" name="lastName" type="text"/>
  </div>
  <div class="form-group">
  <label for="firstName">
    First:
  </label>
  <input id="firstName" name="firstName" type="text"/>
  </div>
  <div class="form-group">
  <label for="middleName">
    Middle:
  </label>
  <input id="middleName" name="middleName" type="text"/>
  </div>
  <div class="form-group">
  <label for="otherNames">
    Is there any other name under which you have been known? Name(s):
  </label>
  <input id="otherNames" name="otherNames" type="text"/>
  </div>
  <div class="form-group">
  <label for="address">
    Home Mailing Address:
  </label>
  <input id="address" name="address" type="text"/>
  </div>
  <div class="form-group">
  <label for="city">
    City:
  </label>
  <input id="city" name="city" type="text"/>
  </div>
  <div class="form-group">
  <label for="state">
    State:
  </label>
  <input id="state" name="state" type="text"/>
  </div>
  <div class="form-group">
  <label for="zip">
    ZIP:
  </label>
  <input id="zip" name="zip" type="text"/>
  </div>
  <div class="form-group">
  <label for="homePhone">
    Home Telephone Number:
  </label>
  <input id="homePhone" name="homePhone" type="text"/>
  </div>
  <div class="form-group">
  <label for="fax">
    Home Fax Number:
  </label>
  <input id="fax" name="fax" type="text"/>
  </div>
  <div class="form-group">
  <label for="email">
    E-Mail Address:
  </label>
  <input id="email" name="email" type="email"/>
  </div>
  <div class="form-group">
  <label for="cellPhone">
    Cell Phone:
  </label>
  <input id="cellPhone" name="cellPhone" type="text"/>
  </div>
  <div class="form-group">
  <label for="birthDate">
    Birth Date:
  </label>
  <input id="birthDate" name="birthDate" type="date"/>
  </div>
  <div class="form-group">
  <label for="birthPlace">
    Birth Place (City/State/Country):
  </label>
  <input id="birthPlace" name="birthPlace" type="text"/>
  </div>
  <div class="form-group">
  <label for="citizenship">
    Citizenship (If not a United States citizen, please include copy of Alien Registration Card):
  </label>
  <input id="citizenship" name="citizenship" type="text"/>
  </div>
  <div class="form-group">
  <label for="ssn">
    Social Security #:
  </label>
  <input id="ssn" name="ssn" type="text"/>
  </div>
  <div class="form-group">
  <label for="race">
    Race/Ethnicity (voluntary):
  </label>
  <input id="race" name="race" type="text"/>
  </div>
  <div class="form-group">
  <label>
    Gender:
  </label>
  <div class="form-check">
    <input class="form-check-input" id="male" name="gender" type="radio" value="male"/>
    <label class="form-check-label" for="male">
    Male
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" id="female" name="gender" type="radio" value="female"/>
    <label class="form-check-label" for="female">
    Female
    </label>
  </div>
  </div>
</div>
<div class="container mt-4">
    <form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">III. PRACTICE INFORMATION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Affiliate Name:</td>
                    <td colspan="3"><input type="text" class="form-control" name="affiliate_name"></td>
                </tr>
                <tr>
                    <td>Primary Office Street Address:</td>
                    <td colspan="3"><input type="text" class="form-control" name="primary_office_address"></td>
                </tr>
                <tr>
                    <td>Telephone Number:</td>
                    <td><input type="text" class="form-control" name="telephone_number"></td>
                    <td>Fax Number:</td>
                    <td><input type="text" class="form-control" name="fax_number"></td>
                </tr>
                <tr>
                    <td>CEO (Print Name):</td>
                    <td><input type="text" class="form-control" name="ceo_name"></td>
                    <td>Telephone Number:</td>
                    <td><input type="text" class="form-control" name="ceo_telephone_number"></td>
                </tr>
                <tr>
                    <td>Name Affiliated with Tax ID Number:</td>
                    <td><input type="text" class="form-control" name="tax_id_name"></td>
                    <td>Federal Tax ID Number:</td>
                    <td><input type="text" class="form-control" name="federal_tax_id_number"></td>
                </tr>
                <tr>
                    <td>Secondary Office Street Address:</td>
                    <td colspan="3"><input type="text" class="form-control" name="secondary_office_address"></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" class="form-control" name="city"></td>
                    <td>State:</td>
                    <td><input type="text" class="form-control" name="state"></td>
                </tr>
                <tr>
                    <td>ZIP:</td>
                    <td colspan="3"><input type="text" class="form-control" name="zip"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Telephone Number:</td>
                    <td><input type="text" class="form-control" name="telephone_number_2"></td>
                    <td>Fax Number:</td>
                    <td><input type="text" class="form-control" name="fax_number_2"></td>
                </tr>
                <tr>
                    <td>CEO (Print Name):</td>
                    <td><input type="text" class="form-control" name="ceo_name_2"></td>
                    <td>Telephone Number:</td>
                    <td><input type="text" class="form-control" name="ceo_telephone_number_2"></td>
                </tr>
                <tr>
                    <td>Name Affiliated with Tax ID Number:</td>
                    <td><input type="text" class="form-control" name="tax_id_name_2"></td>
                    <td>Federal Tax ID Number:</td>
                    <td><input type="text" class="form-control" name="federal_tax_id_number_2"></td>
                </tr>
                <tr>
                    <td>Tertiary Office Street Address:</td>
                    <td colspan="3"><input type="text" class="form-control" name="tertiary_office_address"></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" class="form-control" name="city_2"></td>
                    <td>State:</td>
                    <td><input type="text" class="form-control" name="state_2"></td>
                </tr>
                <tr>
                    <td>ZIP:</td>
                    <td colspan="3"><input type="text" class="form-control" name="zip_2"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="container">
    <div class="form-container">
        <div class="section-title">
            <h5>IV. PREMEDICAL EDUCATION (Attach additional sheets if necessary. Reference this section number and title.)</h5>
        </div>
        <div class="form-group row">
            <label for="premedCollege" class="col-sm-2 col-form-label form-label">College or University Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="premedCollege">
            </div>
        </div>
        <div class="form-group row">
            <label for="premedDegree" class="col-sm-2 col-form-label form-label">Degree Received:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="premedDegree">
            </div>
            <label for="premedGraduation" class="col-sm-2 col-form-label form-label">Date of Graduation:(mm/yy)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="premedGraduation">
            </div>
        </div>
        <div class="form-group row">
            <label for="premedAddress" class="col-sm-2 col-form-label form-label">Mailing Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="premedAddress">
            </div>
        </div>
        <div class="form-group row">
            <label for="premedCity" class="col-sm-2 col-form-label form-label">City:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="premedCity">
            </div>
            <label for="premedState" class="col-sm-2 col-form-label form-label">State:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="premedState">
            </div>
            <label for="premedZip" class="col-sm-2 col-form-label form-label">ZIP:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="premedZip">
            </div>
        </div>

        <div class="section-title">
            <h5>V. MEDICAL/PROFESSIONAL EDUCATION (Attach additional sheets if necessary. Reference this section number and title.)</h5>
        </div>
        <div class="form-group row">
            <label for="medCollege" class="col-sm-2 col-form-label form-label">College or University Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="medCollege">
            </div>
        </div>
        <div class="form-group row">
            <label for="medDegree" class="col-sm-2 col-form-label form-label">Degree Received:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="medDegree">
            </div>
            <label for="medGraduation" class="col-sm-2 col-form-label form-label">Date of Graduation:(mm/yy)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="medGraduation">
            </div>
        </div>
        <div class="form-group row">
            <label for="medAddress" class="col-sm-2 col-form-label form-label">Mailing Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="medAddress">
            </div>
        </div>
        <div class="form-group row">
            <label for="medCity" class="col-sm-2 col-form-label form-label">City:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="medCity">
            </div>
            <label for="medState" class="col-sm-2 col-form-label form-label">State:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="medState">
            </div>
            <label for="medZip" class="col-sm-2 col-form-label form-label">ZIP:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="medZip">
            </div>
        </div>

          <div class="section-title">
            <h5>VI. INTERNSHIP/PGY1 (Attach additional sheets if necessary. Reference this section number and title.)</h5>
        </div>
        <div class="form-group row">
            <label for="internInstitution" class="col-sm-2 col-form-label form-label">Institution:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="internInstitution">
            </div>
        </div>
        <div class="form-group row">
            <label for="internAddress" class="col-sm-2 col-form-label form-label">Mailing Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="internAddress">
            </div>
        </div>
        <div class="form-group row">
            <label for="internCity" class="col-sm-2 col-form-label form-label">City:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="internCity">
            </div>
            <label for="internState" class="col-sm-2 col-form-label form-label">State & Country:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="internState">
            </div>
            <label for="internZip" class="col-sm-2 col-form-label form-label">ZIP:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="internZip">
            </div>
        </div>
        <div class="form-group row">
            <label for="internType" class="col-sm-2 col-form-label form-label">Type of Internship:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="internType">
            </div>
            <label for="internSpecialty" class="col-sm-2 col-form-label form-label">Specialty:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="internSpecialty">
            </div>
        </div>
        <div class="form-group row">
            <label for="internFrom" class="col-sm-2 col-form-label form-label">From: (mm/yy)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="internFrom">
            </div>
            <label for="internTo" class="col-sm-2 col-form-label form-label">To: (mm/yy)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="internTo">
            </div>
        </div>

          <div class="section-title">
            <h5>VII. RESIDENCIES/FELLOWSHIPS (Attach additional sheets if necessary. Reference this section number and title.)</h5>
        </div>
        <div class="form-group row">
            <label for="residencyInstitution" class="col-sm-2 col-form-label form-label">Institution:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="residencyInstitution">
            </div>
        </div>
        <div class="form-group row">
            <label for="residencyAddress" class="col-sm-2 col-form-label form-label">Mailing Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="residencyAddress">
            </div>
        </div>
        <div class="form-group row">
            <label for="residencyCity" class="col-sm-2 col-form-label form-label">City:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="residencyCity">
            </div>
            <label for="residencyState" class="col-sm-2 col-form-label form-label">State & Country:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="residencyState">
            </div>
            <label for="residencyZip" class="col-sm-2 col-form-label form-label">ZIP:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="residencyZip">
            </div>
        </div>
        <div class="form-group row">
            <label for="residencyFrom" class="col-sm-2 col-form-label form-label">From: (mm/yy)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="residencyFrom">
            </div>
            <label for="residencyTo" class="col-sm-2 col-form-label form-label">To: (mm/yy)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="residencyTo">
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="form-section">
        <table>
            <tr>
                <td><input type="text" class="form-control" placeholder="Type of Training (e.g., residency, etc.)"></td>
                <td><input type="text" class="form-control" placeholder="Specialty"></td>
                <td><input type="text" class="form-control" placeholder="State"></td>
                <td><input type="text" class="form-control" placeholder="ZIP"></td>
            </tr>
            <tr>
                <td colspan="4">
                    Did you successfully complete the program? 
                    <div class="radio-group">
                        Yes <input type="radio" name="complete" value="yes">
                        No <input type="radio" name="complete" value="no">
                    </div>
                    (If "No," please explain on separate sheet.)
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
    </div>
    <div class="form-section">
        <div class="section-title">
          <h5>VIII. SPECIALTY AND BOARD CERTIFICATION</h5>
        </div>
        <p>(Attach additional sheets if necessary. Reference this section number and title.)</p>
        <p>Applies to Physicians, PAs, NPs, CNMs, CRNAs, and other Advanced Practice Clinicians. Physicians must include board information for certifications from American Board of Medical Specialties (ABMS), American Osteopathic Association (AOA), National Certification Corporation (NCC), American Association of Nurse Anesthetists (AANA), American Association of Nurse Practitioners (AANP), American Midwifery Certification Board (AMCB), American Nurses Credentialing Center (ANCC), Pediatric Nursing Certification Board (PNCB), National Commission on Certification of Physician Assistants (NCCPA). You must include information on all required board certifications underlying your state license to practice in your field.</p>
        <table>
            <tr>
                <td><input type="text" class="form-control" placeholder="Specialty"></td>
                <td>Are/Were you certified by any board in this specialty? 
                    <div class="radio-group">
                        Yes <input type="radio" name="certified" value="yes">
                        No <input type="radio" name="certified" value="no">
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" placeholder="Certifying Board"></td>
                <td><input type="text" class="form-control" placeholder="Certification/Registration #"></td>
            </tr>
            <tr>
                <td><input type="date" class="form-control" placeholder="Initial Certification Date"></td>
                <td><input type="date" class="form-control" placeholder="Certification Expiration Date"></td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="form-section">
        <div class="section-title">
         <h5>IX. OTHER CERTIFICATIONS (e.g. FLUOROSCOPY, RADIOGRAPHY, ETC.)</h5>
        </div>
        <div class="form-group">
            <label for="cert-type-1">Type:</label>
            <input type="text" id="cert-type-1" class="form-control">
            <label for="cert-number-1">Number:</label>
            <input type="text" id="cert-number-1" class="form-control">
            <label for="cert-expiration-1">Expiration Date:</label>
            <input type="date" id="cert-expiration-1" class="form-control">
        </div>
        <div class="form-group">
            <label for="cert-type-2">Type:</label>
            <input type="text" id="cert-type-2" class="form-control">
            <label for="cert-number-2">Number:</label>
            <input type="text" id="cert-number-2" class="form-control">
            <label for="cert-expiration-2">Expiration Date:</label>
            <input type="date" id="cert-expiration-2" class="form-control">
        </div>
        <div class="form-group">
            <label for="cert-type-3">Type:</label>
            <input type="text" id="cert-type-3" class="form-control">
            <label for="cert-number-3">Number:</label>
            <input type="text" id="cert-number-3" class="form-control">
            <label for="cert-expiration-3">Expiration Date:</label>
            <input type="date" id="cert-expiration-3" class="form-control">
        </div>
    </div>

    <div class="form-section">
        <div class="section-title">
         <h5>X. LICENSURE/REGISTRATIONS</h5>
        </div>
        <div class="form-group">
            <label for="primary-license">Primary State License Number:</label>
            <input type="text" id="primary-license" class="form-control">
            <label for="primary-issue-date">Issue Date:</label>
            <input type="date" id="primary-issue-date" class="form-control">
            <label for="primary-expiration">Expiration Date:</label>
            <input type="date" id="primary-expiration" class="form-control">
        </div>
        <div class="form-group">
            <label for="dea-number">Drug Enforcement Administration (DEA) Registration Number:</label>
            <input type="text" id="dea-number" class="form-control">
            <label for="dea-expiration">Expiration Date:</label>
            <input type="date" id="dea-expiration" class="form-control">
        </div>
        <div class="form-group">
            <label for="cds-number">Controlled Dangerous Substances Certificate (CDS) (if applicable):</label>
            <input type="text" id="cds-number" class="form-control">
            <label for="cds-expiration">Expiration Date:</label>
            <input type="date" id="cds-expiration" class="form-control">
        </div>
        <div class="form-group">
            <label for="ecfmg-number">ECFMG Number (applicable to foreign medical graduates):</label>
            <input type="text" id="ecfmg-number" class="form-control">
            <label for="ecfmg-issue-date">Date Issued:</label>
            <input type="date" id="ecfmg-issue-date" class="form-control">
        </div>
        <div class="form-group">
            <label for="medicare-number">Medicare UPIN/National Physician Identifier (NPI):</label>
            <input type="text" id="medicare-number" class="form-control">
            <label for="medicaid-number">Medicaid Number:</label>
            <input type="text" id="medicaid-number" class="form-control">
        </div>
    </div>

    <div class="form-section">
        <div class="section-title">
         <h5>XI. ALL OTHER STATE LICENSES</h5>
        </div>
        <div class="form-group">
            <label for="other-state-1">State:</label>
            <input type="text" id="other-state-1" class="form-control">
            <label for="other-license-1">License Number:</label>
            <input type="text" id="other-license-1" class="form-control">
            <label for="other-expiration-1">Expiration Date:</label>
            <input type="date" id="other-expiration-1" class="form-control">
        </div>
        <div class="form-group">
            <label for="other-state-2">State:</label>
            <input type="text" id="other-state-2" class="form-control">
            <label for="other-license-2">License Number:</label>
            <input type="text" id="other-license-2" class="form-control">
            <label for="other-expiration-2">Expiration Date:</label>
            <input type="date" id="other-expiration-2" class="form-control">
        </div>
    </div>

    <div class="form-section">
        <div class="section-title">
         <h5>XII. PROFESSIONAL LIABILITY INSURANCE CARRIER</h5>
        </div>
        <div class="form-group">
            <label for="carrier-name-1">Name of Carrier:</label>
            <input type="text" id="carrier-name-1" class="form-control">
            <label for="policy-number-1">Policy #:</label>
            <input type="text" id="policy-number-1" class="form-control">
            <label for="policy-from-1">From:</label>
            <input type="date" id="policy-from-1" class="form-control">
            <label for="policy-to-1">To:</label>
            <input type="date" id="policy-to-1" class="form-control">
        </div>
        <div class="form-group">
            <label for="carrier-address-1">Mailing Address:</label>
            <input type="text" id="carrier-address-1" class="form-control">
            <label for="carrier-city-1">City:</label>
            <input type="text" id="carrier-city-1" class="form-control">
            <label for="carrier-state-1">State:</label>
            <input type="text" id="carrier-state-1" class="form-control">
            <label for="carrier-zip-1">ZIP:</label>
            <input type="text" id="carrier-zip-1" class="form-control">
        </div>
        <div class="form-group">
            <label for="claim-amount-1">Per Claim Amount: $</label>
            <input type="text" id="claim-amount-1" class="form-control">
            <label for="aggregate-amount-1">Aggregate Amount: $</label>
            <input type="text" id="aggregate-amount-1" class="form-control">
            <label for="expiration-1">Expiration Date:</label>
            <input type="date" id="expiration-1" class="form-control">
        </div>
        <div class="form-group">
            <label for="carrier-name-2">Name of Carrier:</label>
            <input type="text" id="carrier-name-2" class="form-control">
            <label for="policy-number-2">Policy #:</label>
            <input type="text" id="policy-number-2" class="form-control">
            <label for="policy-from-2">From:</label>
            <input type="date" id="policy-from-2" class="form-control">
            <label for="policy-to-2">To:</label>
            <input type="date" id="policy-to-2" class="form-control">
        </div>
        <div class="form-group">
            <label for="carrier-address-2">Mailing Address:</label>
            <input type="text" id="carrier-address-2" class="form-control">
            <label for="carrier-city-2">City:</label>
            <input type="text" id="carrier-city-2" class="form-control">
            <label for="carrier-state-2">State:</label>
            <input type="text" id="carrier-state-2" class="form-control">
            <label for="carrier-zip-2">ZIP:</label>
            <input type="text" id="carrier-zip-2" class="form-control">
        </div>
        <div class="form-group">
            <label for="claim-amount-2">Per Claim Amount: $</label>
            <input type="text" id="claim-amount-2" class="form-control">
            <label for="aggregate-amount-2">Aggregate Amount: $</label>
            <input type="text" id="aggregate-amount-2" class="form-control">
            <label for="expiration-2">Expiration Date:</label>
            <input type="date" id="expiration-2" class="form-control">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="form-section">
        <div class="form-section-title">XIII. CURRENT HOSPITAL AND OTHER INSTITUTIONAL AFFILIATIONS</div>
        <p>Please list in reverse chronological order (with the current affiliation(s) first) all institutions where you currently have or have had hospital privileges during the past ten years. Also include surgery centers, institutions, corporations, military assignments, or government agencies.</p>
        <div class="form-section">
            <div class="form-section-title">A. CURRENT AFFILIATIONS (Attach additional sheets if necessary. Reference this section number and title.)</div>
            <div class="form-group">
                <label class="form-label">Name, Mailing Address and Phone Number of Primary Admitting Hospital:</label>
                <input type="text" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="form-label">City:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">State:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Department/Status (active, provisional, courtesy, etc.):</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Appointment Date:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">If you do not have hospital privileges, please explain:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Name, Mailing Address and Phone Number of Admitting Hospital:</label>
                <input type="text" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="form-label">City:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">State:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Department/Status (active, provisional, courtesy, etc.):</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Appointment Date:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">If you do not have hospital privileges, please explain:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-section">
            <div class="form-section-title">B. PREVIOUS AFFILIATIONS During Last Ten Years. (Attach additional sheets if necessary. Reference this section number and title.)</div>
            <div class="form-group">
                <label class="form-label">Name, Mailing Address and Phone Number of Other Hospital/Institution:</label>
                <input type="text" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="form-label">City:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">State:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">From:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">To:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Reason for Leaving:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Name, Mailing Address and Phone Number of Other Hospital/Institution:</label>
                <input type="text" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="form-label">City:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">State:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">From:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">To:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Reason for Leaving:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Name, Mailing Address and Phone Number of Other Hospital/Institution:</label>
                <input type="text" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label class="form-label">City:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">State:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label class="form-label">ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">From:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">To:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Reason for Leaving:</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="form-table">
        <tr>
            <td colspan="2">From:</td>
            <td colspan="2">To:</td>
            <td>Reason for Leaving:</td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" class="form-control" placeholder="Name, Mailing Address and Phone Number of Other Hospital/Institution"></td>
            <td><input type="text" class="form-control" placeholder="City"></td>
            <td><input type="text" class="form-control" placeholder="State"></td>
            <td><input type="text" class="form-control" placeholder="ZIP"></td>
        </tr>
        <tr>
            <td colspan="2">From:</td>
            <td colspan="2">To:</td>
            <td>Reason for Leaving:</td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" class="form-control" placeholder="Name, Mailing Address and Phone Number of Other Hospital/Institution"></td>
            <td><input type="text" class="form-control" placeholder="City"></td>
            <td><input type="text" class="form-control" placeholder="State"></td>
            <td><input type="text" class="form-control" placeholder="ZIP"></td>
        </tr>
        <tr>
            <td colspan="2">From:</td>
            <td colspan="2">To:</td>
            <td>Reason for Leaving:</td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" class="form-control" placeholder="Name, Mailing Address and Phone Number of Other Hospital/Institution"></td>
            <td><input type="text" class="form-control" placeholder="City"></td>
            <td><input type="text" class="form-control" placeholder="State"></td>
            <td><input type="text" class="form-control" placeholder="ZIP"></td>
        </tr>
    </table>
    <div class="section-title mt-3">XIV. PEER REFERENCES</div>
    <p class="note">List three professional references, preferably from your specialty area, not including relatives, current partners or associates in practice. <strong>NOTE:</strong> References must be from individuals who are directly familiar with your work, either via direct clinical observation or through close working relations.</p>
    <table class="form-table">
        <tr>
            <td>Name of Reference:</td>
            <td><input type="text" class="form-control" placeholder="Name of Reference"></td>
            <td>Specialty:</td>
            <td><input type="text" class="form-control" placeholder="Specialty"></td>
        </tr>
        <tr>
            <td>Telephone Number:</td>
            <td><input type="text" class="form-control" placeholder="Telephone Number"></td>
            <td>Fax Number:</td>
            <td><input type="text" class="form-control" placeholder="Fax Number"></td>
        </tr>
        <tr>
            <td>Mailing Address:</td>
            <td><input type="text" class="form-control" placeholder="Mailing Address"></td>
            <td>City:</td>
            <td><input type="text" class="form-control" placeholder="City"></td>
        </tr>
        <tr>
            <td>State:</td>
            <td><input type="text" class="form-control" placeholder="State"></td>
            <td>ZIP:</td>
            <td><input type="text" class="form-control" placeholder="ZIP"></td>
        </tr>
        <tr>
            <td>Name of Reference:</td>
            <td><input type="text" class="form-control" placeholder="Name of Reference"></td>
            <td>Specialty:</td>
            <td><input type="text" class="form-control" placeholder="Specialty"></td>
        </tr>
        <tr>
            <td>Telephone Number:</td>
            <td><input type="text" class="form-control" placeholder="Telephone Number"></td>
            <td>Fax Number:</td>
            <td><input type="text" class="form-control" placeholder="Fax Number"></td>
        </tr>
        <tr>
            <td>Mailing Address:</td>
            <td><input type="text" class="form-control" placeholder="Mailing Address"></td>
            <td>City:</td>
            <td><input type="text" class="form-control" placeholder="City"></td>
        </tr>
        <tr>
            <td>State:</td>
            <td><input type="text" class="form-control" placeholder="State"></td>
            <td>ZIP:</td>
            <td><input type="text" class="form-control" placeholder="ZIP"></td>
        </tr>
        <tr>
            <td>Name of Reference:</td>
            <td><input type="text" class="form-control" placeholder="Name of Reference"></td>
            <td>Specialty:</td>
            <td><input type="text" class="form-control" placeholder="Specialty"></td>
        </tr>
        <tr>
            <td>Telephone Number:</td>
            <td><input type="text" class="form-control" placeholder="Telephone Number"></td>
            <td>Fax Number:</td>
            <td><input type="text" class="form-control" placeholder="Fax Number"></td>
        </tr>
        <tr>
            <td>Mailing Address:</td>
            <td><input type="text" class="form-control" placeholder="Mailing Address"></td>
            <td>City:</td>
            <td><input type="text" class="form-control" placeholder="City"></td>
        </tr>
        <tr>
            <td>State:</td>
            <td><input type="text" class="form-control" placeholder="State"></td>
            <td>ZIP:</td>
            <td><input type="text" class="form-control" placeholder="ZIP"></td>
        </tr>
    </table>
</div>
<div class="container mt-4">
    <div class="form-section">
        <h5 class="section-title mt-3">XV. WORK HISTORY (Attach additional sheets if necessary. Reference this section number and title.)</h5>
        <p>Chronologically list all work history activities since completion of postgraduate training (use extra sheets if necessary). This information must be complete. Please explain any gaps in professional work history on a separate page.</p>
        <div class="form-group row">
            <label for="employer1" class="col-sm-3 col-form-label">Name of Practice /Employer:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="employer1">
            </div>
        </div>
        <div class="form-group row">
            <label for="contact1" class="col-sm-3 col-form-label">Contact Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="contact1">
            </div>
        </div>
        <div class="form-group row">
            <label for="telephone1" class="col-sm-3 col-form-label">Telephone Number:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="telephone1">
            </div>
        </div>
        <div class="form-group row">
            <label for="fax1" class="col-sm-3 col-form-label">Fax Number:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fax1">
            </div>
        </div>
        <div class="form-group row">
            <label for="address1" class="col-sm-3 col-form-label">Mailing Address:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="address1">
            </div>
        </div>
        <div class="form-group row">
            <label for="city1" class="col-sm-1 col-form-label">City:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="city1">
            </div>
            <label for="state1" class="col-sm-1 col-form-label">State:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="state1">
            </div>
            <label for="zip1" class="col-sm-1 col-form-label">ZIP:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="zip1">
            </div>
        </div>
        <div class="form-group row">
            <label for="from1" class="col-sm-1 col-form-label">From:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="from1">
            </div>
            <label for="to1" class="col-sm-1 col-form-label">To:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="to1">
            </div>
        </div>
    </div>

    <!-- Repeat the above form-section for each work history entry -->
    <div class="form-section">
        <div class="form-group row">
            <label for="employer2" class="col-sm-3 col-form-label">Name of Practice /Employer:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="employer2">
            </div>
        </div>
        <div class="form-group row">
            <label for="contact2" class="col-sm-3 col-form-label">Contact Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="contact2">
            </div>
        </div>
        <div class="form-group row">
            <label for="telephone2" class="col-sm-3 col-form-label">Telephone Number:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="telephone2">
            </div>
        </div>
        <div class="form-group row">
            <label for="fax2" class="col-sm-3 col-form-label">Fax Number:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fax2">
            </div>
        </div>
        <div class="form-group row">
            <label for="address2" class="col-sm-3 col-form-label">Mailing Address:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="address2">
            </div>
        </div>
        <div class="form-group row">
            <label for="city2" class="col-sm-1 col-form-label">City:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="city2">
            </div>
            <label for="state2" class="col-sm-1 col-form-label">State:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="state2">
            </div>
            <label for="zip2" class="col-sm-1 col-form-label">ZIP:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="zip2">
            </div>
        </div>
        <div class="form-group row">
            <label for="from2" class="col-sm-1 col-form-label">From:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="from2">
            </div>
            <label for="to2" class="col-sm-1 col-form-label">To:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="to2">
            </div>
        </div>
    </div>

    <div class="form-section">
        <div class="form-group row">
            <label for="employer3" class="col-sm-3 col-form-label">Name of Practice /Employer:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="employer3">
            </div>
        </div>
        <div class="form-group row">
            <label for="contact3" class="col-sm-3 col-form-label">Contact Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="contact3">
            </div>
        </div>
        <div class="form-group row">
            <label for="telephone3" class="col-sm-3 col-form-label">Telephone Number:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="telephone3">
            </div>
        </div>
        <div class="form-group row">
            <label for="fax3" class="col-sm-3 col-form-label">Fax Number:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fax3">
            </div>
        </div>
        <div class="form-group row">
            <label for="address3" class="col-sm-3 col-form-label">Mailing Address:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="address3">
            </div>
        </div>
        <div class="form-group row">
            <label for="city3" class="col-sm-1 col-form-label">City:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="city3">
            </div>
            <label for="state3" class="col-sm-1 col-form-label">State:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="state3">
            </div>
            <label for="zip3" class="col-sm-1 col-form-label">ZIP:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="zip3">
            </div>
        </div>
        <div class="form-group row">
            <label for="from3" class="col-sm-1 col-form-label">From:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="from3">
            </div>
            <label for="to3" class="col-sm-1 col-form-label">To:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="to3">
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <table class="table bordered-table">
        <tbody>
            <tr>
                <td>Mailing Address:</td>
                <td><input type="text" class="form-control"></td>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
                <td>State:</td>
                <td><input type="text" class="form-control"></td>
                <td>ZIP:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>From:</td>
                <td><input type="text" class="form-control"></td>
                <td>To:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Name of Practice /Employer:</td>
                <td><input type="text" class="form-control"></td>
                <td>Contact Name:</td>
                <td><input type="text" class="form-control"></td>
                <td>Telephone Number:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td><input type="text" class="form-control"></td>
                <td>Fax Number:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
                <td>State:</td>
                <td><input type="text" class="form-control"></td>
                <td>ZIP:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>From:</td>
                <td><input type="text" class="form-control"></td>
                <td>To:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-container">
                <form>
                    <div class="mb-3">
                      <div class="attestation-section mt-4">
                          <h5 class="section-title mt-3">XVI. ATTESTATION QUESTIONS</h5>
                      </div>
                      <div class="attestation-content">
                          <p>Please answer the following questions "yes" or "no." If your answer to questions A through K is "yes," or if your answer to L is "no," please provide full details on a separate sheet.</p>
                          <p>A. Has your license to practice medicine in any jurisdiction, your Drug Enforcement Administration (DEA) registration or any applicable narcotic registration in any jurisdiction ever been denied, limited, restricted, suspended, revoked, not renewed, or subject to probationary conditions, or have you ever voluntarily surrendered your license or registration?</p>
                      </div>
                        <label class="form-label">C. Have your clinical privileges, membership, contractual participation or employment by any medical organization (e.g. hospital medical staff, medical group, independent practice association (IPA), health plan, health maintenance organization (HMO), preferred provider organization (PPO), private payer (including those that contract with public programs), medical society, professional association, medical school faculty position or other health delivery entity or system), ever been denied, suspended, restricted, reduced, limited, placed on probationary conditions, revoked or not renewed for possible incompetence, improper professional conduct or breach of contract, or is any such action pending?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionC" id="questionCYes" value="yes">
                            <label class="form-check-label" for="questionCYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionC" id="questionCNo" value="no">
                            <label class="form-check-label" for="questionCNo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">D. Have you ever surrendered, allowed to expire, voluntarily or involuntarily withdrawn a request for membership or clinical privileges, terminated contractual participation or employment, or resigned from any medical organization (e.g., hospital medical staff, medical group, independent practice association (IPA), health plan, health maintenance organization (HMO), preferred provider organization (PPO), medical society, professional association, medical school faculty position or other health delivery entity or system) while under investigation for possible incompetence or improper professional conduct, or breach of contract, or in return for such an investigation not being conducted, or is any such action pending?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionD" id="questionDYes" value="yes">
                            <label class="form-check-label" for="questionDYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionD" id="questionDNo" value="no">
                            <label class="form-check-label" for="questionDNo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">E. Have you ever surrendered, voluntarily withdrawn, or been requested or compelled to relinquish your status as a student in good standing in any internship, residency, fellowship, preceptorship, or other clinical education program?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionE" id="questionEYes" value="yes">
                            <label class="form-check-label" for="questionEYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionE" id="questionENo" value="no">
                            <label class="form-check-label" for="questionENo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">F. Has your membership or fellowship in any local, county, state, regional, national, or international professional organization ever been revoked, denied, reduced, limited, subjected to probationary conditions, or not renewed, or is any such action pending?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionF" id="questionFYes" value="yes">
                            <label class="form-check-label" for="questionFYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionF" id="questionFNo" value="no">
                            <label class="form-check-label" for="questionFNo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">G. Have you been denied certification/recertification by a specialty board, or has your eligibility, certification or recertification status changed (other than changing from eligible to certified)?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionG" id="questionGYes" value="yes">
                            <label class="form-check-label" for="questionGYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionG" id="questionGNo" value="no">
                            <label class="form-check-label" for="questionGNo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">H. Have you ever been convicted of any crime (other than a minor traffic violation)?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionH" id="questionHYes" value="yes">
                            <label class="form-check-label" for="questionHYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionH" id="questionHNo" value="no">
                            <label class="form-check-label" for="questionHNo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">I. Do you presently use any drugs illegally?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionI" id="questionIYes" value="yes">
                            <label class="form-check-label" for="questionIYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionI" id="questionINo" value="no">
                            <label class="form-check-label" for="questionINo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">J. Have any judgments been entered against you, or settlements been agreed to by you within the last seven (7) years, in professional liability cases, or are there any filed and served professional liability lawsuits/arbitrations against you pending?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionJ" id="questionJYes" value="yes">
                            <label class="form-check-label" for="questionJYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionJ" id="questionJNo" value="no">
                            <label class="form-check-label" for="questionJNo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">K. Has your professional liability insurance ever been terminated, not renewed, restricted, or modified (e.g. reduced limits, restricted coverage, surcharged), or have you ever been denied professional liability insurance, or has any professional liability carrier provided you with written notice of any intent to deny, cancel, not renew, or limit your professional liability insurance or its coverage of any procedures?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionK" id="questionKYes" value="yes">
                            <label class="form-check-label" for="questionKYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionK" id="questionKNo" value="no">
                            <label class="form-check-label" for="questionKNo">No</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">L. Are you able to perform all the services required by your agreement with, or the professional staff bylaws of, the Healthcare Organization to which you are applying, with or without reasonable accommodation, according to accepted standards of professional performance and without posing a direct threat to the safety of patients?</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionL" id="questionLYes" value="yes">
                            <label class="form-check-label" for="questionLYes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="questionL" id="questionLNo" value="no">
                            <label class="form-check-label" for="questionLNo">No</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="content">
<p>
  I hereby affirm that the information submitted in this Section XVII, Attestation Questions, and any addenda thereto is true, current, correct, and complete to the best of my knowledge and belief and is furnished in good faith. I understand that material omissions or misrepresentations may result in denial of my application or termination of my privileges, employment or physician participation agreement.
</p>
<div class="signature-section">
  <p>
  Practitioner Signature:
  <span class="signature-line">
  </span>
  Date:
  <span class="signature-line">
  </span>
  </p>
  <p>
  (Stamped Signature Is Not Acceptable)
  </p>
</div>
<div class="attestation-section mt-4">
    <h5 class="section-title mt-3">  INFORMATION RELEASE/ACKNOWLEDGMENTS</h5>
</div>
<p>
  I hereby consent to the disclosure, inspection and copying of information and documents relating to my credentials, qualifications and performance ("credentialing information") by and between the Affiliate and other Healthcare Organizations (e.g., hospital medical staffs, medical groups, independent practice associations {IPAs}, health plans, health maintenance organizations {HMOs}, preferred provider organizations {PPOs}, other health delivery systems or entities, medical societies, professional associations, medical school faculty positions, training programs, professional liability insurance companies {with respect to certification of coverage and claims history}, licensing authorities, and businesses and individuals acting as their agents (collectively, "Healthcare Organizations"), for the purpose of evaluating this application and any re-credentialing application regarding my professional training, experience, character, conduct and judgment, ethics, and ability to work with others. In this regard, the utmost care shall be taken to safeguard the privacy of patients and the confidentiality of patient records, and to protect credentialing information from being further disclosed.
</p>
<p>
  I am informed and acknowledge that federal and state laws provide immunity protections to certain individuals and entities for their acts and/or communications in connection with evaluating the qualifications of healthcare providers. I hereby release all persons and entities, including the Affiliate, engaged in quality assessment, peer review and credentialing on behalf of the Affiliate, and all persons and entities providing credentialing information to such representatives of the Affiliate, from any liability they might incur for their acts and/or communications in connection with evaluation of my qualifications to provide medical services to the Affiliate, to the extent that those acts and/or communications are protected by state or federal law.
</p>
<p>
  I understand and agree that I, as an applicant, have the burden of producing adequate information for proper evaluation of my professional competence, character, ethics and other qualifications and for resolving any doubts about such qualifications.
</p>
<p>
  During such time as this application is being processed, I agree to update the application should there be any change in the information provided.
</p>
</div>
</div>
<div class="container">
    <p>
        In addition to any notice required by any contract with the Affiliate or other Healthcare Organization, I agree to notify the Affiliate immediately in writing of the occurrence of any of the following: (i) the unrequested suspension, revocation or nonrenewal of my license to practice medicine; (ii) any suspension, revocation or nonrenewal of my DEA or other controlled substances registration; or (iii) any cancellation or nonrenewal of my professional liability insurance coverage.
    </p>
    <p>
        I further agree to notify the Affiliate in writing, promptly and no later than fourteen (14) calendar days from the occurrence of any of the following: (i) receipt of written notice of any adverse action against me by any Medical Board taken or pending, including but not limited to, any accusation filed, temporary restraining order, or imposition of any interim suspension, probation or limitations affecting my license to practice medicine; or (ii) any adverse action against me by any Healthcare Organization which has resulted in the filing of a report with a Medical Board or other board underlying my license to practice in my field, or a report with the National Practitioner Data Bank; or (iii) the denial, revocation, suspension, reduction, limitation, nonrenewal or voluntary relinquishment by resignation of my medical staff membership or clinical privileges at any Healthcare Organization; or (iv) any material reduction in my professional liability insurance coverage; or (v) my receipt of written notice of any legal action against me, including, without limitation, any filed and served malpractice suit or arbitration action; or (vi) my conviction of any crime (excluding minor traffic violations); or (vii) my receipt of written notice of any adverse action against me under the Medicare or Medicaid programs, including, but not limited to, fraud and abuse proceedings or convictions.
    </p>
    <p>
        I hereby affirm that the information submitted in this application and any addenda thereto (including my curriculum vitae if attached) is true, current, correct, and complete to the best of my knowledge and belief and is furnished in good faith. I understand that material omissions or misrepresentations may result in denial of my application or termination of my privileges, employment or physician participation agreement. A photocopy of this document shall be as effective as the original.
    </p>
    <div class="row mt-5">
        <div class="col-md-6">
            <p>Practitioner Signature: <span class="signature-line"></span></p>
        </div>
        <div class="col-md-6">
            <p>Date: <span class="signature-line"></span></p>
        </div>
    </div>
</div>
<style>
  body {
          font-family: Arial, sans-serif;
          margin: 20px;
      }
      .header {
          text-align: center;
          margin-bottom: 20px;
      }
      .header img {
          max-width: 100px;
      }
      .header h1 {
          font-size: 24px;
          margin: 10px 0;
      }
      .header h2 {
          font-size: 18px;
          margin: 10px 0;
      }
      .section-title {
          background-color: black;
          color: white;
          padding: 5px;
          font-weight: bold;
      }
      .instructions, .identifying-info {
          border: 1px solid black;
          padding: 10px;
          margin-bottom: 20px;
      }
      .instructions ul {
          list-style-type: disc;
          padding-left: 20px;
      }
      .form-group {
          margin-bottom: 10px;
      }
      .form-group label {
          font-weight: bold;
      }
      .form-group input, .form-group select {
          width: 100%;
      }
      .form-check {
          display: inline-block;
          margin-right: 10px;
      }
      .h5, h5 {
    font-size: .875rem;
    color: white;
    }
</style>
<style>
    .table-bordered th, .table-bordered td {
        border: 1px solid black !important;
    }
    .table th, .table td {
        padding: 0.5rem;
    }
    .table thead th {
        background-color: black;
        color: white;
    }
</style>
<style>
      body {
          background-color: #f8f9fa;
      }
      .form-section {
          background-color:white;
          color: black;
          padding: 10px;
          margin-top: 20px;
          border-radius: 5px;
      }
      .form-group {
          margin-bottom: 15px;
      }
      .form-control {
          border: 1px solid #ced4da;
          border-radius: 5px;
      }
      .form-label {
          font-weight: bold;
      }
      .form-container {
          background-color: #fff;
          border: 1px solid #ced4da;
          padding: 20px;
          border-radius: 5px;
          margin-top: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .form-section h5 {
          margin: 0;
      }
  </style>
<style>
    .form-section table {
        width: 100%;
    }
    .form-section table td, .form-section table th {
        border: 1px solid black;
        padding: 5px;
    }
    .form-section .radio-group {
        display: flex;
        align-items: center;
    }
</style>
<style>
    .form-section {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 20px;
    }
    .form-section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .form-label {
        font-weight: bold;
    }
</style>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .note {
        font-size: 0.9em;
    }
    .form-table {
        width: 100%;
        border-collapse: collapse;
    }
    .form-table td, .form-table th {
        border: 1px solid black;
        padding: 5px;
    }
    .form-table th {
        background-color: #f2f2f2;
    }
</style>
