
<div class="container mt-4">
    <div class="text-end">
        <span>CONFIDENTIAL/PROPRIETARY</span>
    </div>
    <div class="text-center">
        <h2>California Participating Physician Reapplication</h2>
    </div>
    <p>This application is submitted to: <strong>Providers</strong>, herein, this Healthcare Organization</p>
    
    <div class="form-section">
        <div class="section-title">I. INSTRUCTIONS:</div>
        <p>This form should be typed or legibly printed in black or blue ink. If more space is needed than provided on original, attach additional sheets and reference the question being answered. Please do not use abbreviations when completing the application. <strong>Current copies of the following documents must be submitted with this application:</strong></p>
        <ul>
            <li>State Medical License(s)</li>
            <li>DEA Certificate</li>
            <li>Board Certification (if applicable)</li>
            <li>Face Sheet of Professional Liability Policy or Certification</li>
        </ul>
    </div>

    <div class="form-section">
        <div class="section-title">II. IDENTIFYING INFORMATION</div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="AABEDI">
            </div>
            <label class="col-sm-2 col-form-label form-label">First:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="CHANTELLE">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-label">Middle:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-form-label form-label">Is there any other name under which you have been known? Name(s):</label>
            <div class="col-sm-12">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-form-label form-label">Home Mailing Address:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label form-label">City:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-1 col-form-label form-label">State:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-1 col-form-label form-label">ZIP:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-label">Home Telephone Number:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-2 col-form-label form-label">E-Mail Address:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-label">Home Fax Number:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-2 col-form-label form-label">Pager Number:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-form-label form-label">Citizenship (If not a United States citizen, please include copy of Alien Registration Card):</label>
            <div class="col-sm-12">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-form-label form-label">Specialty:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" value="Dentist: General Practice (DD)">
            </div>
        </div>
    </div>

    <div class="form-section">
        <div class="section-title">III. PRACTICE INFORMATION - WITHIN LAST TWO YEARS. If nothing has changed, please check here <input type="checkbox"></div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-label">Practice Name (if applicable):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-2 col-form-label form-label">Department Name (If Hospital Based):</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-form-label form-label">Primary Office Street Address:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label form-label">City:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-1 col-form-label form-label">State:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-1 col-form-label form-label">ZIP:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label form-label">Telephone Number:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
            <label class="col-sm-2 col-form-label form-label">Fax Number:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <form>
        <div class="bordered-section">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="telephoneNumber" class="form-label">Telephone Number:</label>
                    <input type="text" class="form-control" id="telephoneNumber">
                </div>
                <div class="col-md-6">
                    <label for="state" class="form-label">State:</label>
                    <input type="text" class="form-control" id="state">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="faxNumber" class="form-label">Fax Number:</label>
                    <input type="text" class="form-control" id="faxNumber">
                </div>
                <div class="col-md-6">
                    <label for="telephoneNumber2" class="form-label">Telephone Number:</label>
                    <input type="text" class="form-control" id="telephoneNumber2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="officeManager" class="form-label">Office Manager/Administrator:</label>
                    <input type="text" class="form-control" id="officeManager">
                </div>
                <div class="col-md-6">
                    <label for="faxNumber2" class="form-label">Fax Number:</label>
                    <input type="text" class="form-control" id="faxNumber2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nameAffiliated" class="form-label">Name Affiliated with Tax ID Number:</label>
                    <input type="text" class="form-control" id="nameAffiliated">
                </div>
                <div class="col-md-6">
                    <label for="federalTaxId" class="form-label">Federal Tax ID Number:</label>
                    <input type="text" class="form-control" id="federalTaxId">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="practiceName" class="form-label">Practice Name (if applicable):</label>
                    <input type="text" class="form-control" id="practiceName">
                </div>
                <div class="col-md-6">
                    <label for="departmentName" class="form-label">Department Name (If Hospital Based):</label>
                    <input type="text" class="form-control" id="departmentName">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="secondaryOfficeAddress" class="form-label">Secondary Office Street Address:</label>
                    <input type="text" class="form-control" id="secondaryOfficeAddress">
                </div>
                <div class="col-md-6">
                    <label for="city" class="form-label">City:</label>
                    <input type="text" class="form-control" id="city">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="officeManager2" class="form-label">Office Manager/Administrator:</label>
                    <input type="text" class="form-control" id="officeManager2">
                </div>
                <div class="col-md-6">
                    <label for="state2" class="form-label">State:</label>
                    <input type="text" class="form-control" id="state2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="nameAffiliated2" class="form-label">Name Affiliated with Tax ID Number:</label>
                    <input type="text" class="form-control" id="nameAffiliated2">
                </div>
                <div class="col-md-6">
                    <label for="zip" class="form-label">ZIP:</label>
                    <input type="text" class="form-control" id="zip">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="otherMedicalInterests" class="form-label">Other Medical Interests in Practice, Research, etc.:</label>
                    <input type="text" class="form-control" id="otherMedicalInterests">
                </div>
                <div class="col-md-6">
                    <label for="telephoneNumber3" class="form-label">Telephone Number:</label>
                    <input type="text" class="form-control" id="telephoneNumber3">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="faxNumber3" class="form-label">Fax Number:</label>
                    <input type="text" class="form-control" id="faxNumber3">
                </div>
                <div class="col-md-6">
                    <label for="federalTaxId2" class="form-label">Federal Tax ID Number:</label>
                    <input type="text" class="form-control" id="federalTaxId2">
                </div>
            </div>
        </div>
        <div class="bordered-section">
            <div class="section-title">IV. RESIDENCIES/FELLOWSHIPS - WITHIN LAST TWO YEARS. If nothing has changed, please check here <input type="checkbox"></div>
            <p>(Attach additional sheets if necessary. Reference this section number and title)</p>
            <p>Include residencies, fellowships, preceptorships, teaching appointments (indicate whether clinical or academic), and postgraduate education completed within the last two years in chronological order, giving name, address, city and ZIP code, and dates. Include all programs you have attended, whether or not completed.</p>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="institution" class="form-label">Institution:</label>
                    <input type="text" class="form-control" id="institution">
                </div>
                <div class="col-md-6">
                    <label for="programDirector" class="form-label">Program Director:</label>
                    <input type="text" class="form-control" id="programDirector">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="mailingAddress" class="form-label">Mailing Address:</label>
                    <input type="text" class="form-control" id="mailingAddress">
                </div>
                <div class="col-md-6">
                    <label for="city2" class="form-label">City:</label>
                    <input type="text" class="form-control" id="city2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="typeOfTraining" class="form-label">Type of Training (eg. residency, etc.):</label>
                    <input type="text" class="form-control" id="typeOfTraining">
                </div>
                <div class="col-md-6">
                    <label for="state3" class="form-label">State:</label>
                    <input type="text" class="form-control" id="state3">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="specialty" class="form-label">Specialty:</label>
                    <input type="text" class="form-control" id="specialty">
                </div>
                <div class="col-md-6">
                    <label for="zip2" class="form-label">ZIP:</label>
                    <input type="text" class="form-control" id="zip2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="fromDate" class="form-label">From: (mm/yy)</label>
                    <input type="text" class="form-control" id="fromDate">
                </div>
                <div class="col-md-6">
                    <label for="toDate" class="form-label">To: (mm/yy)</label>
                    <input type="text" class="form-control" id="toDate">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label">Did you successfully complete the program?</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="completeProgram" id="completeYes" value="yes">
                        <label class="form-check-label" for="completeYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="completeProgram" id="completeNo" value="no">
                        <label class="form-check-label" for="completeNo">No (If "No," please explain on separate sheet.)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="bordered-section">
            <div class="section-title">V. BOARD CERTIFICATION - WITHIN LAST TWO YEARS. If nothing has changed, please check here <input type="checkbox"></div>
            <p>Include certifications by board(s) which are duly organized and recognized by:</p>
            <ul>
                <li>a member board of the American Board of Medical Specialties</li>
                <li>a member board of the American Osteopathic Association</li>
                <li>a board or association with equivalent requirements approved by the Medical Board of California</li>
            </ul>
        </div>
    </form>
</div>

<div class="container">
    <div class="sub-section">
        <div class="form-group">
            <label>Name of Issuing Board:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Specialty:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Date Certified/Recertified:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Expiration Date (if any):</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Have you applied for board certification other than those indicated above? If so, list board(s) and date(s):</label>
            <div>
                <input type="radio" name="board-certification" id="yes" value="yes">
                <label for="yes">Yes</label>
                <input type="radio" name="board-certification" id="no" value="no">
                <label for="no">No</label>
            </div>
        </div>
        <div class="form-group">
            <label>If not certified, describe your intent for certification, if any, and date of eligibility for certification on separate sheet.</label>
        </div>
    </div>
    <div class="section-title">VI. OTHER CERTIFICATIONS (E.G. FLUOROSCOPY, RADIOGRAPHY, ETC.) - WITHIN LAST TWO YEARS. If nothing has changed, please check here <input type="checkbox"></div>
    <div class="sub-section">
        <div class="form-group">
            <label>Type:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Number:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Expiration Date:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="section-title">VII. MEDICAL LICENSURE/REGISTRATION (Remember to attach copies of documents)</div>
    <div class="sub-section">
        <div class="form-group">
            <label>California State Medical License Number: <strong>105490</strong></label>
        </div>
        <div class="form-group">
            <label>Issue Date: <strong>9/10/2020</strong></label>
        </div>
        <div class="form-group">
            <label>Expiration Date: <strong>1/31/2023</strong></label>
        </div>
        <div class="form-group">
            <label>Drug Enforcement Administration (DEA) Registration Number: <strong>FA9933816</strong></label>
        </div>
        <div class="form-group">
            <label>Expiration Date: <strong>6/30/2023</strong></label>
        </div>
        <div class="form-group">
            <label>Controlled Dangerous Substances Certificate (CDS) (if applicable):</label>
        </div>
        <div class="form-group">
            <label>Expiration Date:</label>
        </div>
        <div class="form-group">
            <label>Medicare UPIN/National Physician Identifier (NPI): <strong>1740895150</strong></label>
        </div>
        <div class="form-group">
            <label>Medical/Medicaid Number:</label>
        </div>
    </div>
    <div class="section-title">VIII. ALL OTHER STATE MEDICAL LICENSES</div>
    <div class="sub-section">
        <div class="form-group">
            <label>State:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>License Number:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Expiration Date:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="section-title">IX. PROFESSIONAL LIABILITY (Remember to attach copy of professional liability policy or certification face sheet.)</div>
    <div class="sub-section">
        <div class="form-group">
            <label>Name of Carrier:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Policy #:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>From: (mm/yy)</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>To: (mm/yy)</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Mailing Address:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>City:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>State:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>ZIP:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Per Claim Amount:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Aggregate Amount:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Expiration Date:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Please list all of your professional liability carriers within the past two years, other than the one listed above:</label>
        </div>
        <div class="form-group">
            <label>Name of Carrier: <strong>The Dentist Insurance Company</strong></label>
        </div>
        <div class="form-group">
            <label>Policy #: <strong>0000013908</strong></label>
        </div>
        <div class="form-group">
            <label>From: (mm/yy) <strong>9/2020</strong></label>
        </div>
        <div class="form-group">
            <label>To: (mm/yy) <strong>9/2021</strong></label>
        </div>
        <div class="form-group">
            <label>Mailing Address: <strong>1201 K Street 17th Floor Attn: Underwriting</strong></label>
        </div>
        <div class="form-group">
            <label>City: <strong>Sacramento</strong></label>
        </div>
        <div class="form-group">
            <label>State: <strong>CA</strong></label>
        </div>
        <div class="form-group">
            <label>ZIP: <strong>95814</strong></label>
        </div>
    </div>
</div>

<div class="container">
    <div class="section-title">X. CURRENT HOSPITAL AND OTHER INSTITUTIONAL AFFILIATIONS</div>
    <p>Please list in reverse chronological order (with the current affiliation(s) first) all institutions where you have current affiliations (A) and have had previous hospital privileges (B) during the past two years. This includes hospitals, surgery centers, institutions, corporations, military assignments, or government agencies. If you do not have hospital privileges, please explain on Addendum A.</p>
    
    <div class="subsection-title">A. CURRENT AFFILIATIONS (Attach additional sheets if necessary. Reference This Section Number and Title)</div>
    <div class="bordered">
        <div class="form-group">
            <label>Name and Mailing Address of Primary Admitting Hospital:</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Department/Status (active, provisional, courtesy, etc.):</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Appointment Date:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    
    <div class="bordered">
        <div class="form-group">
            <label>Name and Mailing Address of Other Hospital/Institution:</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Department/Status:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Appointment Date:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    
    <div class="subsection-title">B. PREVIOUS HOSPITAL AND OTHER INSTITUTION AFFILIATIONS - WITHIN LAST TWO YEARS</div>
    <div class="bordered">
        <div class="form-group">
            <label>Name and Mailing Address of Other Hospital/Institution:</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>ZIP:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>From: (mm/yy)</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To: (mm/yy)</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Reason for Leaving:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    
    <div class="section-title">XI. WORK HISTORY - WITHIN LAST TWO YEARS. If nothing has changed, please check here <input type="checkbox"></div>
    <p>Chronologically list all work history activities since completion of postgraduate training (use extra sheets if necessary). This information must be complete--. A curriculum vitae is sufficient provided it is current and contains all information requested below. Please explain any gaps in professional work history on a separate page.</p>
    
    <div class="bordered">
        <div class="form-group">
            <label>Current Practice: <strong>ENHANCED DENTAL</strong></label>
        </div>
        <div class="form-group">
            <label>Mailing Address: <strong>3967 FOOTHILL BLVD</strong></label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>From: (mm/yy) <strong>3/2021</strong></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To: (mm/yy) <strong>Present</strong></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Contact Name:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Telephone Number:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Fax Number:</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City: <strong>LA CRESCENTA</strong></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>ZIP: <strong>91214</strong></label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bordered">
        <div class="form-group">
            <label>Current Practice: <strong>DAVID S KIM DDS CORP</strong></label>
        </div>
        <div class="form-group">
            <label>Mailing Address: <strong>25078 PEACHLAND AVE STE G</strong></label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>From: (mm/yy) <strong>3/2021</strong></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To: (mm/yy) <strong>Present</strong></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Contact Name:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Telephone Number:</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Fax Number:</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>City: <strong>NEWHALL</strong></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>State:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>ZIP: <strong>91321</strong></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
              <label class="col-sm-2 col-form-label">Mailing Address:</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" value="25078 PEACHLAND AVE STE G" readonly>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">From: (mm/yy)</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="3/2021" readonly>
              </div>
              <label class="col-sm-2 col-form-label">City:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="NEWHALL" readonly>
              </div>
              <label class="col-sm-2 col-form-label">State:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="" readonly>
              </div>
              <label class="col-sm-2 col-form-label">ZIP:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="91321" readonly>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Current Practice:</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" value="WEST COAST DENTAL GROUP OF NORTH HILLS" readonly>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Contact Name:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="" readonly>
              </div>
              <label class="col-sm-2 col-form-label">Telephone Number:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="" readonly>
              </div>
              <label class="col-sm-2 col-form-label">Fax Number:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="" readonly>
              </div>
              <label class="col-sm-2 col-form-label">City:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="NORTH HILLS" readonly>
              </div>
              <label class="col-sm-2 col-form-label">State:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="" readonly>
              </div>
              <label class="col-sm-2 col-form-label">ZIP:</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="91343" readonly>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Mailing Address:</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" value="15350 NORDHOFF STREET STE A" readonly>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">From: (mm/yy)</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="10/2020" readonly>
              </div>
              <label class="col-sm-2 col-form-label">To: (mm/yy)</label>
              <div class="col-sm-2">
                  <input type="text" class="form-control" value="2/2021" readonly>
              </div>
          </div>
    </div>
</div>

<div class="container">
    <div class="section-title">
        XII. ATTESTATION QUESTIONS
    </div>
    <div class="form-group">
        <label>Please answer the following questions "yes" or "no." If your answer to questions A through K is "yes," or if your answer to L is "no," please provide full details on separate sheet.</label>
    </div>
    <div class="form-group">
        <label>A. Has your license to practice medicine in any jurisdiction, your Drug Enforcement Administration (DEA) registration or any applicable narcotic registration in any jurisdiction ever been denied, limited, restricted, suspended, revoked, not renewed, or subject to probationary conditions, or have you voluntarily or involuntarily relinquished any such license or registration or voluntarily or involuntarily accepted any such actions or conditions, or have you been fined or received a letter of reprimand or is such action pending?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionA" id="questionAYes" value="yes">
            <label class="form-check-label" for="questionAYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionA" id="questionANo" value="no">
            <label class="form-check-label" for="questionANo">No</label>
        </div>
    </div>
    <div class="form-group">
        <label>B. Have you ever been charged, suspended, fined, disciplined, or otherwise sanctioned, subjected to probationary conditions, restricted or excluded, or have you voluntarily or involuntarily relinquished eligibility to provide services or accepted conditions on your eligibility to provide services, for reasons relating to possible incompetence or improper professional conduct, or breach of contract or program conditions, by Medicare, Medicaid, or any public program, or is any such action pending?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionB" id="questionBYes" value="yes">
            <label class="form-check-label" for="questionBYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionB" id="questionBNo" value="no">
            <label class="form-check-label" for="questionBNo">No</label>
        </div>
    </div>
    <div class="form-group">
        <label>C. Have your clinical privileges, membership, contractual participation or employment by any medical organization (e.g. hospital medical staff, medical group, independent practice association (IPA), health plan, health maintenance organization (HMO), preferred provider organization (PPO), private payer (including those that contract with public programs), medical society, professional association, medical school faculty position or other health delivery entity or system), ever been denied, suspended, restricted, reduced, subject to probationary conditions, revoked or not renewed for possible incompetence, improper professional conduct or breach of contract, or is any such action pending?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionC" id="questionCYes" value="yes">
            <label class="form-check-label" for="questionCYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionC" id="questionCNo" value="no">
            <label class="form-check-label" for="questionCNo">No</label>
        </div>
    </div>
    <div class="form-group">
        <label>D. Have you ever surrendered, allowed to expire, voluntarily or involuntarily withdrawn a request for membership or clinical privileges, terminated contractual participation or employment, or resigned from any medical organization (e.g., hospital medical staff, medical group, independent practice association (IPA), health plan, health maintenance organization (HMO), preferred provider organization (PPO), medical society, professional association, medical school faculty position or other health delivery entity or system) while under investigation for possible incompetence or improper professional conduct, or breach of contract, or in return for such an investigation not being conducted, or is any such action pending?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionD" id="questionDYes" value="yes">
            <label class="form-check-label" for="questionDYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionD" id="questionDNo" value="no">
            <label class="form-check-label" for="questionDNo">No</label>
        </div>
    </div>
    <div class="form-group">
        <label>E. Have you ever surrendered, voluntarily withdrawn, or been requested or compelled to relinquish your status as a student in good standing in any internship, residency, fellowship, preceptorship, or other clinical education program?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionE" id="questionEYes" value="yes">
            <label class="form-check-label" for="questionEYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionE" id="questionENo" value="no">
            <label class="form-check-label" for="questionENo">No</label>
        </div>
    </div>
    <div class="form-group">
        <label>F. Has your membership or fellowship in any local, county, state, regional, national, or international professional organization ever been revoked, denied, reduced, limited, subjected to probationary conditions, or not renewed, or is any such action pending?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionF" id="questionFYes" value="yes">
            <label class="form-check-label" for="questionFYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="questionF" id="questionFNo" value="no">
            <label class="form-check-label" for="questionFNo">No</label>
        </div>
    </div>
</div>

<div class="container">
    <form>
        <div class="form-group">
            <label>G. Have you been denied certification/recertification by a specialty board, or has your eligibility, certification or recertification status changed (other than changing from eligible to certified)?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionG" id="questionGYes" value="yes">
                <label class="form-check-label" for="questionGYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionG" id="questionGNo" value="no">
                <label class="form-check-label" for="questionGNo">No</label>
            </div>
        </div>
        <div class="form-group">
            <label>H. Have you ever been convicted of any crime (other than a minor traffic violation)?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionH" id="questionHYes" value="yes">
                <label class="form-check-label" for="questionHYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionH" id="questionHNo" value="no">
                <label class="form-check-label" for="questionHNo">No</label>
            </div>
        </div>
        <div class="form-group">
            <label>I. Do you presently use any drugs illegally?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionI" id="questionIYes" value="yes">
                <label class="form-check-label" for="questionIYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionI" id="questionINo" value="no">
                <label class="form-check-label" for="questionINo">No</label>
            </div>
        </div>
        <div class="form-group">
            <label>J. Have any judgments been entered against you, or settlements been agreed to by you within the last seven (7) years, in professional liability cases, or are there any filed and served professional liability lawsuits/arbitrations against you pending?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionJ" id="questionJYes" value="yes">
                <label class="form-check-label" for="questionJYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionJ" id="questionJNo" value="no">
                <label class="form-check-label" for="questionJNo">No</label>
            </div>
        </div>
        <div class="form-group">
            <label>K. Has your professional liability insurance ever been terminated, not renewed, restricted, or modified (e.g. reduced limits, restricted coverage, surcharged), or have you ever been denied professional liability insurance, or has any professional liability carrier provided you with written notice of any intent to deny, cancel, not renew, or limit your professional liability insurance or its coverage of any procedures?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionK" id="questionKYes" value="yes">
                <label class="form-check-label" for="questionKYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionK" id="questionKNo" value="no">
                <label class="form-check-label" for="questionKNo">No</label>
            </div>
        </div>
        <div class="form-group">
            <label>L. Are you able to perform all the services required by your agreement with, or the professional staff bylaws of, the Healthcare Organization to which you are applying, with or without reasonable accommodation, according to accepted standards of professional performance and without posing a direct threat to the safety of patients?</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionL" id="questionLYes" value="yes">
                <label class="form-check-label" for="questionLYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="questionL" id="questionLNo" value="no">
                <label class="form-check-label" for="questionLNo">No</label>
            </div>
        </div>
        <div class="signature-section">
            <p>I hereby affirm that the information submitted in this Section XII, Attestation Questions, and any addenda thereto is true, current, correct, and complete to the best of my knowledge and belief and is furnished in good faith. I understand that material, omissions or misrepresentations may result in denial of my application or termination of my privileges, employment or physician participation agreement.</p>
            <div>
                <label>Physician Signature:</label>
                <span class="signature-line"></span>
            </div>
            <div>
                <label>Date:</label>
                <span class="signature-line"></span>
            </div>
        </div>
        <div class="acknowledgment-section">
            <h3 class="acknowledgment-title">INFORMATION RELEASE/ACKNOWLEDGMENTS</h3>
            <p>I hereby consent to the disclosure, inspection and copying of information and documents relating to my credentials, qualifications and performance ("credentialing information") by and between "this Healthcare Organization" and other Healthcare Organizations (e.g., hospital medical staffs, medical groups, independent practice associations {IPAs}, health plans, health maintenance organizations {HMOs}, preferred provider organizations {PPOs}, other health delivery systems or entities, medical societies, professional associations, medical school faculty positions, training programs, professional liability insurance companies {with respect to certification of coverage and claims history}, licensing authorities, and business and individuals acting as their agents (collectively, "Healthcare Organizations"), for the purpose of evaluating this application and any recredentialing application regarding my professional training, experience, character, conduct and judgment, ethics, and ability to work with others. In this regard, the utmost care shall be taken to safeguard the privacy of patients and the confidentiality of patient records, and to protect credentialing information from being further disclosed.</p>
            <p>I am informed and acknowledge that federal and state laws provide immunity protections to certain individuals and entities for their acts and/or communications in connection with evaluating the qualifications of healthcare providers. I hereby release all persons and entities, including this Healthcare Organization, engaging in good faith in acts and/or communications in connection with evaluating my qualifications for providing credentialing information to such representatives of this Healthcare Organization, from any liability that might incur for their acts and/or communications in connection with evaluation of my qualifications for participating in this Healthcare Organization.</p>
        </div>
    </form>
</div>

<div class="container">
    <p>I understand and agree that I, as an applicant, have the burden of producing adequate information for proper evaluation of my professional competence, character, ethics and other qualifications and for resolving any doubt about such qualifications.</p>
    <p>During such time as this application is being processed, I agree to update the application should there be any change in the information provided.</p>
    <p>In addition to any notice required by any contract with a Healthcare Organization, I agree to notify this Healthcare Organization immediately in writing of the occurrence of any of the following: (i) the unstayed suspension, revocation or nonrenewal of my license to practice medicine in California; (ii) any suspension, revocation or nonrenewal of my DEA or other controlled substances registration; or (iii) any cancellation or nonrenewal of my professional liability insurance coverage.</p>
    <p>I further agree to notify this Healthcare Organization in writing, promptly and no later than fourteen (14) calendar days from the occurrence of any of the following: (i) receipt of written notice of any adverse action against me by the Medical Board of California taken or pending, including but not limited to, any accusation filed, temporary restraining order, or imposition of any interim suspension, probation or limitations affecting my license to practice medicine; or (ii) any adverse action against me by any Healthcare Organization which has resulted in the filing of a Section 805 report with the Medical Board of California, or a report with the National Practitioner Data Bank; or (iii) the denial, revocation, suspension, limitation, nonrenewal or voluntary relinquishment by resignation of my medical staff membership or clinical privileges at any Healthcare Organization; or (iv) any material reduction in my professional liability insurance coverage; or (v) my receipt of written notice of any legal action against me, including, without limitation, any filed and served malpractice suit or arbitration action; or (vi) my conviction of any crime (excluding minor traffic violations); or (vii) my receipt of written notice of any adverse action against me under the Medicare or Medicaid programs, including, but not limited to, fraud and abuse proceedings or convictions.</p>
    <p>I hereby affirm that the information submitted in this application and any addenda thereto (including my curriculum vitae if attached) is true, current, correct, and complete to the best of my knowledge and belief and is furnished in good faith. I understand that material omissions or misrepresentations may result in denial of my application or termination of my privileges, employment or physician participation agreement. A photocopy of this document shall be as effective as the original, however, original signatures and current dates are required on pages 8 and 9.</p>
    <div class="form-group">
        <label>Print Name Here: <strong>CHANTELLE AABEDI DDS</strong></label>
    </div>
    <div class="form-group">
        <label>Physician Signature: <span class="signature-line"></span></label>
    </div>
    <div class="form-group">
        <label>Date: <span class="signature-line"></span></label>
    </div>
    <div class="form-group">
        <label>Addenda Submitting (Please check the following):</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="addendumA">
            <label class="form-check-label" for="addendumA">Addendum A - Health Plan and IPA/Medical Group</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="addendumB" checked>
            <label class="form-check-label" for="addendumB">Addendum B - Professional Liability Action Explanation</label>
        </div>
    </div>
    <div class="form-group">
        <p>This Application and Addenda A and B were created and are endorsed by:</p>
        <ul class="contact-list">
            <li>American Medical Group Association - (310/430-1191 x223)</li>
            <li>California Association of Health Plans - (916/552-2910)</li>
            <li>California Healthcare Association - (916/552-7574)</li>
            <li>California Medical Association - (415/882-5166)</li>
            <li>National IPA Coalition - (510/267/1999)</li>
            <li>The Medical Quality Commission - (310/936-1100 x230)</li>
        </ul>
    </div>
    <p>Individual healthcare organizations may request additional information or attach supplements to this form. They are not part of the California Participation Physician Reapplication nor have they been endorsed by the above organizations. Any questions about supplements should be addressed to the health care organization from which it was provided.</p>
</div>
<style>
  body {
      font-family: Arial, sans-serif;
      font-size: 14px;
  }
  .section-title {
      background-color: black;
      color: white;
      padding: 5px;
      font-weight: bold;
  }
  .form-section {
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 20px;
  }
  .form-group {
      margin-bottom: 10px;
  }
  .form-control {
      width: 100%;
  }
  .form-label {
      font-weight: bold;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
  }
  .section-title {
      background-color: black;
      color: white;
      padding: 5px;
      font-weight: bold;
  }
  .form-control {
      border: 1px solid #000;
  }
  .form-check-label {
      margin-left: 10px;
  }
  .bordered-section {
      border: 1px solid #000;
      padding: 10px;
      margin-bottom: 10px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      font-size: 14px;
  }
  .section-title {
      background-color: black;
      color: white;
      padding: 5px;
      margin-top: 10px;
      border: 1px solid black;
  }
  .form-control {
      border: 1px solid black;
      border-radius: 0;
  }
  .form-group {
      margin-bottom: 10px;
  }
  .bordered {
      border: 1px solid black;
      padding: 5px;
  }
  .sub-section {
      border: 1px solid black;
      padding: 5px;
      margin-bottom: 10px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      font-size: 14px;
  }
  .section-title {
      background-color: black;
      color: white;
      padding: 5px;
      font-weight: bold;
      border: 1px solid black;
  }
  .subsection-title {
      font-weight: bold;
      margin-top: 10px;
  }
  .form-group {
      margin-bottom: 10px;
  }
  .form-control {
      width: 100%;
      border: 1px solid black;
  }
  .checkbox-label {
      display: flex;
      align-items: center;
  }
  .bordered {
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 10px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      font-size: 14px;
  }
  .header {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: center;
      font-weight: bold;
  }
  .section-title {
      background-color: black;
      color: white;
      padding: 5px;
      font-weight: bold;
  }
  .form-group {
      margin-bottom: 10px;
  }
  .form-control {
      border: 1px solid black;
      border-radius: 0;
  }
  .form-check-label {
      margin-right: 10px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      font-size: 14px;
      margin: 20px;
  }
  .section-title {
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .form-group {
      margin-bottom: 15px;
  }
  .form-check-inline {
      margin-right: 10px;
  }
  .signature-section {
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .signature-line {
      display: inline-block;
      width: 300px;
      border-bottom: 1px solid #000;
      margin-left: 10px;
      margin-right: 10px;
  }
  .acknowledgment-section {
      margin-top: 30px;
  }
  .acknowledgment-title {
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      padding: 20px;
  }
  .container {
      background-color: white;
      padding: 20px;
      border: 1px solid #ced4da;
      border-radius: 5px;
  }
  .header {
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
  }
  .form-group {
      margin-bottom: 15px;
  }
  .form-check {
      margin-bottom: 10px;
  }
  .signature-line {
      border-bottom: 1px solid black;
      display: inline-block;
      width: 200px;
  }
  .contact-list {
      list-style-type: none;
      padding-left: 0;
  }
  .contact-list li {
      margin-bottom: 5px;
  }
</style>
