<div class="header">
    <p>Jan 20 21:38</p>
</div>
<div class="title">
    California Participating Physician Application
</div>
<div class="subtitle">
    IPA Addendum C
</div>
<div class="confidential">
    CONFIDENTIAL/PROPRIETARY
</div>
<div class="form-group bordered">
    <label>This addendum is submitted to: <strong>Providers</strong>, herein, this Healthcare Organization</label>
    <input type="text" class="form-control">
</div>
<div class="confidential">
    Confidential Questions
</div>
<div class="form-group bordered">
    <label>1. In the last five (5) years, have you had a history of chemical dependency or substance abuse that might adversely affect your ability to competently and safely perform the essential functions of a practitioner in your area of practice?</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question1" id="question1Yes" value="yes">
        <label class="form-check-label" for="question1Yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question1" id="question1No" value="no">
        <label class="form-check-label" for="question1No">No</label>
    </div>
    <p>If yes, please identify and describe any rehabilitation program in which you are or were enrolled which assures your abstinence prospectively and your adherence to prevailing standards of professional performance.</p>
</div>
<div class="form-group bordered">
    <label>2. Do you have any ongoing physical or mental impairment or condition which would make you unable, with or without reasonable accommodation, to perform the essential functions of a practitioners in your area of practice, or unable to perform those essential functions without a direct threat to the health and safety of others?</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question2" id="question2Yes" value="yes">
        <label class="form-check-label" for="question2Yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question2" id="question2No" value="no">
        <label class="form-check-label" for="question2No">No</label>
    </div>
    <p>If yes, please describe any accommodations which could reasonably be made to facilitate your performance of such functions without risk of compromise.</p>
</div>
<div class="form-group bordered">
    <label>3. Are you a Certified Workers' Compensation provider?</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question3" id="question3Yes" value="yes">
        <label class="form-check-label" for="question3Yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question3" id="question3No" value="no">
        <label class="form-check-label" for="question3No">No</label>
    </div>
    <p>If yes, please attach a copy of your certificate.</p>
</div>
<div class="form-group bordered">
    <label>4. Are you a reservist? If yes, what branch of the military?</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question4" id="question4Yes" value="yes">
        <label class="form-check-label" for="question4Yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question4" id="question4No" value="no">
        <label class="form-check-label" for="question4No">No</label>
    </div>
    <p>Anticipated date of separation from reserve duty?</p>
</div>
<div class="form-group bordered">
    <label>5. Medicare/Medi-Cal #:</label>
    <input type="text" class="form-control">
</div>
<div class="form-group bordered">
    <label>6. Do you accept HMO Medi-Cal Membership:</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question6" id="question6Yes" value="yes">
        <label class="form-check-label" for="question6Yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="question6" id="question6No" value="no">
        <label class="form-check-label" for="question6No">No</label>
    </div>
</div>
<div class="form-group bordered">
    <p>I attest to the fact all of the information submitted by me in this document is true and correct to the best of my knowledge and belief. I fully understand that any significant misstatement in, or omission from this application may constitute cause for denial of participation or cause for summary dismissal from this Healthcare organization.</p>
</div>
<div class="form-group bordered">
    <label>Please Print Name:</label>
    <strong>CHANTELLE ABEDI DDS</strong>
</div>
<div class="signature">
    <div>
        <label>Signature:</label>
        <hr>
    </div>
    <div>
        <label>Date:</label>
        <hr>
    </div>
</div>
<style>
  body {
      font-family: Arial, sans-serif;
      margin: 20px;
  }
  .header, .footer {
      text-align: right;
      font-size: 12px;
  }
  .title {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
  }
  .subtitle {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
  }
  .confidential {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      border: 1px solid black;
      padding: 5px;
  }
  .form-group {
      margin-bottom: 15px;
  }
  .form-check-inline {
      margin-right: 10px;
  }
  .signature {
      margin-top: 30px;
  }
  .signature div {
      display: inline-block;
      width: 45%;
  }
  .signature div:first-child {
      margin-right: 10%;
  }
  .bordered {
      border: 1px solid black;
      padding: 10px;
  }
</style>
