<div class="container mt-3 bordered-section">
    <div class="header-text">
        <span>OPTIONAL</span>
        <span class="float-end">CONFIDENTIAL/PROPRIETARY</span>
    </div>
    <div class="title-text mt-2">
        CALIFORNIA PARTICIPATING PHYSICIAN APPLICATION<br>
        <span style="font-size: 12px;">Addendum A</span><br>
        PHYSICIAN PROFILE AND PRACTICE INFORMATION
    </div>
    <div class="section-title mt-3">
        PLEASE CHECK
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="male">
            <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="female">
            <label class="form-check-label" for="female">Female</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="solo-practice">
            <label class="form-check-label" for="solo-practice">Solo Practice</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="group-practice">
            <label class="form-check-label" for="group-practice">Group Practice</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="single-specialty">
            <label class="form-check-label" for="single-specialty">Single Specialty</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="multispecialty">
            <label class="form-check-label" for="multispecialty">Multispecialty</label>
        </div>
    </div>
    <div class="section-title mt-3">
        BILLING INFORMATION
    </div>
    <div class="form-group">
        <label for="billing-company">Billing Company:</label>
        <input type="text" class="form-control" id="billing-company">
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="street-address">Street Address:</label>
            <input type="text" class="form-control" id="street-address">
        </div>
        <div class="col-md-2">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city">
        </div>
        <div class="col-md-2">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state">
        </div>
        <div class="col-md-2">
            <label for="zip">Zip:</label>
            <input type="text" class="form-control" id="zip">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="contact">Contact:</label>
            <input type="text" class="form-control" id="contact">
        </div>
        <div class="col-md-3">
            <label for="telephone">Telephone No.:</label>
            <input type="text" class="form-control" id="telephone">
        </div>
        <div class="col-md-3">
            <label for="fax">Fax Number:</label>
            <input type="text" class="form-control" id="fax">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="section-title">PRACTICE INFORMATION</div>
    <table class="table table-bordered">
        <tr>
            <td colspan="2">Do you employ any ancillary personal (e.g. nurse practitioners, physician assistants, etc.)?</td>
            <td>Yes <input type="checkbox"></td>
            <td>No <input type="checkbox"></td>
        </tr>
        <tr>
            <td>Number</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Nurses</td>
            <td colspan="3">_________________________</td>
        </tr>
        <tr>
            <td>Nurse midwives</td>
            <td colspan="3">_________________________</td>
        </tr>
        <tr>
            <td>Nurse practitioners</td>
            <td colspan="3">_________________________</td>
        </tr>
        <tr>
            <td>Physician assistants</td>
            <td colspan="3">_________________________</td>
        </tr>
        <tr>
            <td colspan="2">Are you a Certified Qualified Medical Examiner (QME) of the Medical Board of California?</td>
            <td>Yes <input type="checkbox"></td>
            <td>No <input type="checkbox"></td>
        </tr>
        <tr>
            <td colspan="2">Do you participate in EDI (electronic data interchange)?</td>
            <td>Yes <input type="checkbox"></td>
            <td>No <input type="checkbox"></td>
        </tr>
        <tr>
            <td colspan="2">Do you have a surgical suite in your office?</td>
            <td>Yes <input type="checkbox"></td>
            <td>No <input type="checkbox"></td>
        </tr>
        <tr>
            <td colspan="4">
                If yes, is it
                <input type="checkbox"> State licensed
                <input type="checkbox"> Medicare Certified
                <input type="checkbox"> CMA-AAAHC Accredited
                <input type="checkbox"> MQC Accredited
                <input type="checkbox"> AAAASF Accredited
                <input type="checkbox"> Other ________________________
            </td>
        </tr>
    </table>
    
    <div class="section-title">OFFICE HOURS</div>
    <table class="table table-bordered">
        <tr>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>Saturday</td>
            <td>Sunday</td>
            <td>Holidays</td>
        </tr>
    </table>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="6">COVERAGE OF PRACTICE (List your answering service and covering physicians by name)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Answering Service Company:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
                <td>Telephone No.:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Fax No.:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
                <td>State:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
                <td>City:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Covering Physician: Name</td>
                <td colspan="2"><input type="text" class="form-control"></td>
                <td>Telephone No.:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Covering Physician: Name</td>
                <td colspan="2"><input type="text" class="form-control"></td>
                <td>Telephone No.:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Covering Physician: Name</td>
                <td colspan="2"><input type="text" class="form-control"></td>
                <td>Telephone No.:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>FOREIGN LANGUAGES SPOKEN</th>
                <th colspan="2"></th>
                <td>Zip:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Fluently by Physician:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
                <td>Fluently by Staff:</td>
                <td colspan="2"><input type="text" class="form-control"></td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">LABORATORY SERVICES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    If you provide direct laboratory services, please indicate the TIN utilized and provide CLIA information. Attach a copy of your CLIA certificate or waiver if you have one.
                </td>
            </tr>
            <tr>
                <td>Tax ID #:</td>
                <td>Billing Name:</td>
                <td>Type of Service Provided:</td>
            </tr>
            <tr>
                <td colspan="3">
                    <table class="table table-bordered mb-0">
                        <tr>
                            <td>Do you have a CLIA certificate?</td>
                            <td><input type="checkbox"> Yes</td>
                            <td><input type="checkbox"> No</td>
                        </tr>
                        <tr>
                            <td>Do you have a CLIA waiver?</td>
                            <td><input type="checkbox"> Yes</td>
                            <td><input type="checkbox"> No</td>
                        </tr>
                        <tr>
                            <td>Certificate Number:</td>
                            <td colspan="2">Certificate Expiration Date:</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .header-text {
        font-size: 12px;
        text-align: center;
    }
    .title-text {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }
    .section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .form-check-label {
        margin-right: 20px;
    }
    .form-check-inline {
        margin-bottom: 10px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .bordered-section {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<style>
    .section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .table-bordered td, .table-bordered th {
        border: 1px solid black;
    }
    .table td, .table th {
        padding: 5px;
    }
</style>
<style>
    .table-bordered th, .table-bordered td {
        border: 1px solid black !important;
    }
    .table th, .table td {
        padding: 0.5rem;
    }
    .table thead th {
        background-color: black;
        color: white;
    }
</style>