<div class="enc-content">
	<div class="container">
	 <%= render "top_nav_buttons"%>    
		<div class="add-license-content">
			<div class="container">
				<div class="row mt-5">
					<div class="d-flex align-items-center gap-1">
						<a href="<%= mhc_verification_platform_path(page_tab: 'practice_info')%>" class="link-back">
							<i class='bx bx-left-arrow-alt' ></i>
						</a>
				    <h4 class="page-heading">Edit Practice Info</h4> 
					</div>
				  <%= render partial: 'practice_info_form' %>
				</div>
			</div>
		</div>
	</div>
</div>