  <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Employment</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="practice-info-switch">
                        <label class="form-check-label" for="practice-info-switch">Not Applicable</label>
                    </div>
                </div>
                <a href="#" class="btn btn-primary py-1">
                    <i class='bx bx-plus'></i>
                    Add New Employment
                </a>
            </div>
            <div class="mt-3 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please list in chronological order employment since completion of education and training. This information must be complete. 
                        Explain all time gaps in the Comments box below. Required fields are marked with the symbol “<span class="font-red">*</span>”.</span>
                </span>
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please check the Not Applicable box if you are not currently and have never been employed since the completion of an education or training program.</span>
                </span>
            </div>
            <table class="table table-bordered practice-table mt-3 page-applicable ">
                <thead>
                    <tr>
                        <th  class="text-white" scope="col">Practice/Employer Name</th>
                        <th class="text-white">Address</th>
                        <th class="text-white">City</th>
                        <th class="text-white">State/Province</th>
                        <th class="text-white">Zip/Postal Code</th>
                        <th class="text-white">Date From</th>
                        <th class="text-white">Date To</th>
                        <th class="text-white">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= verification_platform_index_path(page: 'employment_record')%>">Lorem</a></td>
                        <td>Lorem</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>11/11/2011</td>
                        <td>11/11/2011</td>
                        <td>Lorem ipsum</td>
                    </tr>

                </tbody>
            </table>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="not-applicable-explain" id="" cols="30" rows="5" class="form-control"
                        required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" name="save-not-app-explain" class="btn btn-primary py-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
