<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-body">
      <table class="table table-bordered table-bordered mt-3">
        <thead>
          <tr>
            <th class="text-white fw-bold">No.</th>
            <th class="text-white fw-bold">Practitioner Name</th>
            <th class="text-white fw-bold">Health Plan Name</th>
            <th class="text-white fw-bold">Department/Division</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" class="text-danger fw-bold fs-5 text-center">There is no practitioner who matches the condition!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
