    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            <div class="mt-3 mb-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Facility Disclosures</h4>
                    <a class="btn btn-primary py-1 px-4 page-applicable" href="" id="EditDisclosure">
                        Edit
                    </a>
                </div>
            </div>
            <div class="form-row row">
                <div class="input-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="licensure-disclosure-switch" checked>
                        <label for="" class=""><span class="font-red">*</span>1. Has this facility's lisence and/or certification(s) ever been subject to any inquiries (including investigations or notice of intent to investigate) and/or any sanctions, suspension, limitations or revoked by any states, federal or regulatory agency?</label>
                    </div>
                </div>
            </div>
            <form action="" class="page-applicable YesDisclosure">
                <div class="form-row mb-3">
                    <label for="" class="">If Yes, please explain:</label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                </div>
            </form>
            <div class="form-row row mb-2">
                <div class="input-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox">
                        <label for="" class=""><span class="font-red">*</span>2. Has this facility ever been subject to restrictions on receipt of payment from medicare or medicaid?</label>
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="input-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="FiveYears-disclosure-switch" checked>
                        <label for="" class=""><span class="font-red">*</span>3. Has this facility had within the five years, or currently pending, any malpractice claims, suits, settlements or arbitration proceedings involving your facility?</label>
                    </div>
                </div>
            </div>
            <form action="" class="page-applicable YesFiveYears">
                <div class="form-row mb-3">
                    <label for="" class="">If Yes, please explain:</label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                </div>
            </form>
            <div class="form-row mt-2 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary py-1">
                    Auto RVA
                </button>
            </div>
        </div>
    </div>
