    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>

            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Professional Liability Action</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="practice-info-switch">
                        <label class="form-check-label" for="practice-info-switch">Not Applicable</label>
                    </div>
                </div>
                <a href="#" class="btn btn-primary py-1">
                    <i class='bx bx-plus'></i>
                    Add New Liability
                </a>
            </div>
            <table class="table table-bordered practice-table mt-3 page-applicable ">
                <thead>
                    <tr>
                        <th class="text-white" scope="col">Court Case Number</th>
                        <th class="text-white">City Lawsuit Filed</th>
                        <th class="text-white">State Lawsuit Filed</th>
                        <th class="text-white">County Lawsuit Filed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= mhc_verification_platform_index_path(page_tab: 'liability_action_record')%>">Lorem</a></td>
                        <td>Lorem</td>
                        <td>Lorem</td>
                        <td>Lorem ipsum</td>
                    </tr>

                </tbody>
            </table>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="not-applicable-explain" id="" cols="30" rows="5" class="form-control"
                        required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" name="save-not-app-explain" class="btn btn-primary py-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
