<div class="container">
  <div class="header">
  MEMORIAL MEDICAL CENTERS MEDICAL STAFF INITIAL APPLICATION
  </div>
  <div class="checkbox-group mt-3">
  <div>
    <img alt="Medical center logo" src="https://placehold.co/100x100"/>
  </div>
  <div>
    <div>
    <input type="checkbox"/>
    Anaheim Memorial
    </div>
    <div>
    <input type="checkbox"/>
    Orange Coast Memorial
    </div>
    <div>
    <input type="checkbox"/>
    Saddleback Memorial
    </div>
    <div>
    <input type="checkbox"/>
    Laguna Hills Campus
    </div>
    <div>
    <input type="checkbox"/>
    San Clemente Campus
    </div>
  </div>
  <div>
    <div>
    <input type="checkbox"/>
    Long Beach Memorial Medical Center
    </div>
    <div>
    <input type="checkbox"/>
    Miller Children's Hospital
    </div>
    <div>
    <input type="checkbox"/>
    Women's Medical Staff
    </div>
  </div>
  </div>
  <div class="instructions mt-3">
    INSTRUCTIONS:
    </div>
    <div class="instructions-content">
    This form should be typed or legibly printed in black or blue ink. If more space is needed than provided on original, attach additional sheets and reference the question, being answered. Current copies of the following documents must be submitted with this application:
    <ul>
      <li>
      State Medical License(s)
      </li>
      <li>
      DEA Certificate
      </li>
      <li>
      Board Certification (if applicable)
      </li>
      <li>
      Face sheet of Professional Liability Certification
      </li>
      <li>
      Curriculum Vitae
      </li>
      <li>
      ECFMG Certificate (if applicable)
      </li>
    </ul>
  </div>
  <div class="instructions-content mt-3">
    <div class="identifying-info mt-3">
    IDENTIFYING INFORMATION
    </div>
    <div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label">
      Last Name:
    </label>
    <div class="col-sm-2">
      <input class="form-control" type="text"/>
    </div>
    <label class="col-sm-2 col-form-label">
      First:
    </label>
    <div class="col-sm-2">
      <input class="form-control" type="text"/>
    </div>
    <label class="col-sm-2 col-form-label">
      Middle:
    </label>
    <div class="col-sm-2">
      <input class="form-control" type="text"/>
    </div>
    </div>
    <div class="form-group row mt-2">
    <label class="col-sm-4 col-form-label">
      Is there any other name under which you have been known? Name(s):
    </label>
    <div class="col-sm-8">
      <input class="form-control" type="text"/>
    </div>
    </div>
    <div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label">
      Home Mailing Address: (not for publication)
    </label>
    <div class="col-sm-10">
      <input class="form-control" type="text"/>
    </div>
    </div>
    <div class="form-group row mt-2">
    <label class="col-sm-1 col-form-label">
      City:
    </label>
    <div class="col-sm-3">
      <input class="form-control" type="text"/>
    </div>
    <label class="col-sm-1 col-form-label">
      State:
    </label>
    <div class="col-sm-2">
      <input class="form-control" type="text"/>
    </div>
    <label class="col-sm-1 col-form-label">
      Zip:
    </label>
    <div class="col-sm-2">
      <input class="form-control" type="text"/>
    </div>
  </div>
  </div>
</div>
<div class="container mt-4">
    <table class="form-table">
        <tr>
            <td>Home Telephone Number: <input type="tel"></td>
            <td>E-Mail Address: <input type="email"></td>
        </tr>
        <tr>
            <td>Home Fax Number: <input type="tel"></td>
            <td>Pager Number: <input type="tel"></td>
        </tr>
        <tr>
            <td>Birth Date: <input type="text"></td>
            <td>Birth Place (City/State/County): <input type="text"></td>
        </tr>
        <tr>
            <td>Social Security #: <input type="text"></td>
            <td>Gender: 
                <label class="checkbox-inline"><input type="checkbox"> Male</label>
                <label class="checkbox-inline"><input type="checkbox"> Female</label>
            </td>
        </tr>
        <tr>
            <td>Specialty: <input type="text"></td>
            <td>Race/Ethnicity (Voluntary): <input type="text"></td>
        </tr>
        <tr>
          <td>Citizenship: <input type="text"></td>
          <td>Foreign Language: <input type="text"></td>
        </tr>
        <tr>
            <td>Marital Status: 
                <label class="checkbox-inline"><input type="checkbox"> S</label>
                <label class="checkbox-inline"><input type="checkbox"> M</label>
                <label class="checkbox-inline"><input type="checkbox"> D</label>
                <label class="checkbox-inline"><input type="checkbox"> W</label>
            </td>
            <td>Name of spouse: <input type="text"></td>
        </tr>
        <tr>
            <td>Subspecialty: <input type="text"></td>
            <td>UPIN #: <input type="text"></td>
        </tr>
        <tr>
            <th colspan="2">PRACTICE INFORMATION</th>
        </tr>
        <tr>
            <td>Group Name (if applicable): <input type="text"></td>
            <td rowspan="2">You are required to provide the name(s) of a medical staff member with like privileges for alternate coverage of your patients:</td>
        </tr>
        <tr>
            <td>Primary Mailing Address: <input type="text"></td>
        </tr>
        <tr>
            <td>City: <input type="text"></td>
            <td>State: <input type="text"></td>
        </tr>
        <tr>
            <td>Telephone Number: <input type="tel"></td>
            <td>Fax Number: <input type="tel"></td>
        </tr>
        <tr>
            <td>Office Manager/Administrator: <input type="text"></td>
            <td>Telephone Number: <input type="tel"></td>
        </tr>
        <tr>
          <td>Zip: <input type="text"></td>
          <td>Fax Number: <input type="tel"></td>
        </tr>
    </table>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr class="table-header">
                <th colspan="6">PRACTICE INFORMATION (continued)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Secondary Office Mailing Address:</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text"></td>
                <td>State:</td>
                <td><input type="text"></td>
                <td>Zip:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Office Manager/Administrator:</td>
                <td colspan="3"><input type="text"></td>
                <td>Telephone Number: ( )</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Fax Number: ( )</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>Tertiary Office Mailing Address:</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text"></td>
                <td>State:</td>
                <td><input type="text"></td>
                <td>Zip:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Office Manager/Administrator</td>
                <td colspan="3"><input type="text"></td>
                <td>Telephone Number: ( )</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Fax Number: ( )</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>Other Medical Interests in Practice, Research, etc.:</td>
                <td colspan="5"><input type="text"></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr class="table-header">
                <th colspan="6">PREMEDICAL EDUCATION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>College or University Name:</td>
                <td colspan="3"><input type="text"></td>
                <td>Degree Received:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Graduation Date: (mm/yy)</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text"></td>
                <td>State:</td>
                <td><input type="text"></td>
                <td>Zip:</td>
                <td><input type="text"></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr class="table-header">
                <th colspan="6">MEDICAL/PROFESSIONAL EDUCATION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Medical School:</td>
                <td colspan="3"><input type="text"></td>
                <td>Degree Received:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Graduation Date: (mm/yy)</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="5"><input type="text"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text"></td>
                <td>State:</td>
                <td><input type="text"></td>
                <td>Zip:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Medical/Professional School:</td>
                <td colspan="3"><input type="text"></td>
                <td>Degree Received:</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Graduation Date: (mm/yy)</td>
                <td colspan="5"><input type="text"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Mailing Address:</td>
                <td><input type="text" class="form-control"></td>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
                <td>State:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td><input type="text" class="form-control"></td>
                <td>Graduation Date: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
                <td>Zip:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Medical/Professional School:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Degree Received:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <th colspan="8" class="text-center">POSTGRADUATE TRAINING AND EXPERIENCE:</th>
            </tr>
            <tr>
                <th colspan="8" class="text-center">INTERNSHIP/PGY1</th>
            </tr>
            <tr>
                <td>Institution:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Program Director:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
             <td>State & Country:</td>
                <td><input type="text" class="form-control"></td>
                 <td>Specialty:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Type of Internship:</td>
                <td colspan="5"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>From: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
                <td>To: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
                <td colspan="2">(If “No” please explain on separate sheet)</td>
            </tr>
            <tr>
                <td colspan="4">Did you successfully complete the program?</td>
                <td>Yes <input type="checkbox" class="form-check-input"></td>
                <td>No <input type="checkbox" class="form-check-input"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <div class="header">
        RESIDENCIES/FELLOWSHIPS
    </div>
    <p>Include residencies, fellowships, preceptorships, teaching appointments (indicate whether clinical or academic), and postgraduate education in chronological order, giving name, address, city and zip code, and dates. Use separate sheet if necessary.</p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Institution:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Program Director:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
                <td>State:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Type of Training (e.g. residency, etc.):</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Specialty:</td>
                <td><input type="text" class="form-control"></td>
                <td>From: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>To: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
                 <td>Zip:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="10">Did you successfully complete the program? 
                    <label class="form-check-label">Yes <input type="checkbox" class="form-check-input"></label>
                    <label class="form-check-label">No <input type="checkbox" class="form-check-input"></label>
                    (If “No” please explain on separate sheet.)
                </td>
            </tr>
            <tr>
                <td>Institution:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Program Director:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
                <td>State:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Type of Training:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Specialty:</td>
                <td><input type="text" class="form-control"></td>
                <td>From: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>To: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
                 <td>Zip:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="10">Did you successfully complete the program? 
                    <label class="form-check-label">Yes <input type="checkbox" class="form-check-input"></label>
                    <label class="form-check-label">No <input type="checkbox" class="form-check-input"></label>
                    (If “No” please explain on separate sheet.)
                </td>
            </tr>
            <tr>
                <td>Institution:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Program Director:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>City:</td>
                <td><input type="text" class="form-control"></td>
                <td>State:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Type of Training:</td>
                <td colspan="3"><input type="text" class="form-control"></td>
                <td>Specialty:</td>
                <td><input type="text" class="form-control"></td>
                <td>From: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
              <td>To: (mm/yy)</td>
                <td><input type="text" class="form-control"></td>
                 <td>Zip:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="7">Did you successfully complete the program? 
                    <label class="form-check-label">Yes <input type="checkbox" class="form-check-input"></label>
                    <label class="form-check-label">No <input type="checkbox" class="form-check-input"></label>
                    (If “No” please explain on separate sheet.)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Institution:</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Program Director:</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td></td>
                <td>City:</td>
                <td></td>
            </tr>
            <tr>
                <td>State:</td>
                <td></td>
                <td>Zip:</td>
                <td></td>
            </tr>
            <tr>
                <td>Type of Training:</td>
                <td></td>
                <td>Specialty:</td>
                <td></td>
            </tr>
            <tr>
                <td>Did you successfully complete the program?</td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="yes" value="yes">
                        <label class="form-check-label" for="yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="no" value="no">
                        <label class="form-check-label" for="no">No</label>
                    </div>
                </td>
                <td colspan="2">(If “No” please explain on separate sheet).</td>
            </tr>
            <tr>
                <td>From: (mm/yy)</td>
                <td></td>
                <td>To: (mm/yy)</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="4">MEDICAL LICENSURE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>California State Medical License Number:</td>
                <td></td>
                <td>Issue Date:</td>
                <td></td>
            </tr>
            <tr>
                <td>Expiration Date:</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Drug Enforcement Administration (DEA) Registration Number:</td>
                <td></td>
                <td>Expiration Date:</td>
                <td></td>
            </tr>
            <tr>
                <td>ECFMG Number: (applicable to foreign medical graduates)</td>
                <td></td>
                <td>Date Issued:</td>
                <td></td>
            </tr>
            <tr>
                <td>Valid Through:</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="4">ALL OTHER STATE MEDICAL LICENSES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>State:</td>
                <td></td>
                <td>License Number:</td>
                <td></td>
            </tr>
            <tr>
                <td>Expiration Date:</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>State:</td>
                <td></td>
                <td>License Number:</td>
                <td></td>
            </tr>
            <tr>
                <td>Expiration Date:</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="4">OTHER CERTIFICATIONS (E.G. FLUOROSCOPY, RADIOGRAPHY, ETC.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Type:</td>
                <td></td>
                <td>Number:</td>
                <td></td>
            </tr>
            <tr>
                <td>Expiration Date:</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td></td>
                <td>Number:</td>
                <td></td>
            </tr>
            <tr>
                <td>Expiration Date:</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-3">
    <div class="section-title">BOARD CERTIFICATION</div>
    <p>Include certifications by board(s) which are duly organized and recognized by:</p>
    <ul>
        <li>a member board of the American Board of Medical Specialties</li>
        <li>a member board of the American Osteopathic Association</li>
        <li>a board or association with equivalent requirements approved by the Medical Board of California</li>
        <li>a board or association with an Accreditation Council for Graduate Medical Education or American Osteopathic Association approved postgraduate training that provides complete training in that specialty or subspecialty.</li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name of Issuing Board</th>
                <th>Certificate Number</th>
                <th>Date Certified/Recertified</th>
                <th>Exp. Date (if any)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>Have you applied for board certification other than those indicated above?</p>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="boardCertification" id="yes" value="yes">
        <label class="form-check-label" for="yes">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="boardCertification" id="no" value="no">
        <label class="form-check-label" for="no">No</label>
    </div>
    <p>If so, list board(s) and date(s):</p>
    <textarea class="form-control" rows="2"></textarea>
    <p>If not certified, describe intent for certification, if any, & date of admissibility for certification on a separate sheet.</p>
    
    <div class="section-title">CURRENT HOSPITAL AND OTHER INSTITUTIONAL AFFILIATIONS</div>
    <p>Please list in reverse chronological order (with the current affiliation(s) first) all institutions where you have current affiliations (A) and have had previous hospital privileges (B). This includes hospitals, surgery centers, institutions, corporations, military assignments or government agencies. If more space is needed, attach additional sheet(s).</p>
    
    <div class="section-title">A. CURRENT AFFILIATIONS</div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Facility Name:</td>
                <td>City:</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>State:</td>
            </tr>
            <tr>
                <td>Department/Status (active, provisional, courtesy, temporary, etc.):</td>
                <td>Appointment Date:</td>
            </tr>
            <tr>
                <td>Facility Name:</td>
                <td>City:</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>State:</td>
            </tr>
            <tr>
              <td>Zip:</td>
              <td>Zip:</td>
            </tr>  
            <tr>
                <td>Department/Status (active, provisional, courtesy, temporary, etc.):</td>
                <td>Appointment Date:</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Department/Status (active, provisional, courtesy, temporary, etc.):</td>
                <td>Appointment Date:</td>
            </tr>
            <tr>
                <td>Facility Name:</td>
                <td>City:</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>State:</td>
            </tr>
            <tr>
                <td>Department/Status (active, provisional, courtesy, temporary, etc.):</td>
                <td>Appointment Date:</td>
            </tr>
            <tr>
                <td>Facility Name:</td>
                <td>City:</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>State:</td>
            </tr>
            <tr>
                <td>Department/Status (active, provisional, courtesy, temporary, etc.):</td>
                <td>Appointment Date:</td>
            </tr>
            <tr>
                <td>Facility Name:</td>
                <td>City:</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>State:</td>
            </tr>
            <tr>
                <td>Department/Status (active, provisional, courtesy, temporary, etc.):</td>
                <td>Appointment Date:</td>
            </tr>
            <tr>
                <td>Facility Name:</td>
                <td>City:</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>State:</td>
            </tr>
            <tr>
                <td>Department/Status (active, provisional, courtesy, temporary, etc.):</td>
                <td>Appointment Date:</td>
            </tr>
            <tr>
                <td>Facility Name:</td>
                <td>City:</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>State:</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-3">
    <div class="section-title">B. PREVIOUS HOSPITAL AND OTHER INSTITUTION AFFILIATIONS</div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="2">Name & Mailing Address of Other Facility:</td>
                <td>City:</td>
                <td>State:</td>
                <td>Zip:</td>
            </tr>
            <tr>
                <td>From: (mm/yy)</td>
                <td>To: (mm/yy)</td>
                <td colspan="3">Reason for Leaving:</td>
            </tr>
            <tr>
                <td colspan="2">Name & Mailing Address of Other Facility:</td>
                <td>City:</td>
                <td>State:</td>
                <td>Zip:</td>
            </tr>
            <tr>
                <td>From: (mm/yy)</td>
                <td>To: (mm/yy)</td>
                <td colspan="3">Reason for Leaving:</td>
            </tr>
            <tr>
                <td colspan="2">Name & Mailing Address of Other Facility:</td>
                <td>City:</td>
                <td>State:</td>
                <td>Zip:</td>
            </tr>
            <tr>
                <td>From: (mm/yy)</td>
                <td>To: (mm/yy)</td>
                <td colspan="3">Reason for Leaving:</td>
            </tr>
        </tbody>
    </table>
    
    <div class="section-title">PEER REFERENCES</div>
    <p>List three professional references, preferably from your specialty area, not including relatives, current partners or associates in practice. If possible, include at least one member from the Medical Staff at the facility where membership is requested. <strong>NOTE:</strong> References must be from individuals who are directly familiar with your work, either via direct clinical observation or through close working relations.</p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Name of Reference:</td>
                <td>Specialty:</td>
                <td>Telephone Number: ( )</td>
                <td>Fax Number: ( )</td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td>City:</td>
                <td>State:</td>
                <td>Zip:</td>
            </tr>
            <tr>
                <td>Name of Reference:</td>
                <td>Specialty:</td>
                <td>Telephone Number: ( )</td>
                <td>Fax Number: ( )</td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td>City:</td>
                <td>State:</td>
                <td>Zip:</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Name of Reference:</td>
                <td></td>
                <td>Specialty:</td>
                <td></td>
                <td>Zip:</td>
                <td></td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td></td>
                <td>State:</td>
                <td></td>
                <td>Zip:</td>
                <td></td>
            </tr>
            <tr>
                <td>Name of Reference:</td>
                <td></td>
                <td>Specialty:</td>
                <td></td>
                <td>Telephone Number:</td>
                <td>( )</td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td></td>
                <td>State:</td>
                <td></td>
                <td>Zip:</td>
                <td></td>
            </tr>
            <tr>
                <td>Name of Reference:</td>
                <td></td>
                <td>Specialty:</td>
                <td></td>
                <td>Telephone Number:</td>
                <td>( )</td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td></td>
                <td>State:</td>
                <td></td>
                <td>Zip:</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="section-title">WORK HISTORY</div>
    <p>Chronologically list all work history activities since completion of postgraduate training (attach additional sheet if necessary). This information must be complete. A curriculum vitae is not sufficient. Please explain any gaps on a separate page.</p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Current Practice:</td>
                <td></td>
                <td>Contact Name:</td>
                <td></td>
                <td>Telephone Number:</td>
                <td>( )</td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td></td>
                <td>State:</td>
                <td></td>
                <td>Zip:</td>
                <td></td>
            </tr>
            <tr>
                <td>From: (mm/yy)</td>
                <td></td>
                <td>To: (mm/yy)</td>
                <td></td>
            </tr>
            <tr>
                <td>Name of Practice/Employer:</td>
                <td></td>
                <td>Contact Name:</td>
                <td></td>
                <td>Telephone Number:</td>
                <td>( )</td>
            </tr>
            <tr>
                <td>Mailing Address:</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>City:</td>
                <td></td>
                <td>State:</td>
                <td></td>
                <td>Zip:</td>
                <td></td>
            </tr>
            <tr>
                <td>From: (mm/yy)</td>
                <td></td>
                <td>To: (mm/yy)</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <div class="section-title">
        DELINEATION OF CLINICAL PRIVILEGES
    </div>
    <div class="content-box">
        <p>Please complete Addendum A-Privilege Request Form(s)</p>
    </div>
    <div class="footer-text">
        <p>Printed Name of Practitioner: ____________________________________________</p>
        <p>Memorial Medical Centers Medical Staff Application 10/05</p>
    </div>
    <div class="page-number">
        5
    </div>
    <hr>
    <div class="section-title">
        ATTESTATION QUESTIONS
    </div>
    <div class="content-box">
        <p>Please answer the following questions “yes” or “no.” If your answer to any of the following questions is “yes”, please provide full details on a separate sheet.</p>
        <p><strong>INITIAL APPLICANTS:</strong> In answering the following questions, initial applicants should consider all events prior to the submission of the application.</p>
        <p><strong>APPLICANTS FOR REAPPOINTMENT:</strong> In answering the following questions, members who are applying for reappointment should only consider events that have occurred since the last time the member <em>submitted</em> an application (whether it was an initial appointment or reappointment application) to the Medical Center.</p>
    </div>
</div>
<div class="container mt-4">
    <div class="question">
        <p><strong>A.</strong></p>
        <p>1. Has your license to practice medicine or any other health profession, your ability to supervise physician assistants, your Drug Enforcement Administration (DEA) registration or an applicable narcotic registration in any jurisdiction been denied, limited, restricted, suspended, revoked, not renewed, or subject to probationary conditions?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
    <div class="question">
        <p>2. Have you voluntarily or involuntarily relinquished any health professional license, medical license or registration or voluntarily or involuntarily accepted any restriction or condition on such license or registration?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
    <div class="question">
        <p>3. Have you been fined or received a letter of reprimand, or are you currently under investigation, or have you been notified that any such action is being considered regarding any of your health professional licenses or your DEA registration?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
    <div class="question">
        <p><strong>B.</strong> Have you been charged, suspended, fined, disciplined, or otherwise sanctioned, subjected to probationary conditions, restricted or excluded by Medicare, Medicaid, or any program funded in part or in whole by the federal government, or have you been notified that any such action is being considered?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
    <div class="question">
        <p><strong>C.</strong></p>
        <p>1. Has your medical staff membership ever been voluntarily or involuntarily terminated, limited, reduced, or have you experienced a loss of clinical privileges?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
    <div class="question">
        <p>2. Have you been denied clinical privileges, membership, contractual participation or employment by any medical organization (e.g., hospital medical staff, medical group, independent practice association (IPA), health plan, health maintenance organization (HMO), preferred provider organization (PPO), private payor (including those that contract with public programs), medical society, professional association, medical school faculty position or other health delivery entity or system for reasons of possible incompetence, improper professional conduct, breach of contract or for a medical disciplinary cause or reason?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
    <div class="question">
        <p>3. Have your clinical privileges, membership, participation or employment at any medical organization ever been denied, limited, restricted, suspended, revoked, reduced, not renewed, or subject to probationary conditions, or are you aware that any such action has been proposed or recommended for reasons of possible incompetence, improper professional conduct, breach of contract or for a medical disciplinary cause or reason?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
    <div class="question">
        <p><strong>D.</strong> Have you surrendered, allowed to expire, or voluntarily or involuntarily withdrawn your medical staff membership or clinical privileges while under investigation or before a recommendation or decision was made by a hospital or health care facility medical staff or governing board?</p>
        <label>Yes <input type="checkbox"></label>
        <label>No <input type="checkbox"></label>
    </div>
</div>
<div class="container mt-4">
    <div class="question">
        <p>D. 1. Have you surrendered, allowed to expire, or voluntarily or involuntarily withdrawn your medical staff membership or clinical privileges or a request for medical staff membership or clinical privileges at any time while under investigation for possible incompetence, improper professional conduct, or for medical disciplinary cause or reason?</p>
        <div class="options">
            <label><input type="checkbox"> Yes</label>
            <label><input type="checkbox"> No</label>
        </div>
    </div>
    <div class="question">
        <p>2. Have you surrendered, allowed to expire, or voluntarily withdrawn your medical staff membership or clinical privileges in return for not conducting an investigation for possible incompetence, improper professional conduct, or for a medical disciplinary cause or reason?</p>
        <div class="options">
            <label><input type="checkbox"> Yes</label>
            <label><input type="checkbox"> No</label>
        </div>
    </div>
    <div class="question">
        <p>3. Are you aware of whether an investigation for possible incompetence, improper professional conduct, or for a medical disciplinary cause or reason has been proposed against you?</p>
        <div class="options">
            <label><input type="checkbox"> Yes</label>
            <label><input type="checkbox"> No</label>
        </div>
    </div>
    <div class="question">
        <p>4. Have you terminated your contractual participation or employment, or resigned from any medical organization (e.g., hospital, medical staff, medical group, IPA), health plan, HMO, PPO, private payor (including those that contract with public programs), medical society, professional association, medical school or faculty position or other health delivery entity or system at any time while under investigation for possible incompetence or improper professional conduct or medical disciplinary cause or reason, or breach of contract, or in return for such an investigation not being conducted?</p>
        <div class="options">
            <label><input type="checkbox"> Yes</label>
            <label><input type="checkbox"> No</label>
        </div>
    </div>
    <div class="question">
        <p>E. Have you surrendered, voluntarily withdrawn, or been requested or compelled to relinquish your status as a student in good standing in any health professional education program, internship, residency, fellowship, preceptorship, or other clinical education program?</p>
        <div class="options">
            <label><input type="checkbox"> Yes</label>
            <label><input type="checkbox"> No</label>
        </div>
    </div>
    <div class="question">
        <p>F. Has your membership or fellowship in any local, county, state, regional, national or international professional organization ever been revoked, denied, restricted, suspended, limited, made subject to probationary conditions, or not renewed, or have you been notified that any such action is being considered?</p>
        <div class="options">
            <label><input type="checkbox"> Yes</label>
            <label><input type="checkbox"> No</label>
        </div>
    </div>
    <div class="question">
        <p>G. Have you been denied certification / recertification by a specialty board, or has your eligibility, certification, or recertification status changed (other than changing from eligible to certified), or have you been notified that any such change to your certification or recertification status has been considered?</p>
        <div class="options">
            <label><input type="checkbox"> Yes</label>
            <label><input type="checkbox"> No</label>
        </div>
    </div>
    <div class="footer">
        <div>Printed Name of Practitioner: __________________________________________</div>
    </div>
</div>
<div class="container mt-4">
    <form>
        <div class="mb-3">
            <label>H. Have you been convicted of any crime (other than a minor traffic violation)?</label>
            <div>
                <label class="checkbox-label"><input type="checkbox"> Yes</label>
                <label class="checkbox-label"><input type="checkbox"> No</label>
            </div>
        </div>
        <div class="mb-3">
            <label>I. Do you presently use drugs illegally or have you used drugs illegally in the last year?</label>
            <div>
                <label class="checkbox-label"><input type="checkbox"> Yes</label>
                <label class="checkbox-label"><input type="checkbox"> No</label>
            </div>
        </div>
        <div class="mb-3">
            <label>J. 1. Have any judgments been entered against you, or settlements been agreed to by you in professional liability cases?</label>
            <div>
                <label class="checkbox-label"><input type="checkbox"> Yes</label>
                <label class="checkbox-label"><input type="checkbox"> No</label>
            </div>
        </div>
        <div class="mb-3">
            <label>2. Have any professional liability lawsuits and/or arbitrations been filed against you and served on you?</label>
            <div>
                <label class="checkbox-label"><input type="checkbox"> Yes</label>
                <label class="checkbox-label"><input type="checkbox"> No</label>
            </div>
        </div>
        <div class="mb-3">
            <p>(Please complete <strong>Addendum B</strong> regardless of responses to question J)</p>
        </div>
        <div class="mb-3">
            <label>K. Has your professional liability insurance, including tail or nose coverage, ever been denied, terminated, not renewed, restricted, or modified, (e.g. reduced limits, restricted coverage, coverage of procedures, or surcharged)? Has any professional liability insurance carrier provided you with written notice of any intent to deny, cancel, not renew or limit your professional liability insurance or its coverage of any procedures?</label>
            <div>
                <label class="checkbox-label"><input type="checkbox"> Yes</label>
                <label class="checkbox-label"><input type="checkbox"> No</label>
            </div>
        </div>
        <div class="mb-3">
            <p>I hereby affirm that the information submitted in this section (<strong>Attestation Questions</strong>) and any addenda I have attached is true, current, correct, and complete to the best of my knowledge and belief and is furnished in good faith. I understand that material omissions or misrepresentations may result in denial of my application or termination of my Medical Staff membership or clinical privileges.</p>
        </div>
        <div class="signature-section">
            <div class="row">
                <div class="col-md-6">
                    <label>Signature:</label>
                    <p>(A stamped signature is not acceptable)</p>
                </div>
                <div class="col-md-6">
                    <label>Date:</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td colspan="4"><strong>HEALTH STATUS</strong></td>
                    </tr>
                    <tr>
                        <td colspan="4">Please complete Addendum C.</td>
                    </tr>
                    <tr>
                        <th colspan="4">PROFESSIONAL LIABILITY</th>
                    </tr>
                    <tr>
                        <td>Current Insurance carrier:</td>
                        <td>Policy Number:</td>
                        <td>Original Effective Date:</td>
                    </tr>
                    <tr>
                        <td>Mailing Address:</td>
                        <td>City:</td>
                        <td>State:</td>
                        <td>Zip:</td>
                    </tr>
                    <tr>
                        <td>Per Claim Amount: $</td>
                        <td>Aggregate Amount: $</td>
                        <td>Exp Date:</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Please list all of your professional liability carriers for the past five years:</strong></td>
                    </tr>
                    <tr>
                        <td>Name of Carrier:</td>
                        <td>Policy Number:</td>
                        <td>From: (mm/yy)</td>
                        <td>To: (mm/yy)</td>
                    </tr>
                    <tr>
                        <td>Mailing Address:</td>
                        <td>City:</td>
                        <td>State:</td>
                        <td>Zip:</td>
                    </tr>
                    <tr>
                        <td>Name of Carrier:</td>
                        <td>Policy Number:</td>
                        <td>From: (mm/yy)</td>
                        <td>To: (mm/yy)</td>
                    </tr>
                    <tr>
                        <td>Mailing Address:</td>
                        <td>City:</td>
                        <td>State:</td>
                        <td>Zip:</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <div class="section-title">CONTINUING MEDICAL EDUCATION (CME)</div>
            <div class="content">
                <p><strong>LBMMC, MCH, SMMC AND QCMMC:</strong> PLEASE ATTACH DOCUMENTATION OF CONTINUING MEDICAL EDUCATION (CME) CATEGORY I CREDIT ACTIVITIES FOR THE PAST TWO (2) YEARS (A MINIMUM OF 50 CONTINUING EDUCATION UNITS IS REQUIRED).</p>
                <p><strong>AMMC ONLY:</strong> PLEASE ATTACH DOCUMENTATION OF CONTINUING MEDICAL EDUCATION (CME) ACTIVITIES APPROPRIATE TO PRIVILEGES REQUESTED.</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="section-title">PRACTITIONER ACTIVITY/CONTRIBUTION PROFILE</div>
            <div class="content">
                <p><strong>LBMMC/MCH Only:</strong> Please complete Addendum D.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="line"></div>
        <p>Printed Name of Practitioner: ____________________________________________</p>
    </div>
</div>
<div class="container">
    <h1>INFORMATION RELEASE/ACKNOWLEDGMENTS</h1>
    
    <h2>I. CONSENT FOR RELEASE OF INFORMATION:</h2>
    <p>I hereby consent to the disclosure, inspection and copying of information and documents relating to my credentials and qualifications (Credentialing Information) by and between the Medical Center's Medical Staff and other Healthcare Organizations (e.g., hospital medical staffs, medical groups, independent practice associations (IPAs), health plans, health maintenance organizations (HMOs), preferred provider organizations (PPOs), other health delivery systems or entities, medical societies, professional associations, medical schools, training programs, professional liability insurance companies (with respect to certification of coverage and claims history), licensing authorities, and businesses and individuals acting as their agents, (collectively, “Healthcare Organizations.”) for the purpose of evaluating this application and any re-credentialing application regarding my professional training, experience, character, conduct, judgment, ethics, and ability to work with others. In this regard, the utmost care shall be taken to safeguard the privacy of patients and the confidentiality of patient records, and to protect credentialing information from being further disclosed.</p>
    
    <h2>II. AGREEMENT TO COOPERATE:</h2>
    <p>I understand and agree that it is my duty and ethical responsibility as an individual healthcare provider and as an applicant or medical staff member to cooperate with and assist the Medical Staff and the Medical Center in evaluating not only my professional qualifications but also those of my colleagues. I agree to appear before the Medical Staff's officers and committees for interviews and inquiries at reasonable times and places. During such time as this application is being processed, I agree to update the application should there be any change in the information provided.</p>
    
    <h2>III. IMMUNITY AND RELEASE OF LIABILITY:</h2>
    <p>I am informed and acknowledge that federal and state laws provide immunity protections to certain individuals and entities for their acts and/or communications in connection with evaluating the qualifications of healthcare providers. I hereby release all persons and entities, including the Medical Center and its Medical Staff, engaged in quality review, peer review and credentialing on behalf of the Hospital and its Medical Staff, and all persons and entities who provide credentialing information to any representative of the Hospital and its Medical Staff, from any liability they might incur for their acts and/or communications in connection with evaluation of my qualifications for participation in the Medical Staff, to the extent that those acts and/or communications are protected by state or federal law. I hereby acknowledge that the Medical Staff Bylaws provide for immunity from civil liability.</p>
    
    <h2>IV. NOTIFICATION REQUIREMENTS:</h2>
    <p>I agree to notify the Medical Center and its Medical Staff, to the extent required by the Medical Staff Bylaws and Rules and Regulations, in writing, promptly and no later than the timelines defined in the Bylaws and Rules, of the occurrence of any of the following:</p>
    <ul>
        <li>Any disciplinary or corrective action taken, proposed or recommended at another hospital; or</li>
        <li>Any judgments or settlements of professional liability actions; or</li>
    </ul>
</div>
<p>
    - Any adverse action against me by any Healthcare Organization which has resulted in the filing of an 805 report with the Medical Board of California, any state medical board report or a report to the National Practitioner Data Bank; or<br>
    - the denial, revocation, suspension, reduction, limitation, non-renewal or voluntary relinquishment by resignation of my medical staff membership or clinical privileges at any Health Care Organization; or<br>
    - any reduction in my professional liability insurance coverage (e.g., reduced limits, restricted coverage, coverage of procedures surcharged); or<br>
    - my receipt of written notice of any legal action against me, including, without limitation, any filed and served malpractice suit or arbitration action; or<br>
    - my conviction of any crime (excluding minor traffic violations); or<br>
    - my receipt of written notice of any adverse action against me by the Medicare or Medicaid programs or any program funded in part or in whole by the federal government, including but not limited to, fraud and abuse proceedings or convictions.
</p>
<p>
    I further agree to furnish complete details to the Medical Staff Services Department regarding any of the above.
</p>
<div class="section-title">V. AFFIRMATIONS:</div>
<div class="affirmations">
    <p>BY MY SIGNATURE BELOW, I HEREBY ACKNOWLEDGE, AFFIRM AND AGREE TO THE FOLLOWING:</p>
    <ol type="A">
        <li>
            THAT THE INFORMATION SUBMITTED IN THIS APPLICATION AND ANY ADDENDA I ATTACHED (INCLUDING MY CURRICULUM VITAE, IF ATTACHED) IS TRUE, CURRENT, CORRECT, AND COMPLETE TO THE BEST OF MY KNOWLEDGE AND BELIEF AND IS FURNISHED IN GOOD FAITH.
        </li>
        <li>
            THAT I UNDERSTAND THAT MATERIAL OMISSIONS OR MISREPRESENTATIONS MAY RESULT IN DENIAL OF MY APPLICATION OR TERMINATION OF MY PRIVILEGES.
        </li>
        <li>
            THAT I HAVE READ AND UNDERSTAND THE INFORMATION CONTAINED IN THIS INFORMATION RELEASE/ACKNOWLEDGEMENTS FORM AND I AGREE TO COMPLY WITH EACH OF MY DUTIES AND OBLIGATIONS LISTED ABOVE ACCORDINGLY.
        </li>
        <li>
            THAT I WILL NOT PARTICIPATE IN ANY FORM OF FEE SPLITTING OR OTHER INDUCEMENTS RELATING TO PATIENT REFERRALS.
        </li>
    </ol>
</div>
<div class="container">
    <div class="text-center mt-3">
        <p>A PHOTOCOPIED/FAXED COPY OF THIS DOCUMENT SHALL BE AS EFFECTIVE AS THE ORIGINAL</p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div>
                    <p>Signature: <span class="signature-line"></span></p>
                    <p>(A stamped signature is not acceptable)</p>
                </div>
                <div>
                    <p>Date: <span class="signature-line"></span></p>
                </div>
            </div>
            <p>Printed Name of Practitioner: <span class="signature-line" style="width: 400px;"></span></p>
            <p>Memorial Medical Centers Medical Staff Application 10/05</p>
        </div>
    </div>
    <div class="dotted-line"></div>
    <div class="section-title">
        <p>MEDICAL STAFF CONFIDENTIALITY AGREEMENT AND BYLAWS ATTESTATION</p>
    </div>
    <div class="content">
        <p><strong>I. CONFIDENTIALITY AGREEMENT:</strong> As a member of the Medical Center's Medical Staff (Medical Staff) involved in the evaluation and improvement of the quality of care rendered in the hospital, I recognize that confidentiality is vital to the free and candid discussions necessary to conduct effective medical staff peer review activities. Therefore, I understand and agree that I shall maintain the confidentiality of information with respect to any practitioner submitted, collected or prepared by any representative of this or any other health care facility or organization or Medical Staff for the purpose of achieving and maintaining quality patient care, reducing morbidity and mortality, or contributing to clinical research and determining that health care services are professionally indicated and performed in compliance with the applicable standards of care. Further, I shall not disseminate such information to anyone other than a representative of the Medical Center or a Memorial Health Services system hospital nor use it in any way except as provided herein or except as otherwise required by law. Furthermore,</p>
    </div>
</div>
<p>
    I understand and agree that such confidentiality shall also extend to peer review letters and information of like kind that may be provided by third parties. This information shall not become part of any particular patient's file or of the general Medical Center records.
</p>
<p>
    Furthermore, my participation in peer review and quality review activities is based on my belief that the confidentiality of these activities will be similarly preserved by every other member of the Medical Staff or other individual involved. I understand the Medical Center and the Medical Staff are entitled to undertake such action as is deemed appropriate to ensure that this confidentiality is maintained, including action necessitated by any breach or threatened breach of this agreement.
</p>
<p>
    I understand that practitioner-specific patient care statistics are collected and utilized for internal performance improvement use only.
</p>
<p>
    I hereby expressly agree to the sharing of any and all medical staff peer review and quality review information by and between all the hospitals in the Memorial Health Services system.
</p>
<p class="section-title">II. BYLAWS ATTESTATION:</p>
<p>
    I understand I have access to the Medical Staff Bylaws of Medical Center, the Medical Staff Rules and Regulations, the Medical Center's Board of Directors or Governing Body Bylaws and all Medical Staff and clinical policies in the Medical Center's Medical Staff Office. I agree to be bound by all of those documents in all matters relating to the consideration of my application for reappointment to the Medical Staff without regard to whether or not I am granted membership or clinical privileges. <span class="sub-section-title">INITIAL APPLICANTS ONLY:</span> In addition, I acknowledge that I have received a copy of the Medical Staff Bylaws and Rules and Regulations with my initial application for Medical Staff membership.
</p>
<p>
    I will serve as an observer or proctor if requested and qualified; and I agree to submit to all requirements of the observation/proctoring program to include review of my cases if and when necessary.
</p>
<p class="section-title">III. INFORMATION DOCUMENTATION:</p>
<p>
    I have received and reviewed the orientation materials which include, but are not limited to, the Environment of Care and Infection Control policies.
</p>
<p class="signature">
    BY MY SIGNATURE BELOW, I ACKNOWLEDGE THAT I HAVE READ AND UNDERSTAND THE
</p>
<div class="container mt-5">
    <p>
        BY MY SIGNATURE BELOW, I ACKNOWLEDGE THAT I HAVE READ AND UNDERSTAND THE INFORMATION CONTAINED IN THIS MEDICAL STAFF CONFIDENTIALITY AGREEMENT AND BYLAWS ATTESTATION FORM AND AFFIRM THAT EACH STATEMENT IS TRUE AND CORRECT. FURTHER, I AGREE TO COMPLY WITH EACH OF MY DUTIES AND OBLIGATIONS LISTED.
    </p>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="signature-box"></div>
            <div class="signature-label">Practitioner's Signature</div>
        </div>
        <div class="col-md-6">
            <div class="signature-box"></div>
            <div class="signature-label">Date</div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="signature-box"></div>
            <div class="signature-label">Printed Name</div>
        </div>
    </div>
    <div class="footer mt-5">
        <p>Printed Name of Practitioner: ____________________________________________</p>
        <p>Memorial Medical Centers Medical Staff Application 10/05</p>
    </div>
</div>
<style>
  body {
          font-family: Arial, sans-serif;
      }
      .header {
          text-align: center;
          font-weight: bold;
          margin-top: 20px;
      }
      .instructions {
          background-color: black;
          color: white;
          padding: 10px;
          font-weight: bold;
      }
      .instructions-content {
          padding: 10px;
          border: 1px solid black;
      }
      .identifying-info {
          background-color: black;
          color: white;
          padding: 10px;
          font-weight: bold;
      }
      .form-group {
          margin-bottom: 10px;
      }
      .checkbox-group {
          display: flex;
          justify-content: space-between;
      }
      .checkbox-group div {
          flex: 1;
      }
      .checkbox-group div img {
          display: block;
          margin: 0 auto;
      }
</style>
<style>
    .form-table {
        width: 100%;
        border-collapse: collapse;
    }
    .form-table th, .form-table td {
        border: 1px solid black;
        padding: 5px;
    }
    .form-table th {
        background-color: black;
        color: white;
        text-align: left;
    }
    .form-table input[type="text"], .form-table input[type="email"], .form-table input[type="tel"] {
        width: 100%;
        box-sizing: border-box;
    }
    .form-table .checkbox-inline {
        display: inline-block;
        margin-right: 10px;
    }
</style>
<style>
    .table-header {
        background-color: black;
        color: white;
        font-weight: bold;
    }
    .table-bordered td, .table-bordered th {
        border: 1px solid black;
    }
    input[type="text"] {
        width: 100%;
        border: none;
        box-sizing: border-box;
    }
</style>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .table-bordered th, .table-bordered td {
        border: 1px solid black !important;
    }
    .table th, .table td {
        padding: 5px;
    }
    .table th {
        background-color: black;
        color: white;
    }
    .checkbox {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .header {
        background-color: black;
        color: white;
        padding: 10px;
        font-weight: bold;
    }
    .table-bordered th, .table-bordered td {
        border: 1px solid black;
    }
    .table th, .table td {
        padding: 5px;
    }
</style>
<style>
    .section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .content-box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 20px;
    }
    .footer-text {
        font-size: 12px;
    }
    .page-number {
        text-align: right;
        font-size: 18px;
    }
</style>
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
    .section-title {
        background-color: black;
        color: white;
        padding: 5px;
        font-weight: bold;
    }
    .content {
        padding: 10px;
    }
    .footer {
        margin-top: 20px;
        font-size: 12px;
    }
    .footer .line {
        border-top: 1px solid black;
        margin-top: 10px;
    }
</style>
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 20px;
    }
    h1 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
    }
    p {
        text-align: justify;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
</style>
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 12px;
    }
    .signature-line {
        border-top: 1px solid black;
        width: 200px;
        display: inline-block;
        margin-top: 10px;
    }
    .dotted-line {
        border-top: 1px dotted black;
        margin: 20px 0;
    }
    .section-title {
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content {
        margin: 0 20px;
    }
    .content p {
        text-align: justify;
    }
</style>
