<div class="container">
    <h2 class="text-center">Minnesota Uniform Credentialing Application Reappointment</h2>
    <h3 class="text-center">Physician/Dentist/AlliedHealth Professional</h3>
    <div class="mb-3">
        <label><strong>Applicant Name:</strong></label>
        <span>AABEDI, CHANTELLE</span>
    </div>
    <div class="bordered-box">
        <div class="row">
            <div class="col-md-6">
                <label><strong>CREDENTIALING CONTACT INFORMATION</strong></label>
                <div>
                    <label>Name:</label>
                    <span>Chantelle, Aabedi</span>
                </div>
                <div>
                    <label>Address:</label>
                    <span>3967 FOOTHILL BLVD</span><br>
                    <span>LA CRESCENTA</span><br>
                    <span>912141621</span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label>Phone Number:</label>
                    <span>8182487333</span>
                </div>
                <div>
                    <label>Fax Number:</label>
                    <span>( ) -</span>
                </div>
                <div>
                    <label>Email:</label>
                    <span>_________________________</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bordered-box">
        <label><strong>This Box to be completed by Allied Health Professionals Only</strong></label>
        <div>
            <label>Profession/Title:</label>
            <span>_________________________</span>
        </div>
        <div>
            <label>Sponsoring/Collaborative Physician:</label>
            <span>_________________________</span>
        </div>
        <div>
            <label>(if Applicable)</label>
        </div>
    </div>
    <div class="instructions">
        <h4>Instructions</h4>
        <p>The recredentialing application and attachments should be typed, legibly printed in black ink, or electronically generated. If more space is needed than provided on the application, please attach additional sheets and reference the question being answered. Please do not use abbreviations when completing the application. Please mark all non-applicable sections with N/A.</p>
        <h5>Please verify that you have</h5>
        <ul class="checkbox-list">
            <li>☐ Provided complete street addresses wherever indicated, including past employment, hospital affiliations and references</li>
            <li>☐ Designated dates by month and year time frames</li>
            <li>☐ Answered all of the Disclosure Questions on Pages 7 and 8 and enclosed explanations for affirmative answers</li>
        </ul>
    </div>
</div>  
<div class="container">
    <p class="text-center">Signed and dated the Authorization and Release (Page 9)</p>
    <p class="text-center">All Information Must Be Printed in Black Ink, Typed or Electronically Generated</p>
    
    <div class="section-title">Personal Data</div>
    
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" value="AABEDI" readonly>
        <input type="text" class="form-control" id="name" value="CHANTELLE" readonly>
        <input type="text" class="form-control" id="name" value="" readonly>
        <input type="text" class="form-control" id="name" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="maidenName">Maiden/Former/Other Name(s):</label>
        <input type="text" class="form-control" id="maidenName" value="" readonly>
        <label for="dob">Date of Birth:</label>
        <input type="text" class="form-control" id="dob" value="1/3/1993" readonly>
    </div>
    
    <div class="form-group">
        <label for="ssn">Social Security Number:</label>
        <input type="text" class="form-control" id="ssn" value="610-72-6597" readonly>
        <label for="upin">UPIN or NPI:</label>
        <input type="text" class="form-control" id="upin" value="1740895150" readonly>
    </div>
    
    <div class="form-group">
        <label for="medicaidNumber">Medicaid Number:</label>
        <input type="text" class="form-control" id="medicaidNumber" value="" readonly>
        <label for="medicareNumber">Medicare Number:</label>
        <input type="text" class="form-control" id="medicareNumber" value="" readonly>
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="homeAddress">Current Home Address:</label>
        <input type="text" class="form-control" id="homeAddress" value="" readonly>
        <input type="text" class="form-control" id="homeAddress" value="" readonly>
        <input type="text" class="form-control" id="homeAddress" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="preferredMailingAddress">Preferred Mailing Address:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="office" value="option1">
            <label class="form-check-label" for="office">Office</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="home" value="option2">
            <label class="form-check-label" for="home">Home</label>
        </div>
        <label for="email">Practitioner's Preferred E-mail address:</label>
        <input type="text" class="form-control" id="email" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="pagerNumber">Pager Number:</label>
        <input type="text" class="form-control" id="pagerNumber" value="" readonly>
        <label for="homePhoneNumber">Home Phone Number:</label>
        <input type="text" class="form-control" id="homePhoneNumber" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="language">Do you speak a language other than English with sufficient fluency to treat patients who speak only that language?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="yes" value="option1">
            <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="no" value="option2">
            <label class="form-check-label" for="no">No</label>
        </div>
    </div>
    
    <div class="form-group">
        <label for="specifyLanguages">If yes, specify languages:</label>
        <input type="text" class="form-control" id="specifyLanguages" value="" readonly>
    </div>
    
    <div class="section-title">Primary or Pending Practice Location</div>
    
    <div class="section-title">Additional Practice Location(s)</div>
    
    <div class="form-group">
        <label for="otherPracticeName">Other Practice Name:</label>
        <input type="text" class="form-control" id="otherPracticeName" value="" readonly>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" class="form-control" id="phoneNumber" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" value="" readonly>
        <input type="text" class="form-control" id="address" value="" readonly>
        <input type="text" class="form-control" id="address" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="emailAddress">E-mail Address:</label>
        <input type="text" class="form-control" id="emailAddress" value="" readonly>
        <label for="faxNumber">Fax Number:</label>
        <input type="text" class="form-control" id="faxNumber" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="taxIdNumber">Federal Tax ID Number (if different from primary):</label>
        <input type="text" class="form-control" id="taxIdNumber" value="" readonly>
    </div>
    
    <div class="form-group">
        <label for="credentialingContact">Credentialing Contact:</label>
        <input type="text" class="form-control" id="credentialingContact" value="" readonly>
        <label for="phoneNumber2">Phone Number:</label>
        <input type="text" class="form-control" id="phoneNumber2" value="" readonly>
    </div>
</div>
<div class="container">
    <div class="form-section">
        <label>Currently practicing at this location?</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="practicingYes">
            <label class="form-check-label" for="practicingYes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="practicingNo">
            <label class="form-check-label" for="practicingNo">No</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Start Date:</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <label>If yes, will you continue to practice at this location?</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="continueYes">
            <label class="form-check-label" for="continueYes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="continueNo">
            <label class="form-check-label" for="continueNo">No</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>If no, last date of employment:</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <label>Specialty/Subspecialty in which care will be provided:</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-section">
        <label>Fellowship/Post-Graduate/Professional Training (If additional space is required, attach a separate sheet.)</label>
        <hr>
        <label>(Month and year required)</label>
        <div class="row">
            <div class="col-md-6">
                <label>From:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label>To:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <label>Institution Name:</label>
        <input type="text" class="form-control">
        <label>Type of Program/Specialty (transitional, rotating, 5th pathway, etc.):</label>
        <input type="text" class="form-control">
        <label>Completed Training:</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="trainingYes">
            <label class="form-check-label" for="trainingYes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="trainingNo">
            <label class="form-check-label" for="trainingNo">No</label>
        </div>
        <label>If no, expected completion date:</label>
        <input type="text" class="form-control">
        <label>If not successfully completed, explain:</label>
        <input type="text" class="form-control">
        <label>Address:</label>
        <input type="text" class="form-control">
        <div class="row">
            <div class="col-md-4">
                <label>Street:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label>City/State/Country:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label>Zip Code:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <label>Program Director:</label>
        <input type="text" class="form-control">
        <div class="row">
            <div class="col-md-6">
                <label>Phone Number:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label>Fax Number:</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-section">
        <label>Professional and Academic/Faculty Affiliations (If additional space is required, attach a separate sheet.)</label>
        <hr>
        <label>(Month and year required)</label>
        <div class="row">
            <div class="col-md-6">
                <label>From:</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label>To:</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div> 
<div class="container">
    <div class="form-section">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="institutionName">Institution name:</label>
                <input type="text" class="form-control" id="institutionName">
            </div>
            <div class="col-md-6">
                <label for="appointmentPosition">Appointment Held/Position:</label>
                <input type="text" class="form-control" id="appointmentPosition">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber">
            </div>
            <div class="col-md-6">
                <label for="faxNumber">Fax Number:</label>
                <input type="text" class="form-control" id="faxNumber">
            </div>
        </div>
    </div>
    <div class="form-section">
        <p><strong>Chronological Employment/Practice History (include Military Service)</strong>(Additional space is provided on the Chronological Employment/Practice History Addendum. You may make extra copies of page 12 for additional employments.)</p>
        <p>Chronological listing [month/year] of employment/practice history since your last reappointment. List all experience, including military service and public health, time out of medical practice in pursuit of other business or professional activities, sabbaticals, parenting, personal travel, personal crisis, etc. LEAVE NO GAPS IN CHRONOLOGY. (Month and year required)</p>
        <hr>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="fromDate1">From:</label>
                <input type="text" class="form-control" id="fromDate1">
            </div>
            <div class="col-md-6">
                <label for="toDate1">To:</label>
                <input type="text" class="form-control" id="toDate1">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="organizationName1">Organization Name/Activity:</label>
                <input type="text" class="form-control" id="organizationName1">
            </div>
            <div class="col-md-6">
                <label for="reasonForLeaving1">Reason for Leaving:</label>
                <input type="text" class="form-control" id="reasonForLeaving1">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="contactName1">Contact Name:</label>
                <input type="text" class="form-control" id="contactName1">
            </div>
            <div class="col-md-6">
                <label for="clinicOpen1">Clinic Still Open?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clinicOpen1" id="clinicOpenYes1" value="yes">
                    <label class="form-check-label" for="clinicOpenYes1">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clinicOpen1" id="clinicOpenNo1" value="no">
                    <label class="form-check-label" for="clinicOpenNo1">No</label>
                </div>
                <p>If no, attach sheet listing address and phone number of someone who can verify you time there.</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="address1">Address:</label>
                <input type="text" class="form-control" id="address1">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="phoneNumber1">Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber1">
            </div>
            <div class="col-md-6">
                <label for="faxNumber1">Fax Number:</label>
                <input type="text" class="form-control" id="faxNumber1">
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="fromDate2">From:</label>
                <input type="text" class="form-control" id="fromDate2">
            </div>
            <div class="col-md-6">
                <label for="toDate2">To:</label>
                <input type="text" class="form-control" id="toDate2">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="organizationName2">Organization Name/Activity:</label>
                <input type="text" class="form-control" id="organizationName2">
            </div>
            <div class="col-md-6">
                <label for="reasonForLeaving2">Reason for Leaving:</label>
                <input type="text" class="form-control" id="reasonForLeaving2">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="contactName2">Contact Name:</label>
                <input type="text" class="form-control" id="contactName2">
            </div>
            <div class="col-md-6">
                <label for="clinicOpen2">Clinic Still Open?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clinicOpen2" id="clinicOpenYes2" value="yes">
                    <label class="form-check-label" for="clinicOpenYes2">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clinicOpen2" id="clinicOpenNo2" value="no">
                    <label class="form-check-label" for="clinicOpenNo2">No</label>
                </div>
                <p>If no, attach sheet listing address and phone number of someone who can verify you time there.</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="address2">Address:</label>
                <input type="text" class="form-control" id="address2">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="phoneNumber2">Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber2">
            </div>
            <div class="col-md-6">
                <label for="faxNumber2">Fax Number:</label>
                <input type="text" class="form-control" id="faxNumber2">
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="form-section">
        <h6>Explain gaps/interruptions of greater than three (3) months to practice of medicine/professional practice (if additional space is required, attach a separate sheet):</h6>
        <div class="row">
            <div class="col-md-6">
                <label for="from">From:</label>
                <input type="date" id="from" name="from">
            </div>
            <div class="col-md-6">
                <label for="to">To:</label>
                <input type="date" id="to" name="to">
            </div>
        </div>
        <label for="explain">Explain:</label>
        <input type="text" id="explain" name="explain">
    </div>

    <div class="form-section">
        <h6>Primary Hospital Affiliation (pertinent to Primary or Pending Practice Location listed on page 2)</h6>
        <p>If no hospital admitting privileges, describe method/coverage for continuity of care. Please provide covering physician's name, if applicable.</p>
        <input type="text" name="covering_physician" placeholder="Covering Physician's Name">
        <div class="row">
            <div class="col-md-6">
                <label for="primary_from">From:</label>
                <input type="date" id="primary_from" name="primary_from">
            </div>
            <div class="col-md-6">
                <label for="primary_to">To:</label>
                <input type="date" id="primary_to" name="primary_to">
            </div>
        </div>
        <label for="facility_name">Facility Name:</label>
        <input type="text" id="facility_name" name="facility_name">
        <label for="privilege_type">Type/category of privilege/affiliation (active, etc.):</label>
        <input type="text" id="privilege_type" name="privilege_type">
        <label for="department_name">Department Name:</label>
        <input type="text" id="department_name" name="department_name">
        <label for="admitting_privileges">Admitting Privileges:</label>
        <div>
            <input type="checkbox" id="admitting_yes" name="admitting_privileges" value="yes">
            <label for="admitting_yes">Yes</label>
            <input type="checkbox" id="admitting_no" name="admitting_privileges" value="no">
            <label for="admitting_no">No</label>
        </div>
        <div>
            <input type="checkbox" id="application_pending" name="application_pending" value="pending">
            <label for="application_pending">Application pending</label>
        </div>
        <label for="department_chairperson">Department Chairperson:</label>
        <input type="text" id="department_chairperson" name="department_chairperson">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="Street">
        <input type="text" id="city_state_country" name="city_state_country" placeholder="City/State/Country">
        <input type="text" id="zip_code" name="zip_code" placeholder="Zip Code">
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number">
        <label for="fax_number">Fax Number:</label>
        <input type="text" id="fax_number" name="fax_number">
    </div>

    <div class="form-section">
        <h6>Other Hospital Affiliations-Present and past affiliations beginning with most recent. (Additional space is provided on the Hospital Affiliation Addendum. You may make extra copies of page 12 for additional affiliations.)</h6>
        <p>(Month and year required)</p>
        <div class="row">
            <div class="col-md-6">
                <label for="other_from">From:</label>
                <input type="date" id="other_from" name="other_from">
            </div>
            <div class="col-md-6">
                <label for="other_to">To:</label>
                <input type="date" id="other_to" name="other_to">
            </div>
        </div>
        <label for="other_facility_name">Facility Name:</label>
        <input type="text" id="other_facility_name" name="other_facility_name">
        <label for="other_privilege_type">Type/category of privilege/affiliation:</label>
        <input type="text" id="other_privilege_type" name="other_privilege_type">
        <label for="other_admitting_privileges">Admitting Privileges:</label>
        <div>
            <input type="checkbox" id="other_admitting_yes" name="other_admitting_privileges" value="yes">
            <label for="other_admitting_yes">Yes</label>
            <input type="checkbox" id="other_admitting_no" name="other_admitting_privileges" value="no">
            <label for="other_admitting_no">No</label>
        </div>
        <label for="other_department_name">Department Name:</label>
        <input type="text" id="other_department_name" name="other_department_name">
        <label for="other_department_chairperson">Department Chairperson:</label>
        <input type="text" id="other_department_chairperson" name="other_department_chairperson">
        <label for="other_address">Address:</label>
        <input type="text" id="other_address" name="other_address" placeholder="Street">
        <input type="text" id="other_city_state_country" name="other_city_state_country" placeholder="City/State/Country">
        <input type="text" id="other_zip_code" name="other_zip_code" placeholder="Zip Code">
        <label for="other_phone_number">Phone Number:</label>
        <input type="text" id="other_phone_number" name="other_phone_number">
        <label for="other_fax_number">Fax Number:</label>
        <input type="text" id="other_fax_number" name="other_fax_number">
    </div>
</div>
<div class="container">
    <div class="form-section">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="applicationPending">
            <label class="form-check-label" for="applicationPending">
                Application Pending
            </label>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" id="street">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cityStateCountry">City/State/Country</label>
                    <input type="text" class="form-control" id="cityStateCountry">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" id="zip">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" id="phoneNumber">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="faxNumber">Fax Number:</label>
                    <input type="text" class="form-control" id="faxNumber">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="hospitalChange">If hospital changed name, list current name and address.</label>
            <textarea class="form-control" id="hospitalChange"></textarea>
        </div>
    </div>

    <div class="form-section">
        <h5>Specialty/Subspecialty Certification</h5>
        <hr>
        <div class="form-group">
            <label for="certifyingBoard">Certifying Board</label>
            <input type="text" class="form-control" id="certifyingBoard">
        </div>
        <div class="form-group">
            <label for="specialtySubspecialty">Specialty/Subspecialty</label>
            <input type="text" class="form-control" id="specialtySubspecialty">
        </div>
        <div class="form-group">
            <label for="dateCertified">Date Certified</label>
            <input type="text" class="form-control" id="dateCertified">
        </div>
        <div class="form-group">
            <label for="dateRecertified">Date Recertified</label>
            <input type="text" class="form-control" id="dateRecertified">
        </div>
        <div class="form-group">
            <label for="expirationDate">Expiration Date</label>
            <input type="text" class="form-control" id="expirationDate">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="certPending">
            <label class="form-check-label" for="certPending">
                Cert Pending
            </label>
        </div>
        <div class="form-group">
            <label for="certificationIntent">If not certified, please state your intent for certification and describe the status of your efforts and eligibility, including scheduled date of exam, past failures of written or oral exams, if any.</label>
            <textarea class="form-control" id="certificationIntent"></textarea>
        </div>
    </div>

    <div class="form-section">
        <h5>Licensure-List all past, current and pending professional licenses.</h5>
        <hr>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state">
        </div>
        <div class="form-group">
            <label for="licenseNumber">License Number</label>
            <input type="text" class="form-control" id="licenseNumber">
        </div>
        <div class="form-group">
            <label for="dateIssued">Date Issued</label>
            <input type="text" class="form-control" id="dateIssued">
        </div>
        <div class="form-group">
            <label for="expirationDateLicense">Expiration Date</label>
            <input type="text" class="form-control" id="expirationDateLicense">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="active">
            <label class="form-check-label" for="active">
                Active
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inactivePending">
            <label class="form-check-label" for="inactivePending">
                InActivePending
            </label>
        </div>
        <div class="form-group">
            <label for="state2">State</label>
            <input type="text" class="form-control" id="state2" value="CA">
        </div>
        <div class="form-group">
            <label for="licenseNumber2">License Number</label>
            <input type="text" class="form-control" id="licenseNumber2" value="105490">
        </div>
        <div class="form-group">
            <label for="dateIssued2">Date Issued</label>
            <input type="text" class="form-control" id="dateIssued2" value="9/10/2020">
        </div>
        <div class="form-group">
            <label for="expirationDateLicense2">Expiration Date</label>
            <input type="text" class="form-control" id="expirationDateLicense2" value="3/31/2023">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="active2" checked>
            <label class="form-check-label" for="active2">
                Active
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="inactivePending2">
            <label class="form-check-label" for="inactivePending2">
                InActivePending
            </label>
        </div>
    </div>

    <div class="form-section">
        <h5>Drug Enforcement Administration Registration</h5>
        <hr>
        <div class="form-group">
            <label for="deaNumber">DEA Number:</label>
            <input type="text" class="form-control" id="deaNumber" value="FA9933816">
        </div>
        <div class="form-group">
            <label for="stateDea">State:</label>
            <input type="text" class="form-control" id="stateDea" value="FL">
        </div>
        <div class="form-group">
            <label for="expirationDateDea">Expiration Date:</label>
            <input type="text" class="form-control" id="expirationDateDea" value="6/30/2023">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="approvedSchedules" checked>
            <label class="form-check-label" for="approvedSchedules">
                Approved for all schedules?
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="notApprovedSchedules">
            <label class="form-check-label" for="notApprovedSchedules">
                No, please explain:
            </label>
        </div>
    </div>

    <div class="form-section">
        <h5>Liability Insurance Carrier for Primary and Pending Practice Location</h5>
        <hr>
        <div class="form-group">
            <label for="liabilityInsurance">Copy of professional liability insurance coverage (e.g., face sheet/verification of self-insurance) for</label>
            <textarea class="form-control" id="liabilityInsurance"></textarea>
        </div>
    </div>
</div>  
<div class="container">
    <h1 class="text-center">California Participating Physician Reapplication</h1>
    <div class="section-title">Coverage dates:</div>
    <div class="row">
        <div class="col-md-6">
            <label>From:</label>
            <input type="text" class="form-control" value="9/2020">
        </div>
        <div class="col-md-6">
            <label>To:</label>
            <input type="text" class="form-control" value="9/2021">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label>Insurance Carrier Name:</label>
            <input type="text" class="form-control" value="The Dentist Insurance Company">
        </div>
        <div class="col-md-6">
            <label>Address:</label>
            <input type="text" class="form-control" value="1201 K Street 17th Floor, Sacramento/CA/United States, 95814">
        </div>
    </div>
    <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" value="" id="certificatePending">
        <label class="form-check-label" for="certificatePending">
            Certificate Pending
        </label>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label>Name in which policy issued:</label>
            <input type="text" class="form-control" value="CHANTELLE AABEDI">
        </div>
        <div class="col-md-6">
            <label>Policy number:</label>
            <input type="text" class="form-control" value="0000013908">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label>Expiration Date:</label>
            <input type="text" class="form-control" value="9/14/2021">
        </div>
        <div class="col-md-6">
            <label>Amount of coverage (per occurrence/aggregate):</label>
            <input type="text" class="form-control" value="$1,000,000">
        </div>
    </div>
    <div class="section-title">Continuing Education Attestation</div>
    <p>Please read the following attestation carefully before signing and dating the statement.</p>
    <div class="border-box">
        <p>I hereby certify that I have a sufficient number of CE credits to meet the licensure requirements and attest that an appropriate percentage relate to my specialty. I understand that these credits may be audited by an individual facility based on their individual requirements.</p>
        <div class="signature-box">
            <label>Signature:</label>
            <input type="text" class="form-control">
        </div>
        <div class="signature-box">
            <label>Name:</label>
            <input type="text" class="form-control">
        </div>
        <div class="signature-box">
            <label>Date:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="section-title">Professional/Peer References</div>
    <p>List three (3) professional peers who have personal knowledge of your <strong>current (within the past 12 months)</strong> clinical skills, abilities, judgment, professional performance, and clinical competence or have been responsible for the professional observation of your work. A peer is defined as an individual in the same professional discipline with essentially equal qualifications (MD and DO are considered equivalent; DDS/DMD for DDS/DMD; DPM for DPM; PhD for PhD, etc.) Limit to one (1) current office associate. Do not include your residency director, fellowship director, relatives, or pending partners. At least one reference should be in your specialty (and if possible from the same subspecialty). Provide current and complete addresses. References will be evaluated according to the extent of their direct clinical observation of your work and other knowledge of you.</p>
    <div class="reference-box">
        <label>Name:</label>
        <input type="text" class="form-control">
    </div>
    <div class="reference-box">
        <label>Title:</label>
        <input type="text" class="form-control">
    </div>
</div>
<div class="container">
    <div class="form-section">
        <label>Facility Name:</label>
        <input type="text">
        <label>Address:</label>
        <div class="form-row">
            <div class="form-group">
                <label>Street</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>City/State/Country</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input type="text">
            </div>
        </div>
        <label>Phone Number:</label>
        <input type="text">
        <label>Fax Number:</label>
        <input type="text">
        <label>Email Address:</label>
        <input type="text">
        <label>Name:</label>
        <input type="text">
        <label>Title:</label>
        <input type="text">
    </div>
    <div class="form-section">
        <label>Facility Name:</label>
        <input type="text">
        <label>Address:</label>
        <div class="form-row">
            <div class="form-group">
                <label>Street</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>City/State/Country</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input type="text">
            </div>
        </div>
        <label>Phone Number:</label>
        <input type="text">
        <label>Fax Number:</label>
        <input type="text">
        <label>Email Address:</label>
        <input type="text">
        <label>Name:</label>
        <input type="text">
        <label>Title:</label>
        <input type="text">
    </div>
    <div class="form-section">
        <label>Facility Name:</label>
        <input type="text">
        <label>Address:</label>
        <div class="form-row">
            <div class="form-group">
                <label>Street</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>City/State/Country</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input type="text">
            </div>
        </div>
        <label>Phone Number:</label>
        <input type="text">
        <label>Fax Number:</label>
        <input type="text">
        <label>Email Address:</label>
        <input type="text">
        <label>Name:</label>
        <input type="text">
        <label>Title:</label>
        <input type="text">
    </div>
    <div class="form-section">
        <h5>Life Support Certification</h5>
        <label>Do you have any current life support certifications (BLS, CPR, ACLS, ATLS, etc.)?</label>
        <div class="form-row">
            <div class="form-group">
                <label>Yes</label>
                <input type="checkbox">
            </div>
            <div class="form-group">
                <label>No</label>
                <input type="checkbox">
            </div>
        </div>
        <label>Life Drop Down Types = PALS</label>
        <label>if yes:</label>
        <div class="form-row">
            <div class="form-group">
                <label>Type of Certification</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>Expiration date(s)</label>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="form-section">
        <h5>Disclosure Questions for Initial Credentialing</h5>
        <p>Please provide a complete explanation if any of the following questions are answered in the affirmative. Use a separate sheet to continue, if necessary.</p>
    </div>
</div>
<div class="container">
    <div class="question">
        <p>1. <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q1yes">
            <label class="form-check-label" for="q1yes">yes</label>
        </span>
        <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q1no">
            <label class="form-check-label" for="q1no">no</label>
        </span>
        In the past three years, has your <strong>professional license or registration</strong> been terminated, stipulated, restricted, limited, conditioned, suspended, revoked, refused, voluntarily relinquished or not renewed by any licensing board or any health-related agency organization, or is there a review pending?</p>
        <hr>
    </div>
    <div class="question">
        <p>2. <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q2yes">
            <label class="form-check-label" for="q2yes">yes</label>
        </span>
        <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q2no">
            <label class="form-check-label" for="q2no">no</label>
        </span>
        In the past three years, has your <strong>professional license or registration</strong> been investigated or is it currently being investigated and, if so, what were the results?</p>
        <hr>
    </div>
    <div class="question">
        <p>3. <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q3yes">
            <label class="form-check-label" for="q3yes">yes</label>
        </span>
        <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q3no">
            <label class="form-check-label" for="q3no">no</label>
        </span>
        Has your <strong>DEA registration</strong> ever been revoked, suspended, limited, or conditioned in any way, or have you voluntarily relinquished your DEA registration, or is there a review pending?</p>
        <hr>
    </div>
    <div class="question">
        <p>4. <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q4yes">
            <label class="form-check-label" for="q4yes">yes</label>
        </span>
        <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q4no">
            <label class="form-check-label" for="q4no">no</label>
        </span>
        In the past three years, has your <strong>membership, participation, clinical privileges, or employment</strong> been denied, terminated, stipulated, restricted, refused, limited, suspended, revoked, or not renewed by any peer review organization, third party payer, clinic, hospital, medical staff, or any health-related agency or organization, or is there a review pending?</p>
        <hr>
    </div>
    <div class="question">
        <p>5. <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q5yes">
            <label class="form-check-label" for="q5yes">yes</label>
        </span>
        <span class="form-check">
            <input class="form-check-input" type="checkbox" id="q5no">
            <label class="form-check-label" for="q5no">no</label>
        </span>
        In the past three years, have you voluntarily relinquished your <strong>membership, participation, clinical privileges</strong> or request for privileges, employment, professional license, or registration in lieu of disciplinary action, or prior to or during an investigation into your professional conduct or competency?</p>
        <hr>
    </div>
    <div class="question">
        <div class="question-number">6.</div>
        <div class="question-options">
            <input type="checkbox" id="q6-yes"> <label for="q6-yes">yes</label>
            <input type="checkbox" id="q6-no"> <label for="q6-no">no</label>
        </div>
        <div class="question-text">
            In the past three years, have you involuntarily relinquished your membership, participation, clinical privileges or request for privileges, employment, professional license or registration?
        </div>
    </div>
    <div class="question">
        <div class="question-number">7.</div>
        <div class="question-options">
            <input type="checkbox" id="q7-yes"> <label for="q7-yes">yes</label>
            <input type="checkbox" id="q7-no"> <label for="q7-no">no</label>
        </div>
        <div class="question-text">
            In the past three years, has your membership or fellowship in any professional organization or your specialty board certification been voluntarily or involuntarily denied, terminated, restricted, limited, suspended or revoked?
        </div>
    </div>
    <div class="question">
        <div class="question-number">8.</div>
        <div class="question-options">
            <input type="checkbox" id="q8-yes"> <label for="q8-yes">yes</label>
            <input type="checkbox" id="q8-no"> <label for="q8-no">no</label>
        </div>
        <div class="question-text">
            In the past three years, have you been reprimanded, censored, or otherwise disciplined by, or have you ever been subject to a corrective action agreement/plan with any licensing board, peer review organization, third party payer, clinic, hospital, medical staff, or any health-related agency or organization?
        </div>
    </div>
    <div class="question">
        <div class="question-number">9.</div>
        <div class="question-options">
            <input type="checkbox" id="q9-yes"> <label for="q9-yes">yes</label>
            <input type="checkbox" id="q9-no"> <label for="q9-no">no</label>
        </div>
        <div class="question-text">
            In the past three years, has your certificate or participation in any private, federal (i.e. Medicare, Medicaid, etc.) or state health insurance program been revoked or otherwise limited or restricted, or is any investigation or proceeding with respect to any such action presently underway?
        </div>
    </div>
    <div class="question">
        <div class="question-number">10.</div>
        <div class="question-options">
            <input type="checkbox" id="q10-yes"> <label for="q10-yes">yes</label>
            <input type="checkbox" id="q10-no"> <label for="q10-no">no</label>
        </div>
        <div class="question-text">
            Are there any charges pending or are you currently charged with or have you, in the past three years, been indicted or found guilty of a felony, gross misdemeanor, misdemeanor (other than a minor traffic violation), or other offense?
        </div>
    </div>
</div>
<div class="container">
    <div class="question">
        <span class="question-number">11.</span>
        <div class="options">
            <label><input type="checkbox"> yes</label>
            <label><input type="checkbox"> no</label>
        </div>
        <div class="question-text">
            In the past three years, have you been found liable, guilty or responsible for sexual impropriety or misconduct or sexual harassment with a patient, co-worker, or other?
        </div>
        <div class="answer-line"></div>
    </div>
    <div class="question">
        <span class="question-number">12.</span>
        <div class="options">
            <label><input type="checkbox"> yes</label>
            <label><input type="checkbox"> no</label>
        </div>
        <div class="question-text">
            In the past three years, have you had any professional liability claims or lawsuits brought against you including pending claims or lawsuits, dismissed or dropped claims or lawsuits, settlements or final judgments? If yes, please complete the enclosed Malpractice Litigation and Professional Complaints Addendum. You may be asked for additional information by individual organizations.
        </div>
        <div class="answer-line"></div>
    </div>
    <div class="question">
        <span class="question-number">13.</span>
        <div class="options">
            <label><input type="checkbox"> yes</label>
            <label><input type="checkbox"> no</label>
        </div>
        <div class="question-text">
            In the past three years, has your professional liability carrier refused or canceled your coverage or excluded you from performing any specific privileges within your specialty?
        </div>
        <div class="answer-line"></div>
    </div>
    <div class="question">
        <span class="question-number">14.</span>
        <div class="options">
            <label><input type="checkbox"> yes</label>
            <label><input type="checkbox"> no</label>
        </div>
        <div class="question-text">
            In the past three years, have you practiced within your profession without professional liability insurance?
        </div>
        <div class="answer-line"></div>
    </div>
    <div class="question">
        <span class="question-number">15.</span>
        <div class="options">
            <label><input type="checkbox"> yes</label>
            <label><input type="checkbox"> no</label>
        </div>
        <div class="question-text">
            Does your use (or have you been told that your use) of alcohol or drugs affect your ability, with or without reasonable accommodation, to provide appropriate care to patients and otherwise perform the essential functions in your area of practice without posing a health risk to your patients? If yes, what accommodations would help you provide appropriate care to patients and perform other essential functions?
        </div>
        <div class="answer-line"></div>
    </div>
</div>
<div class="container">
    <div class="question">
        <label>16. 
            <input type="checkbox" class="checkbox-inline"> yes 
            <input type="checkbox" class="checkbox-inline"> no 
            Does your use (or have you been told that your use) of alcohol or drugs affect your ability, with or without reasonable accommodation, to provide appropriate care to patients and otherwise perform the essential functions in your area of practice without posing a health risk to your patients? If yes, what accommodations would help you provide appropriate care to patients and perform other essential functions?
        </label>
        <div class="mt-2">
            <div class="signature-line"></div>
        </div>
    </div>
    <div class="question">
        <label>17. 
            <input type="checkbox" class="checkbox-inline"> yes 
            <input type="checkbox" class="checkbox-inline"> no 
            Are you currently using illegal drugs? (A Currently@ means sufficiently recent to justify a reasonable belief that the use of drugs may have an ongoing impact on ones ability to practice medicine. All legal use of drugs@ refers to drugs whose possession or distribution is unlawful under the Controlled Substances Act, 21 U.S.C. sec. 812.22. It Adoes not include the use of a drug taken under supervision by a licensed health care professional, or other uses authorized by the Controlled Substances Act or other provision of Federal law.@ The term does include, however, the unlawful use of prescription controlled substances)
        </label>
        <div class="mt-2">
            <div class="signature-line"></div>
        </div>
    </div>
    <div class="signature-section">
        <h5>Notice of Applicant's Rights</h5>
        <p>You may review your application and information from publicly available documents at any time during the verification process. This does not include documents protected by hospital policy and/or applicable Minnesota state laws. If there are discrepancies in the information received during the process, you will be notified and allowed an opportunity to add information to your application.</p>
    </div>
    <div class="signature-section">
        <h5>Attestation Signature and Date</h5>
        <p>I hereby certify that all the information on this application form is complete, true and accurate. I further agree to update this information as necessary so that it remains complete, true and accurate while my application is being processed.</p>
        <p>Signature: <span class="signature-line"></span> Date: <span class="signature-line"></span></p>
        <p>Name: AABEDI CHANTELLE</p>
    </div>
</div>
<div class="container">
    <div class="section-title">Application Attestation Update</div>
    <div class="section-subtitle">The signature blocks below are to be signed ONLY if a previous completed application is being reviewed and updated</div>
    
    <div class="content">
        <div class="section-title">Application Attestation Update</div>
        <p>The application was designed so that a practitioner need complete it in its entirety only once. If application is then made to another organization which accepts this Initial Credentialing Application and it has been more than 60 days since the practitioner completed or updated the application, the practitioner may do the following:</p>
        <ul>
            <li>Review the application</li>
            <li>Make any needed modification</li>
            <li>Sign one of the attestation blocks below, reconfirming that the application is complete, true and accurate.</li>
        </ul>
        <p>Please note: It is particularly important that the Disclosure Questions be reviewed and any changes made with appropriate documentation included.</p>
    </div>
    
    <div class="signature-block">
        <div class="section-title">Update Attestation Signature and Date</div>
        <p>I have reviewed and updated all of the information on this application, including the Disclosure Questions, and I certify it is complete, true and accurate.</p>
        <p>Signature: <span class="signature-line"></span> Date: <span class="signature-line"></span></p>
    </div>
    
    <div class="signature-block">
        <div class="section-title">Update Attestation Signature and Date</div>
        <p>I have reviewed and updated all of the information on this application, including the Disclosure Questions, and I certify it is complete, true and accurate.</p>
        <p>Signature: <span class="signature-line"></span> Date: <span class="signature-line"></span></p>
    </div>
    
    <div class="signature-block">
        <div class="section-title">Update Attestation Signature and Date</div>
        <p>I have reviewed and updated all of the information on this application, including the Disclosure Questions, and I certify it is complete, true and accurate.</p>
        <p>Signature: <span class="signature-line"></span> Date: <span class="signature-line"></span></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-center">I have reviewed and updated all of the information on this application, including the Disclosure Questions, and I certify it is complete, true and accurate.</p>
            <p class="text-center">Signature:<span class="signature-line"></span> Date:<span class="date-line"></span></p>
            <div class="content">
                <h2>Authorization and Release</h2>
                <p class="text-center"><em>(Please read carefully before signing)</em></p>
                <p>I understand and acknowledge that, as an applicant for membership, participation and/or clinical privileges (hereinafter, referred to as "Participation") at ______________________, hereafter referred to as Entity, it is my responsibility to provide sufficient information upon which a proper evaluation can be undertaken of my current licensure, relevant training and/or experience, current competence, health status, character, ethics and any other criteria adopted by the Entity for Participation.</p>
                <p>I further acknowledge that I am responsible for knowing the contents of the applicable bylaws, rules and regulations, and requirements of the Entity and its professional/medical staff/network, and agree to be bound by them in the application process and if granted Participation.</p>
                <p>I further understand and acknowledge that the Entity, its designated agent(s) and/or other authorized representatives, including, without limitation, the Entity’s designated professional credentials verification organization (CVO), collectively referred to as "Agents", will investigate the information in this Application. By submitting this Application, I agree to such investigation and to the disciplinary reporting and information exchange activities of the Entity and its Agents as follows:</p>
                <ol>
                    <li><strong>Authorization of Investigation and Release of Information Concerning Application for Participation.</strong> I authorize the Entity and its Agents to consult with any third party who may have information bearing on my professional qualifications, credentials, clinical competence, character, mental condition, physical condition, alcohol or chemical dependency diagnosis and treatment, ethics, behavior, or any other matter reasonably having a bearing on my qualifications for Participation and authorize such third parties to release such information to the Entity and its Agents.</li>
                    <li><strong>Authorization of Release and Exchange of Disciplinary Information.</strong> I hereby further authorize any health care organization at which I have applied for, currently have or had Participation or employment to release Disciplinary Information about me to the Entity and/or its Agents, including, without limitation, the CVO, and as otherwise may be required by law. I hereby further authorize the CVO to release Disciplinary Information about me to any intermediary action taken against me to its participating entities at which I have Participation, as otherwise may be required by law. As used herein, Disciplinary Information includes any information about disciplinary action taken by such health care organization or its medical staff which may be reasonably considered to have a bearing on my professional qualifications, clinical competence, character, mental condition, physical condition, alcohol or chemical dependency diagnosis and treatment, ethics, behavior, or any other matter reasonably having a bearing on my qualifications for Participation.</li>
                </ol>
            </div>
        </div>
    </div>
</div>  
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <p>Release from Liability. I hereby further release from liability the Entity and its Agents, state licensing board(s), health care organizations, including, without limitation, hospitals, clinics, and third party payers, medical malpractice insurance carrier(s), and any staff, and all individuals, institutions and entities providing information in accordance with this authorization, for their acts performed in good faith and without malice in connection with the gathering and release and exchange of information as consented to above. This release shall be in addition to any other applicable immunities provided by law for peer review activities.</p>
                <p>I understand and agree that the CVO or Entity may communicate with me via e-mail over the Internet regarding my application for credentialing. I understand that unencrypted, unauthorized Internet e-mail is inherently insecure. I further understand that Internet messages may be corrupted or incomplete, or may incorrectly identify the sender.</p>
                <p>I understand and agree that this Authorization and Release is irrevocable for any period during which I am an applicant for Participation at the Entity, or I am a member of Entity’s medical or health care staff, or a participating provider of the Entity. I agree to execute another consent if law or regulation limits the application of this irrevocable authorization. Failure to promptly provide another consent may be grounds for termination or discipline of the Participant by the Entity in accordance with the applicable bylaws, rules and regulations, and requirements of the Entity.</p>
                <p>I acknowledge that the investigation of information in this Application and the release and exchange of Disciplinary Information by the Entity and its Agents are done to achieve, maintain and improve quality patient care.</p>
                <p>All information provided by me in the Application is true to the best of my knowledge and belief. I understand and agree that any material misstatement in or omission from the Application may constitute grounds for denial or revocation of Participation. I understand and acknowledge that the Entity shall be solely responsible for all decisions concerning the granting of Participation.</p>
                <p>I further acknowledge that I have read and understand the foregoing Authorization and Release. A photocopy of this Authorization and Release shall be as effective as the original.</p>
                <div class="signature">
                    <p>Signature: ___________________________________________ Date: ___/___/___</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-section">
        <label>Name (please print or type):</label>
        <input type="text" class="form-control" value="AABEDI CHANTELLE" readonly>
    </div>
    <div class="form-section text-center">
        <p class="form-title">Malpractice Litigation and Professional Complaints Addendum</p>
        <p class="form-subtitle">Confidential Information</p>
        <p>If you answered yes to disclosure question #12 on Current Disclosure question page, please complete the following form. For each lawsuit or complaint, please furnish the following and attach a copy of the complaint including your response to the complaint and level of participation. It is your responsibility to provide external verification (i.e., statement from an attorney, court records, etc.) of your response. You may choose to have your attorney complete this form. Please make additional copies of this form if needed.</p>
    </div>
    <div class="form-section">
        <label>Month/Year of incident</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-section">
        <label>Where incident occurred</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-section">
        <label>Describe the nature of incident (Complaint, Allegation) - Do Not Include Patient Name or Identifiers</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-section">
        <label>Provide a narrative description of your participation/level of care</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-section">
        <div class="checkbox-group">
            <label><input type="checkbox"> Pending</label>
            <label><input type="checkbox"> Dropped/Settled/Closed - no payment</label>
            <label><input type="checkbox"> Verdict for you - no payment</label>
            <label><input type="checkbox"> Settled/Closed - with payment, amount: <input type="text" class="form-control d-inline-block" style="width: 150px;"></label>
            <label><input type="checkbox"> Verdict for plaintiff, amount: <input type="text" class="form-control d-inline-block" style="width: 150px;"></label>
            <label><input type="checkbox"> Dismissed with prejudice</label>
            <label><input type="checkbox"> Dismissed without prejudice</label>
            <label>Date Closed: <input type="text" class="form-control d-inline-block" style="width: 100px;"></label>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-section">
        <label for="insurance-name">Insurance company that provided coverage for this claim:</label>
        <input type="text" id="insurance-name" name="insurance-name">
    </div>
    <div class="form-section">
        <label for="insurance-address">Address:</label>
        <input type="text" id="insurance-address" name="insurance-address">
    </div>
    <div class="form-section">
        <label for="insurance-phone">Phone Number:</label>
        <input type="text" id="insurance-phone" name="insurance-phone">
    </div>
    <div class="form-section">
        <label for="policy-number">Policy Number:</label>
        <input type="text" id="policy-number" name="policy-number">
    </div>
    <div class="form-section">
        <label for="signature">Signature:</label>
        <input type="text" id="signature" name="signature">
    </div>
    <div class="form-section">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    </div>
    <div class="form-section">
        <label for="print-name">Print Name:</label>
        <input type="text" id="print-name" name="print-name">
    </div>
    <div class="form-section">
        <label for="phone-number">Phone Number:</label>
        <input type="text" id="phone-number" name="phone-number">
    </div>
    <h2 class="text-center">Chronologic Employment/Practice History Addendum</h2>
    <p class="text-center">(Please make as many extra copies as necessary)</p>
    <div class="form-section">
        <label for="from-date">Month and year required</label>
        <div class="form-group">
            <label for="from-date">From:</label>
            <input type="date" id="from-date" name="from-date">
        </div>
        <div class="form-group">
            <label for="to-date">To:</label>
            <input type="date" id="to-date" name="to-date">
        </div>
    </div>
    <div class="form-section">
        <label for="organization-name">Organization Name/Activity:</label>
        <input type="text" id="organization-name" name="organization-name">
    </div>
    <div class="form-section">
        <label for="reason-for-leaving">Reason for leaving:</label>
        <input type="text" id="reason-for-leaving" name="reason-for-leaving">
    </div>
    <div class="form-section">
        <label for="contact-name">Contact Name:</label>
        <input type="text" id="contact-name" name="contact-name">
    </div>
    <div class="form-section">
        <label>Clinic still open?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="clinic-open" id="clinic-open-yes" value="yes">
            <label class="form-check-label" for="clinic-open-yes">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="clinic-open" id="clinic-open-no" value="no">
            <label class="form-check-label" for="clinic-open-no">No</label>
        </div>
    </div>
    <div class="form-section">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address">
    </div>
    <div class="form-section">
        <label for="phone-number">Phone Number:</label>
        <input type="text" id="phone-number" name="phone-number">
    </div>
    <div class="form-section">
        <label for="fax-number">Fax Number:</label>
        <input type="text" id="fax-number" name="fax-number">
    </div>
    <div class="form-section">
        <label>Attach sheet listing address and phone number of someone who can verify your time there.</label>
    </div>
</div>
<div class="container">
    <div class="form-section">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="contactName">Contact Name:</label>
                    <input type="text" class="form-control" id="contactName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Clinic still open?</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="clinicOpenYes">
                        <label class="form-check-label" for="clinicOpenYes">yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="clinicOpenNo">
                        <label class="form-check-label" for="clinicOpenNo">no</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" id="phoneNumber">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="faxNumber">Fax Number:</label>
                    <input type="text" class="form-control" id="faxNumber">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>If no, attach sheet listing address and phone number of someone who can verify your time there.</label>
        </div>
    </div>

    <div class="form-section">
        <h5>Hospital Affiliation Addendum</h5>
        <div class="form-group">
            <label for="fromDate">From:</label>
            <input type="text" class="form-control" id="fromDate">
        </div>
        <div class="form-group">
            <label for="toDate">To:</label>
            <input type="text" class="form-control" id="toDate">
        </div>
        <div class="form-group">
            <label>Admitting Privileges:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="admittingPrivilegesYes">
                <label class="form-check-label" for="admittingPrivilegesYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="admittingPrivilegesNo">
                <label class="form-check-label" for="admittingPrivilegesNo">No</label>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="applicationPending">
            <label class="form-check-label" for="applicationPending">Application Pending</label>
        </div>
        <div class="form-group">
            <label for="facilityName">Facility Name:</label>
            <input type="text" class="form-control" id="facilityName">
        </div>
        <div class="form-group">
            <label>If hospital changed name, list current name and address.</label>
        </div>
        <div class="form-group">
            <label for="privilegeType">Type/category of privilege/affiliation:</label>
            <input type="text" class="form-control" id="privilegeType">
        </div>
        <div class="form-group">
            <label for="departmentName">Department Name:</label>
            <input type="text" class="form-control" id="departmentName">
        </div>
        <div class="form-group">
            <label for="departmentChairperson">Department Chairperson:</label>
            <input type="text" class="form-control" id="departmentChairperson">
        </div>
        <div class="form-group">
            <label for="facilityAddress">Address:</label>
            <input type="text" class="form-control" id="facilityAddress">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="facilityPhoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" id="facilityPhoneNumber">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="facilityFaxNumber">Fax Number:</label>
                    <input type="text" class="form-control" id="facilityFaxNumber">
                </div>
            </div>
        </div>
    </div>

    <div class="form-section">
        <div class="form-group">
            <label for="fromDate2">From:</label>
            <input type="text" class="form-control" id="fromDate2">
        </div>
        <div class="form-group">
            <label for="toDate2">To:</label>
            <input type="text" class="form-control" id="toDate2">
        </div>
        <div class="form-group">
            <label>Admitting Privileges:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="admittingPrivilegesYes2">
                <label class="form-check-label" for="admittingPrivilegesYes2">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="admittingPrivilegesNo2">
                <label class="form-check-label" for="admittingPrivilegesNo2">No</label>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="applicationPending2">
            <label class="form-check-label" for="applicationPending2">Application Pending</label>
        </div>
        <div class="form-group">
            <label for="facilityName2">Facility Name:</label>
            <input type="text" class="form-control" id="facilityName2">
        </div>
        <div class="form-group">
            <label>If hospital changed name, list current name and address.</label>
        </div>
        <div class="form-group">
            <label for="privilegeType2">Type/category of privilege/affiliation:</label>
            <input type="text" class="form-control" id="privilegeType2">
        </div>
        <div class="form-group">
            <label for="departmentName2">Department Name:</label>
            <input type="text" class="form-control" id="departmentName2">
        </div>
        <div class="form-group">
            <label for="departmentChairperson2">Department Chairperson:</label>
            <input type="text" class="form-control" id="departmentChairperson2">
        </div>
        <div class="form-group">
            <label for="facilityAddress2">Address:</label>
            <input type="text" class="form-control" id="facilityAddress2">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="facilityPhoneNumber2">Phone Number:</label>
                    <input type="text" class="form-control" id="facilityPhoneNumber2">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="facilityFaxNumber2">Fax Number:</label>
                    <input type="text" class="form-control" id="facilityFaxNumber2">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
  body {
      font-family: Arial, sans-serif;
      margin: 20px;
  }
  .bordered-box {
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 20px;
  }
  .instructions {
      margin-top: 20px;
  }
  .checkbox-list {
      list-style-type: none;
      padding-left: 0;
  }
  .checkbox-list li {
      margin-bottom: 5px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: black;
  }
  .container {
      margin-top: 20px;
  }
  .section-title {
      font-weight: bold;
      border-bottom: 1px solid black;
      margin-top: 20px;
      margin-bottom: 10px;
  }
  .form-group {
      margin-bottom: 10px;
  }
  .form-control {
      display: inline-block;
      width: auto;
      margin-right: 10px;
  }
  .form-check-label {
      margin-right: 20px;
  }
</style>
<style>
  body {
      margin: 20px;
  }
  .form-section {
      margin-bottom: 20px;
  }
  .form-section hr {
      border-top: 1px solid black;
  }
  .form-section label {
      font-weight: bold;
  }
  .form-section input[type="text"], .form-section input[type="date"] {
      width: 100%;
      margin-bottom: 10px;
  }
  .form-section .form-check {
      display: inline-block;
      margin-right: 10px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      margin: 20px;
  }
  .section-title {
      font-weight: bold;
      margin-top: 20px;
  }
  .border-box {
      border: 1px solid black;
      padding: 10px;
      margin-top: 10px;
  }
  .signature-box {
      margin-top: 10px;
  }
  .reference-box {
      margin-top: 20px;
  }
</style>
<style>
  body {
      font-family: Arial, sans-serif;
      margin: 20px;
  }
  .question {
      margin-bottom: 20px;
  }
  .question p {
      margin-bottom: 10px;
  }
  .question .form-check {
      display: inline-block;
      margin-right: 10px;
  }
  .question hr {
      border: 1px solid black;
  }
</style>
