 <div class="enc-content">
  <div class="container">
    <%= render "top_nav_buttons"%>
    <% unless current_setting.dcm? %>
      <div class="overview-legend-wrp mt-3">
        <span class="enc-legend">
          <i class='bx bxs-flag-alt enc-red-icon'></i>
          Incomplete
        </span>
        <span class="enc-legend">
          <i class='bx bxs-flag-alt enc-blue-icon'></i>
          Complete
        </span>
        <span class="enc-legend">
          <i class='bx bxs-flag-alt  enc-red-icon'></i>
          Not Applicable
        </span>
        <span class="enc-legend">
          <i class='bx bxs-error  enc-red-icon'></i>
          With Adverse Action
        </span>
        <span class="enc-legend">
          <i class='bx bxs-error  enc-orange-icon'></i>
          With Expiring Credentials
        </span>
        <span class="enc-legend">
          <i class='bx bxs-error-circle  enc-red-icon'></i>
          Error
        </span>
        <span class="enc-legend">
          <i class='bx bxs-check-circle  enc-orange-icon'></i>
          RVA In Process
        </span>
        <span class="enc-legend">
          <i class='bx bxs-check-circle   enc-blue-icon'></i>
          RVA Completed
        </span>
      </div>
      <div class="form-row row mt-4">
        <div class="col-xl-6">
          <div class="form-row">
            <label for="">Initial Application Received Date:</label>
          </div>
          <div class="form-row">
            <label for="">Last Submitted Date:</label>
          </div>
          <div class="form-row">
            <label for="">Latest Auto Send Request Date:</label>
          </div>
          <div class="form-row">
            <label for="">By:</label>
          </div>
          <div class="form-row">
            <label for="">Signature Date:</label>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-row d-flex gap-2">
            <button class="btn btn-sm btn-primary">
              Submit Application
            </button>
            <button class="btn btn-sm btn-primary">
              Auto Send Request
            </button>
            <button class="btn btn-sm btn-primary">
              Contact Us
            </button>
          </div>
          <div class="form-row mt-2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="privilleges-switch">
              <label class="form-check-label" for="privilleges-switch">Include Delineation of Privileges</label>
            </div>
          </div>
          <div class="form-row mt-2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="enable-SRFD">
              <label class="form-check-label" for="enable-SRFD">Enable SRFD Button</label>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>