<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-body">
      <table class="table table-bordered table-bordered mt-3">
        <thead>
          <tr>
            <th class="text-white" scope="col">No.</th>
            <th class="text-white">Practitioner Name</th>
            <th class="text-white">Form Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" class="text-danger text-center fw-bold fs-5">There is no practitioner who matches the condition!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>