
    <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            
            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Social Security Administration</h4>
                </div>
            </div>
            <div class="mt-2 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please use the Practitioner Info tab to edit
                        SSN.</span>
                </span>
            </div>
            <form action="">
                <div class="form-row row mt-2">
                    <div class="col-xl-6">
                        <div class="form-row">
                            <label for="">Social Security Number:</label>
                            <input type="text" name="ssn" id="ssn" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary py-1">Queue Auto RVA</button>
                </div>
            </form>
        </div>
    </div>