 <div class="enc-content">
        <div class="container">
    <%= render "top_nav_buttons"%>

            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Teaching Appointments</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="practice-info-switch">
                        <label class="form-check-label" for="practice-info-switch">Not Applicable</label>
                    </div>
                </div>
                <a href="<%= verification_platform_index_path(page: 'add_new_teaching')%>" class="btn btn-primary py-1">
                    <i class='bx bx-plus'></i>
                    Add New Teaching Appointment
                </a>
            </div>
            <div class="mt-2 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please list all teaching appointments, past and
                        present, in chronological order. Required fields are marked with the symbol “<span
                            class="font-red">*</span>”.</span>
                </span>
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please check the Not Applicable box if you are not
                        currently and have never been affiliated with a facility.</span>
                </span>
            </div>
            <table class="table table-bordered practice-table mt-3 page-applicable ">
                <thead>
                    <tr>
                        <th class="text-white" scope="col">Institution</th>
                        <th class="text-white">Specialty</th>
                        <th class="text-white">Appointment From</th>
                        <th class="text-white">Appointment To</th>
                        <th class="text-white">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= verification_platform_index_path(page: 'teaching_record')%>">Lorem</a></td>
                        <td>Lorem ipsum</td>
                        <td>11/11/2011</td>
                        <td>0</td>
                        <td>No Material</td>
                    </tr>

                </tbody>
            </table>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="not-applicable-explain" id="" cols="30" rows="5" class="form-control"
                        required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" name="save-not-app-explain" class="btn btn-primary py-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>