 <div class="enc-content">
        <div class="container">
            <%= render "top_nav_buttons"%>
            <div class="mt-4 d-flex align-items-end justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="page-heading">Training</h4>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="training-switch">
                        <label class="form-check-label" for="training-switch">Not Applicable</label>
                    </div>
                </div>
                <a href="<%= mhc_verification_platform_path(page_tab: 'add_new_training')%>" class="btn py-1 btn-primary %>">
                    <i class='bx bx-plus' ></i>
                    Add New Training
                </a>
            </div>
            <div class="mt-2 page-applicable">
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please list all internships, residencies, fellowships preceptorships, and other post-graduate training programs in chronological order. 
                        Include all training programs attended whether completed or not. Required fields are marked with the symbol “<span class="font-red">*</span>”.</span>.
                </span>
                <span class="page-note">
                    <i class='bx bx-error-circle font-red'></i> <span>Please check the Not Applicable button if you have never enrolled in a professional education program.</span>
                </span>
            </div>
            <div class="row mt-3 page-applicable">
                <div class="col-xl-4">
                    <div class="form-control enc-search-wrp">
                        <input type="" class="enc-search-input" placeholder="Search">
                        <i class='bx bx-search' ></i>
                    </div>
                </div>
            </div>
            <div class="row result-controls page-applicable">
                <div class="col-xl-6 filter-result">
                    <h6 class="">Result: 2 records</h6>
                </div>
                <div class="col-xl-6">
                    <div class="table-controls">
                        <div class="control-wrp">
                            <label for="limit">Show limit</label>
                            <input type="text" id="limit" class="form-control" value="20">
                        </div>
                        <div class="control-wrp">
                            <label for="page">Page 1 of 32</label>
                            <input type="text" id="page" class="form-control" value="1">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered practice-table mt-3 page-applicable ">
                <thead>
                    <tr>
                        <th class="text-white" scope="col">Institution/Program</th>
                        <th class="text-white">Training Type</th>
                        <th class="text-white">Specialty</th>
                        <th class="text-white">Attended To</th>
                        <th class="text-white">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="<%= verification_platform_index_path(page: 'training_record')%>">University of Cincinnati College of Medicine</td>
                        <td>Residency</td>
                        <td>Orthopaedic Surgery : Sports Medicine</td>
                        <td>6/2013</td>
                        <td>Not Requested</td>
                    </tr>
                    <tr>
                        <td>University of Cincinnati College of Medicine</td>
                        <td>Residency</td>
                        <td>Orthopaedic Surgery : Sports Medicine</td>
                        <td>6/2013</td>
                        <td>Not Requested</td>
                    </tr>
                </tbody>
            </table>
            <form action="" class="page-not-applicable">
                <div class="form-row mt-4">
                    <label for="">Please explain:<span class="font-red">*</span></label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div class="form-row mt-2 d-flex justify-content-end">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>