  <%= render "system_navs"%>
    
    <div class="cp-content">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-xl-12">
                      <%= render "data_lookup_nav"%>

                        <div class="form-row row mt-3">
                            <div class="col-xl-5">
                                <label for="">Item/Scenario Name:</label>
                                <select name="" id="" class="py-1 form-select">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-xl-5 d-flex align-items-end">
                                <button type="button" class="btn btn-primary py-1">
                                    Add Item/Scenario
                                </button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-5">
                                <div class="form-control cp-search-wrp">
                                    <input type="text" class="cp-search-input" placeholder="Search">
                                    <i class='bx bx-search'></i>
                                </div>
                            </div>
                        </div>
                        <div class="row result-controls">
                            <div class="col-xl-6 filter-result">
                                <h6 class="">Result: 3 records</h6>
                            </div>
                            <div class="col-xl-6">
                                <div class="table-controls">
                                    <div class="control-wrp">
                                        <label for="limit">Show limit</label>
                                        <input type="text" id="limit" class="form-control" value="20">
                                    </div>
                                    <div class="control-wrp">
                                        <label for="page">Page 1 of 32</label>
                                        <input type="text" id="page" class="form-control" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table practice-table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Group</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-between">
                                            Liability
                                            <div class="d-flex align-items-center gap-3">
                                                <i class='bx bx-edit cp-blue-icon'></i>
                                                <i class='bx bx-trash cp-red-icon'></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-between">
                                            DEA
                                            <div class="d-flex align-items-center gap-3">
                                                <i class='bx bx-edit cp-blue-icon'></i>
                                                <i class='bx bx-trash cp-red-icon'></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-between">
                                            State License
                                            <div class="d-flex align-items-center gap-3">
                                                <i class='bx bx-edit cp-blue-icon'></i>
                                                <i class='bx bx-trash cp-red-icon'></i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>