/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    box-sizing: border-box;
    overflow-x: hidden;
}
div.with-submenu:hover {
  background: #eee !important;
  color:#555 !important;
}
div.ph-active {
    background: #1183FF !important;
    color:#fff !important;
    border-radius: .5rem;
}
div.ph-active a.nav-link {
/*    background: #1183FF !important;*/
    color:#fff !important;
}
a.nav-link.ph-active {
    background: #1183FF !important;
    color:#fff;
}
div.nav-item:not(.nav-item-active) {
    border-left: solid #eee;
}
div.nav-item:not(.nav-item-active):hover {
    border: none;
}
.focus-none {
    outline: none;
}
#client_portal_search_header i {
    font-size: 1.2rem;
}
.doc_icons i {
    font-size: 1.2rem;
    margin: 0 .2rem;
}
.doc_icons a {
    color: #677788;
}
#client_portal_search_header {
    background: #efefef;
}
#vrc-table thead tr th {
    padding: 8px;
    color: #fff;
}
#show-vrc-table thead tr th{
    text-align: center;
    color: #fff;
}
.table-no-body-border tbody tr td{
   border: none !important;
}
.btn-danger{
    background-color: red !important;
}
.btn-light{
    background-color: #E9E9E9 !important;
}
.card{
    border: 1px solid #D9D9D9 !important;
    border-radius: 5px !important;
}
.header-badge{
    border-left: 6px solid #000;
    padding-left: 8px;
}
#temp-calendar-table{
    border-collapse: collapse;
    background: white !important;
    color: #000;
}

#temp-calendar-table th {
    font-weight: bold;
}

#temp-calendar-table th,
#temp-calendar-table td {
    /* font-weight: bold; */
    text-align: center !important;
    border: 1px solid #eee;
}
.bg-medium-grey {
    background: #efefef !important;
}
.bg-gradient-blue {
/*    background: linear-gradient(rgba(178, 212, 229,1), );*/
    background: conic-gradient(from 65deg,  rgba(104, 168, 219,.6),rgba(178, 212, 229,.6));
}
.bg-blurry-image {
    background: url('../backgrounds/new-background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-alt-grey {
	background: #eee !important;
}
.bg-white {
    background: #fff;
}
.search_box label{
    font-size: 13px;
}

.status-indicator {
    width: 15px;
    height: 15px;
    display: block;
}
.status-indicator-round {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
}
.attested {
    background: #00a2ff !important;
}
.no-application {
    background: #8f00ff !important;
}
.complete-application {
    background: #7bb31a !important;
}
.incomplete {
    background: #ff0032 !important;
}
.pending {
    background: #ffc107 !important;
}
.in-process {
    background: #ff9800 !important;
}
.psv {
    background: #000000 !important;
}
.returned {
    background: #b74200 !important;
}
#client_portal_table {
    width: 100%;
}
#client_portal_table tr {
    display: flex;
    justify-content: space-between;
}
#client_portal_table tbody {
    border-radius: 5px;
}
.active-row {
    background: #c6c6c6;
    color:#000;
}
div.table_address {
    display: block;
    max-width: 160px;
}
div.table_specialty {
    display: block;
    max-width: 100px;
}
.status-indicator-count span {
    max-width: 80px;
    font-size: .7rem;
    font-weight: 500;
}
.status-indicator-count div.with-count {
    height: 100px;
    max-height: 100px;
    width: 110px;
}
.status-indicator-count div.with-count.reduced {
    height: 80px;
    width: 80px;
}

.status-bar {
    font-size: .7rem;
}
.nav-link i {
    font-size: 20px;
}
.nav-link {
    display: flex;
    align-items: center;
}
.navbar-vertical-aside-show-xl.navbar-vertical-aside-mini-mode .navbar-vertical-aside {
    width: 3.75rem !important;
}
.navbar-vertical-aside .navbar-brand {
    padding-left: 1rem !important;
}
.navbar-vertical-aside .navbar-brand-logo {
    max-width: 136px !important;
}
.circle {
    border-radius: 50%;
}
.progress-bar {
    width: 100%;
    height: 5px;
    background: #a1c9f9 !important;
}
.progress-bar > div {
    height: 100%;
}
.divider > span.line {
    height: 3px;
/*    display: block;*/
    background: red;
/*    width: 100%;*/
}
#multi-select {
    width: 100%;
    max-width: 100%;
}
.multi-select {
    width: 100% !important;
    max-width: 100% !important;
}
.vscomp-toggle-button {
    padding: 10px 30px 10px 10px !important;
    border-radius: 5px;
}
svg.svg-icon {
    width: 20px;
    height: aut;
}
.top-buttons-inline  a{
    display: flex;
    align-items: center;
}
.top-buttons-inline  a > span {
    margin-left: .5rem;
}
.navbar-brand-logo{
 width: 70px;
 height: 80px;
 margin-top: 1rem;
 text-align: center;
 margin-top: 1.5rem;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
}
/* Will Paginate Styles */
.digg_pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #377dff;
      color: white;
      border: 1px solid #377dff; }
    .digg_pagination a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5; }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #000033;
        border-color: #000033; }
    .digg_pagination .page_info {
      background: #377dff;
      color: white;
      padding: 0.4em 0.6em;
      /* width: 22em; */
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #377dff;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; }

  .apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default; }
    .apple_pagination a, .apple_pagination span {
      padding: 0.2em 0.3em; }
    .apple_pagination .disabled {
      color: #aaaaaa; }
    .apple_pagination .current {
      font-style: normal;
      font-weight: bold;
      background-color: #bebebe;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.5;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
    .apple_pagination a {
      text-decoration: none;
      color: black; }
      .apple_pagination a:hover, .apple_pagination a:focus {
        text-decoration: underline; }

  .flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid #dddddd;
      color: #0063dc;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: #003366;
        background: #0063dc;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }
/* Will Paginate Styles*/
div.bg-medium-grey > nav ul.pagination {
  margin: 0 !important;
  margin: 1rem 0 !important;
  margin-right: 1rem !important;
}
li.list-style-type-none {
    list-style-type: none;
}
/*btn toggler*/
.btn-toggle {
  margin: 0 4rem  !important;
  padding: 0  !important;
  position: relative  !important;
  border: none  !important;
  height: 1.5rem  !important;
  width: 3rem  !important;
  border-radius: 1.5rem  !important;
  color: #6b7381  !important;
  background: #bdc1c8  !important;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none  !important;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem  !important;
  width: 4rem  !important;
  text-align: center  !important;
  font-weight: 600  !important;
  font-size: 0.75rem  !important;
  text-transform: uppercase  !important;
  letter-spacing: 2px  !important;
  position: absolute  !important;
  bottom: 0  !important;
  transition: opacity 0.25s  !important;
}
.btn-toggle:before {
/*  content: 'Off';*/
  left: -4rem  !important;
}
.btn-toggle:after {
/*  content: 'On';*/
  right: -4rem  !important;
  opacity: 0.5  !important;
}
.btn-toggle > .handle {
  position: absolute  !important;
  top: 0.1875rem  !important;
  left: 0.1875rem  !important;
  width: 1.125rem  !important;
  height: 1.125rem  !important;
  border-radius: 1.125rem  !important;
  background: #fff  !important;
  transition: left 0.10s  !important;
}
.btn-toggle.active {
  transition: background-color 0.10s  !important;
}
.btn-toggle.active > .handle {
  left: 1.6875rem  !important;
  transition: left 0.10s  !important;
}
.btn-toggle.active:before {
  opacity: 0.5  !important;
}
.btn-toggle.active:after {
  opacity: 1  !important;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem  !important;
  color: #fff  !important;
  letter-spacing: 0.75px  !important; 
  left: 0.4125rem  !important;
  width: 2.325rem  !important;
}
.btn-toggle.btn-sm:before {
  text-align: right  !important;
}
.btn-toggle.btn-sm:after {
  text-align: left  !important;
  opacity: 0  !important;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0  !important;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1  !important;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none  !important;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381  !important;
}
.btn-toggle.active {
  background-color: #025aa5 !important;
}
.btn-toggle.btn-lg {
  margin: 0 5rem  !important;
  padding: 0  !important;
  position: relative  !important;
  border: none  !important;
  height: 2.5rem  !important;
  width: 5rem  !important;
  border-radius: 2.5rem  !important;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none  !important;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem  !important; 
  width: 5rem  !important;
  text-align: center  !important;
  font-weight: 600  !important;
  font-size: 1rem  !important;
  text-transform: uppercase  !important;
  letter-spacing: 2px  !important;
  position: absolute  !important;
  bottom: 0  !important;
  transition: opacity 0.25s  !important;
}
.btn-toggle.btn-lg:before {
/*  content: 'Off';*/
  left: -5rem  !important;
}
.btn-toggle.btn-lg:after {
/*  content: 'On';*/
  right: -5rem  !important;
  opacity: 0.5  !important;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem  !important;
  left: 0.3125rem  !important;
  width: 1.875rem  !important;
  height: 1.875rem  !important;
  border-radius: 1.875rem  !important;
  background: #fff  !important;
  transition: left 0.25s  !important;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
/*  content: 'Off';*/
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
/*  content: 'On';*/
  right: -0.5rem;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0  !important;
  padding: 0  !important;
  position: relative  !important;
  border: none  !important;
  height: 1rem  !important;
  width: 2rem  !important;
  border-radius: 1rem  !important;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none  !important;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem  !important;
  width: 0  !important;
  text-align: center  !important;
  font-weight: 600  !important;
  font-size: 0.75rem  !important;
  text-transform: uppercase  !important;
  letter-spacing: 2px  !important;
  position: absolute  !important;
  bottom: 0  !important;
  transition: opacity 0.25s  !important;
}
.btn-toggle.btn-xs:before {
/*  content: 'Off';*/
  left: 0  !important;
}
.btn-toggle.btn-xs:after {
/*  content: 'On';*/
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute  !important;
  top: 0.125rem  !important;
  left: 0.125rem  !important;
  width: 0.75rem  !important;
  height: 0.75rem  !important;
  border-radius: 0.75rem  !important;
  background: #fff  !important;
  transition: left 0.25s  !important;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s  !important;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem  !important;
  transition: left 0.25s  !important;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5  !important;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1  !important;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem  !important;
  color: #fff  !important;
  letter-spacing: 0.75px  !important;
  left: 0.275rem  !important;
  width: 1.55rem  !important;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right  !important;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left  !important;
  opacity: 0  !important;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0  !important;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1  !important;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none  !important;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8  !important;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381  !important;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300 !important;
}
.btn-toggle:hover {
box-shadow: none !important;
background: #bdc1c8 !important;
}
/*end toggler*/

.alert-light-blue {
    background: #e5f6fd !important;
    color: #555 !important;
}

.wizard_step {
  width: 20px;
  height:20px;
  border-radius: 50%;
  display: block;
  text-align: center;
  color: #fff;
}
.wizard_separator {
  height:2px;
  width: 50px;
  display: block;
}
.sub_menu ul {
  list-style-type: none;

}
.sub_menu ul span {
  background: red;
  width: 15px;
  height: 15px;
  display: block;
  background: #717171;
  border-radius: 50%;
}
.sub_menu ul span.link_active {
  background: #1183ff;

}
.sub_menu ul li.link_active span {
  background: #1183ff;
}
.sub_menu ul li.link_active a {
  color: #1183ff;
}
.sub_menu ul li:not(:first-child) {
  margin: 1rem 0;
}
.sub_menu ul li a {
  color: #555;
}
.rotate-chev {
  rotate: 180deg;
}
.form_search_with_icon > div {
  position: relative;
}
.form_search_with_icon > div i {
  font-size: 1.2rem;
  top: 50%;
  right: 3%;
  transform: translate(-50%,-50%);
  position: absolute;
}
label.day_sched {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}