<div class="col-lg-6">
  <div class="card rounded-15" style="background-color: #eaf4ff;">
      <div class="card-header border-0">
        <h5 class="card-title" style="color:#000000;">Browser Used by Users</h5>
      </div>
      <div class="chart chart-sm">
          <canvas id="browser-doughnut-chart"></canvas>
      </div>
      <div class="card-footer border-0">
        <div class="d-flex justify-content-center gap-2">
          <div class="d-flex align-items-center gap-2">
            <span class="status-span attested"></span>
            <span style="font-size: 12px;">Chrome</span>
          </div>

          <div class="d-flex align-items-center gap-2">
            <span class="status-span pending"></span>
            <span style="font-size: 12px;">Safari</span>
          </div>

          <div class="d-flex align-items-center gap-2">
            <span class="status-span incomplete"></span>
            <span style="font-size: 12px;">Firefox</span>
          </div>
        </div>
      </div>
  </div>
</div>