<div class="row mb-3">
   <div class="col-lg-12">
      <div class="card rounded-15" style="background-color: #eaf4ff;">
         <div class="card-header">
            <h5 class="card-title" style="color:#000000;">Status</h5>
         </div>
         <div class="card-body">
            <div class="row">
               <div class="col-md-6">
                  <div class="chart chart-sm">
                     <canvas id="chartjs-doughnut"></canvas>
                  </div>
               </div>
               <div class="col-md-6">
                  <table class="">
                     <tbody>
                        <tr>
                           <td class="">
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span attested"></span><span style="font-size: 12px;
                                    ">Attested</span>
                              </div>
                           </td>
                           <td class="col-attested"></td>
                        </tr>
                        <tr>
                           <td class="">
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span no-application"></span>
                                 <span style="font-size: 12px;
                                    ">No Application</span>
                              </div>
                           </td>
                           <td  class="col-no-application"></td>
                        </tr>
                        <tr>
                           <td>
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span incomplete"></span> <span style="font-size: 12px;
                                    ">Incomplete Application</span>
                              </div>
                           </td>
                           <td  class="col-incomplete-application"></td>
                        </tr>
                        <tr>
                           <td>
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span complete-application"></span> <span style="font-size: 12px;
                                    ">Complete Application</span>
                              </div>
                           </td>
                           <td  class="col-complete-application"></td>
                        </tr>
                        <tr>
                           <td>
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span pending"></span> <span style="font-size: 12px;
                                    ">Pending Data Entry</span>
                              </div>
                           </td>
                           <td  class="col-pending-data-entry"></td>
                        </tr>
                        <tr>
                           <td>
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span in-process"></span> <span style="font-size: 12px;
                                    ">In Process</span>
                              </div>
                           </td>
                           <td  class="col-in-process"></td>
                        </tr>
                        <tr>
                           <td>
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span psv"></span> <span style="font-size: 12px;
                                    ">PSV</span>
                              </div>
                           </td>
                           <td  class="col-psv"></td>
                        </tr>
                        <tr>
                           <td>
                              <div class="d-flex align-items-center gap-2">
                                 <span class="status-span returned"></span> <span style="font-size: 12px;
                                    ">Returned</span>
                              </div>
                           </td>
                           <td  class="col-returned"></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
