<div class="col-lg-6">
  <div class="card rounded-15" style="background-color: #eaf4ff;min-height: 260px;">
      <div class="card-header border-0">
        <h5 class="card-title" style="color:#000000;">Reports Generated</h5>
      </div>
      <div class="chart chart-sm">
          <canvas id="reports-generated-chart"></canvas>
      </div>
      <div class="card-footer border-0">
       
      </div>
  </div>
</div>