
<div class="content container-fluid">
  <%= render "nav" %>
</div>
<%= render 'user_restriction', locals: { access_key: 'Group Providers' } do %>
  <div class="content container-fluid">
    <%= render "providers_table"%>
  </div>
<% end %>