<p style="color: green"><%= notice %></p>

<h1>Hvhs data</h1>

<div id="hvhs_data">
  <% @hvhs_data.each do |hvhs_datum| %>
    <%= render hvhs_datum %>
    <p>
      <%= link_to "Show this hvhs datum", hvhs_datum %>
    </p>
  <% end %>
</div>

<%= link_to "New hvhs datum", new_hvhs_datum_path %>
