<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Does this location meet ADA accessibility requirements?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="form-check">
													<input class="form-check-input" type="radio" name="ADA-input" id="ADA-yes" value="Yes">
													<label class="form-check-label" for="ADA-yes">
																	Yes
													</label>
									</div>
									<div class="form-check">
													<input class="form-check-input" type="radio" name="ADA-input" id="ADA-no" value="No">
													<label class="form-check-label" for="ADA-no">
																	No
													</label>
									</div>
					</div>
	</div>
</div>
<div class="form-row row" id="ADA-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<select name="" class="form-select" id=""></select>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Does this location offer other services for the disabled?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="form-check">
													<input class="form-check-input" type="radio" name="other-services-input" id="other-services-yes" value="Yes">
													<label class="form-check-label" for="other-services-yes">
																	Yes
													</label>
									</div>
									<div class="form-check">
													<input class="form-check-input" type="radio" name="other-services-input" id="other-services-no" value="No">
													<label class="form-check-label" for="other-services-no">
																	No
													</label>
									</div>
					</div>
	</div>
</div>
<div class="form-row row" id="other-services-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<select name="" class="form-select" id=""></select>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Is this location accessible by public transportation?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="form-check">
													<input class="form-check-input" type="radio" name="transportation-input" id="transportation-yes" value="Yes">
													<label class="form-check-label" for="transportation-yes">
																	Yes
													</label>
									</div>
									<div class="form-check">
													<input class="form-check-input" type="radio" name="transportation-input" id="transportation-no" value="No">
													<label class="form-check-label" for="transportation-no">
																	No
													</label>
									</div>
					</div>
	</div>
</div>
<div class="form-row row" id="transportation-wrp">
	<div class="col-xl-6">
					<label for="">If Yes, please select from the following:</label>
					<select name="" class="form-select" id=""></select>
	</div>
</div>