<div class="form-row row">
	<div class="col-xl-6">
					<label for="">Please select your open practice status</label>
					<select name="" class="form-select" id=""></select>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">If patient acceptance varies by health plan, please explain</label>
					<textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
	</div>
</div>
<div class="form-row row">
	<div class="col-xl-12">
					<label for="">Are there any practice limitations at this location?</label>
					<div class="d-flex align-items-center gap-3">
									<div class="form-check">
													<input class="form-check-input" type="radio" name="limitations-input" id="limitations-yes" value="Yes">
													<label class="form-check-label" for="limitations-yes">
																	Yes
													</label>
									</div>
									<div class="form-check">
													<input class="form-check-input" type="radio" name="limitations-input" id="limitations-no" value="No">
													<label class="form-check-label" for="limitations-no">
																	No
													</label>
									</div>
					</div>
	</div>
</div>
<div class="form-row row limitation-wrp">
	<div class="col-xl-6">
					<label for="">Gender Limitations</label>
					<select name="" class="form-select" id=""></select>
	</div>
</div>
<div class="form-row row limitation-wrp">
	<div class="col-xl-6">
					<label for="">Minimum Age</label>
					<input type="text" class="form-control">
	</div>
	<div class="col-xl-6">
					<label for="">Maximum Age</label>
					<input type="text" class="form-control">
	</div>
</div>
<div class="form-row row limitation-wrp">
	<div class="col-xl-6">
					<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="age-check">
									<label class="form-check-label" for="age-check">
													Min/Max Age Not Applicable
									</label>
					</div>
	</div>
</div>
<div class="form-row row limitation-wrp">
	<div class="col-xl-12">
					<label for="">Please list any other limitations</label>
					<textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
	</div>
</div>