
   <div class="row mb-3">
      <div class="col-xl-12 d-flex justify-content-between">
         <h2>
            <a href="<%= enrollment_group_locations_path(@enrollment_group)%>" class="d-flex gap-2 text-secondary">
            <i class="bi bi-arrow-left h3"></i>
            <span class="h3"><%= @location&.dco_name rescue 'Back' %></span>
            </a>
         </h2>
      </div>
      
   </div>